<main class="rounded p-4 bg-secondary">
  <div>
    <div class="d-flex justify-content-between align-items-center mb-5 pb-3">
      <div>
        <b class="fs-1">Loan Request</b>
      </div>
      <button
        class="dflex align-items-center bg-transparent btn"
        (click)="goBack()">
        <span>
          <i class="fa fa-arrow-left text-dark fs-4"></i>
        </span>
        <b class="fs-3 ms-1 text-dark">Back</b>
      </button>
    </div>
    <div>
      <div class="d-lg-flex row">
        <div class="col-lg-6 row">
          <div class="d-grid"></div>
        </div>
      </div>
    </div>
  </div>
</main>
