<div>
  <div class="col">
    <div class="mb-3">
      <div class="input-group">
        <div class="col">
          <form [formGroup]="passwordForm">
            <div class="form-floating">
              @if (pin) {
                <input
                  [type]="passwordType"
                  (keydown)="validateInput($event)"
                  (input)="onSubmitPin()"
                  maxlength="4"
                  class="form-control"
                  id="pin"
                  placeholder="Password"
                  name="pin"
                  formControlName="pin" />
              }

              @if (password) {
                <input
                  [type]="passwordType"
                  (input)="onSubmitPassword()"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  name="password"
                  formControlName="password" />
              }
              <label class="fs-small" i18n for="number"
                ><span>
                  @if (labelIcon) {
                    <img src="images/auth/lock.svg" width="23" alt="" />
                  }
                  @if (labelPassword) {
                    Password
                  }
                  @if (labelPassword2) {
                    Enter your password
                  }
                  @if (labelPin) {
                    Pin
                  }
                  @if (labelPinConfirm) {
                    Confirm your pin
                  }
                  @if (required) {
                    <code>*</code>
                  }
                </span>
              </label>
            </div>

            @if (showPassword) {
              <a tabindex="0" role="button" (click)="changePasswordType()"
                ><i class="fa-regular fa-eye-slash text-dark"></i
              ></a>
            }

            @if (!showPassword) {
              <a tabindex="0" role="button" (click)="changePasswordType()">
                <i class="fa-regular fa-eye text-dark"></i
              ></a>
            }
          </form>
        </div>
      </div>
    </div>
  </div>

  @if (Validator) {
    <div class="row mt-2">
      <div class="col">
        @if (
          !getPasswordErrors().includes('Must contain uppercase') &&
          !getPasswordErrors().includes('Password is required') &&
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun') &&
          !getPasswordErrors().includes('Must contain spacial characters (!@$%')
        ) {
          <div class="bg bg-success rounded position-relative z-2"></div>
        } @else if (
          !getPasswordErrors().includes('8 Characters minimun') &&
          !getPasswordErrors().includes('Password is required')
        ) {
          <div class="bg bg-warning rounded position-relative z-2"></div>
        } @else if (!getPasswordErrors().includes('Password is required')) {
          <div class="bg bg-danger rounded position-relative z-2"></div>
        }

        <div class="bg2 bg-secondary rounded position-relative z-1"></div>
      </div>
      <div class="col">
        @if (
          !getPasswordErrors().includes('Must contain uppercase') &&
          !getPasswordErrors().includes('Password is required') &&
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun') &&
          !getPasswordErrors().includes('Must contain spacial characters (!@$%')
        ) {
          <div class="bg bg-success rounded position-relative z-2"></div>
        } @else if (
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun') &&
          !getPasswordErrors().includes('Password is required')
        ) {
          <div class="bg bg-warning rounded position-relative z-2"></div>
        }

        <div class="bg2 bg-secondary rounded position-relative z-1"></div>
      </div>
      <div class="col">
        @if (
          !getPasswordErrors().includes('Must contain uppercase') &&
          !getPasswordErrors().includes('Password is required') &&
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun') &&
          !getPasswordErrors().includes('Must contain spacial characters (!@$%')
        ) {
          <div class="bg bg-success rounded position-relative z-2"></div>
        } @else if (
          !getPasswordErrors().includes('Must contain uppercase') &&
          !getPasswordErrors().includes('Password is required') &&
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun')
        ) {
          <div class="bg bg-warning rounded position-relative z-2"></div>
        }

        <div class="bg2 bg-secondary rounded position-relative z-1"></div>
      </div>
      <div class="col">
        @if (
          !getPasswordErrors().includes(
            'Must contain spacial characters (!@$%'
          ) &&
          !getPasswordErrors().includes('Must contain uppercase') &&
          !getPasswordErrors().includes('Password is required') &&
          !getPasswordErrors().includes('Must contain number') &&
          !getPasswordErrors().includes('8 Characters minimun')
        ) {
          <div class="bg bg-success rounded position-relative z-2"></div>
        }
        <div class="bg2 bg-secondary rounded position-relative z-1"></div>
      </div>
    </div>
    <div class="col-md-3 mt-2 weak ps-2">
      <span><i class="fa-solid fa-circle-info"></i></span>

      @if (
        !getPasswordErrors().includes('Must contain uppercase') &&
        !getPasswordErrors().includes('Password is required') &&
        !getPasswordErrors().includes('Must contain number') &&
        !getPasswordErrors().includes('8 Characters minimun') &&
        !getPasswordErrors().includes('Must contain spacial characters (!@$%')
      ) {
        <span> strong</span>
      } @else if (
        !getPasswordErrors().includes('Must contain uppercase') &&
        !getPasswordErrors().includes('Password is required') &&
        !getPasswordErrors().includes('Must contain number') &&
        !getPasswordErrors().includes('8 Characters minimun')
      ) {
        <span> Medium</span>
      } @else {
        <span> Weak</span>
      }
    </div>

    <div class="col w-50 fs-x-small position-absolute z-3 hide">
      <div class="triangle-left">
        <span class="triangle error"></span>
      </div>
      <div class="w-100 border border-secondary p-3 lg-radius bg-white">
        <div class="text-danger">
          <!-- <li class="text-secondary">{{ error }}</li> -->
          <li class="text-secondary">
            8 Characters minimun
            @if (
              !getPasswordErrors().includes('8 Characters minimun') &&
              !getPasswordErrors().includes('Password is required')
            ) {
              <span>
                <i class="fa-solid fa-circle-check text-success"></i>
              </span>
            }
          </li>
          <li class="text-secondary">
            Must contain number
            @if (
              !getPasswordErrors().includes('Must contain number') &&
              !getPasswordErrors().includes('Password is required')
            ) {
              <span>
                <i class="fa-solid fa-circle-check text-success"></i>
              </span>
            }
          </li>
          <li class="text-secondary">
            Must contain uppercase
            @if (
              !getPasswordErrors().includes('Must contain uppercase') &&
              !getPasswordErrors().includes('Password is required')
            ) {
              <span>
                <i class="fa-solid fa-circle-check text-success"></i>
              </span>
            }
          </li>
          <li class="text-secondary">
            Must contain spacial characters
            @if (
              !getPasswordErrors().includes(
                'Must contain spacial characters (!@$%'
              ) && !getPasswordErrors().includes('Password is required')
            ) {
              <span>
                <i class="fa-solid fa-circle-check text-success"></i>
              </span>
            }
          </li>
        </div>
      </div>
    </div>
  }
</div>
<!-- 
<div class="form-floating">
    <input
        [type]="passwordType"
        
        class="form-control text-dark"
        formControlName="password"
        placeholder="Password"
    />
    <label for="Password" class="text-dark" i18n>
        <i class="fas fa-lock"></i> Password
    </label>
    <div role="button" (click)="changePasswordType()">
        @if(showPassword){
            <span *>
                <i class="fa-regular fa-eye-slash text-dark"></i>
            </span>
        }
       
        @if(!showPassword){
            <span >
                <i class="fa-regular fa-eye text-dark"></i>
            </span>
        }
        
    </div>
    <div>
       @if(passwordFormField?.invalid && passwordFormField?.touched){
        <div
            
        >
            <div class="text-danger">
               
            </div>
        </div>
       }
       
    </div>
</div> -->
