.bg{
    height: 8px;
    margin-top: -8px;
}
.bg2{
  height: 8px;
  margin-top: -8px;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 19px;
    right: 10px;
  }

  .weak:hover + .hide  {
    display: inline-block;
  }
  .hide{
    display: none;
  }
  .triangle{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 9px solid transparent;
    border-bottom : 18px solid lightgrey;
    border-left : 9px solid transparent;
   }
   .error{
    margin-bottom:-6px;
    margin-left: 5px;
   }
   
 
  #input-group {
    background-color: transparent !important;  
  }
  // .input-group .form-control {
  //   border: 1px lightgrey solid !important;
  // }
