<main class="rounded p-4 bg-secondary">
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <span class="sub-title-loan fw-bold"> Loan Simulator </span>
      </div>
      <button
        class="dflex align-items-center bg-transparent btn"
        (click)="goBack()">
        <span>
          <i class="fa fa-arrow-left text-dark fs-4"></i>
        </span>
        <b class="fs-3 ms-1 text-dark">Back</b>
      </button>
    </div>
    <div class="mb-2 me-5">
      <span style="line-height: 22px; font-size: 18px" i18n>
        Please change values to have different loan scenarios works for all
        currencies. Don't add currency in the amount field.
      </span>
    </div>
    <div class="me-5">
      <div class="row d-flex align-items-start">
        <div class="col-lg-3 mb-4 d-grid">
          <div class="form-floating">
            <input
              type="text"
              class="input form-control mb-1 mt-2 fs-5 text-dark simulator-input"
              id="amount"
              placeholder="Amount" />
            <label for="amount" class="ms-2 mt-2" i18n>Amount</label>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 mb-4 d-grid">
          <div class="form-floating">
            <input
              type="text"
              class="input form-control mb-1 mt-2 fs-5 simulator-input"
              id="interest"
              placeholder="Interest rate" />
            <label for="interest" class="ms-2 mt-2" i18n>Interest</label>
          </div>
          <span i18n>The interest rate is in %</span>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 mb-4 d-grid">
          <div class="form-floating">
            <select
              name=""
              id="mode"
              class="fs-5 mt-2 mb-1 py-2 rounded simulator-input px-2 form-control"
              placeholder="mode">
              <option value="" selected disabled hidden i18n>
                Select Type
              </option>
              <option value="D">Declining</option>
              <option value="L">Linear</option>
            </select>
            <label for="mode" class="ms-2 mt-1" i18n>Type</label>
          </div>
          <span></span>
        </div>
        <div class="col-lg-3 mb-4 d-grid">
          <div class="form-floating">
            <input
              type="text"
              id="paymentNumber"
              class="input form-control mb-1 mt-2 fs-5 simulator-input"
              placeholder="Payment Number" />
            <label for="paymentNumber" class="ms-2 mt-2" i18n
              >Payment Number</label
            >
          </div>
          <span i18n>The number of payment by the given period</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 mb-4 d-grid">
          <div class="form-floating">
            <select
              name="period"
              id="period"
              class="fs-5 mt-2 mb-1 py-2 rounded simulator-input px-2 form-control">
              <option value="" selected disabled hidden i18n>
                Select Period
              </option>
              <option value="1">Month</option>
              <option value="3">Quarter</option>
              <option value="6">Semester</option>
              <option value="12">Annually</option>
            </select>
            <label for="period" class="ms-2 mt-1">Periodicity</label>
          </div>
          <span>Payment periodicity</span>
        </div>
      </div>
      <div class="w-100 mt-5 pt-2 d-flex justify-content-center">
        <button
          type="submit"
          disabled
          class="btn px-5 bg-primary d-flex justify-content-center py-2">
          <b class="fs-5 mx-2">Simulate</b>
        </button>
      </div>
    </div>
  </div>
</main>
