// .is-disabled {
//     pointer-events: none;
//     opacity: 0.8;
// }

$color1: #a9dee5;
$color2: #acd0db;
$color3: #89bebe;
$body-max-width: 200px;
$pie-dimensions: $body-max-width;

.pie-chart {
  width: $pie-dimensions;
  height: $pie-dimensions;
  background: $color3;
  margin-left: -40%;
  &::before,
  &::after {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
  }
  &::before {
    background-color: $color2;
    transform: rotate(0.1turn);
  }
  &::after {
    margin-top: -100%;
    background-color: $color1;
    transform: rotate(0.4turn);
  }
}

.pie-text {
  &.text1 {
    color: $color1;
    left: 0;
    bottom: 50px;
  }
  &.text2 {
    color: $color2;
    right: -26px;
    top: 80px;
  }
  &.text3 {
    color: $color3;
    top: -15px;
    left: 106px;
  }
}
.miniSettings {
  height: 50px;
  width: 165px;
  // background-color: #f6f6f6;
}
.roundBox {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.elementPosition {
  border-radius: 15px;
  // background-color: #810019;
  width: 150px;
  margin-left: -9.5%;
}
.cardShopping {
  font-size: 258%;
  opacity: 0.5;
  left: 39%;
  top: 34%;
}
.dashboardBox {
  height: 130px;
  width: 224px;
}
.merchantsModal {
  margin-top: 35%;
  width: 1000px;
  margin-left: -45%;
  min-height: 50vh;
}

.rectangleBlockSize {
  height: 120px;
  &.workstation {
    height: 137px;
  }
}

.userProfileSize {
  width: 10%;
}

.merchantLogo {
  width: 80%;
  border-radius: 50%;
}
.rectangleImageSize {
  width: 65%;
  margin-left: 35%;
}

.switchButtonSize {
  height: 35px;
  width: 80px;
}

.salesSize {
  height: 70px;
}
.deliveryBoxSize {
  height: 50px;
}

.revenuSize {
  height: 55px;
}

.emojiBlock {
  top: -55%;
  right: 15%;
}

.faBarsSize {
  width: 45px;
  height: 45px;
}
