.bg{
    background-image:url('/images/BG.svg');
    // background-repeat: no-repeat;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
} 
.scroll{
    height: 100vh;
    overflow: auto;
}