<div class="wallet pe-5">
  <div class="text-dark d-flex align-items-center">
    <b class="me-2 fs-4">Wallet</b>
    <b role="button">
      @if (showAmountWallet) {
        <span title="show balance">
          <i class="fa fa-eye-slash fs-6"></i>
        </span>
      } @else {
        <span title="show balance">
          <i class="fa fa-eye fs-6"></i>
        </span>
      }
    </b>
  </div>
  <div
    class="mt-2 lg-radius position-relative shadow p-2 pb-4 wallet-card bg-primary">
    <span class="africa position-absolute">
      <img src="/images/africa.svg" alt="" />
    </span>
    <div class="m-2">
      <div class="d-grid">
        <div class="d-grid index">
          <div class="d-flex justify-content-between">
            <div class="d-grid mb-2">
              <span>Name</span>
              <span class="text-light">---</span>
              <span
                ><i class="fa-solid fa-pulse fa-spinner text-light"></i
              ></span>
            </div>
            <div class="ihela-image">
              <img class="img-fluid" src="/images/ihela3.png" alt="" />
            </div>
          </div>

          <div class="d-grid mb-2">
            <span class="text-light">---</span>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <b
                class="px-2 py-1 b-light short rounded me-2 d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Create new wallet">
                <i class="fa fa-plus fs-5"></i>
              </b>
              <b
                class="px-2 py-1 b-light short rounded me-2 d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Redirect to the wallets list">
                <i class="fa fa-bars-staggered fs-5"></i>
              </b>
              <b
                title="Top up Wallet"
                class="b-light short rounded me-2 d-flex align-items-center justify-content-center textext-light"
                role="button">
                <img
                  class="topup"
                  src="/images/wallet-topup-light.svg"
                  alt="" />
                <!-- <img
                                    class="topup"
                              
                                    src="/images/wallet-topup-dark.svg"
                                    alt=""
                                /> -->
              </b>
              <b
                class="px-2 py-1 short b-light rounded me-2 d-flex align-items-center justify-content-center textext-light"
                role="button"
                title="Wallet statements">
                <i class="fa fa-history fs-5"></i>
              </b>
            </div>
            <div>
              <b
                class="px-2 py-1 b-light short rounded me-2 justify-self-end d-flex align-items-center justify-content-center textext-light"
                role="button"
                title="Wallet details">
                <i class="fa fa-info-circle fs-5"></i>
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
