<div class="border-end border-1 border-dark pe-5">
  <div class="text-dark d-flex align-items-center">
    <b class="me-2 fs-4">Wallet</b>
    <b
      role="button"
      tabindex="0"
      [ngClass]="{
        'not-clickable': !defaultWallet,
      }"
      (click)="toggleAmount()">
      @if (showAmountWallet) {
        <span title="show balance">
          <i class="fa fa-eye-slash fs-6"></i>
        </span>
      } @else {
        <span title="show balance">
          <i class="fa fa-eye fs-6"></i>
        </span>
      }
    </b>
  </div>
  <div
    class="mt-2 lg-radius position-relative shadow p-2 pb-4 wallet-card bg-size-cover bg-primary">
    <span class="africa position-absolute">
      <img src="/images/africa.svg" alt="" />
    </span>
    <div class="m-2">
      <div class="d-grid">
        <div class="d-grid index">
          <div class="d-flex justify-content-between">
            <div class="d-grid mb-2 text-all-white">
              <span>Name</span>
              @if (clientInfo) {
                <span class="text-light">{{
                  clientInfo.client.client_full_name
                }}</span>
              } @else if (!clientInfo) {
                <span
                  ><i class="fa-solid fa-pulse fa-spinner text-light"></i
                ></span>
              }
            </div>
            <div class="ihela-image">
              <img class="img-fluid" src="/images/ihela3.png" alt="" />
            </div>
          </div>

          @if (!noWalletData) {
            <div class="d-grid mb-2">
              <span class="text-light">Balance</span>
              @if (defaultWallet) {
                <b class="text-light d-flex align-items-center">
                  <span class="me-1">{{
                    defaultWallet.response_data.currency
                  }}</span>
                  @if (showAmountWallet) {
                    <span>{{
                      defaultWallet.response_data.available_balance | number
                    }}</span>
                  } @else {
                    <span>*** ***</span>
                  }
                </b>
              }

              @if (!defaultWallet && !noWalletData) {
                <span>
                  <i class="fa-solid fa-pulse fa-spinner text-light"></i
                ></span>
              }
            </div>
          }

          @if (noWalletData) {
            <span class="text-secondary fs-5 my-4">
              No default wallet found</span
            >
          }

          <div class="d-grid mb-2">
            @if (defaultWallet) {
              <span class="text-light">{{
                defaultWallet.response_data.code
              }}</span>
            }

            @if (!defaultWallet && !noWalletData) {
              <span>
                <i class="fa-solid fa-pulse fa-spinner text-light"></i>
              </span>
            }
          </div>
          <div
            class="d-flex justify-content-between"
            [ngClass]="{
              'mt-2': defaultWallet,
              'mt-0': !defaultWallet,
            }">
            <div class="d-flex">
              <b
                class="px-2 py-1 b-light short rounded me-2 d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Create new wallet">
                <i class="fa fa-plus fs-5"></i>
              </b>
              <b
                class="px-2 py-1 b-light short rounded me-2 d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Redirect to the wallets list">
                <i class="fa fa-bars-staggered fs-5"></i>
              </b>
              <b
                title="Top up Wallet"
                class="b-light short rounded me-2 d-flex align-items-center justify-content-center text-light"
                role="button">
                <img
                  class="topup"
                  src="/images/wallet-topup-light.svg"
                  alt="" />
              </b>
              <b
                class="px-2 py-1 short b-light rounded me-2 z-5 d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Wallet statements">
                <i class="fa fa-history fs-5"></i>
              </b>
            </div>
            <div>
              <b
                class="px-2 py-1 b-light short rounded me-2 z-5 justify-self-end d-flex align-items-center justify-content-center text-light"
                role="button"
                title="Wallet details">
                <i class="fa fa-info-circle fs-5"></i>
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
