.wallet-card {
    background-image: url('/images/wallet-card.svg');
    width: 365px;
    height: 210px;
}
.africa {
    transform: translate(53%, 7%);
    -webkit-transform: translate(53%, 7%);
    -moz-transform: translate(53%, 7%);
    -ms-transform: translate(53%, 7%);
    -o-transform: translate(53%, 7%);
}

.topup {
    width: 20px;
}
.ihela-image {
    width: 70px;
    height: 35px;
}
.short {
    width: 30px;
    height: 28px;
}
.b-light {
    background-color: #ffffff36;
}