<div class="">
  @if (!credits) {
    <div
      class="text-center w-100 d-flex row justify-content-center align-items-center text-dark fs-4 general_view_point">
      <span><i class="fa-solid fa-spin fa-circle-notch text-dark"></i></span>
    </div>
  }
  @if (credits) {
    <div class="row g-0 p-2 mx-1">
      <div class="col-lg-3 text-dark ps-2">
        <div class="mb-2">
          <app-selected-client-small-overview
            [selectedClient]="
              this.selectedClient
            "></app-selected-client-small-overview>
        </div>

        <div
          class="p-0 bg-secondary text-dark overflow-y-auto overflow-x-hidden list">
          <div>
            @if (!credits) {
              <span
                class="text-center w-100 d-flex row justify-content-center align-items-center text-dark min-vh-75"
                ><i class="fa-solid fa-spin fa-circle-notch fs-4 text-dark"></i
              ></span>
            }
            @if (credits && credits.length > 0) {
              <div>
                <div
                  class="row d-flex justify-content-between align-items-center credits_height">
                  <div
                    role="button"
                    title="Add an account"
                    class="col-5 ms-2 pt-1 not-clickable"
                    [ngClass]="{
                      ' text-white': theme === 'dark',
                      ' text-primary': theme === 'light',
                    }">
                    <i
                      class="fa-solid fa-plus sm-radius p-1 fs-6 mt-2 bg-primary-2 fs-l-medium"></i>
                  </div>
                  <div
                    role="button"
                    class="col-2 mt-1 mb-2 me-2"
                    (click)="toggleAmountVisibility()"
                    tabindex="0">
                    @if (showAmounts) {
                      <span title="Hide balances">
                        <i class="fa-solid fa-eye-slash mt-3"></i
                      ></span>
                    }
                    @if (!showAmounts) {
                      <span title="Show balances">
                        <i class="fa-solid fa-eye mt-3"></i
                      ></span>
                    }
                  </div>
                </div>

                @for (item of credits; track $index) {
                  <div class="fig p-2" role="button" tabindex="0">
                    <div
                      (click)="selectCredit(item)"
                      tabindex="0"
                      class="px-2 ms-1 is-hoverable w-100"
                      [ngClass]="{
                        'lg-radius bg-white pt-2': selectedCredit === item,
                        'border-bottom': selectedCredit !== item,
                      }"
                      routerLink="/w/workstation/d/desk/client/detail/{{
                        clientId
                      }}/credit/{{ item.id }}/">
                      <div class="rounded lh-1">
                        <small class="d-flex" style="height: 8px"
                          ><b
                            class=""
                            [ngClass]="{
                              'text-dark': selectedCredit === item,
                            }"
                            >{{ item.cred_branch_defaults.branch.name }}</b
                          >
                          <span class="ms-auto">
                            <span
                              [class]="
                                'text-' +
                                item.cred_status.css +
                                'p-1 text-center d-flex align-items-center  labelCard badge-design bg-' +
                                item.cred_status.css
                              ">
                              {{ item.cred_status.value }}</span
                            >
                          </span> </small
                        ><br />
                        <small
                          ><b class="mt-0 text-sm">{{
                            item.cred_code
                          }}</b></small
                        ><br />
                        <small
                          ><b class="mt-0 text-primary-2 text-sm">{{
                            item.cred_mode
                          }}</b></small
                        ><br />

                        <app-amount-visibility
                          [amount]="item.cred_amount"
                          [currency]="balance_currency"
                          [customClasses]="
                            customClasses
                          "></app-amount-visibility>

                        <br />
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="details bg-secondary h-100 p-2 rounded-top text-dark">
          @if (!credit && isLoading) {
            <div
              class="text-center w-100 h-100 d-flex row justify-content-center align-items-center text-dark">
              <i class="fa-solid fa-spin fa-circle-notch fs-4 text-dark"></i>
            </div>
          } @else if (credits && credits.length === 0) {
            <div
              class="text-dark text-center h-100 row d-flex justify-content-center align-items-center fw-bold fs-4 opacity-75"
              i18n>
              No loans available
            </div>
          } @else if (credits && credits.length > 0 && !selectedCredit) {
            <div
              class="text-dark fw-bold h-50 w-100 fs-4 justify-content-center row align-items-center opacity-50 bg-secondary"
              i18n>
              Nothing is selected yet, please select one...
            </div>
          }
          @if (
            selectedCredit && selectedCredit.id.toString() !== '' && credits
          ) {
            @if (credit && !isLoading) {
              <div class="p-3 bg-white m-auto">
                <div>
                  <div class="d-flex">
                    <span class="fw-bold text-dark ms-4 text-md opacity-50" i18n
                      >Credit details</span
                    >
                    <span
                      role="button"
                      class="ms-auto fs-4 text-dark"
                      title="refresh"
                      (click)="refresh()"
                      tabindex="0"
                      ><i class="fa-solid fa-arrows-rotate opacity-50"></i
                    ></span>
                  </div>
                  <br />
                  <div class="row justify-content-center">
                    <div class="row ms-3 overflow-y-auto">
                      <div class="col-auto">
                        <div class="d-flex flex-column">
                          <div
                            class="col-9 col-sm-7 col-md-4 col-lg-3 col-xl-2">
                            <img
                              [src]="organization?.institution_client?.picture"
                              class="img-fluid image w-100"
                              alt="" />
                          </div>
                          <br />
                          <div class="col-12">
                            <span class="fw-bold text-dark">{{
                              credit.cred_branch_defaults.branch.name
                            }}</span>
                          </div>
                        </div>
                        <hr class="col-12 col-lg-11 col-xl-10 mt-4" />

                        <div>
                          <span class="text-dark opacity-75" i18n
                            >Payment account</span
                          >
                          <br />
                          <span class="fw-bold text-dark">{{
                            credit.cred_financement_account.acc_number
                          }}</span>
                        </div>

                        <div>
                          <span class="text-dark opacity-75" i18n
                            >Loan account</span
                          >
                          <br />
                          <span class="fw-bold text-dark">{{
                            credit.cred_client_main_account.acc_number
                          }}</span>
                        </div>
                      </div>

                      <div
                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                        <div class="row justify-content-between w-100">
                          <div class="col">
                            <span class="text-dark opacity-75" i18n
                              >First payment</span
                            >
                            <br />
                            <b class="text-dark">{{
                              (credit.cred_first_date | date) ?? '---'
                            }}</b>
                          </div>

                          <div class="col">
                            <span class="text-dark opacity-75" i18n
                              >Last payment</span
                            >
                            <br />
                            <b class="text-dark">{{
                              (credit.cred_expiry_date | date) ?? '---'
                            }}</b>
                          </div>

                          <div class="col">
                            <span class="text-dark opacity-75" i18n
                              >Remaining capital</span
                            >
                            <br />
                            <app-amount-visibility
                              [amount]="credit.cred_remaining_amount.toString()"
                              [currency]="
                                balance_currency
                              "></app-amount-visibility>
                          </div>
                        </div>

                        <div
                          class="row mt-3 bg-primary-2 justify-content-between sm-radius w-100">
                          <div class="col">
                            <span
                              class="fw-bold text-primary-light opacity-75"
                              i18n
                              >First delay date</span
                            >
                            <br />
                            <b>---</b>
                          </div>

                          <div class="col">
                            <span
                              class="fw-bold text-primary-light opacity-75"
                              i18n
                              >Delay days</span
                            >
                            <br />
                            <b>{{ (credit.delay_days | number) ?? '---' }}</b>
                          </div>

                          <div class="col">
                            <span
                              class="fw-bold text-primary-light opacity-75"
                              i18n
                              >Delay amount</span
                            >
                            <br />
                            <app-amount-visibility
                              [amount]="credit.delay_amount"
                              [currency]="
                                balance_currency
                              "></app-amount-visibility>
                          </div>
                        </div>
                        <hr class="col-12 col-xl-11 mt-5" />

                        <div class="row justify-content-between gap-4">
                          <div class="col">
                            <span class="text-dark opacity-75" i18n
                              >Capital</span
                            >
                            <br />
                            <app-amount-visibility
                              [amount]="credit.cred_amount"
                              [currency]="
                                balance_currency
                              "></app-amount-visibility>
                          </div>

                          <div class="col">
                            <span class="text-dark opacity-75" i18n
                              >Echeance amount</span
                            >
                            <br />
                            <app-amount-visibility
                              [amount]="credit.cred_echeance_amount"
                              [currency]="
                                balance_currency
                              "></app-amount-visibility>
                          </div>

                          <div class="col">
                            <span class="text-dark opacity-75" i18n>Rate</span>
                            <br />
                            <b class="text-dark"
                              >{{ credit.cred_interest_rate }} %</b
                            >
                          </div>
                        </div>
                        <div>
                          <div class="row justify-content-between mt-2">
                            <div class="col ms-4">
                              <span class="text-dark opacity-75" i18n
                                >Paid capital</span
                              >
                              <br />
                              <app-amount-visibility
                                [amount]="credit.cred_paid_capital"
                                [currency]="
                                  balance_currency
                                "></app-amount-visibility>
                            </div>

                            <div class="col">
                              <span class="text-dark opacity-75" i18n
                                >Duration</span
                              >
                              <br />
                              <b class="text-dark">{{
                                (credit.cred_period | number) ?? '---'
                              }}</b>
                            </div>
                            <div class="col"></div>
                          </div>
                          <div class="row justify-content-between">
                            <div class="col ms-4">
                              <span class="text-dark opacity-75" i18n
                                >Total interests</span
                              >
                              <br />
                              <app-amount-visibility
                                [amount]="credit.cred_total_interests"
                                [currency]="
                                  balance_currency
                                "></app-amount-visibility>
                            </div>

                            <div class="col">
                              <span class="text-dark opacity-75" i18n
                                >Exigible capital</span
                              >
                              <br />
                              <b class="text-dark">---</b>
                            </div>

                            <div class="col">
                              <span class="text-dark opacity-75" i18n
                                >Fees</span
                              >
                              <br />
                              <app-amount-visibility
                                [amount]="credit.cred_fees_paid"
                                [currency]="
                                  balance_currency
                                "></app-amount-visibility>
                            </div>
                          </div>

                          <div class="row justify-content-between mt-2">
                            <div class="col ms-4">
                              <span class="text-dark opacity-75" i18n
                                >Manager</span
                              >
                              <br />
                              <b class="text-dark"
                                >{{ credit.cred_manager.name }}
                              </b>
                            </div>

                            <div class="col">
                              <span class="text-dark opacity-75" i18n
                                >Status</span
                              >
                              <br />
                              <b
                                [class]="
                                  'text-' +
                                  credit.cred_status.css +
                                  'p-2 sm-radius label-card badge-design bg-' +
                                  credit.cred_status.css
                                "
                                >{{ credit.cred_status.label }}
                              </b>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <button
                        class="btn p-2 ms-4 buttonPlan primary-light mt-1 text-center"
                        data-bs-toggle="modal"
                        data-bs-target="#amortissmentModal"
                        i18n>
                        Depreciation plan
                      </button>
                    </div>
                    <div
                      class="modal fade"
                      id="amortissmentModal"
                      data-bs-backdrop="static">
                      <div
                        class="modal-dialog modal-dialog-centered statement-dialog">
                        <div class="modal-content">
                          <div class="modal-header d-flex">
                            <div
                              type="button"
                              class="btn btn-close ms-auto"
                              data-bs-dismiss="modal"
                              aria-label="Close"></div>
                          </div>
                          <app-list
                            [headers]="headersPlan"
                            [url]="
                              '/loans/plan/' + this.selectedCredit!.id + '/?'
                            "></app-list>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</div>
