.general_view_point {
  height: 80vh;
}
.statement-dialog {
  min-width: 70%;
  max-height: 800px;
}

.labelCard {
  background-color: #f1bb87;
  color: #c8582c;
  height: 25px;
  width: 25px;
}
.credits_height {
  height: 35px;
}
