<br />
<form class="position-relative z-1" [formGroup]="multiStepForm">
  <!-- start step 0 -->
  @if (step === 0) {
    <div
      class="container font-montserrat d-flex justify-content-center pt-5 p-5">
      <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
        <div class="col-md-6 px-5 p-3">
          <div class="d-flex justify-content-end mb-5">
            <span class="fs-normal"
              ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
              Back</span
            >
          </div>
          <div class="col d-flex justify-content-center fs-l-medium mb-3">
            <span class="fw-bold" i18n>How did you know iHela?</span>
          </div>
          <div class="col text-center text-normal">
            For a more secure experience, enter your <br />
            reference account number (if you have one)
          </div>

          <div class="form-floating mb-4 mt-4">
            <input
              i18n
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              formControlName="username" />
            <label class="fs-small" i18n for="number"
              ><span
                ><img src="/images/user.svg" width="23" alt="" /> Referal
                account number</span
              >
            </label>
          </div>
          <div class="col">
            <button
              i18n
              type="button"
              class="btn mt-4 w-100 bg-primary lg-radius text-white p-3 fw-bold"
              (click)="submit()">
              Continue
            </button>
          </div>

          <div class="mt-3 d-flex justify-content-center text-danger mb-5">
            <a tabindex="0" role="button" (click)="submit()"> Skip</a>
          </div>
        </div>
        <div
          class="col-md-6 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
          <div>
            <span>
              <span i18n class="fs-l-medium text-all-white fw-bold"
                >Already have an account?</span
              >
              <br />
              <br />
              <span i18n class="fs-normal text-all-white"
                >Manage your finances, transfers <br />
                and cards. In the blink of an eye <br />
                and make your purchases easily. <br />
                <button
                  class="btn bg-primary border-white text-white mt-4 fw-bold px-5"
                  routerLink="/login/">
                  Login
                </button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- end step 0 -->

  <!--start step 1-->
  @if (step === 1) {
    <div
      class="container font-montserrat d-flex justify-content-center pt-5 p-5"
      formGroupName="authentificationInformation">
      <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
        <div class="col-md-7 px-5 p-3">
          <div class="row mb-4">
            <div class="col fw-bold"><span>Sign up</span></div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="row g-1">
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <span
                class="fs-normal"
                role="button"
                tabindex="0"
                (click)="previous()"
                ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
                Back</span
              >
            </div>
          </div>

          <div class="col d-flex justify-content-center position-relative z-1">
            <app-file
              [uploadOneFile]="true"
              (uploadOneFileEvent)="onPictureChange($event)"></app-file>

            <!-- 
               <label for="file" role="button"> <div class="imgBloc p-1 border border-secondary rounded-circle">
                <div class="underImgBloc bg-secondary rounded-circle d-flex justify-content-center align-items-center">
                  <span class="rounded-circle d-flex justify-content-center align-items-center"><img src="/images/appareil.svg" alt=""></span></div>
                  
            </div></label>
                <input class="d-none" type="file" name="file" formControlName="picture" id="file"> -->
          </div>
          <div class="d-flex justify-content-center mt-1 mb-4">
            <span>Upload an image<code>*</code></span>
          </div>
          <div>
            <span class="text-danger fs-x-small"
              ><i class="fa-solid fa-circle-info fs-6"></i> You must atleast
              enter the phone number or the email</span
            >
          </div>
          <div class="row mb-3 mt-2">
            <div class="col-md-6">
              <div class="form-floating mb-2">
                <input
                  i18n
                  (focusout)="phoneNumverVerification()"
                  [(ngModel)]="inputNumber"
                  (input)="checkNumber()"
                  type="text"
                  class="form-control"
                  id="number"
                  placeholder="number"
                  formControlName="number" />
                <label class="fs-small" i18n for="number"
                  ><span>Phone number<code>*</code></span>
                </label>
              </div>

              @if (phoneNumberVerificationLoader) {
                <span class="text-secondary">
                  <i class="fa-solid fa-pulse fa-spinner"></i>

                  Phone number verification
                </span>
              }
              @if (
                phoneNumberToVerify &&
                phoneNumberToVerify.object.success === true &&
                !phoneNumberVerificationLoader
              ) {
                <span class="text-danger">Phone number already exists</span>
              }
              @if (isMatchNumber && !phoneNumberVerificationLoader) {
                <span class="text-danger">Phone number is invalid</span>
              }
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  i18n
                  (focusout)="EmailVerification()"
                  [(ngModel)]="inputEmail"
                  (input)="checkEmail()"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="email"
                  formControlName="email" />
                <label class="fs-small" i18n for="email"
                  ><span>Email<code>*</code></span>
                </label>
              </div>

              @if (EmailVerificationloader) {
                <span class="text-secondary">
                  <i class="fa-solid fa-pulse fa-spinner"></i>

                  Email verification
                </span>
              }
              @if (
                emailToVerify &&
                emailToVerify.object.success === true &&
                !EmailVerificationloader
              ) {
                <span class="text-danger">Email already exists</span>
              }
              @if (isMatchEmail && !EmailVerificationloader) {
                <span class="text-danger">Email is invalid</span>
              }
            </div>
          </div>
          <div class="col mb-4">
            <div class="form-floating">
              <input
                i18n
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                formControlName="username" />
              <label class="fs-small" i18n for="username"
                ><span>Username<code>*</code></span>
              </label>
            </div>
          </div>
          <div class="col mb-3">
            <div class="form-floating">
              <app-password-field
                [labelPassword]="true"
                [required]="true"
                [Validator]="true"
                [password]="true"
                (passwordValid)="onPasswordChange($event)"></app-password-field>
            </div>
          </div>
          <div class="col position-relative z-1">
            <div class="form-floating">
              <input
                class="form-control"
                [type]="passwordType"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
                id="confirmPassword"
                (keyup)="checkPasswordSimilarity()" />
              <label for="confirmPassword" class="form-label" i18n
                >Confirm password<code class="me-1">*</code></label
              >

              @if (showPassword) {
                <a tabindex="0" role="button" (click)="changePasswordType()"
                  ><i class="fa-regular fa-eye-slash text-dark"></i
                ></a>
              }

              @if (!showPassword) {
                <a tabindex="0" role="button" (click)="changePasswordType()">
                  <i class="fa-regular fa-eye text-dark"></i
                ></a>
              }
            </div>
            @if (
              !arePasswordsMatch &&
              multiStepForm.controls.authentificationInformation.value
                .password !== '' &&
              multiStepForm.controls.authentificationInformation.value
                .confirmPassword !== '' &&
              isMatchConfirmPassword
            ) {
              <span class="text-danger" i18n>Password doesn't match</span>
            }
          </div>
          <div class="col">
            <button
              i18n
              type="button"
              class="btn mt-4 w-100 bg-primary lg-radius text-white p-3 fw-bold"
              (click)="submit()"
              [disabled]="
                isAllInputValueUndefined() ||
                !multiStepForm.controls.authentificationInformation.valid ||
                !arePasswordsMatch ||
                isMatchEmail ||
                EmailVerificationloader ||
                (this.multiStepForm.controls.authentificationInformation.value
                  .email &&
                  emailToVerify.object.success === true) ||
                isMatchNumber ||
                phoneNumberVerificationLoader ||
                (this.multiStepForm.controls.authentificationInformation.value
                  .number &&
                  phoneNumberToVerify.object.success === true)
              ">
              Continue
            </button>
          </div>
        </div>
        <div
          class="col-md-5 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
          <div>
            <span>
              <span i18n class="fs-l-medium text-all-white fw-bold"
                >Authentication informations</span
              >
              <br />
              <br />
              <span i18n class="fs-normal text-all-white"
                >Your login details, your security. <br />
                Keep them safe for exclusive access <br />
                to your account. <br />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  }

  <!--end step 1-->

  <!-- start step 2 -->
  @if (step === 2) {
    <div
      class="container font-montserrat d-flex justify-content-center pt-5 p-5"
      formGroupName="personalInformation">
      <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
        <div class="col-md-7 px-5 p-3">
          <div class="row mb-4">
            <div class="col fw-bold"><span>Sign up</span></div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="row g-1">
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <span
                tabindex="0"
                class="fs-normal"
                role="button"
                (click)="previous()"
                ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
                Back</span
              >
            </div>
          </div>

          <form class="position-relative z-1">
            <div class="row mb-3 mt-5 position-relative z-1">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    i18n
                    type="text"
                    class="form-control"
                    id="fname"
                    placeholder="fname"
                    formControlName="fname" />
                  <label class="fs-small" i18n for="fname"
                    ><span>Fisrt name<code>*</code></span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    i18n
                    type="text"
                    class="form-control"
                    id="lname"
                    placeholder="lname"
                    formControlName="lname" />
                  <label class="fs-small" i18n for="lname"
                    ><span>Last name<code>*</code></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <select
                    class="form-select text-dark"
                    placeholder="Gender"
                    id="bg-input"
                    name="bg-input"
                    formControlName="gender">
                    <option value="M" i18n>Male</option>
                    <option value="F" i18n>Female</option>
                  </select>
                  <label for="bg-input" class="text-dark" i18n
                    >Gender <code>*</code></label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <select
                    class="form-select text-dark"
                    id="floatingSelect"
                    name="martialStatus"
                    formControlName="martialStatus"
                    placeholder="Martial Status"
                    id="bg-input"
                    name="sellist">
                    <option value="Married" i18n>Married</option>
                    <option value="Single" i18n>Single</option>
                    <option value="Divorced" i18n>Divorced</option>
                    <option value="Widower" i18n>Widower</option>
                  </select>
                  <label for="sel1" class="text-dark" i18n>
                    Select martial status
                    <code>*</code></label
                  >
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-floating">
                <input
                  type="date"
                  class="form-control"
                  formControlName="birthday"
                  placeholder=""
                  id="Confirmpassword" />
                <label for="Confirmpassword" class="form-label" i18n
                  >Birthday<code class="me-1">*</code></label
                >
              </div>
            </div>
            <div class="col pb-5">
              <button
                i18n
                type="button"
                tabindex="0"
                class="btn mt-4 mb-5 w-100 bg-primary lg-radius text-white p-3 fw-bold"
                (click)="submit()"
                [disabled]="!multiStepForm.controls.personalInformation.valid">
                Continue
              </button>
            </div>
          </form>
        </div>
        <div
          class="col-md-5 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
          <div>
            <span>
              <span i18n class="fs-l-medium text-all-white fw-bold"
                >Personal informations</span
              >
              <br />
              <br />
              <span i18n class="fs-normal text-all-white"
                >Be assured that your data is <br />
                confidential and processed in compliance <br />
                with current regulations. <br />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  }
  <!--end step 2-->

  <!--start step 3-->
  @if (step === 3) {
    <div
      class="container font-montserrat d-flex justify-content-center pt-5 p-5"
      formGroupName="cardInformation">
      <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
        <div class="col-md-7 px-5 p-3">
          <div class="row mb-4">
            <div class="col fw-bold"><span>Sign up</span></div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="row g-1">
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-secondary test"></div></div>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <span
                tabindex="0"
                class="fs-normal"
                role="button"
                (click)="previous()"
                ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
                Back</span
              >
            </div>
          </div>

          <form class="position-relative z-1">
            <div class="col mb-3 position-relative z-1">
              <div class="form-floating">
                <select
                  class="form-select text-dark"
                  placeholder="Gender"
                  formControlName="cardType"
                  id="bg-input"
                  name="bg-input">
                  <option value="NIC" i18n>NIC</option>
                  <option value="PASSPORT" i18n>PASSPORT</option>
                  <option value="PASS_CARD" i18n>PASSCARD</option>
                  <option value="OTHER" i18n>OTHER</option>
                </select>
                <label for="bg-input" class="text-dark" i18n
                  >Card type <code>*</code></label
                >
              </div>
            </div>
            <div class="col mb-3">
              <div class="form-floating">
                <input
                  i18n
                  type="text"
                  class="form-control"
                  id="cardIdNumber"
                  placeholder="cardIdNumber"
                  formControlName="cardIdNumber" />
                <label class="fs-small" i18n for="cardIdNumber"
                  ><span>ID card number<code>*</code></span>
                </label>
              </div>
            </div>
            <div class="col mb-3">
              <div class="form-floating">
                <input
                  i18n
                  type="text"
                  class="form-control"
                  id="deliveryPlace"
                  placeholder="deliveryPlace"
                  formControlName="deliveryPlace" />
                <label class="fs-small" i18n for="deliveryPlace"
                  ><span>Delivery place<code>*</code></span>
                </label>
              </div>
            </div>
            <div class="col mb-3">
              <div class="form-floating">
                <input
                  type="date"
                  class="form-control"
                  formControlName="deliveryDate"
                  placeholder=""
                  id="deliveryDate" />
                <label for="deliveryDate" class="form-label" i18n
                  >Delivery date<code class="me-1">*</code></label
                >
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input
                  type="date"
                  class="form-control"
                  formControlName="expiryDate"
                  placeholder=""
                  id="expiryDate" />
                <label for="expiryDate" class="form-label" i18n
                  >Expiry date<code class="me-1">*</code></label
                >
              </div>
            </div>
            <div class="col">
              <button
                i18n
                type="button"
                class="btn mt-4 mb-5 w-100 bg-primary lg-radius text-white p-3 fw-bold"
                (click)="submit(); getBankList()"
                [disabled]="
                  !multiStepForm.controls.cardInformation.valid ||
                  (this.multiStepForm.controls.cardInformation.value
                    .cardType === 'PASSPORT' &&
                    this.multiStepForm.controls.cardInformation.value
                      .expiryDate === '')
                ">
                Continue
              </button>
            </div>
          </form>
        </div>
        <div
          class="col-md-5 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
          <div>
            <span>
              <span i18n class="fs-l-medium text-all-white fw-bold"
                >ID card informations</span
              >
              <br />
              <br />
              <span i18n class="fs-normal text-all-white"
                >Strengthen your account security <br />
                with your ID. <br />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  }

  <!--end step 3-->

  <!--start step 4-->
  @if (step === 4) {
    <div
      class="container font-montserrat d-flex justify-content-center pt-5 p-5">
      <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
        <div class="col-md-7 px-5 p-3">
          <div class="row mb-4">
            <div class="col fw-bold"><span>Sign up</span></div>

            <div class="col d-flex justify-content-center align-items-center">
              <div class="row g-1">
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
                <div class="col"><div class="bg-primary test"></div></div>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <span
                tabindex="0"
                class="fs-normal"
                role="button"
                (click)="previous()"
                ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
                Back</span
              >
            </div>
          </div>

          <form class="position-relative z-1">
            <div class="row position-relative z-1">
              <div class="col d-flex justify-content-start align-items-center">
                <div>
                  <span class="fs-normal">
                    <span
                      ><span class="fw-bold fs-l-medium">Bibyento Bundi</span>
                      <br />bibyengmail.com</span
                    >
                  </span>
                </div>
              </div>
              <div class="col d-flex justify-content-end">
                <div
                  class="rounded-circle border border-5 d-flex justify-content-center align-items-center">
                  <span>
                    <img src="/images/multi-secure.png" width="85" alt=""
                  /></span>
                </div>
              </div>
            </div>
            <div class="col mt-3 mb-4">
              <span>Create an account by choosing one of the banks bellow</span>
            </div>
            <div class="row ms-2" style="gap: 2rem">
              @for (bank of getBanksList; track bank) {
                <div
                  tabindex="0"
                  (click)="selectedBankId(bank); selectedBankIndex = i"
                  class="col-md-3 lg-radius border border-secondary"
                  role="button">
                  <div class="text-center p-1">
                    <div class="col d-flex justify-content-center">
                      @if (bank.company.logo) {
                        <img src="{{ bank.company.logo }}" width="90" alt="" />
                      } @else {
                        <span class="fs-3"
                          ><i class="fa-solid fa-building-columns"></i>
                        </span>
                      }
                    </div>
                    <div>
                      <span class="fs-x-small">{{ bank.name }}</span>
                    </div>
                  </div>
                </div>
              }
            </div>
          </form>
        </div>
        <div
          class="col-md-5 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
          <div>
            <span>
              <span i18n class="fs-l-medium text-all-white fw-bold"
                >Last step</span
              >
              <br />
              <br />
              <span i18n class="fs-normal text-all-white"
                >Chose one of the banks to create <br />
                a bank account or click continue <br />
                to create a wallet only.<br />

                <button
                  type="button"
                  class="btn bg-primary fw-bold border border-white mt-4 text-all-white px-5"
                  [disabled]="isLoadingCreation"
                  (click)="createAccount()">
                  @if (!isLoadingCreation) {
                    Continue
                  } @else {
                    <span
                      ><i class="fa-solid fa-pulse fa-circle-notch fs-4"></i
                    ></span>
                  }
                </button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  }
</form>
<!--end step 4 -->

<!--start step 5 -->
@if (step === 5) {
  <div class="container font-montserrat d-flex justify-content-center pt-5 p-5">
    <div class="row border border-1 lg-radius col-md-10 bg-white mt-5">
      <div class="col-md-7 px-5 p-3">
        <div class="row mb-4">
          <div class="col fw-bold"><span>Success</span></div>
        </div>

        <form class="position-relative z-1">
          <div class="row position-relative z-1">
            <div class="col d-flex align-items-center">
              <span class="fs-normal"
                ><span class="fw-bold fs-l-medium">Bibyento Bundi</span>
                <br />bibyengmail.com</span
              >
            </div>
            <div class="col d-flex justify-content-end">
              <div
                class="rounded-circle border border-5 d-flex justify-content-center align-items-center">
                <span>
                  <img src="/images/multi-secure.png" width="85" alt=""
                /></span>
              </div>
            </div>
          </div>
          <div class="col mt-4">
            <span class="fs-normal">Your customer code number is</span>
          </div>
          <div class="col-md-4 mb-1">
            <hr />
            <div class="d-flex justify-content-center">
              <span class="fw-bold fs-normal text-primary">6778</span>
            </div>
            <hr />
          </div>
          <div class="col"><span>Click bellow to start.</span></div>
          <div class="d-flex justify-content-center pt-3">
            <button
              class="btn bg-primary fw-bold text-all-white px-5 mt-5 mb-4"
              routerLink="/b">
              Start
            </button>
          </div>
          <div class="col d-flex justify-content-center">
            <span> <a class="text-primary">Logout</a></span>
          </div>
        </form>
      </div>
      <div
        class="col-md-5 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
        <div>
          <span>
            <span i18n class="fs-l-medium text-all-white fw-bold"
              >Last step</span
            >
            <br />
            <br />
            <span i18n class="fs-normal text-all-white"
              >Chose one of the banks to create <br />
              a bank account or click continue <br />
              to create a wallet only.<br />
              <button
                class="btn bg-primary fw-bold border border-white mt-4 text-all-white px-5">
                Continue
              </button>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
}

<!--end step 5 -->

<app-file
  [uploadMultipleFile]="true"
  (uploadOneFileEvent)="onPictureChange($event)"></app-file>
