.bg{
    background-image:url('/images/BG.svg');
    border-top-right-radius:10px ;
    // background-repeat:no-repeat;
    border-bottom-right-radius:10px ;
}  
.underImgBloc{
    width: 50px;
    height: 50px;
}
.rounded-circl{
  width: 100px;
  height: 100px;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 19px;
    right: 10px;
  }
  .test{
    height: 4px;
    width: 10px;
  }
  .scroll{
    height: 100vh;
    overflow: auto;
}