<div class="bg-secondary sm-radius p-4 py-4">
  <form [formGroup]="walletForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="form-floating mt-5">
          <input
            type="text"
            class="input form-control bg-light text-dark simulator-input"
            id="name"
            formControlName="name"
            placeholder="name" />
          <label for="name" class="text-dark" i18n>name <code>*</code></label>
        </div>

        <div class="form-floating mt-3">
          <input
            type="text"
            class="input form-control bg-light text-dark simulator-input"
            id="description"
            formControlName="description"
            placeholder="description" />
          <label for="description" class="text-dark" i18n>description</label>
        </div>

        <div class="form-floating mt-3">
          <select
            class="form-select bg-light text-dark simulator-input"
            id="category"
            formControlName="category">
            <option value="" disabled selected>Select a category</option>
            <option
              selected
              *ngFor="let walletsTypeData of walletsTypeData"
              [value]="walletsTypeData.id">
              {{ walletsTypeData.title }}
            </option>
          </select>
        </div>

        <div class="form-floating mt-3">
          <input
            type="text"
            class="input form-control bg-light text-dark simulator-input"
            id="pin"
            formControlName="pin"
            placeholder="pin"
            maxlength="4" />
          <label for="pin" class="text-dark" i18n>pin <code>*</code></label>
          @if (walletForm.get('pin')?.errors?.['pattern']) {
            <div class="text-danger" i18n>
              Invalid input. Please enter a valid number.
            </div>
          }
          @if (walletForm.get('pin')?.errors?.['maxlength']) {
            <div class="text-danger" i18n>PIN must not exceed 4 digits.</div>
          }
        </div>

        <div class="mt-3 d-flex justify-content-center">
          <button
            class="btn bg-primary text-light px-4 py-1 fw-bold"
            [disabled]="!walletForm.valid"
            (click)="walletForm.valid && onSubmit()"
            tabindex="0"
            i18n>
            <span>Confirm</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
