<div class="text-center">
    <p class="text-secondary">
        <span>
          <a class="text-dark" href="https://about.ihela.bi/">About</a> &middot;
          Privacy &middot;
          Terms and conditions &middot;
          Jobs &middot;
          <a class="text-dark" href=" http://bankingdocs.ihela.bi/">API</a> &middot;
          <a class="text-dark" href=" https://magis.bi/">MAGIS</a> &middot;
          Plus
        </span>
        <br />
        @if (showCopyRight) {
        <span>
          Copyright &copy; iHela Credit Union {{ year }} &middot;
          Provided by <a class="text-dark" href=" https://magis.bi/">MAGIS BI</a>
        </span>
        }
    </p>
</div>
