<!--path-->
<div class="details-container mb-2">
  <!-- <span
        ><span class="text-dark" style="--bs-text-opacity: 0.4"
            >Desk<b class="mx-2">/</b>Admin<b class="mx-2">/</b
            ><span
                style="cursor: pointer"
                routerLink="/w/workstation/desk/admin/operator/operators"
                >Operator</span
            ><b class="mx-2">/</b></span
        ><span class="text-primary-light">Details</span>
    </span> -->
  <!-- <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb> -->
</div>

<!--container-->
<div class="level-1 details-container">
  <!--header-->
  <header class="level-1 header">
    <!--tabs-->
    <div class="tabs">
      <!--single tab-->
      <div
        tabindex="="
        class="tabs-item text-dark"
        (click)="selectMenu('list')"
        [ngClass]="{ 'level-2': selectedMenu === 'list' }">
        <small class="tabs-item-small" i18n>List</small>
      </div>

      <!--single tab-->
      <div
        tabindex="0"
        class="tabs-item text-dark"
        (click)="selectMenu('new')"
        [ngClass]="{ 'level-2': selectedMenu === 'new' }">
        <small i18n>New merchant</small>
      </div>

      <!--single tab-->
      <div
        tabindex="0"
        class="tabs-item text-dark"
        (click)="selectMenu('location')"
        [ngClass]="{ 'level-2': selectedMenu === 'location' }">
        <small i18n>Location</small>
      </div>
    </div>
  </header>

  <!--top space between header and main-->
  <div class="space level-2"></div>

  <!--main-->
  <main class="level-2">
    <div class="container level-2 p-0 w-100">
      <div class="level-2 d-grid align-items-start p-1" style="height: 100%">
        <!--merchants list-->
        @if (selectedMenu === 'list') {
          <div class="d-flex align-items-start w-100">
            <div class="w-100">
              <app-list
                [headers]="headers"
                url="/dbs/merchant/manage/?"></app-list>
            </div>
          </div>
        }

        <!--map-->
        @if (selectedMenu === 'location') {
          <div class="w-75 level-1" class="d-flex justify-content-center">
            <div
              class="d-flex justify-content-center h-70 position-absolute"
              style="width: 70%">
              <!-- <app-global-map></app-global-map> -->
            </div>
          </div>
        }

        <!--new merchant form-->
        <form class="row justify-content-md-center">
          @if (selectedMenu === 'new') {
            <div
              class="col-lg-8 level-2 p-2 rounded"
              style="height: 70vh; width: 80%">
              <div class="rounded p-3" style="padding-bottom: 100px">
                <span
                  class="h3 justify-content-center d-flex"
                  title="New merchant"
                  i18n>
                  New merchant</span
                >

                <div class="d-flex justify-content-end ps-5">
                  <div
                    class="row mt-3 rounded p-2 d-flex justify-content-start w-100">
                    <div class="row mt-2 d-flex align-items-center col-lg-6">
                      <div class="d-flex align-items-center w-100">
                        <label for="" class="">
                          <b i18n>Client</b>
                          <code>*</code>
                        </label>
                        <div class="d-flex justify-content-center ms-2 w-100">
                          <!-- <app-lookup
                                                    class="w-100"
                                                    option="lookup"
                                                    (selectedItemEvent)="
                                                        getClientId($event)
                                                    "
                                                    url="/clients/list/all/object_lookup?lookup_data="
                                                    lookupLabel="Enter client id"
                                                    itemsLabel="Enter client id"
                                                ></app-lookup> -->
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 d-flex align-items-center col-lg-6">
                      <div class="d-flex align-items-center w-100">
                        <label for="" class="ms-2">
                          <b i18n>Category</b>
                          <code>*</code>
                        </label>
                        <div class="container p-1 rounded">
                          <!-- <app-lookup
                                                    class="w-100"
                                                    option="autocomplete"
                                                    url="/dbs/merchant-category/objects_autocomplete?search="
                                                    (selectedItemEvent)="
                                                        getCategory($event)
                                                    "
                                                    itemsLabel="Categories"
                                                ></app-lookup> -->
                        </div>
                      </div>
                    </div>
                    @if (category && client) {
                      <div class="row mt-5 d-flex align-items-center col-lg-6">
                        <div class="d-flex align-items-center w-100 col-12">
                          <label for="" class="me-3">
                            <b i18n>Name</b>
                            <code>*</code>
                          </label>
                          <input
                            style="height: 45px"
                            class="form-control input py-2 w-100"
                            type="text"
                            placeholder="title"
                            formControlName="title" />
                        </div>
                      </div>
                    }
                    @if (client && category) {
                      <div class="text-center mt-4">
                        <!-- <i *ngIf="isLoading"></i> -->

                        <button
                          title="Update merchant informations"
                          class="btn btn-sm text-light bg-primary is-small is-rounded"
                          type="submit">
                          <span
                            [ngClass]="{
                              'd-none': isLoading,
                            }"
                            i18n
                            >Create</span
                          >
                          @if (isLoading) {
                            <span class="">
                              <i
                                class="fa-solid fa-spin fa-circle-notch fs-4 bg-primary"></i>
                            </span>
                          }
                        </button>
                        @if (!isLoading) {
                          <b
                            tabindex="0"
                            title="Cancel updating"
                            role="button"
                            (click)="cancelCreation()"
                            class="ms-4 text-dark"
                            i18n
                            >Cancel</b
                          >
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
              <br /><br />
            </div>
          }
        </form>
      </div>
    </div>
  </main>

  <!--bottom space between main and footer-->
  <div class="space level-2"></div>

  <!--footer-->
  <footer class="footer">
    <!--footer icons-->
    <div class="icons-footer">
      <!--single footer icon-->
      <div
        tabindex="0"
        class="icons-footer-item text-dark"
        (click)="selectedMenu = 'list'">
        <i class="fa-sharp fa-bars"></i>
      </div>

      <!--single footer icon-->
      <div
        tabindex="0"
        class="icons-footer-item text-dark"
        (click)="selectedMenu = 'new'">
        <i class="fa-solid fa-plus-circle"></i>
      </div>

      <!--single footer icon-->
      <div
        tabindex="0"
        class="icons-footer-item text-dark"
        (click)="selectedMenu = 'location'">
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
  </footer>
</div>
