<div class="w-100 mt-4">
  @if (!showCreditLine) {
    <main class="bg-white mt-5">
      <section class="sm-radius p-2">
        <app-list
          [addButtonLink]="{
            url: '/w/workstation/d/desk/credit/creditsline/list',
            fragment: 'creditLine',
          }"
          [headers]="headers"
          url="/clients/manage/creditline/?"></app-list>
      </section>
    </main>
  }

  @if (showCreditLine) {
    <div class="sm-radius" id="creditLine">
      <div class="text-end me-2">
        <span
          role="button"
          class="fw-bold text-dark"
          (click)="goBack()"
          tabindex="0"
          title="Go To Credit Line List"
          i18n
          ><i class="fa-solid fa-arrow-left"></i> Back</span
        >
      </div>
      <div class="text-dark">
        <div class="p-4 bg-white">
          <div class="d-grid">
            <div class="d-flex align-items-center gap-2 mb-2">
              <div class="fw-bold fs-medium" i18n>
                <span class="me-2"
                  ><i class="fa-solid fa-circle text-primary iconSize"></i
                ></span>
                Account & Credit Line Information
              </div>
            </div>
            <form [formGroup]="myForm" class="ms-4 ps-1">
              <div class="row">
                <div class="d-grid col">
                  <div class="">
                    <div class="d-flex justify-content-center w-50 fs-normal">
                      <app-lookup
                        class="w-100 mt-2"
                        option="autocomplete"
                        (selectedItemEvent)="getClientId($event)"
                        url="/clients/manage/accounts/objects_autocomplete?search="
                        label="Client account"></app-lookup>
                    </div>
                  </div>
                  <div class="form-floating mt-4 fs-normal">
                    <input
                      type="date"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="due"
                      formControlName="due"
                      placeholder="due" />
                    <label for="due" class="text-dark" i18n> Due date </label>
                  </div>
                  <div class="form-floating mt-4 fs-normal">
                    <input
                      type="text"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="debitor"
                      formControlName="debitor"
                      placeholder="debitor"
                      (input)="checkDebitorValue()" />
                    <label for="debitor" class="text-dark" i18n
                      >Debitor rate %</label
                    >
                  </div>
                  @if (isDebitorGreaterThan100) {
                    <div class="mt-2 text-danger fs-normal">
                      Debitor rate should be less than 100.
                    </div>
                  }

                  <div class="form-floating mt-4 fs-normal">
                    <input
                      type="text"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="penalities"
                      formControlName="penalities"
                      placeholder="penalities"
                      (input)="checkPenalitiesValue()" />
                    <label for="penalities" class="text-dark" i18n
                      >Penalities rate %</label
                    >
                  </div>
                  @if (isPenalitiesGreaterThan100) {
                    <div class="mt-2 text-danger fs-normal">
                      Penalities rate should be less than 100.
                    </div>
                  }
                </div>

                <div class="col">
                  <div class="form-floating fs-normal">
                    <input
                      type="text"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="amount"
                      formControlName="amount"
                      placeholder="amount" />
                    <label for="amount" class="text-dark" i18n>Amount </label>
                  </div>
                  <div class="form-floating mt-4 fs-normal">
                    <input
                      type="date"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="facility"
                      formControlName="facility"
                      placeholder="facility"
                      (focusout)="checkFacilityDue()" />
                    <label for="contribution" class="text-dark" i18n
                      >Facility Date</label
                    >
                  </div>
                  @if (isFacilityGreaterThanDue) {
                    <div class="mt-2 text-danger fs-normal">
                      Facility date must be lower than Due date.
                    </div>
                  }
                  <div class="form-floating mt-4 fs-normal">
                    <input
                      type="text"
                      class="input form-control text-dark simulator-input w-50 border"
                      id="fees"
                      formControlName="fees"
                      placeholder="fees" />
                    <label for="fees" class="text-dark" i18n>Fees </label>
                  </div>
                  <div class="d-flex align-items-center gap-4">
                    <div class="mt-3 fs-normal">
                      <label
                        (click)="toggleCheckbox()"
                        tabindex="0"
                        for="isRenewable"
                        class="d-flex align-items-center gap-2"
                        role="button">
                        @if (isChecked) {
                          <span>
                            <i
                              class="fa-regular fa-square-check fs-4 text-primary"></i>
                          </span>
                        }
                        @if (!isChecked) {
                          <span>
                            <i class="fa-regular fa-square fs-4"></i>
                          </span>
                        }
                        <span class="text-dark" i18n> % </span>
                      </label>
                    </div>
                    @if (isChecked) {
                      <div class="mt-3">
                        <i class="fa-solid fa-play text-primary"></i>
                        {{ calculateValue() }}
                      </div>
                    }
                  </div>
                </div>

                <div>
                  <div class="form-floating mt-4 fs-normal">
                    <textarea
                      type="text"
                      class="border input form-control bg-light text-dark simulator-input p-5 w-75"
                      id="description"
                      formControlName="description"
                      placeholder="Description">
                    </textarea>

                    <label for="description" class="text-dark" i18n
                      >Add comment</label
                    >
                  </div>
                </div>
                <div class="d-flex justify-content-center w-75 mt-3">
                  <div
                    class="btn bg-primary sm-radius text-white px-5 fs-medium"
                    (click)="openModal()"
                    tabindex="0"
                    [ngClass]="{
                      'not-clickable':
                        !myForm.valid ||
                        isLoading ||
                        isDebitorGreaterThan100 ||
                        isPenalitiesGreaterThan100 ||
                        !lookupEffectue ||
                        isFacilityGreaterThanDue,
                    }">
                    <div>Confirm</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  }
</div>
