.profil {
  width: 50px;
  height: 50px;
}

.announcements {
  .announce-box {
    height: 150px;
  }
  .assurance-box .box_parent {
    filter: url('#flt_tag');
    width: 60%;
    .image1 {
      clip-path: polygon(35% 0, 100% 0, 100% 100%, 7% 100%, 3% 87%);
    }
  }
}

.text-info {
  color: hsla(43, 100%, 39%, 1) !important;
}
.text-magis {
  color: hsla(218, 54%, 20%, 1);
}

.fz-emoji {
  font-size: calc(7rem + 1.5vw) !important;
}

.max-width-600 {
  max-width: 500px;
}

.slide {
  transition: transform 1s ease;
}

.slide.active {
  transform: translateX(0);
}

.slide:not(.active) {
  transform: translateX(-100%);
}

.onamobColor {
  background: #f06f22;
  width: 10px;
}

.blury {
  background: linear-gradient(
    180deg,
    rgba(255, 204, 204, 0.1) 0%,
    rgba(255, 204, 204, 0.4) 100%
  );
}
