<!-- TODO :: Presentation section -->
<section class="p-5 row justify-content-around">
  <div class="col-5 d-flex flex-column">
    <b class="fs-xx-large">
      <span i18n
        >Manage better, grow faster <br />
        with <span class="text-primary">Magis ERP</span></span
      >
    </b>
    <span class="fs-l-medium" i18n>
      The ideal solution for businesses of all sizes looking to improve their
      operations and stimulate their growth.
    </span>
  </div>
  <div>
    <img src="" alt="" />
  </div>
</section>
