<!-- TODO :: Presentation section -->
<section class="pb-4 row align-items-center justify-content-center mx-0">
  <div
    class="col-11 col-md-7 col-lg-5 mt-3 mt-md-0 text-sm-center text-md-start d-flex flex-column">
    <b class="fs-xx-large">
      <span i18n
        >Manage better, grow faster <br />
        with <span class="text-primary">Magis ERP</span></span
      >
    </b>
    <span class="fs-l-medium mt-3" i18n>
      The ideal solution for businesses of all sizes looking
      <br class="d-none d-md-block" />
      to improve their operations and stimulate their growth.
    </span>
  </div>
  <div class="col-10 col-sm-7 col-md-4">
    <div class="col-lg-10 ms-auto">
      <img
        class="image"
        src="/images/logo/magis-erp.png"
        alt="Magis ERP Logo" />
    </div>
  </div>
</section>
