.trusted-logo {
  width: 100px;
  height: 100px;
}
.organization-logo {
  width: 126px;
  height: 79px;
}
.invitation-container {
  max-height: 365px;
  .organization-logo {
    width: 59px;
    height: 32px;
  }
}
