<main class="h-100">
  <!------------------- HEAD Section ------------------>

  <div
    class="bg-white d-flex justify-content-between px-2 flex-column flex-lg-row border-bottom me-1">
    <span class="text-primary fw-bold fs-xx-large pt-4 ps-4" i18n
      >Magis Dashboard</span
    >
    <div class="rounded-2 d-flex flex-wrap p-3 gap-5 pe-5 me-3 mt-1">
      <div class="d-flex flex-column gap-3 ps-2">
        <div class="d-flex flex-column">
          <span class="fs-bold text-primary" i18n>User</span>

          @if (!session) {
            <div>
              <i class="fa-solid fa-spinner fa-pulse"></i>
            </div>
          } @else {
            <span>{{ session.user.username }}</span>
          }
        </div>
        <div class="d-flex flex-column">
          <span class="fs-bold text-primary" i18n>Session Time</span>
          <div>
            <i class="fa-solid fa-hourglass-end me-2"></i>
            @if (!session) {
              <span>
                <i class="fa-solid fa-spinner fa-pulse"></i>
              </span>
            } @else {
              <!-- <span>{{ session.session_duration | date: 'mediumTime' }}</span> -->
              <span>--:--:--</span>
            }
          </div>
        </div>
      </div>

      <div class="d-flex flex-column pe-5 ps-3">
        <span class="fs-bold text-primary" i18n>Shared Ip Adress</span>
        @if (!session) {
          <div>
            <i class="fa-solid fa-spinner fa-pulse"></i>
          </div>
        } @else {
          <span>{{ session.ip_address.ip_address }}</span>
        }
      </div>
    </div>
  </div>
  <div class="bg-secondary p-4 me-1"></div>

  <!-- ------------------- BODY Section ---------------- -->

  <div class="h-100 ps-5 pt-4 pe-3 bg-erp me-1">
    <div
      class="d-flex gap-3 flex-wrap scroll flex-row mt-3 justify-content-between">
      <!----------------------Cards section------------------------->
      <div
        class="p-2 rounded-2 bg-white d-flex flex-column border ps-4 py-3 shadow-sm card">
        <span class="fw-bold fs-medium text-dark" i18n>Capital</span>
        <span class="fs-1 text-primary fw-bold text-nowrap"
          >BIF45,678,475,987.90</span
        >
        <span>
          <i class="fa-solid fa-arrow-up fs-4 text-success"></i>
        </span>
      </div>

      <div
        class="p-2 rounded-2 bg-white d-flex flex-column border ps-4 py-3 card shadow-sm justify-content-between">
        <span class="fw-bold fs-medium text-dark" i18n>Clients</span>

        @if (!statistics) {
          <div class="text-dark" role="status">
            <i class="fa-solid fs-x-large fa-spinner fa-pulse"></i>
          </div>
          <div></div>
        } @else {
          <span class="fs-1 text-primary fw-bold">{{
            statistics.response_data.clients_created
          }}</span>
          <span>
            <i class="fa-solid fa-arrow-up fs-4 text-success"></i>
          </span>
        }
      </div>

      <div
        class="p-2 rounded-2 bg-white d-flex flex-column border ps-4 py-3 card shadow-sm justify-content-between">
        <span class="fw-bold fs-medium text-dark" i18n>Agents</span>

        @if (!statistics) {
          <div class="text-dark" role="status">
            <i class="fa-solid fa-spinner fa-pulse fs-x-large"></i>
          </div>
          <div></div>
        } @else {
          <span class="fs-1 text-primary fw-bold">{{
            statistics.response_data.agents_number
          }}</span>
          <span>
            <i class="fa-solid fa-arrow-down fs-4 text-warning"></i>
          </span>
        }
      </div>

      <div
        class="p-2 rounded-2 bg-white d-flex flex-column border ps-4 py-3 card shadow-sm justify-content-between">
        <span class="fw-bold fs-medium text-dark" i18n>Merchants</span>
        @if (!statistics) {
          <div class="text-dark" role="status">
            <i class="fa-solid fa-spinner fa-pulse fs-x-large"></i>
          </div>
          <div></div>
        } @else {
          <span class="fs-1 text-primary fw-bold">{{
            statistics.response_data.merchants_number
          }}</span>
          <span>
            <i class="fa-solid fa-arrow-up fs-4 text-success"></i>
          </span>
        }
      </div>
    </div>

    <div class="h-25 mt-4">
      <div class="row h-100">
        <!---------------------- Graph Cards ----------------------->

        <div class="col-8 d-flex gap-2 flex-column">
          <div></div>
          <div></div>
        </div>

        <!---------------------- Alerte section ----------------------->

        <div class="col-4">
          <div
            class="py-2 bg-primary-2 border border-primary mx-2 rounded-2 text-center">
            <span class="text-white fw-bold" i18n>Alerte</span>
          </div>

          <!-- alarms -->

          <div>
            <div class="d-flex flex-wrap gap-2 justify-content-around mt-4">
              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center rounded-circle position-relative">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fw-bold fs-x-small">5</span>
                  </span>
                </div>

                <span>Title</span>
              </div>

              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center rounded-circle position-relative">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fs-x-small fw-bold">5</span>
                  </span>
                </div>

                <span>D.A.T</span>
              </div>

              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center position-relative rounded-circle">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fw-bold fs-x-small">5</span>
                  </span>
                </div>
                <span>Credit</span>
              </div>
            </div>

            <div class="d-flex flex-wrap gap-2 justify-content-around mt-3">
              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center rounded-circle position-relative">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fw-bold fs-x-small">5</span>
                  </span>
                </div>

                <span>Title</span>
              </div>

              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center rounded-circle position-relative">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fw-bold fs-x-small">5</span>
                  </span>
                </div>

                <span>Title</span>
              </div>

              <div class="text-center">
                <div
                  class="alerte bg-primary d-flex align-items-center justify-content-center rounded-circle position-relative">
                  <i class="fa-regular fs-large text-white fa-bell"></i>
                  <span
                    class="position-absolute top-1 start-100 translate-middle px-2 bg-info rounded-circle">
                    <span class="text-white fw-bold fs-x-small">5</span>
                  </span>
                </div>

                <span>Title</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
