<div class="container">
    <div class="row">
        <div class="col ">
            <span class="fs-xx-large fw-bold">Manage your finances wherever
                you are with <span class="text-primary">iHela Ryanje </span>
            </span>
            <div class="col mt-4 ">
                <span class="fs-l-medium">One single Platform for digital financial services and
                    new means of payments</span>
            </div>

            <div class="col">
                <span>
                    <button class="btn bg-primary text-white mt-4 lg-radius">Create an account</button>
                </span>
            </div>
            
        </div>
        <div class="col d-flex justify-content-end">
            <span>   <img src="../images/Group 26822.svg" width="350" alt=""></span>
        </div>
    </div>
</div>

<div class="col bg-secondary mt-4">
   <div class="container p-4">
     <span class="d-flex justify-content-center text-center fs-xl-large fw-bold">Empower your financial growth with iHela Ryanje.</span>
     <span class="d-flex justify-content-center text-center fs-normal mb-5">Discover the key advantages that make us your trusted banking partner.</span>
    <div class="row mt-4 text-center" >
        <div class="col">
            <div>
                <img src="../images/multi-plateforme.png" width="110" alt="">
            </div>
            <span>Multi-platform <br>
                access</span>
        </div>
        <div class="col">
            <div>
                <img src="../images/multi-clock.png" width="110" alt="">
            </div>
            <span>24/7 To access <br>
                to your account</span>
        </div>
        <div class="col">
            <div>
                <img src="../images/Group 26806.svg" width="110" alt="">
            </div><span>Access to your <br>
            account anywhere</span></div>
        <div class="col">
            <div>
                <img src="../images/multi-secure.png" width="110" alt="">
            </div>
            <span>Cutting-edge technology <br>
            to protect your accounts.</span></div>

    </div>
    </div>
</div> 

<div class="container pt-4">
    <div class="row container">
        <div class="col">
           <div> <span class="fs-xx-large fw-bold">Our Services</span></div>
           <div>
           <div> <span class="fs-xl-large"> Transfers</span></div>
            <span class="fs-normal">Money transfers made easy; Make account-to-account or bank-to-bank transfers</span>
           </div>
           <div>
            <div> <span class="fs-xl-large">Withdrawal</span></div>
             <span class="fs-normal">Save time, avoid queues, withdraw money from your phone at the cash point.</span>
            </div>

           <div>
            <div> <span class="fs-xl-large">Account flows</span></div>
             <span class="fs-normal">Check your balance and track transaction on your account via your phone,computer,tablet,etc</span>
           </div>
           <div>
            <div> <span class="fs-xl-large"> Payment</span></div>
             <span class="fs-normal">Our payment solutions work for your business Pay and be paid via your application</span>
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <span><img src="../images/Group 26800.svg" width="300" alt=""></span>
        </div>
    </div>
</div>

<div class="col bg-primary">
    <div class="container p-3">
        <div class="row text-white" >
            <div class="col">
                <div>
                    <span class="fs-xl-large">Start your first transaction <br>
                        by following these simple steps</span>
                </div>
                <div class="row mt-4">
                    <div class="col-md-2">
                        <span><img src="../images/identification-card 1ACCEUIL__3.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span class="fs-l-medium">Verify your identity</span><br>
                        <span class="fs-normal">Complete the identity verification process to secure your account</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <span><img src="../images/earnings 4ACCEUIL__4.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span class="fs-l-medium">Fund your account</span><br>
                        <span class="fs-normal">Add funds to your account to start exchanging <br> money. You can add funds using a variety of <br> payment methods. </span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <span><img src="../images/online-shopping (2) 1ACCEUIL__5.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span class="fs-l-medium">Pay merchant</span><br>
                        <span class="fs-normal">Shop and pay wherever you are</span>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <span><img src="../images/65968 1ACCEUIL__7.png" width="305" alt=""></span>
            </div>
        </div>
    </div>

</div>