
<div class="font-montserrat">
<div class="container pt-5">
    <div class="row pt-5">
        <div class="col">
            <span i18n class="fs-xx-large fw-bold">Manage your finances wherever
                you are with <span class="text-primary">iHela Ryanje </span>
            </span>
            <div class="col mt-4 ">
                <span i18n class="fs-l-medium">One single Platform for digital financial services and
                    new means of payments</span>
            </div>

            <div class="col">
                <span i18n>
                    <button class="btn bg-primary text-white mt-4 lg-radius">Create an account</button>
                </span>
            </div>
            
        </div>
        <div class="col d-flex justify-content-end">
            <span i18n>   <img src="../images/Group 26822.svg" width="350" alt=""></span>
        </div>
    </div>
</div>

<div class="col bg-secondary mt-4">
   <div class="container py-4">
     <span i18n class="d-flex justify-content-center text-center fs-xl-large fw-bold">Empower your financial growth with iHela Ryanje.</span>
     <span i18n class="d-flex justify-content-center text-center fs-normal mb-5">Discover the key advantages that make us your trusted banking partner.</span>
    <div class="row mt-4 text-center" >
        <div class="col">
            <div class="mb-4">
                <img  src="../images/multi-plateforme.png" width="110" alt="">
            </div>
            <span i18n>Multi-platform <br>
                access</span>
        </div>
        <div class="col">
            <div class="mb-4">
                <img  src="../images/multi-clock.png" width="110" alt="">
            </div>
            <span i18n>24/7 To access <br>
                to your account</span>
        </div>
        <div class="col">
            <div class="mb-4">
                <img i18n src="../images/Group 26806.svg" width="110" alt="">
            </div><span i18n>Access to your <br>
            account anywhere</span></div>
        <div class="col">
            <div class="mb-4">
                <img src="../images/multi-secure.png" width="110" alt="">
            </div>
            <span i18n>Cutting-edge technology <br>
            to protect your accounts.</span></div>

    </div>
    </div>
</div> 

<div class="container py-4">
    <div class="row ">
        <div class="col">
           <div> <span i18n class="fs-xx-large fw-bold">Our Services</span></div>
           <div>
           <div> <span i18n class="fs-xl-large"> Transfers</span></div>
            <span i18n class="fs-normal">Money transfers made easy; Make account-to-account or bank-to-bank transfers</span>
           </div>
           <div>
            <div> <span i18n class="fs-xl-large">Withdrawal</span></div>
             <span i18n class="fs-normal">Save time, avoid queues, withdraw money from your phone at the cash point.</span>
            </div>

           <div>
            <div> <span i18n  i18nclass="fs-xl-large">Account flows</span></div>
             <span i18n class="fs-normal">Check your balance and track transaction on your account via your phone,computer,tablet,etc</span>
           </div>
           <div>
            <div> <span i18n class="fs-xl-large"> Payment</span></div>
             <span i18n class="fs-normal">Our payment solutions work for your business Pay and be paid via your application</span>
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <span i18n><img src="../images/Group 26800.svg" width="300" alt=""></span>
        </div>
    </div>
</div>

<div class="col bg-primary">
    <div class="container py-4">
        <div class="row text-white" >
            <div class="col">
                <div>
                    <span i18n class="fs-xl-large">Start your first transaction <br>
                        by following these simple steps</span>
                </div>
                <div class="row mt-4">
                    <div class="col-md-2">
                        <span i18n><img src="../images/identification-card 1ACCEUIL__3.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span i18n class="fs-l-medium">Verify your identity</span><br>
                        <span i18n class="fs-normal">Complete the identity verification process to secure your account</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <span i18n><img src="../images/earnings 4ACCEUIL__4.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span i18n class="fs-l-medium">Fund your account</span><br>
                        <span i18n class="fs-normal">Add funds to your account to start exchanging <br> money. You can add funds using a variety of <br> payment methods. </span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <span i18n><img src="../images/online-shopping (2) 1ACCEUIL__5.png" width="60" alt=""></span>
                    </div>
                    <div class="col">
                        <span i18n class="fs-l-medium">Pay merchant</span><br>
                        <span i18n class="fs-normal">Shop and pay wherever you are</span>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <span i18n><img src="../images/65968 1ACCEUIL__7.png" width="305" alt=""></span>
            </div>
        </div>
    </div>
</div>

<div class="p-4">
    <div class="d-flex justify-content-center mb-4">
        <span i18n >Create an account and discover more options <br>
        to facilitate your payments and other transactions</span>
    </div>
    <div class="d-flex justify-content-center">
        <button i18n class="btn bg-primary text-white">Create an account</button>
    </div>
</div>

<div class="bg-secondary">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 mb-2">
                <div class="d-flex justify-content-center"><span i18n><img src="../images/privacy 1PRIVACY__.png" width="50" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>Privacy. <br>That’s iHela Ryanje.</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n>Manage your money securely <br> wherever you are. Access<br>your money along the way.</span></div>
                <div class="d-flex justify-content-center pt-3"><span i18n class="bg-primary w-25 rounded mt-4"></span></div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="d-flex justify-content-center"><span i18n><img src="../images/save-time 1SAVE_TIME.png" width="50" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>Way to save <br> time.</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n>Stress less about your <br>money. it’s easier than you <br>think to access your account <br>wherever you are.</span></div>
                <div class="d-flex justify-content-center"><span i18n class="bg-primary w-25 rounded mt-3"></span></div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center"><span i18n><img src="../images/accessability (1) 1ACCESSIBILITY.png" width="50" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>iHela Ryanje <br>for all..</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n>We build what builds your <br> business. The money is in<br>your wallet.<br>Pay at your own pace.</span></div>
                <div class="d-flex justify-content-center"><span i18n class="bg-primary w-25 rounded mt-3"></span></div>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="col fs-xx-large fw-bold d-flex justify-content-center mb-4 mt-4"><span i18n>Access iHela ryanje on any device</span></div>
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 mb-4">
                <div class="d-flex justify-content-center mb-3"><span i18n><img src="../images/mobileMOBILE__.png" width="112" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>Mobile</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n> Dowload the ihela ryanje <br> mobile application today <br> and start making unlimited <br> transactions. <br>Our application is available <br> on play store and apps <br> store</span></div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex justify-content-center mb-2"><span i18n><img src="../images/Group 10ORDIIII__1.png" width="150" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>Desktop</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n>We always give you more. <br> The web application is <br> available to extend your <br> field of work. supportable <br> by all operating systems <br> and browsers</span></div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center mb-2"><span i18n><img src="../images/Group 11PHONE___.png" width="75" alt=""></span></div>
                <div class="d-flex justify-content-center text-center fs-l-medium fw-bold"><span i18n>USSD</span></div>
                <div class="d-flex justify-content-center text-center fs-normal mt-2"><span i18n>We always give you more.<br> The web application is <br> available to extend your <br> field of work. supportable <br> by all operating systems <br> and browsers such as:</span></div>
            </div>
        </div>
    </div>
</div>

<div class="col bg-secondary fs-small ">
    <div class="container">
        <div class="row py-4">
            <div class="col"><span i18n> <img src="../images/ihela3.png" width="100" alt=""></span></div>
            <div class="col-md-3">
                <div class="fw-bold w-50"><span i18n>Informations <hr></span></div>
                <div class="">
                    <span i18n>About</span>
                </div>
                <div class="">
                    <span i18n>Tarif</span>
                </div>
                <div class="">
                    <span i18n>Privacy</span>
                </div>
                <div>
                    <span i18n>Tems & Conditions</span>
                </div>
                <div class="mt-3">
                    <span i18n class="fw-bold">Contacts</span>
                    <hr>
                    <span i18n>+25776434444 / +25722281534</span><br>
                    <span i18n>info ihela.online</span>
                </div>
            </div>
            <div class="col-md-3">
            <span i18n class="fw-bold">Headquarter <hr></span>
            <div ><span i18n class="fw-bold">Immeuble iHelá Credit Union</span> <br>
            <span i18n>Boulevard Melchior Ndadaye, N° 76</span></div>
            
            </div>
            <div class="col">
                <span class="fw-bold"><span i18n>Counters</span> <hr> </span>
                <div class="mb-2"><span class="fw-bold" i18n>Village Market</span> <br>
                <span i18n>Av. de la Science, 7</span></div> 

               <div class="mb-2">
                <span i18n class="fw-bold">Hôtel de Ville</span> <br>
                <span i18n>Av. de l’Université, N°1</span></div>
                <div>
                    <span i18n class="fw-bold">Buyenzi</span> <br>
                    <span i18n>Blvd de la Tanzanie,  N°55</span>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <span i18n>
                    <select class="bg-white border-dark border-1 rounded" name="" id="">
                        <option value="">EN</option>
                        <option value="">FR</option>
                        </select>
                </span>
            </div>
        </div>

 
