<div class="container">
    <div class="row">
        <div class="col ">
            <span class="fs-xx-large">Manage your finances wherever you 
                are with <code>iheka Ryanje</code>
            </span>
            <div class="col mt-4 ">
                <span>One single Platform for digital financial services and
                    new means of payments</span>
            </div>

            <div class="col">
                <span>
                    <button class="btn bg-primary text-white mt-4">Create an account</button>
                </span>
            </div>
            
        </div>
        <div class="col">
            <span><img src="" alt=""> img</span>
        </div>
    </div>
</div>
<div class="col bg-secondary mt-4">
   <div class="container p-4">
     <span class="d-flex justify-content-center text-center">Empower your financial growth with iHela Ryanje.</span>
     <span class="d-flex justify-content-center text-center">Discover the key advantages that make us your trusted banking partner.</span>
    <div class="row mt-4 text-center" >
        <div class="col">
            <span>Multi-platform
                access</span>
        </div>
        <div class="col">
            <span>24/7 To access
                to your account</span>
        </div>
        <div class="col"><span>Access to your
            account anywhere</span></div>
        <div class="col"><span>Cutting-edge technology
            to protect your accounts.</span></div>

    </div>
    </div>
    
</div>
<div class="container pt-4">
    <div class="row container">
        <div class="col">
           <div> <span>Our Services</span></div>
           <div>
            <span> Transfers</span>
            <span>Money transfers made easy; Make account-to-account or bank-to-bank transfers</span>
           </div>
        </div>
        <div class="col">
            image
        </div>
    </div>
</div>