@if (closing) {
  <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
    <form
      [formGroup]="searchForm"
      class="input-group input-group-sm"
      (ngSubmit)="getClientInfo()">
      <span class="input-group-text" id="searchInput">
        @if (!dataCheck) {
          <button class="text-dark btn bg-transparent" type="submit">
            <i class="fa-solid fa-search fs-7"></i>
          </button>
        } @else if (dataCheck) {
          <span class="btn bg-transparent text-dark"
            ><i class="fas fa-spinner fa-pulse"></i
          ></span>
        }
      </span>
      <input
        class="form-control text-dark field"
        type="text"
        placeholder="{{ placeholder }}"
        aria-describedby="searchInput"
        formControlName="clientId" />
    </form>
  </div>
}
@if (clientId && !closing) {
  <div
    class="row gx-2"
    [ngClass]="{
      'd-flex justify-content-center': menuSelected === 'merchant_code',
    }">
    <div
      class="{{
        cardBackground
      }} z-0 col-12 col-lg-5 col-md-8 col-sm-11 col-xl-4 col-xxl-3 lg-radius text-dark bg-erp position-relative border clientInfo-card">
      <span
        class="z-1 position-absolute start-0 top-0 rounded-top w-100 bg-secondary small-card"></span>
      <span
        type="button"
        (click)="closeInformation()"
        tabindex="0"
        class="z-3 position-absolute end-0 mt-1 me-1 text-secondary"
        ><i class="fa-solid fa-circle-xmark fa-xl text-primary-2"></i
      ></span>
      <div class="z-2 col-11 mx-auto py-3 position-relative">
        <span i18n class="d-flex justify-content-center">
          @if (menuSelected !== 'merchant_code') {
            <strong>Client Info</strong>
          }
          @if (menuSelected === 'merchant_code') {
            <strong>Merchant Info</strong>
          }
        </span>
        <div class="d-flex justify-content-center">
          @if (clientId.acc_picture) {
            <div class="profilImg lg-radius">
              @if (clientId.acc_picture) {
                <img
                  [src]="clientId.acc_picture"
                  class="img-fluid float-end image rounded-circle border"
                  alt="clientImg" />
              }
            </div>
          } @else if (!clientId.acc_picture) {
            <span
              class="bg-secondary sm-radius d-flex justify-content-center align-items-center profilImg rounded-circle border">
              <i class="fa-solid fa-user fa-4x text-all-white"></i>
            </span>
          }
        </div>
        <div class="">
          <span class="d-flex justify-content-center flex-wrap mt-1"
            ><strong class="text-center">{{
              clientId.acc_holder
            }}</strong></span
          >
          <span class="d-flex justify-content-center mt-1"
            ><strong class="text-center text-break">{{
              clientId.acc_number
            }}</strong></span
          >
          <span class="d-flex justify-content-center flex-wrap mt-1"
            ><strong class="text-center">{{
              clientId.acc_account_type
            }}</strong></span
          >
          <span
            class="d-flex justify-content-center mt-1"
            i18n
            class="text-{{ clientId.acc_status.status_css }}"
            ><span
              ><i class="fa-solid fa-{{ clientId.acc_status.status_icon }}"></i
            ></span>
            @if (clientId.acc_status.reason !== '') {
              <strong class="ms-1"> {{ clientId.acc_status.reason }}</strong>
            } @else if (clientId.acc_status.reason === '') {
              <strong class="ms-1">
                {{ clientId.acc_status.reason_explained }}</strong
              >
            }
          </span>
          @if (signatureDisplay) {
            <span
              i18n
              (click)="showSignatures()"
              role="button"
              tabindex="0"
              class="text-primary d-flex justify-content-center text-decoration-underline mt-1"
              ><strong><a>Show Signatures</a></strong></span
            >
          }
          @if (!signatureDisplay) {
            <span
              i18n
              (click)="hideSignatures()"
              role="button"
              tabindex="0"
              class="text-primary d-flex justify-content-center text-decoration-underline mt-1">
              <strong>Hide Signature</strong></span
            >
          }
        </div>
        @if (!signatureDisplay) {
          <div class="row mt-3">
            <!-- Signature picture -->
            @if (signatureloader) {
              <span class="mb-3">
                <app-skeleton
                  class="sm-radius gap-3"
                  height="85px"
                  width="100px"></app-skeleton>
              </span>
            }
            @if (signature && signature.signature) {
              <span class="signatureSize px-3 mb-3">
                <img
                  [src]="signature.signature"
                  class="img-fluid image sm-radius"
                  alt="signature1" />
              </span>
            }
            @if (signature && signature.signature) {
              <br />
            }
            @if (signature && signature.signature2) {
              <span class="signatureSize px-3 mb-3">
                <img
                  [src]="signature.signature2"
                  class="img-fluid image sm-radius"
                  alt="signature2" />
              </span>
            }

            @if (signatureloader) {
              <span class="mb-3">
                <app-skeleton
                  class="sm-radius gap-2"
                  height="85px"
                  width="100px"></app-skeleton>
              </span>
            }
            @if (
              (!signatureloader && !signature) ||
              (signature && !signature.signature && !signature.signature2)
            ) {
              <span>
                <span class="d-flex justify-content-center text-secondary">
                  <i class="fa-solid fa-face-meh fa-3x"></i>
                </span>
                <br />
                <b
                  class="text-md d-flex justify-content-center text-secondary"
                  i18n>
                  No Signature to display
                </b>
              </span>
            }
          </div>
        }
      </div>
    </div>
  </div>
}
