.text-magis-primary {
  color: #172b4d;
}
.text-erp-primary {
  color: #2070b8;
}
.custom-img {
  max-width: 30px; 
  max-height: 30px;
}

.gridHeight {
  height: 90px;
}

.back-btn {
  top: 0;
  left: 10px;
  max-width: fit-content;
}
