.text-magis-primary {
  color: #172b4d;
}
.text-erp-primary {
  color: #2070b8;
}
.custom-img {
  max-width: 30px; /* Vous pouvez ajuster cette valeur selon vos besoins */
  max-height: 30px;
}

.gridHeight {
  height: 90px;
}
