.text-magis-primary {
  color: #172b4d;
}
.text-erp-primary {
  color: #2070b8;
}
.custom-img {
  width: 44px;
  height: 44px;
}

.gridHeight {
  height: 90px;
}

.bank-logo {
  width: 62px;
  height: 25px;
}

.back-btn {
  top: 0;
  left: 10px;
  max-width: fit-content;
}
