<aside class="p-3 ps-md-0 ps-xl-3">
  <!-- home menus -->
  @if (mainConfig && mainConfig.activePlateform === 'newsFeed') {
    <section class="mt-2">
      <div
        class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
        routerLink="/m"
        routerLinkActive="text-dark">
        <div>
          <span
            class="bg-secondary text-magis-primary me-3 rounded-pill py-3 px-3">
            <i class="fa-solid fa-house house-color"></i>
          </span>
        </div>
        <span class="fw-bold text-secondary" i18n>Publications</span>
      </div>

      <div
        class="mt-4 clickable bg-hover-secondary p-3 sm-radius d-flex align-items-center justify-content-between">
        <div
          class="d-flex align-items-center"
          routerLink="/m"
          routerLinkActive="text-dark">
          <div>
            <span class="bg-secondary text-warning me-3 rounded-pill py-3 px-3"
              ><i class="fa-regular fa-comments chat-color"></i
            ></span>
          </div>
          <span class="fw-bold text-secondary" i18n>Chats</span>
        </div>
        <div>
          <div
            class="bg-secondary px-2 d-flex justify-content-center sm-radius text-blue">
            0
          </div>
        </div>
      </div>

      <div
        class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
        routerLink="/m"
        routerLinkActive="text-dark">
        <div>
          <span class="bg-secondary me-3 rounded-pill py-3 px-3"
            ><i class="fa-solid fa-cart-shopping text-success"></i
          ></span>
        </div>
        <span class="fw-bold text-secondary" i18n>Market</span>
      </div>
    </section>
  }
  <!-- onlineBanking menus -->

  @if (mainConfig && mainConfig.activePlateform === 'onlineBanking') {
    <section class="mt-2">
      <div
        class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
        routerLink="/m"
        routerLinkActive="text-dark">
        <div>
          <span
            class="bg-secondary me-3 text-magis-primary rounded-pill py-3 px-3"
            ><i class="fa-solid fa-house house-color"></i
          ></span>
        </div>
        <span class="fw-bold text-secondary" i18n>Home</span>
      </div>

      <div
        class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
        routerLink="/m"
        routerLinkActive="text-dark">
        <div>
          <span class="bg-secondary me-3 rounded-pill py-3 px-3">
            <i class="fa-solid fa-calculator text-primary"></i>
          </span>
        </div>
        <span class="fw-bold text-secondary" i18n>Tarif</span>
      </div>
    </section>
  }
  <!--market-->
  @if (mainConfig && mainConfig.activePlateform === 'marketPlace') {
    <div>
      <section class="mt-2">
        <div
          class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
          routerLink="/m"
          routerLinkActive="text-dark">
          <div>
            <span
              class="bg-secondary me-3 text-magis-primary rounded-pill py-3 px-3"
              ><i class="fa-solid fa-house"></i
            ></span>
          </div>
          <span class="fw-bold text-secondary fs-normal font-calibri" i18n
            >Dashboard</span
          >
        </div>

        <div
          class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
          routerLink="/m"
          routerLinkActive="text-dark">
          <div>
            <span class="bg-secondary me-3 rounded-pill py-3 px-3">
              <i class="fa-solid fa-credit-card text-all-goldenrod"></i>
            </span>
          </div>
          <span class="fw-bold text-secondary fs-normal font-calibri" i18n
            >Purchase Statement</span
          >
        </div>

        <div
          class="mt-4 clickable bg-hover-secondary p-3 sm-radius d-flex align-items-center justify-content-between">
          <div
            class="d-flex align-items-center"
            routerLink="/m"
            routerLinkActive="text-dark">
            <div>
              <span class="bg-secondary me-3 rounded-pill py-3 px-3">
                <i class="fa-solid fa-chalkboard-user text-primary"></i>
              </span>
            </div>
            <span class="fw-bold text-secondary" i18n>Slats</span>
          </div>
          <div>
            <div
              class="bg-secondary px-2 d-flex justify-content-center sm-radius text-primary fw-bold">
              0
            </div>
          </div>
        </div>

        <div
          class="mt-4 clickable bg-hover-secondary p-3 sm-radius d-flex align-items-center justify-content-between">
          <div
            class="d-flex align-items-center"
            routerLink="/m"
            routerLinkActive="text-dark">
            <div>
              <span class="bg-secondary me-3 rounded-pill py-3 px-3">
                <i class="fa-solid fa-file-invoice-dollar text-all-blue"></i>
              </span>
            </div>
            <span class="fw-bold text-secondary" i18n> Bills Reports </span>
          </div>
          <div>
            <div
              class="bg-secondary px-2 d-flex justify-content-center sm-radius text-all-blue fw-bold">
              0
            </div>
          </div>
        </div>

        <div
          class="mt-4 d-flex align-items-center clickable bg-hover-secondary p-3 sm-radius"
          routerLink="/m"
          routerLinkActive="text-dark">
          <div>
            <span class="bg-secondary me-3 rounded-pill py-3 px-3">
              <i class="fa-solid fa-receipt text-all-blue-sky"></i>
            </span>
          </div>
          <span class="fw-bold text-secondary" i18n>Payment Reports</span>
        </div>

        <div
          class="mt-4 d-flex align-items-center clickable border p-2 px-3 rounded bg-hover-secondary p-3 sm-radius"
          routerLink="/m"
          routerLinkActive="text-dark">
          <span class="me-3">
            <i class="fa-solid fa-store fs-2 text-primary"></i>
          </span>
          <span class="fw-bold text-secondary" i18n>My Market</span>
        </div>
      </section>
    </div>
  }
</aside>
