<div
  class="lg-radius shadow bg-white d-flex flex-column col-md-10 mx-auto max-width-600 m-0 p-0"
  style="height: max-content">
  <div class="header d-flex align-items-center mx-4 my-2">
    <div
      class="profil rounded-circle bg-primary d-flex align-items-center justify-content-center">
      <!-- <i class="fa-solid fa-user fs-2 text-all-white"></i> -->
      <img
        src="./images/profilePicture001.jpg"
        class="w-100 h-100 rounded-circle"
        alt="" />
      <div class="online rounded-circle position-absolute"></div>
    </div>
    <div
      class="d-flex flex-column overflow-hidden gap-0 ps-2"
      style="max-height: 60px">
      <p class="m-0 p-0"><b>John Doe</b></p>
      <p class="m-0 p-0">
        00H <b>Public </b><i class="fa-solid fa-earth-africa"></i>
      </p>
    </div>
  </div>
  <div class="w-100 px-3 overflow-hidden">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et odit ratione
      praesentium debitis blanditiis deserunt fugiat commodi nemo veritatis
      molestiae!
    </p>
  </div>
  <div
    class="d-flex bg-white flex-column justify-content-center postImage align-items-center p-2 px-3 mb-3 sm-radius overflow-hidden w-100 align-items-center">
    <img src="./images/post001.jpg" class="image w-100" alt="" />
  </div>
  <div
    class="rounded-3 border mx-3 mb-3 px-2 py-1 d-flex flex-row overflow-hidden">
    <div class="d-flex flex-row align-items-center border-end pe-2">
      <i class="fa-solid fa-thumbs-up"></i>
      <span>33</span>
      <i class="fa-regular fa-thumbs-down ms-2"></i>
      <span>5</span>
    </div>
    <div class="d-flex flex-row align-items-center border-end px-2">
      <div class="comment d-flex flex-row align-items-center">
        <i class="fa-regular fa-comment"></i>
        <div
          class="comments rounded-circle d-flex align-items-center justify-content-center position-absolute comment-dot">
          23
        </div>
      </div>
    </div>
    <div class="flex-grow-1 d-flex">
      <input
        type="text"
        class="border-0 mx-2 bg-transparent flex-grow-1"
        placeholder="Write your comment..." />
    </div>
    <div class="d-flex flex-row align-items-center ms-auto">
      <i class="fa-regular fa-face-smile pe-1"></i>
      <i class="fa-solid fa-camera pe-1"></i>
      <i class="fa-solid fa-share"></i>
    </div>
  </div>
</div>
