<div class="container w-100">
  <h3>Transfer</h3>

  <div>
    <app-debit-account
      [selectedInstitution]="selectedInstitution"
      [selectedInstitutionType]="selectedInstitutionType"
      [isTransactionDone]="isTransferDone"
      [creditAccountType]="selectedCreditAccountType"
      (debitOptions)="getDebitOptions($event)"
      (selectedAccount)="getSelectedAccount($event)"
      (selectedWallet)="getSelectedAccount($event)"
      [selectedDebitAccountType]="selectedDebitType"
      [selectedBank]="bankId"></app-debit-account>
  </div>
  @if (accountSelected) {
    <div class="mt-3">
      <app-credit-account
        (selectedInstitution)="setSelectedInstitution($event)"
        (selectedInstitutionType)="setSelectedInstitutionType($event)"
        (selectedCreditAccountType)="setSelectedCreditAccountType($event)"
        (isTransferDone)="getTransferResponse($event)"
        [bankId]="bankId"
        [selectedDebitAccountType]="selectedDebitType"
        [debitNumber]="debitNumber"
        [debitHolder]="debitHolder"
        [walletBankId]="walletBankId"></app-credit-account>
    </div>
  }
</div>
