<section class="unavailable-contaier">
  <div class="icon-container">
    <span class="text-center text-primary fs-xx-large"
      ><i class="fa fa-gears"></i
    ></span>
  </div>
  <div class="unavailable-message text-dark text-center">
    <span class="large-text" i18n>This page is unavailable at this</span><br />
    <span class="large-text" i18n>moment.</span>
  </div>

  <div class="error-message text-dark text-center">
    <span i18n>This may occur due to a technical error that we</span><br />
    <span i18n>are currently resolving.</span><br />
    <!-- <button
      *ngIf="action === 'Close'"
      class="btn bg-primary mt-5 text-white"
      (click)="closePage()">
      {{ action }}
    </button> -->
  </div>
</section>
