<section class="">
  <div class="ms-3 mt-5 fw-bold fs-x-large text-primary-2">
    <span>Settings</span>
  </div>

  <div class="mb-3 ms-3 mt-5">
    <div
      class="p-2 rounded-top"
      [ngClass]="{
        'bg-secondary': isGeneralSubMensShown,
      }">
      <div
        (click)="
          isGeneralSubMensShown = !isGeneralSubMensShown;
          isSecurityMenusShown = false;
          isSessionMenusShown = false;
          selectSubMenu('general', 'account')
        "
        tabindex="0"
        role="button"
        class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-gear text-secondary"> </i>
          <b class="fw-bold text-dark fs-medium ms-3">General </b>
        </div>
        <div class="text-dark">
          @if (!isGeneralSubMensShown) {
            <span>
              <i class="fa fa-chevron-right"></i>
            </span>
          }
          @if (isGeneralSubMensShown) {
            <span>
              <i class="fa fa-chevron-down"></i>
            </span>
          }
        </div>
      </div>
      @if (isGeneralSubMensShown) {
        <div>
          <div class="d-grid ms-5">
            <span
              class="mb-1 colors fw-bold fs-normal text-secondary"
              role="button"
              (click)="selectSubMenu('general', 'account')"
              tabindex="0"
              [ngClass]="{
                'text-dark': selectedSubMenu === 'account',
                'text-secondary': selectedSubMenu !== 'account',
              }"
              >Account</span
            >

            <span
              class="mb-1 colors fw-bold fs-normal text-secondary"
              role="button"
              (click)="selectSubMenu('general', 'customization')"
              tabindex="0"
              [ngClass]="{
                'text-dark': selectedSubMenu === 'customization',
                'text-secondary': selectedSubMenu !== 'customization',
              }">
              Customization</span
            >
          </div>
        </div>
      }
    </div>
  </div>
  <div class="mb-3 ms-3 mt-2">
    <div
      class="p-2 rounded-top"
      [ngClass]="{
        'bg-secondary': isSecurityMenusShown,
      }">
      <div
        (click)="
          isSecurityMenusShown = !isSecurityMenusShown;
          isGeneralSubMensShown = false;
          isSessionMenusShown = false;
          selectSubMenu('security', 'pin')
        "
        tabindex="0"
        role="button"
        class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-shield-halved text-secondary"> </i>
          <b class="fw-bold text-dark text-md ms-3" i18n>Security</b>
        </div>
        <div class="text-dark">
          @if (!isSecurityMenusShown) {
            <span>
              <i class="fa fa-chevron-right"></i>
            </span>
          }
          @if (isSecurityMenusShown) {
            <span>
              <i class="fa fa-chevron-down"></i>
            </span>
          }
        </div>
      </div>
      @if (isSecurityMenusShown) {
        <div>
          <div class="d-grid ms-5">
            <span
              class="mb-1 colors fw-bold fs-normal"
              role="button"
              (click)="selectSubMenu('security', 'pin')"
              tabindex="0"
              [ngClass]="{
                'text-dark': selectedSubMenu === 'pin',
                'text-secondary': selectedSubMenu !== 'pin',
              }"
              >Pin</span
            >

            <span
              class="mb-1 colors fw-bold fs-normal"
              role="button"
              (click)="selectSubMenu('security', 'password')"
              tabindex="0"
              [ngClass]="{
                'text-dark': selectedSubMenu === 'password',
                'text-secondary': selectedSubMenu !== 'password',
              }">
              Password</span
            >
          </div>
        </div>
      }
    </div>
  </div>
  <div class="mb-3 ms-3 mt-2">
    <div
      class="p-2 rounded-top"
      [ngClass]="{
        'bg-secondary': isSessionMenusShown,
      }">
      <div
        tabindex="0"
        (click)="
          isSessionMenusShown = !isSessionMenusShown;
          isGeneralSubMensShown = false;
          isSecurityMenusShown = false;
          selectSubMenu('session', 'session')
        "
        role="button"
        class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-business-time text-secondary"></i>
          <b class="fw-bold text-dark fs-medium ms-3" i18n>Sessions</b>
        </div>
        <div class="text-dark">
          <span>
            <i class="fa fa-chevron-right"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- for smal device-->
<div class="h-100 w-25">
  <section class="d-lg-none bg-secondary h-100 w-25">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 mb-3 position-relative">
        <span role="button" (click)="toggleMenuPopup('general')" tabindex="0"
          ><i class="fa-solid fa-gear text-secondary"></i
        ></span>
        @if (activePopupMenu === 'general') {
          <div
            class="position-absolute d-flex flex-column text-center bg-secondary p-2 menuPopup custom-position">
            <span
              role="button"
              class="border-bottom"
              (click)="selectSubMenu('general', 'account')"
              tabindex="0"
              [ngClass]="{
                'fw-bold': selectedSubMenu === 'account',
              }"
              ><small class="">Account</small></span
            >
            <span
              role="button"
              (click)="selectSubMenu('general', 'customization')"
              tabindex="0"
              [ngClass]="{
                'fw-bold': selectedSubMenu === 'customization',
              }"
              ><small>Customization</small></span
            >
          </div>
        }
      </div>
      <div class="fs-4 mb-3 position-relative">
        <span role="button" (click)="toggleMenuPopup('security')" tabindex="0"
          ><i class="fa-solid fa-shield-halved text-secondary"></i
        ></span>

        <div
          *ngIf="activePopupMenu === 'security'"
          class="position-absolute d-flex flex-column text-center bg-secondary p-2 menuPopup custom-position">
          <span
            class="border-bottom"
            role="button"
            (click)="selectSubMenu('security', 'pin')"
            tabindex="0"
            [ngClass]="{
              'fw-bold': selectedSubMenu === 'pin',
            }"
            ><small>Pin</small></span
          >
          <span
            role="button"
            (click)="selectSubMenu('security', 'password')"
            tabindex="0"
            [ngClass]="{
              'fw-bold': selectedSubMenu === 'password',
            }"
            ><small>Password</small></span
          >
        </div>
      </div>
      <div class="fs-4 mb-3 position-relative">
        <span role="button" (click)="toggleMenuPopup('session')" tabindex="0">
          <i class="fa-solid fa-business-time text-secondary"></i>
        </span>
        @if (activePopupMenu === 'session') {
          <div
            class="position-absolute d-flex flex-column text-center bg-secondary p-2 menuPopup custom-position">
            <span
              class="border-bottom"
              role="button"
              (click)="selectSubMenu('session', 'session')"
              tabindex="0"
              [ngClass]="{ 'fw-bold': selectedSubMenu === 'session' }">
              <small>Sessions</small>
            </span>
          </div>
        }
      </div>
    </div>
  </section>
</div>
