@import './mixins/mixins';
@import 'bootstrap/scss/variables';

.app-container {
  @media screen and (min-width: 1700px) {
    margin: 0 auto;
    max-width: 1700px;
  }
}
.layout-height {
  height: 100dvh;
}
.h-without-header {
  height: calc(100dvh - 60px);
}

// global inchanges color
$globalColors: (
  'success': #058519,
  'info': #2070b8,
  'danger': #a11717,
  'warning': #a3a300,
);

@each $color-name, $value in $globalColors {
  @include makeAsGlobalColors($color-name, $value);
}

// global font-sizes
$fontSizes: (
  'xx-large': 35px,
  'x-large': 28px,
  'large': 24px,
  'l-medium': 20px,
  'medium': 18px,
  'normal': 16px,
  'l-small': 15px,
  'small': 14px,
  'x-small': 12px,
);
@each $name, $size in $fontSizes {
  @include generateSizeClass($name, $size);
}

// global color
$globalTextColors: (
  'all-white': #d9d9d9,
  'all-dark': #414141,
  'all-goldenrod': #c99100,
  'all-blue': #172b4d,
  'all-blue-sky': #2070b8,
);
@each $name, $value in $globalTextColors {
  @include generateTextClass($name, $value);
}

// global border color
:root {
  --bs-border-color: #c4c4c4;
}

// reset link
a {
  text-decoration: none !important;
}

//global empty state color
.empty-state {
  color: #c4c4c4;
}
//global border radius
.lg-radius {
  border-radius: 10px;
}
.sm-radius {
  border-radius: 5px;
}

//global image class
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//global cursor class
.clickable {
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
}

.not-clickable {
  pointer-events: none;
  opacity: 0.5;
}

// font family global class
.font-calibri {
  font-family: calibri !important;
}
.font-montserrat {
  font-family: montserrat !important;
}

//global badge classes
.badge-design {
  min-height: 31px;
  @extend .sm-radius;
  // @extend .d-flex;
  // @extend .align-items-center;
  // @extend .justify-content-center;
  @extend .fw-bold;
  @extend .px-2;
  &.bg-success,
  &.success {
    background-color: #cefdd5 !important;
    color: #058519 !important;
  }
  &.bg-info,
  &.info {
    background-color: #aacef5 !important;
    color: #235ea2 !important;
  }
  &.bg-warning,
  &.warning {
    background-color: #fbfbad !important;
    color: #a3a300 !important;
  }
  &.bg-danger,
  &.danger,
  &.bg-failed {
    background-color: #ffcccc !important;
    color: #a11717 !important;
  }
  &.bg-secondary,
  .secondary {
    @extend .bg-secondary;
    color: #ffff !important;
  }
}

// global config for bootstrap input

.form-control + label.form-label,
.form-control + label,
.form-select + label {
  @extend .form-label;
  @extend .text-dark;
  &:after {
    background-color: transparent !important;
  }
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding-bottom: 0;
}

.form-floating .form-control::placeholder {
  color: transparent !important;
}

.input-group {
  @extend .sm-radius;
  overflow: hidden;
  .form-control {
    border: 0 !important;
  }
  .input-group-text {
    border: 0 !important;
    border-radius: 0 !important;
  }
}
// $utilities: (
//   'z-index': (
//     property: z-index,
//     class: z,
//     values: $zindex-levels,
//   ),
// );

@import './colors/erp-theme';
@import './colors/ihela-theme';
@import './colors/magis-theme';
@import './colors/onamob-theme';
