<div
  class="category-container w-100 h-100 bg-white sm-radius overflow-auto overflow-x-hidden">
  <div class="modal-body lg-radius m-0 p-0">
    <div>
      <div class="d-flex p-3">
        <div>
          <span class="mb-5 text-dark text-secondary fs-x-large"
            >Statement
          </span>

          <br />
          @if (account) {
            <b class="mb-1 text-dark">{{ account.acc_number }}</b
            ><br />
            <b class="text-dark">{{ account.acc_holder }}</b>
          }
          <br />
        </div>
        <div class="ms-auto text-end">
          <button
            type="button"
            title="Close"
            #closeModal
            class="text-dark btn fs-4 p-0 pe-1"
            data-bs-dismiss="modal"
            aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <div>
        @if (accountId !== '' || ledgerId !== '') {
          <div class="px-5 overflow-y-auto" style="height: inherit">
            <app-reusable-list
              title="Statements"
              [headers]="headers"
              [url]="url"></app-reusable-list>
          </div>
        }
      </div>
    </div>
  </div>
</div>
