.individualDetails {
  min-height: 410px;
}
.signatureBlock {
  width: 200px;
  height: 150px;
}

.corporateDetails {
  min-height: 250px;
}
.has-border {
  background-color: #938c8c;
  height: 1px;
  width: 100px;
}

buttonSub {
  width: 142px;
  height: 35px;
}
