<section
  class="stop bg-white d-flex align-items-center justify-content-center position-relative overflow-hidden"
  id="standby"
  (click)="animationStart()"
  (mousemove)="animationStart()"
  (keydown)="animationStart()"
  tabindex="0">
  <img
    src="./images/sleepMode/globe.svg"
    class="position-absolute globe"
    alt="" />

  <img
    src="./images/sleepMode/print.svg"
    class="position-absolute top-0 start-0"
    alt="" />
  <img
    src="./images/sleepMode/print.svg"
    class="position-absolute print"
    alt="" />
  <div class="position-absolute">
    <img
      [attr.src]="
        activeMode === 'light'
          ? './images/sleepMode/iHelaRyanje.svg'
          : './images/sleepMode/iHelaRyanjeWhite.svg'
      "
      id="toAnimate"
      alt="" />
  </div>
  <div class="hidDiv">
    <div class="h-100 d-flex align-items-center flex-column mb-3">
      <div class="mb-2 profile rounded-circle overflow-hidden">
        <img [src]="user?.client?.picture_url" class="image" alt="" />
      </div>

      <span class="fw-bold">{{ user?.client?.client_full_name }}</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="verification()">
      <div
        class="d-flex flex-row align-items-center justify-content-center gap-3 w-100 position-relative mw-200">
        <input
          [type]="passwordType"
          class="form-control pe-5"
          placeholder="Enter password"
          id="password"
          autocomplete="new-password"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          formControlName="password"
          [disabled]="isLoading"
          tabindex="0" />

        @if (showPassword && !isLoading) {
          <a
            tabindex="0"
            role="button"
            (click)="setShowPassword()"
            class="position-absolute end-0 me-3">
            <i class="fa-regular fa-eye-slash"></i>
          </a>
        }
        @if (!showPassword && !isLoading) {
          <a
            tabindex="0"
            role="button"
            (click)="setShowPassword()"
            class="position-absolute end-0 me-3">
            <i class="fa-regular fa-eye"></i>
          </a>
        }

        @if (isLoading) {
          <a class="position-absolute end-0 me-3">
            <i class="fa-solid fa-spinner fa-pulse"></i>
          </a>
        }

        <!-- <div class="input-group z-1">
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          id="password"
          autocomplete="new-password"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [formControl]="password"
          tabindex="0" />
        <div
          id="button-addon2"
          class="fill d-flex align-items-center px-2"
          type="button">
          <i class="fa-regular fa-eye"></i>
        </div>
      </div> -->
        <!-- <app-password-field
        [password]="true"
        (passwordValid)="verification($event)"></app-password-field> -->
      </div>
    </form>
  </div>
  <div class=""></div>
  <div class="wave-cont position-absolute bottom-0 w-100">
    <div class="wave"></div>
    <!-- <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div> -->
  </div>
</section>
