<div class="h-100 w-100">
  @if (selectedList === 'operators') {
    <ng-container *ngTemplateOutlet="operators"> </ng-container>
  }

  @if (selectedList === 'invitations') {
    <ng-container *ngTemplateOutlet="invitations"> </ng-container>
  }
  @if (selectedList === 'newOperator') {
    <ng-container *ngTemplateOutlet="newOperator"></ng-container>
  }
  <!--NOTE :: Operators list template -->
  <ng-template #operators>
    <div class="h-100 overflow-y-auto bg-white">
      <app-list
        [headers]="operatorHeader"
        url="/hr/operator/organizations/manage/?status=C&"
        [addButtonLink]="{
          url: '/w/workstation/a/admin/operator/operators',
          fragment: 'newOperator',
        }">
      </app-list>
    </div>
  </ng-template>

  <!-- NOTE :: Invitations list template -->
  <ng-template #invitations>
    <div class="h-100 overflow-y-auto bg-white">
      <app-list
        [headers]="invitationsHeader"
        url="/hr/operator/organizations/manage/?list_type=unoperator&"
        title="Invitations"
        [addButtonLink]="{
          url: '/w/workstation/a/admin/operator/operators',
          fragment: 'newOperator',
        }"></app-list>
    </div>
  </ng-template>

  <!-- NOTE :: New Operator Form template -->
  <ng-template #newOperator>
    <div class="h-100 overflow-y-auto bg-white pt-3">
      <section class="newOperator p-2 pb-3 rounded col-sm-9 col-lg-8 m-auto">
        <h4 class="w-75 m-auto text-center mb-3 text-dark" i18n>
          New Operator
        </h4>

        <div class="lookup col-9 col-md-7 col-lg-6 col-xl-5 m-auto">
          <app-lookup
            option="lookup"
            url="/clients/list/all/object_lookup/?list_type=all&lookup_data="
            label="Search by client ID, email "
            (selectedItemEvent)="selectClient($event)"></app-lookup>
        </div>

        @if (clientId) {
          <section class="mt-4 col-9 col-md-7 col-lg-6 col-xl-5 m-auto">
            <div class="form-floating">
              <input
                id="pin"
                type="password"
                placeholder="PIN"
                [formControl]="pin"
                class="form-control" />
              <label for="pin">PIN</label>
            </div>

            <div class="text-center mt-4">
              <button
                class="btn bg-primary text-light fw-bold px-3 text-light"
                type="submit"
                tabindex="0"
                (click)="createNewOperator()"
                [disabled]="!pin.valid || !clientId || isLoading"
                i18n>
                @if (isLoading) {
                  <span>
                    <i class="fa-solid fa-spin fa-circle-notch fs-4"></i>
                  </span>
                }
                @if (!isLoading) {
                  <b>Save</b>
                }
              </button>
            </div>
          </section>
        }
      </section>
    </div>
  </ng-template>
</div>
