<div class="mt-4 m-5 py-0 flex" style="gap: 19px">
  @if (!isEditTable) {
    <div class="col-lg-5">
      <div class="mb-3">
        <div class="d-flex align-items-center gap-2 mb-3">
          <span
            class="bg-danger rounded-circle"
            style="width: 7px; height: 7px"></span>
          <span class="mb-0" style="font-size: 16px; font-weight: 700"
            >Operation Type</span
          >
        </div>
        <app-lookup
          url="/operations/types/manage/objects_autocomplete/?search="
          label="Operation Type"
          option="autocomplete" />
      </div>

      <div class="mb-3" style="margin-top: 19px">
        <div class="d-flex align-items-center gap-2 mb-3">
          <span
            class="bg-danger rounded-circle"
            style="width: 7px; height: 7px"></span>
          <span class="mb-0" style="font-size: 16px; font-weight: 700"
            >Description</span
          >
        </div>
        <textarea
          id="description"
          class="form-control p-3"
          rows="3"
          placeholder="Description"></textarea>
      </div>

      <div class="mb-3">
        <app-upload (fileUploaded)="handleFileUpload($event)"></app-upload>
      </div>
      @if (fileName) {
        <div class="container mt-4">
          <div
            class="border rounded p-3 bg-light d-flex align-items-center justify-content-between">
            <div class="d-flex align-content-center gap-3">
              <i class="fa fa-check-circle text-danger h-10"></i>
              <div>
                <p class="mb-1 text-success fw-bold">Download successful</p>
                <p class="mb-0 text-muted">
                  <i class="bi bi-file-earmark-text"></i>
                  {{ fileName }} | {{ (fileSize / 1024).toFixed(2) }} Ko
                </p>
              </div>
            </div>
            <div class="d-flex gap-2">
              <button class="btn border-0 btn-sm" (click)="editTable()">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn border-0 text-danger btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="col-12 m-lg-2">
      <div class="p-2">
        <div>
          <div class="modal-body">
            <div class="input-group mb-4">
              <input
                type="text"
                [(ngModel)]="searchQuery"
                (input)="filterTable()"
                class="form-control"
                placeholder="Search..." />
              <button class="btn btn-danger" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="table-danger">
                  @if (data?.data?.[0]) {
                    <tr>
                      <th *ngFor="let header of data?.data?.[0]">
                        {{ header }}
                      </th>
                      <th>Actions</th>
                    </tr>
                  }
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let row of filteredData.slice(1);
                      let rowIndex = index
                    "
                    (mouseenter)="hoveredRowIndex = rowIndex"
                    (mouseleave)="hoveredRowIndex = null">
                    <td *ngFor="let cell of row; let colIndex = index">
                      <ng-container *ngIf="data?.data?.[rowIndex + 1]">
                        <ng-container
                          *ngIf="
                            editableCell?.row !== rowIndex ||
                            editableCell?.col !== colIndex
                          ">
                          <span>{{ cell }}</span>
                        </ng-container>
                        <!-- <ng-template #editTemplate>
                        <input
                          type="text"
                          [(ngModel)]="data?.data?.[rowIndex + 1][colIndex]"
                          class="form-control form-control-sm"
                        />
                      </ng-template> -->
                      </ng-container>
                    </td>
                    <td class="position-relative">
                      @if (hoveredRowIndex === rowIndex) {
                        <button
                          class="btn btn-danger btn-sm position-absolute"
                          (click)="deleteRow(rowIndex)">
                          <i class="fa fa-trash"></i>
                        </button>
                      }
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
