<section>
    <div>
        <a
            class="mb-4 d-flex align-items-center clickable rounded text-gray"
           
           
            routerLink="/b"
           
            routerLinkActive="text-dark"
        >
            <span
                class="magis-icon me-3 rounded-pill"
               
                style="padding: 0.78rem 1rem"
                ><i class="fa-solid fa-house"></i
            ></span>
            <span class="fw-bold" i18n>Home</span>
        </a>
        <a
            class="d-flex align-items-center clickable rounded text-gray"
            routerLink="/b/onlineBanking/tarifs"
            routerLinkActive="text-dark"
         
          
        >
            <span
             
                class="fs-5 me-3 rounded-pill d-flex align-items-center justify-content-center text-primary"
                style="padding: 0.7rem 0.86rem"
            >
                <i class="fa-solid fa-calculator"></i>
            </span>
            <span class="fw-bold" i18n>Tarifs</span>
        </a>
</div>
       </section>
