<!-- mobile section -->
<section class="d-lg-none mb-5">
  <!-- plateform cards -->
  <div class="row justify-content-center mx-0" style="gap: 1rem">
    <div
      class="col-5 col-md-3 plateform-card sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center clickable text-dark">
      <div class="icon mb-2" style="width: 45px; height: 60px">
        <img
          src="/public/images/ihela-b.svg"
          alt="ihela logo"
          class="img-fluid w-100" />
      </div>
      <b i18n>Manage your account</b>
    </div>
    <div
      class="col-5 col-md-3 plateform-card sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center clickable text-dark">
      <div class="icon mb-2 text-magis" style="font-size: 2.5rem">
        <i class="fa-solid fa-desktop"></i>
      </div>
      <b i18n>Manage your Company</b>
    </div>
    <div
      class="col-5 col-md-3 plateform-card sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center clickable text-dark">
      <div class="icon text-success mb-2" style="font-size: 2.5rem">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <b i18n>Market Place</b>
    </div>
    <div
      class="col-5 col-md-3 plateform-card sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center clickable text-dark"
      routerLink="/h/home/chat">
      <div class="icon text-info mb-2" style="font-size: 2.5rem">
        <i class="fa-regular fa-comments"></i>
      </div>
      <b i18n>Chat</b>
    </div>

    <!-- for responsive design -->
    <div class="col-5 col-md-3"></div>
    <div class="col-5 col-md-3"></div>
  </div>

  <section class="mt-5">
    <div class="col-10 col-md-9 mb-3 fs-5 text-gray mx-auto">
      <b class="text-dark">Ours Billers</b>
    </div>

    <!-- biller skeleton loader -->
    @if (billersLoading) {
      <div class="row justify-content-center mx-0" style="gap: 1rem">
        @for (item of countProductLoader; track $index) {
          <div class="col-5 col-md-3 lg-radius" style="height: 73px">
            <app-skeleton [height]="'100%'"></app-skeleton>
          </div>
        }
        <!-- for responsive design -->
        <div class="col-5 col-md-3"></div>
        <div class="col-5 col-md-3"></div>
      </div>
    }

    @if (!billersLoading) {
      <div class="row justify-content-center mx-0" style="gap: 1rem">
        @for (biller of billers; track $index) {
          <div
            class="col-5 col-md-3 border overflow-hidden lg-radius level-2 clickable d-flex flex-column flex-sm-row p-2 justify-content-center align-items-center justify-content-sm-start"
            style="min-height: 73px"
            data-bs-toggle="modal"
            data-bs-target="#biller"
            tabindex="0"
            (click)="selectBiller(biller)">
            <div
              class="col-sm-4 d-flex align-items-center justify-content-center text-dark">
              @if (biller.lookup_image) {
                <img
                  src="{{ biller.lookup_image }}"
                  class="img-fluid w-100"
                  alt="Biller Logo"
                  style="object-fit: cover; max-height: 65px" />
              }
              @if (!biller.lookup_image) {
                <span class="fs-1">
                  <i class="fa-solid fa-shop"></i>
                </span>
              }
            </div>
            <div
              class="fw-bold d-flex align-items-center mt-1 mt-sm-0 ms-sm-2 text-center text-sm-start text-dark"
              style="font-size: 1.125rem">
              {{ biller.lookup_title }}
            </div>
          </div>
        }

        <!-- for responsive design -->
        <div class="col-5 col-md-3"></div>
        <div class="col-5 col-md-3"></div>
      </div>
    }
  </section>
</section>

<main class="d-flex me-2" style="gap: 0 1rem">
  <!-- posts section -->
  <section
    id="postsSection"
    class="mx-auto row overflow-hidden w-80 md-w-60"
    style="gap: 2rem 0">
    <!-- section unvailable -->
    <div
      class="unvailable lg-radius shadow level-1 d-flex flex-column col-md-10 mx-auto"
      style="height: max-content">
      <div class="header d-flex align-items-center mx-4 my-2">
        <div
          class="profil rounded-circle dflex align-items-center justify-content-center"></div>
      </div>
      <div
        class="product-body bg-secondary d-flex flex-column justify-content-center align-items-center p-2 sm-radius">
        <span class="fz-emoji text-gray" style="opacity: 0.4">
          <i class="fa-solid fa-face-meh"></i>
        </span>
        <span
          class="fw-bold text-center d-flex flex-column fs-4 text-dark"
          style="opacity: 0.7">
          <b i18n>This section is unavailable at</b>
          <b i18n>this moment</b>
        </span>
      </div>
      <div class="footer mt-3">
        <div class="d-flex flex-column mx-3">
          <span
            class="rounded-pill d-block mb-2"
            style="width: 85%; height: 10px"></span>
          <span
            class="rounded-pill d-block"
            style="width: 70%; height: 10px"></span>
        </div>
        <div class="footer mt-3">
          <div class="d-flex flex-column mx-3">
            <span
              class="rounded-pill d-block mb-2"
              style="width: 85%; height: 10px"></span>
            <span
              class="rounded-pill d-block mb-2"
              style="width: 70%; height: 10px"></span>
          </div>
          <div style="flex-grow: 1" class="text-center mt-3">
            <div
              class="icons border-top border-2 d-inline-block fs-2 pt-2 text-gray">
              <span class="me-5"><i class="fa-solid fa-heart"></i></span>
              <span class="mx-4"
                ><i class="fa-solid fa-cart-shopping"></i
              ></span>
              <span class="ms-5"><i class="fa-solid fa-share"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- announcements section -->
  <section class="d-none d-md-block announcements" style="width: 40%">
    <section>
      <div class="text-center mb-3">
        <span class="fw-bold text-dark" i18n>Announcement</span>
      </div>
      <div class="row mx-0" style="gap: 2rem 0">
        <div class="shadow mx-auto announce-box bg-secondary sm-radius py-1">
          <span class="fw-bold fs-5 text-dark" i18n>ONAMOB / IHELA</span>
        </div>
        <div
          class="shadow mx-auto announce-box sm-radius bg-secondary d-flex assurance-box pe-0 position-relative">
          <div
            class="h-100 d-flex align-items-center flex-column justify-content-center"
            style="z-index: 3">
            <span class="fw-bold fs-5 mb-4 text-dark" i18n
              >Insure your home</span
            >
            <button
              class="btn bg-primary text-light fw-bold px-3 me-3 py-1 disabled"
              i18n>
              More
            </button>
          </div>
          <div class="box_parent">
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG91c2UlMjBhc3N1cmFuY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                alt="" />
            </div>

            <svg class="flt_svg" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <filter id="flt_tag">
                  <feGaussianBlur
                    in="SourceGraphic"
                    stdDeviation="6"
                    result="blur" />
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="flt_tag" />
                  <feComposite
                    in="SourceGraphic"
                    in2="flt_tag"
                    operator="atop" />
                </filter>
              </defs>
            </svg>
          </div>
        </div>

        <div
          class="shadow d-flex mx-auto announce-box bg-secondary sm-radius ps-1">
          <div class="h-100 py-1" style="width: 53%">
            <img
              style="height: 100%; object-fit: cover"
              src="https://images.unsplash.com/photo-1564156280315-1d42b4651629?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmFtaWx5JTIwbXV0dWFsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
              alt=""
              class="img-fluid rounded" />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
            style="flex-grow: 1">
            <div
              class="d-flex flex-column align-items-center justify-content-center mb-4 text-dark">
              <span class="fs-5 fw-bold" i18n>Mutual</span>
              <span class="fs-5 fw-bold" i18n>Credit</span>
            </div>
            <button
              class="btn bg-primary text-light fw-bold px-4 py-1 disabled"
              i18n>
              More
            </button>
          </div>
        </div>
        <!-- (click)="switchPlateform('onlineBanking', '/b/onlineBanking/tarifs')" in next div -->
        <div
          class="level-1 lg-radius p-3 px-4 d-flex align-items-center justify-content-between mt-2 mb-4"
          style="
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
          ">
          <b class="text-dark ms-2 fs-5">Tarifs</b>
          <span class="text-dark fs-3">
            <i class="fa-solid fa-calculator"></i>
          </span>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="mt-4 mb-3 mx-3">
        <span class="fw-bold text-dark" style="font-size: 18px" i18n
          >Top Products</span
        >
      </div>
      @if (loadingProducts) {
        <div class="cont-preloader mb-3" style="min-height: 200px">
          <div class="row" style="gap: 1.5rem 0">
            @for (item of countProductLoader; track $index) {
              <div class="col-md-6" style="height: 180px">
                <app-skeleton [height]="'57%'"></app-skeleton>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'60%'"></app-skeleton>
                </div>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'40%'"></app-skeleton>
                </div>
              </div>
            }
          </div>
        </div>
      }

      <!-- TODO : add product card and topProducts -->

      <!-- @if (!loadingProducts) {
        <div class="row" style="gap: 1.5rem 0">
          @for (product of topProducts; track $index) {
            <div class="product sm-radius col-md-6 clickable">
              <app-product-merchant-card [product]="product" [get_product]="true">
              </app-product-merchant-card>
            </div>
          }
        </div>
      } -->
    </section>
    <section class="mobile-app-download mt-4">
      <div
        class="sm-radius bg-secondary shadow px-3 py-4 col-md-11 mt-3 mx-auto">
        <h5 class="text-center fw-bold text-dark">Download Mobile App</h5>
        <div class="d-flex justify-content-around align-items-center mt-4">
          <div class="col-5 clickable position-relative">
            <a
              href="https://apps.apple.com/fr/app/ihel%C3%A1-ryanje-app/id6470385289"
              target="_blank"
              style="inset: 0; z-index: 2"
              class="position-absolute">
              <img
                src="/assets/images/Download-On-The-App-Store-PNG-Transparent-Image.png"
                alt="App Store Logo"
                class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
