.leftBar {
  top: -13px;
  //   min-height: 90%;
  bottom: 20px;
}

.bar {
  width: 8px;
  min-width: 8px;
}

.circ {
  min-width: 4px;
  min-height: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
