<div class="d-flex h-100">
  @if (activatedTypeMenu === 'b') {
    <section class="bg-white w-aside pt-4 d-flex flex-column">
      <a
        class="py-1 mb-2 m-1 text-secondary px-3 xx-lg-radius bg-hover-input"
        role="button"
        routerLink="/w/workstation/b/banking/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-all-dark bg-input"
        i18n>
        Home
      </a>
      @for (menu of bankingMenus; track $index) {
        <a
          class="py-1 mb-2 m-1 text-secondary px-3 xx-lg-radius bg-hover-input"
          routerLink="{{ baseMenuUrl }}{{ menu.component_url }}"
          routerLinkActive="text-all-dark bg-input"
          role="button"
          i18n>
          <small>{{ menu.name }}</small>
        </a>
      }
      <ng-container [ngTemplateOutlet]="MagisLogo" />
    </section>

    <main class="flex-grow-1 overflow-y-auto ms-1 px-2">
      <router-outlet></router-outlet>
    </main>
  } @else if (activatedTypeMenu === 'm') {
    <section class="bg-white w-aside pt-4 d-flex flex-column">
      <a
        class="py-1 mb-2 m-1 text-secondary px-3 xx-lg-radius bg-hover-input"
        role="button"
        routerLink="/w/workstation/m/market/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-all-dark bg-input"
        i18n>
        <small>HOME</small>
      </a>
      @for (menu of marketMenus; track $index) {
        <a
          class="py-1 mb-2 m-1 text-secondary px-3 xx-lg-radius bg-hover-input text-uppercase"
          routerLink="{{ baseMenuUrl }}{{ menu.component_url }}"
          routerLinkActive="text-all-dark bg-input"
          role="button"
          i18n>
          <small>{{ menu.name }}</small>
        </a>
      }
      <ng-container [ngTemplateOutlet]="MagisLogo" />
    </section>

    <section class="d-flex flex-column flex-grow-1">
      <section class="row mx-0 bg-secondary p-4">
        <div class="col-md-6 text-end">
          <form
            class="d-flex align-items-center col-md-10 ms-auto"
            [ngClass]="{
              'active ': isSearchInputNotEmpty() || isSearchInputFocused,
            }">
            <input
              type="text"
              class="col me-2 form-control"
              placeholder="Search Merchant"
              [formControl]="searchForm"
              (focus)="isSearchInputFocused = true"
              (blur)="onBlur()"
              (click)="onClick()"
              (keydown.enter)="onSearchMarchant($event)" />
            <button type="submit" class="px-4 btn bg-primary">
              <b class="text-all-white fs-medium" i18n>Search Merchant</b>
            </button>
          </form>
        </div>
        <div class="col-5 text-end">
          <b class="text-primary fs-large" i18n>My Market</b>
        </div>
      </section>

      <main class="flex-grow-1 overflow-y-auto ms-1 px-2">
        @if (!isSearchInputFocused && !this.searchForm.value) {
          <router-outlet></router-outlet>
        }
        @if (isSearchInputFocused || this.searchForm.value) {
          <div class="text-end mt-3 mb-3 me-4">
            <span
              (click)="resetData()"
              role="button"
              tabindex="0"
              class="fw-bold text-dark"
              i18n
              ><i class="fa-solid fa-arrow-left"></i> Back</span
            >
          </div>
          @if (!merchants) {
            <div class="d-flex flex-wrap gap-5 mt-2">
              @for (_ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
                <div class="col-auto mb-3">
                  <app-skeleton
                    height="150px"
                    width="150px"
                    classes="mb-0 rounded-3"></app-skeleton>
                  <div>
                    <app-skeleton
                      height="10px"
                      width="100%"
                      classes="rounded-3"></app-skeleton>
                  </div>
                  <div>
                    <app-skeleton
                      height="10px"
                      width="50%"
                      classes="rounded-3"></app-skeleton>
                  </div>
                </div>
              }
            </div>
          }
          @if (merchants) {
            @if (merchants.length === 0) {
              <div class="text-center">
                <app-empty-state
                  [searchType]="'merchant'"
                  [searchTerm]="'search merchant'"></app-empty-state>
              </div>
            }

            @if (merchants.length !== 0) {
              <div class="d-flex flex-wrap gap-5 ms-3 mx-0 mt-2">
                @for (merchant of merchants; track $index) {
                  <div class="col-auto">
                    <app-merchant-card [merchant]="merchant">
                    </app-merchant-card>
                  </div>
                }
              </div>
            }
          }
        }
      </main>
    </section>
  } @else {
    <section
      class="bg-white w-aside pt-4 d-flex flex-column overflow-x-hidden position-relative"
      [ngClass]="{
        'd-none': activatedTypeMenu === 'd' && !operator?.organization?.is_erp,
      }">
      @if (activatedTypeGroupMenus && activatedTypeGroupMenus.length !== 0) {
        @for (group of activatedTypeGroupMenus; track $index) {
          <section
            (click)="selectGroup(group)"
            tabindex="0"
            class="py-1 mb-1 m-1 d-block px-2 xx-lg-radius bg-hover-input d-flex justify-content-between align-items-center"
            role="button"
            [ngClass]="{
              'text-all-dark bg-input': selectedGroup === group,
              'text-secondary': selectedGroup !== group,
            }"
            routerLinkActive="text-all-dark bg-input">
            <span class="ms-1">
              {{ group.name }}
            </span>
            <small class="pt-1">
              <i class="fa-solid fa-chevron-right"></i>
            </small>
          </section>

          <!-- NOTE :: ON SELECTED GROUP -->
          <section
            class="bg-white h-100 w-100 position-absolute d-flex flex-column gap-1 px-1 m-1 align-items-center"
            [ngClass]="selectedGroup === group ? 'showMenu' : 'hideMenu'">
            <div
              class="p-2 d-flex align-items-center fw-bold align-items-center clickable w-100"
              (click)="selectGroup(null)"
              tabindex="0">
              <small class="me-2"><i class="fa-solid fa-arrow-left"></i></small>
              <span> {{ selectedGroup?.name }}</span>
            </div>

            @if (selectedGroup && selectedGroup.menus.length !== 0) {
              @for (item of selectedGroup.menus; track $index) {
                <!-- [routerLinkActiveOptions]="{ exact: true }" -->
                <!-- routerLink="{{ baseMenuUrl }}{{ item.component_url }}" -->
                <a
                  href="{{ baseMenuUrl }}{{ item.component_url }}"
                  (click)="setSelectedMenu(item, item.component_url, $event)"
                  tabindex="1"
                  [ngClass]="{
                    'mb-2': $index === selectedGroup.menus.length - 1,
                    'bg-input': selectedMenu?.id === item.id,
                  }"
                  class="py-1 ms-1 w-100 px-2 mb-1 xx-lg-radius bg-hover-input text-secondary d-block w-100 text-truncate"
                  role="button">
                  {{ item.name }}
                </a>
              }
            }
          </section>
        }
      } @else {
        <div class="mt-5 m-1">
          <app-empty-state
            imageClass="w-50 mb-2"
            messageClass="fs-x-small"></app-empty-state>
        </div>
      }
      <ng-container [ngTemplateOutlet]="MagisLogo" />
    </section>
    <main class="flex-grow-1 overflow-y-auto ms-1">
      <router-outlet></router-outlet>
    </main>
  }
</div>
<ng-template #MagisLogo>
  <div
    class="logo-clipath bg-primary-3 d-flex justify-content-center align-items-end mt-auto">
    <span class="logo mb-3">
      <img src="images/logo/magis-erp-3.png" class="image" alt="magisLogo" />
    </span>
  </div>
</ng-template>
