<div class="d-flex h-100">
  @if (activatedTypeMenu === 'b') {
    <section class="bg-white w-aside p-1 pt-4 d-flex flex-column">
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        routerLink="/w/workstation/b/banking/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-all-dark bg-primary-3"
        i18n>
        Home
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        routerLink="/w/workstation/b/banking/tarifs"
        routerLinkActive="text-all-dark bg-primary-3"
        role="button"
        i18n>
        Tarifs
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        routerLinkActive="text-all-dark bg-primary-3"
        i18n>
        Petty Cash
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        routerLink="/w/workstation/b/banking/transfer"
        routerLinkActive="text-all-dark bg-primary-3"
        role="button"
        i18n>
        Transfer
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        routerLinkActive="text-all-dark bg-primary-3"
        role="button"
        i18n>
        Statement
      </a>
    </section>
    <main class="flex-grow-1 px-2 px-md-4 py-2 overflow-y-auto ms-1">
      <router-outlet></router-outlet>
    </main>
  } @else if (activatedTypeMenu === 'm') {
    <section class="bg-white w-aside p-1 pt-4 d-flex flex-column">
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        routerLink="/w/workstation/m/market/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-all-dark bg-primary-3"
        i18n>
        <small>HOME</small>
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        routerLink="/w/workstation/m/market/payment-reports"
        routerLinkActive="text-all-dark bg-primary-3"
        role="button"
        i18n>
        <small>PAYMENT REPORT</small>
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        routerLink="/w/workstation/m/market/transfer-reports"
        routerLinkActive="text-all-dark bg-primary-3"
        role="button"
        i18n>
        <small>TRANSFER REPORT</small>
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        i18n>
        <small>SLATE</small>
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        i18n>
        <small>CLIENT ORDER</small>
      </a>
      <a
        class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
        role="button"
        i18n>
        <small>POINT OF SALE</small>
      </a>
    </section>
    <section class="d-flex flex-column flex-grow-1">
      <section class="row mx-0 bg-secondary p-4">
        <div class="col-md-6 text-end">
          <form
            class="d-flex align-items-center col-md-10 ms-auto"
            [ngClass]="{
              'active ': isSearchInputNotEmpty() || isSearchInputFocused,
            }">
            <input
              type="text"
              class="col me-2 form-control"
              placeholder="Search Merchant by name, code .."
              [formControl]="searchForm"
              (focus)="isSearchInputFocused = true"
              (blur)="isSearchInputFocused = false"
              (click)="onClick()" />
            <button type="submit" class="px-4 btn bg-primary">
              <b class="text-all-white fs-medium" i18n>Search Merchant</b>
            </button>
          </form>
        </div>
        <div class="col-5 text-end">
          <b class="text-primary fs-large" i18n>My Market</b>
        </div>
      </section>
      <main class="flex-grow-1 px-2 px-md-4 py-2 overflow-y-auto ms-1">
        @if (!isSearchInputFocused && !this.searchForm.value) {
          <router-outlet></router-outlet>
        }
        @if (isSearchInputFocused || this.searchForm.value) {
          @if (!merchants) {
            <div class="d-flex flex-wrap gap-2 mt-2 justify-content-center">
              @for (_ of [1, 2, 3, 4, 5, 6]; track $index) {
                <div class="col-lg-3 col-sm-4 col-auto mb-3">
                  <app-skeleton
                    height="150px"
                    width="150px"
                    classes="mb-0 rounded-3"></app-skeleton>
                  <div>
                    <app-skeleton
                      height="10px"
                      width="60%"
                      classes="rounded-3"></app-skeleton>
                  </div>
                  <div>
                    <app-skeleton
                      height="10px"
                      width="40%"
                      classes="rounded-3"></app-skeleton>
                  </div>
                </div>
              }
            </div>
          }
          @if (merchants && merchants.length === 0) {
            <div class="text-center">
              <app-empty-state
                [searchType]="'merchant'"
                [searchTerm]="'search merchant'"></app-empty-state>
            </div>
          }

          @if (merchants && merchants.length !== 0) {
            <div class="d-flex flex-wrap gap-5 ms-3 mx-0 mt-2">
              @for (merchant of merchants; track $index) {
                <div class="col-auto">
                  <app-merchant-card [merchant]="merchant"> </app-merchant-card>
                </div>
              }
            </div>
          }
        }
      </main>
    </section>
  } @else {
    <section
      class="bg-white w-aside p-1 pt-4 d-flex flex-column"
      [ngClass]="{
        'd-none': activatedTypeMenu === 'd' && !operator?.organization?.is_erp,
      }">
      @if (activeMenuGroups && activeMenuGroups.menu_group.length !== 0) {
        @for (group of activeMenuGroups.menu_group; track $index) {
          <div
            (click)="selectGroup(group)"
            tabindex="0"
            class="py-1 mb-3 d-block px-4 xx-lg-radius bg-hover-primary-3"
            role="button"
            [ngClass]="{
              'text-all-dark bg-primary-3': selectedGroup === group,
              'text-secondary': selectedGroup !== group,
            }"
            routerLinkActive="text-all-dark bg-primary-3">
            {{ group.name }}
          </div>
          <div
            class="mx-2 mb-2 ms-4 text-capitalize border-start border-primary-3"
            [ngClass]="{
              ' d-block': selectedGroup === group,
              'd-none': selectedGroup !== group,
            }">
            @if (menu && !loadingMenu) {
              @for (item of menu; track $index) {
                <a
                  tabindex="1"
                  [routerLink]="item.component_url"
                  [ngClass]="{
                    'mb-2': $index === menu.length - 1,
                  }"
                  class="py-1 ms-1 px-3 mb-1 xx-lg-radius bg-hover-primary-3 text-secondary d-block w-100"
                  role="button">
                  {{ item.name }}
                </a>
              }
            } @else {
              <div class="my-2">
                <div class="spinner-grow spinner-grow-sm ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            }
          </div>
        }
      } @else {
        <div class="mt-5">
          <app-empty-state
            imageClass="w-50 mb-2"
            messageClass="fs-x-small"></app-empty-state>
        </div>
      }
    </section>
    <main class="flex-grow-1 px-2 px-md-4 py-2 overflow-y-auto ms-1">
      <router-outlet></router-outlet>
    </main>
  }
</div>
