<div class="w-100 ps-3 pb-3 pe-3 mb-3 vh-100 overflow-auto rounded">
  <section class="sticky-top bg-white z-2">
    <!-- <div class="pb-3">
     
      <span class=" pb-3 ps-3 pe-3 border-bottom border-2 border-primary">{{ title }}</span>
    </div> -->
    <div class="row bg-secondary my-3 pt-1 pb-1 d-flex align-items-center mt-1">
      <div class="d-flex col align-items-center gap-1">
        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': response_data }"
          class="bg-white text-center plus-square rounded-circle"
          title="Add"
          ><i class="fa-solid fa-plus text-success fs-x-small"></i
        ></span>
        <div
          class="d-flex align-items-center searchForm position-relative"
          [ngClass]="{ 'active ': isSearchInputNotEmpty() }">
          <input
            class="ps-4 search-input start-0 w-100 focus:outline-none border-0 sm-radius ms-3 position-absolute"
            [ngClass]="{
              'd-block ': isSearchInputNotEmpty(),
              'not-clickable':
                response_data && data_list && data_list.length > 0,
            }"
            type="text"
            placeholder="Search ..."
            [formControl]="searchName"
            (keydown.enter)="search()" />
          <span
            class="btn bg-transparent search-btn"
            [ngClass]="{ 'not-clickable': response_data }"
            role="button"
            (click)="search()"
            tabindex="0">
            @if (!isLoading) {
              <span
                ><i
                  class="fa-solid fa-search search-button position-absolute text-secondary top-0 end-0 text-align-center fs-small"></i
              ></span>
            } @else {
              <span>
                <i
                  class="fa-solid fa-spinner search-button text-secondary position-absolute top-0 end-0 text-align-center fa-pulse fs-small"></i
              ></span>
            }
          </span>
        </div>
        <span
          tabindex="0"
          role="button"
          [ngClass]="{
            'not-clickable': isLoading,
          }"
          class="ms-3 d-flex fs-small align-items-center refresh text-secondary"
          title="Refresh"
          (click)="search()"
          ><i class="fa-solid fa-rotate-right"></i
        ></span>
        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          title="Overview"
          ><i class="fa-solid fa-chart-simple"></i
        ></span>
        <span
          tabindex="0"
          role="button"
          title="Export Excel"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          ><i class="fa-solid fa-cloud-arrow-down"></i
        ></span>
        <span
          class="ms-3 d-flex fs-small pt-1 align-items-center text-secondary"
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          (click)="toggleEyeStatus()">
          @if (amountState === true) {
            <span title="Hide balances" i18n>
              <i class="fa-solid fa-eye-slash"></i>
            </span>
          } @else {
            <span title="Show balances" i18n>
              <i class="fa-solid fa-eye"></i>
            </span>
          }
        </span>

        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex ps-3 border-start fs-small align-items-center text-secondary"
          ><i class="fa-solid fa-list"></i>
          <span class="mb-2"><i class="fa-solid fa-gear fs-x-small"></i></span
        ></span>
        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          title="Import">
          <i class="fa-solid fa-upload"></i
        ></span>
      </div>

      <div class="col text-secondary">
        @if (response_data && data_list && data_list.length > 0) {
          <div class="d-flex align-items-center">
            <div class="ms-auto d-flex align-items-center">
              <small i18n
                ><i class="text-secondary"
                  >{{ start }}-{{ end }} of {{ pages + 1 }}</i
                ></small
              >
              <span
                class="me-2 ms-3"
                role="button"
                tabindex="0"
                [ngClass]="{ 'not-clickable': isLoading }"
                (click)="doListMove('first')">
                <i i18n class="fa-solid fa-angles-left fs-small"></i>
              </span>

              <span
                class="me-2"
                role="button"
                tabindex="0"
                [ngClass]="{ 'not-clickable': currentPage === 0 || isLoading }"
                (click)="doListMove('prev')">
                <i i18n class="fa-solid fa-angle-left fs-small"></i>
              </span>
              <span
                class="me-2 fs-small d-flex align-items-center"
                contenteditable="true"
                [ngClass]="{ 'not-clickable': isLoading }"
                (keydown.enter)="doListMove('goToPage')"
                [textContent]="currentPage + 1">
                {{ currentPage + 1 }}
              </span>
              @if (clientPagination.filters.limit) {
                <span
                  class="me-2"
                  role="button"
                  tabindex="0"
                  [ngClass]="{ 'not-clickable': isLoading }"
                  (click)="doListMove('next')">
                  <i i18n class="fa-solid fa-angle-right fs-small"></i>
                </span>
              }
              <span
                class="me-2"
                role="button"
                [ngClass]="{ 'not-clickable': isLoading }"
                tabindex="0"
                (click)="doListMove('last')">
                <i i18n class="fa-solid fa-angles-right fs-small"></i>
              </span>
            </div>
            <div
              role="button"
              title="Filters"
              data-bs-toggle="modal"
              data-bs-target="#filterModal"
              class="ms-3 justify-content-center d-flex align-items-center bg-primary-3 sm-radius filter-square">
              <span
                ><i class="fa-solid fa-arrow-up-wide-short text-secondary"></i
              ></span>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="row w-100 ms-2 mb-3 mt-2">
      @if (headers && data_list && data_list.length > 0) {
        <div class="col-auto">
          <input type="checkbox" />
        </div>
      }

      @for (header of headers; track header; let i = $index) {
        @if (header.canBeDisplayed) {
          <div
            class="col"
            [ngClass]="{
              'd-flex': i === 0,
            }">
            @if (data_list && data_list.length > 0) {
              <span i18n class="fw-bold"> {{ header.name }}</span>
            }

            @if (i === 0) {
              <span
                class="d-grid fs-x-small lh"
                role="button"
                tabindex="0"
                (click)="reverseList()">
                <span class="ms-2">
                  <i class="fa-solid fa-play fa-rotate-270"></i>
                </span>
                <br />
                <span class="ms-2">
                  <i class="fa-solid fa-play fa-rotate-90"></i>
                </span>
              </span>
            }
          </div>
        }
      }
    </div>
  </section>

  @if (!response_data || isLoading) {
    <div class="col justify-content-center">
      @for (_ of [1, 2, 3, 4]; track $index) {
        <div class="col mb-4">
          <app-skeleton [width]="'100%'" [height]="'50px'" classes="sm-radius">
          </app-skeleton>
        </div>
      }
    </div>
  }

  @if (response_data && data_list && data_list.length > 0 && !isLoading) {
    @for (line of data_list; track line) {
      <div
        class="row d-flex ms-1 me-1 align-items-center justify-content-center p-1 px-3 border rounded mb-2 fs-small">
        <div class="col-auto ps-0">
          <input type="checkbox" />
        </div>

        @for (data of line; track data) {
          @if (data.format === 'date') {
            <div [title]="data.value" class="col text-truncate overflow-hidden">
              <span class="text-truncate d-block" i18n>{{
                data.value | date: 'medium'
              }}</span>
            </div>
          }
          @if (data.format === 'currency') {
            <div class="col">
              @if (amountState) {
                <span i18n>BIF {{ data.value }}</span>
              }
              @if (!amountState) {
                <span i18n>BIF *** ***</span>
              }
            </div>
          }

          @if (data.format === '' && data.canBeDisplayed === 'true') {
            <div
              class="col d-flex align-items-center"
              [title]="data.value"
              [ngClass]="[
                data.class !== ''
                  ? ' d-flex justify-content-center badge-design fs-small' +
                    data.class
                  : 'text-truncate overflow-hidden',
              ]">
              @if ((!data.boolean && !data.format) || data.format === '') {
                <span class="text-truncate d-block" i18n
                  >{{ data.value }}
                </span>
              }
              <!-- @else if(data.class!==''){
                <span><i class="fa-solid fa-circle"></i></span>
              } -->
            </div>
          }
        }
      </div>
    }
  } @else if (
    response_data && data_list && data_list.length === 0 && !isLoading
  ) {
    <div class="row mt-5 text-secondary text-center">
      <div class="fs-xx-large"><i class="fa-solid fa-meh"></i></div>
      <span class="fs-large" i18n>No data found</span>
    </div>
  }
</div>
<div class="modal fade" data-mdb-backdrop="false" id="myModal">
  <div
    class="modal-dialog w-100 lg-radius d-flex justify-content-center h-100 align-items-center overflow-auto">
    <div class="modal-content w-resp">
      <div class="d-flex justify-content-end">
        <span data-bs-toggle="modal" data-bs-target="#myModal" role="button">
          <i class="fa fa-xmark text-dark fs-4 mt-2 me-2"></i>
        </span>
      </div>
      <div class="px-4 pb-4">
        <div class="w-100 d-grid">
          <span class="text-dark fs-3">Overview</span>
          <hr class="text-dark mt-1" />
        </div>
        <div class="w-100 d-flex justify-content-center">
          @if (overviewUrl !== '') {
            <div class="w-100 d-flex justify-content-center fs-medium">
              @if (overViewData && overViewData.length > 0) {
                <div class="col-10 rounded">
                  @for (
                    data of overViewData.flat();
                    let i = $index;
                    track $index
                  ) {
                    <div
                      class="col-md-3 col-lg-6 d-flex"
                      [ngClass]="
                        i + (1 % 2) === 0 ? 'justify-content-end' : ''
                      ">
                      <div class="mb-4">
                        <span class="text-dark">
                          <small>
                            <i
                              class="fa-solid text-primary-light fa-xs fa-circle"></i>
                          </small>
                          <small class="ms-2 fs-small">{{
                            data.label.toUpperCase()
                          }}</small> </span
                        ><br />
                        <b class="text-secondary ms-4">
                          {{ data.value_data.currency }}
                          {{ data.value | currency: ' ' }}
                        </b>
                      </div>
                    </div>
                  }
                </div>
              } @else if (!overViewData) {
                <div>
                  <span class="my-4">
                    <i class="spinner-border"></i>
                  </span>
                </div>
              }
            </div>
          }

          @if (!overviewUrl) {
            <div class="mt-2">
              <span class="text-secondary"
                >This list doesn't have any Overview Data.</span
              >
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
