<div class="mt-2  col-3 p-3">
  
    <div>
        <div class="d-grid">
            <!--* offers section, the one shown by default && !isBaking-->

            <div class="w-100 mb-4  d-grid" >
                <div
                    class="bg-primary d-flex justify-content-center py-2 rounded-top"
                >
                    <b class="text-all-withe">Offers</b>
                </div>
                <div
                    class="rounded-bottom d-flex justify-content-center align-items-center border   p-4"              >
                   
                </div>
            </div>

             <!--* Last beneficiary section, the one shown when we are on transfer-->
             <div class="w-100 mb-4  d-grid" >
                <div
                    class="bg-primary  d-flex justify-content-center py-2 rounded-top"
                >
                    <b class="text-all-withe">Last transactions</b>
                </div>
                <div
                    class="rounded-bottom d-flex justify-content-center align-items-center border  p-4 bg-secondary "              >
                   
                </div>
            </div>
            <div class="bg-secondary mt-4 p-2">
                <div
                    role="button"
                    
                    class="d-flex align-items-center w-100"
                >
                    <span
                        
                        class="w-75 text-dark me-2 h6 fw-bold"
                    >
                        <span class="text-primary">Link</span> your personal
                        number with your account
                    </span>
                    <span class="w-25 ms-1">
                        <i
                            class="fa-solid text-primary fa-sim-card fa-rotate-270 fs-1"
                            
                        ></i>
                    </span>
                </div>
            </div>
        </div>