<div class="mt-2 me-3 w-75">
  
    <div>
        <div class="d-grid">
            <!--* offers section, the one shown by default && !isBaking-->

            <div class="w-100 mb-4 rounded d-grid" >
                <div class="bg-primary rounded-top d-flex justify-content-center py-2">
                    <b  >Offers</b>
                    </div>
                <div
                    class="b-rounded d-flex justify-content-center align-items-center "
                >
                   
                </div>
            </div> 

             <!--* Last beneficiary section, the one shown when we are on transfer-->
             <div class="w-100 mb-4 rounded d-grid" >
                <div
                    class="bg-primary t-rounded d-flex justify-content-center py-2"
                >
                    <b>Last transactions</b>
                </div>
                <div
                    class="b-rounded d-flex justify-content-center align-items-center border "
                >
                   
                </div>
            </div>
            <div class="level-2 mt-4 p-2">
                <div
                    role="button"
                    routerLink="/b/settings/general"
                    class="d-flex align-items-center w-100"
                >
                    <span
                        
                        class="w-75 text-dark me-2"
                    >
                        <span class="text-primary">Link</span> your personal
                        number with your account
                    </span>
                    <span class="w-25 ms-1">
                        <i
                            class="fa-solid text-primary fa-sim-card fa-rotate-270 fs-2"
                            
                        ></i>
                    </span>
                </div>
            </div>
        </div>