.amort-table {
  border: 1px solid #bfbebe;
  border-radius: 10px;
}

main {
  min-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.less-grey {
  color: rgb(128, 126, 126);
  font-weight: 550;
}
