.chosen {
  animation: transition 0.5s ease-in;
  width: 720px;
  height: 385px;
  z-index: 9999;
  margin-top: -12%;
}
@keyframes transition {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }
  100% {
    opacity: 1;
    transtransform: translatey(0px);
  }
}

.miniSettings {
  width: 43px;
  height: 40px;
}
.boxConfiguration {
  left: -155px;
  height: 160px;
  margin-top: -80px;
  z-index: 9999;
}

.loader {
  height: 50vh;
}
