.merchant-card {
  height: 211px;
  width: 165px;
  .image-section {
    height: 120px;
  }
}

.rowContainer {
  max-height: 80px;
}

.imgContainer {
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
}
