.merchant-card {
  max-height: 200px;
  height: 190px;
  min-width: 156px;
  .image-section {
    height: 120px;
  }
}

.rowContainer {
  max-height: 80px;
}

.imgContainer {
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
}
