<!-- <p>balance works!</p> -->
<div class="details-container level-1 pt-4">
  <main class="level-2 p-3 mainBlock">
    <!--  balance checker list -->
    <section>
      <div class="d-flex justify-content-between p-2">
        <div>
          <b i18n class="fs-large me-2">Balance Checker </b>
          <span
            class="text-md"
            title="Refresh the table"
            (click)="refreshPage()"
            tabindex="0">
            @if (!reloading) {
              <span>
                <i class="fa-solid fa-rotate-right" type="button"> </i>
              </span>
            }

            @if (reloading) {
              <span>
                <i class="fas fa-spinner fa-pulse"></i>
              </span>
            }
          </span>
        </div>
        <section
          class="d-flex align-items-center justify-content-between col-5">
          <!-- input search for menus -->
          <form
            id="searchForm"
            class="col-6 me-3 d-flex position-relative"
            [ngClass]="{
              'active ': isSearchInputNotEmpty() || isInputFocused,
            }">
            <input
              type="search"
              class="form-control w-100 text-dark pe-4"
              [disabled]="reloading"
              placeholder="Search ...."
              aria-label="search"
              aria-describedby="basic-addon1"
              [formControl]="searchInput"
              (keydown.enter)="onSearchEnter($event)"
              (focus)="isInputFocused = true"
              (blur)="isInputFocused = false" />
            <span
              role="button"
              class="text-dark position-absolute treasuryBalance"
              (click)="getTreasuryBalance('')"
              tabindex="0">
              @if (reloading) {
                <span>
                  <i class="fas fa-spinner fa-pulse"></i>
                </span>
              }

              @if (!reloading) {
                <span>
                  <i class="fa-solid fa-magnifying-glass"></i>
                </span>
              }
            </span>
          </form>
          <button
            class="btn bg-primary me-3 col-4 text-all-white balanceButton"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <b i18n>Check Balance</b>
          </button>
        </section>
      </div>
      <div class="d-flex justify-content-center p-2 row mt-3">
        <div class="col-2"><b i18n>Operator</b></div>
        <div class="col-4"><b i18n>Alias</b></div>
        <div class="col-2"><b i18n>External Balance</b></div>
        <div class="col-2"><b i18n>Internal Balance</b></div>
        <div class="col-2"><b i18n>Difference</b></div>
        <!-- <div class="col-auto"><b class="opacity-0">Action</b></div> -->
      </div>
      @if (reloading && !institution_balance) {
        <div>
          @for (_ of [1, 2, 3, 4]; track $index) {
            <div>
              <span class="w-100 mt-1">
                <app-skeleton [height]="'81px'" [width]="'100%'"></app-skeleton
              ></span>
            </div>
          }
        </div>
      }

      <!-- not found message -->
      @if (
        !reloading && institution_balance && institution_balance.length === 0
      ) {
        <div
          class="d-flex flex-column align-items-center mt-5 empty-state-icon">
          <span class="opacity-50 nonBalance">
            <i class="fa-solid fa-face-meh"></i>
          </span>
          <b class="fs-4 opacity-50" i18n> No Balance </b>
        </div>
      }

      @if (!reloading) {
        <section class="d-flex flex-column">
          <section class="flex-grow-1">
            @for (institution of institution_balance; track $index) {
              <div
                class="mb-3 sm-radius d-grid"
                [ngClass]="{
                  balance: !verifying || institutionPicked !== institution,
                  verify: verifying && institutionPicked === institution,
                }">
                <div
                  class="d-flex justify-content-center align-items-center row mx-0 p-2"
                  role="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample">
                  <div class="col-2">
                    <div class="d-flex align-items-center">
                      <div class="col-auto rounded-circle">
                        <app-profile-card
                          [imageUrl]="institution.hr_noted_by.operator.picture"
                          [height]="'40px'"
                          [width]="'40px'"></app-profile-card>
                      </div>
                      <div class="col ms-2 d-flex flex-column">
                        <b>{{
                          institution.hr_noted_by.operator.name || '------'
                        }}</b>
                        <span>
                          {{ institution.created_at | date: 'medium' }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <b>{{ institution.institution.name || '------' }}</b>
                    <p class="mb-0">
                      {{
                        institution.institution.account.acc_number || '------'
                      }}
                    </p>
                  </div>
                  <div class="text-secondary col-2">
                    <b>
                      <app-amount-visibility
                        [amount]="institution.ext_balance"
                        [currency]="'BIF'"></app-amount-visibility>
                    </b>
                  </div>
                  <div class="text-secondary col-2 pe-0">
                    <b>
                      <app-amount-visibility
                        [amount]="institution.cbs_balance"
                        [currency]="'BIF'"></app-amount-visibility>
                    </b>
                  </div>
                  <div
                    class="text-secondary col-2 d-flex align-items-center justify-content-between">
                    <div>
                      <b>
                        <app-amount-visibility
                          [amount]="institution.balance_difference"
                          [currency]="'BIF'"></app-amount-visibility>
                      </b>
                      @if (
                        institution.balance_difference !== 0 &&
                        !institution.hr_suspected_by &&
                        !institution.suspected_at
                      ) {
                        <span class="text-danger"
                          ><i class="fa-solid fa-circle-exclamation"></i
                        ></span>
                      }

                      @if (
                        institution.balance_difference === 0 &&
                        !institution.hr_suspected_by &&
                        !institution.suspected_at
                      ) {
                        <span class="text-success">
                          <i class="fa-solid fa-check-circle"></i
                        ></span>
                      }

                      @if (
                        institution.hr_suspected_by && institution.suspected_at
                      ) {
                        <span class="text-warning"
                          ><i class="fa-solid fa-triangle-exclamation"></i
                        ></span>
                      }
                    </div>

                    <span class="text-primary fs-4 px-3" type="button">
                      @if (!verifying || institutionPicked !== institution) {
                        <span (click)="verifyBalance(institution)" tabindex="0"
                          ><i class="fa-solid fa-expand"></i
                        ></span>
                      }

                      @if (verifying && institutionPicked === institution) {
                        <span (click)="closeVerification()" tabindex="0"
                          ><i
                            class="fa-solid fa-expand fa-rotate-by faRotateBy"></i
                        ></span>
                      }
                    </span>
                  </div>
                </div>
                @if (verifying && institutionPicked === institution) {
                  <hr />
                }

                @if (verifying && institutionPicked === institution) {
                  <div>
                    <div class="p-3 fs-5 text-dark">
                      <div class="opacity-75">
                        @if (institutionPicked.hr_verified_by) {
                          <b i18n>Validated By: </b>
                        }

                        @if (institutionPicked.hr_verified_by) {
                          <span>
                            {{ institutionPicked.hr_verified_by.operator.name }}
                          </span>
                        }

                        @if (
                          institutionPicked.hr_verified_by &&
                          institutionPicked.verified_at
                        ) {
                          <b i18n> at </b>
                        }

                        @if (institutionPicked.verified_at) {
                          <span>
                            {{ institutionPicked.verified_at | date: 'medium' }}
                          </span>
                        }

                        @if (
                          institutionPicked.hr_verified_by &&
                          institutionPicked.verified_at
                        ) {
                          <br />
                        }

                        @if (institutionPicked.hr_suspected_by) {
                          <b i18n>Suspected By: </b>
                        }

                        @if (institutionPicked.hr_suspected_by) {
                          <span>
                            {{
                              institutionPicked.hr_suspected_by.operator.name
                            }}
                          </span>
                        }

                        @if (
                          institutionPicked.hr_suspected_by &&
                          institutionPicked.suspected_at
                        ) {
                          <b>at</b>
                        }

                        @if (institutionPicked.suspected_at) {
                          <span>
                            {{
                              institutionPicked.suspected_at | date: 'medium'
                            }}</span
                          >
                        }

                        @if (
                          institutionPicked.hr_suspected_by &&
                          institutionPicked.suspected_at
                        ) {
                          <br />
                        }
                      </div>
                      @if (institutionPicked.reason) {
                        <div class="col-6 mt-2 fs-5">
                          <b i18n>Reason: </b>
                          <span>{{ institutionPicked.reason }}</span>
                        </div>
                      }
                    </div>
                    @if (
                      !institutionPicked.hr_verified_by &&
                      !institutionPicked.verified_at &&
                      !institutionPicked.hr_suspected_by &&
                      !institutionPicked.suspected_at
                    ) {
                      <div class="float-end">
                        <button
                          (click)="selectBalanceAction('valid')"
                          tabindex="0"
                          class="btn bg-primary me-3 btnSize"
                          data-bs-toggle="modal"
                          data-bs-target="#balance_action">
                          <b i18n>Validate</b>
                        </button>
                        <button
                          (click)="selectBalanceAction('suspect')"
                          tabindex="0"
                          class="btn text-primary me-3 border border-1 border-primary balanceAction"
                          data-bs-toggle="modal"
                          data-bs-target="#balance_action">
                          <b i18n>Suspect</b>
                        </button>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </section>
        </section>
      }
      <!-- pagination buttons -->
      @if (count > 10) {
        <div class="mb-3 w-100">
          <app-pagination
            [isLoading]="reloading"
            [totalData]="count"
            [pageLimit]="pagination.filters.limit"
            (paginationChange)="onPaginationChange($event)">
          </app-pagination>
        </div>
      }
    </section>
  </main>
  <footer>
    <div class="my-2"></div>
  </footer>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modalDialog">
      <div class="modal-body p-0">
        <div class="float-end">
          <span
            class="text-end fs-3 p-2"
            #closeChecking
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
            ><i class="fa-solid fa-xmark"></i
          ></span>
        </div>
        <div class="row mt-5 m-0 p-0">
          <div class="d-flex justify-content-center p-3">
            <div>
              <h5><b i18n>Check Balance</b></h5>
              <div>
                <form [formGroup]="balanceForm" (ngSubmit)="addBalance()">
                  <div class="col mt-3">
                    <app-lookup
                      option="autocomplete"
                      url="/treasury/institutions/manage/objects_autocomplete/?search="
                      label="Alias"
                      (selectedItemEvent)="getLedgerAlias($event)"></app-lookup>
                  </div>
                  <div class="mt-3 form-floating">
                    <input
                      type="text"
                      id="externalBalance"
                      placeholder="External Balance"
                      class="form-control input sm-radius field externalBalance"
                      formControlName="external_balance" />
                    <label for="externalBalance" class="fs-5 text-dark" i18n
                      ><small> External Balance</small> <code>*</code></label
                    >
                  </div>
                  <div class="mt-3 form-floating">
                    <input
                      type="password"
                      placeholder="Pin"
                      class="form-control input sm-radius field pinField"
                      formControlName="pin"
                      id="password" />
                    <label for="password" class="fs-5 text-dark" i18n
                      ><small> Pin</small> <code>*</code></label
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <button
                      class="btn bg-primary btnSize"
                      [disabled]="!balanceForm.valid">
                      @if (!balanceChecking) {
                        <b i18n>Confirm</b>
                      }
                      @if (balanceChecking) {
                        <span>
                          <i class="fa-solid fa-spin fa-circle-notch fs-4"></i>
                        </span>
                      }
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Action Modal -->
<div
  class="modal fade"
  id="balance_action"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content dialogModalContent">
      <div class="modal-body p-0">
        <div class="float-end">
          <span
            class="text-end fs-3 p-2"
            #closeAction
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
            ><i class="fa-solid fa-xmark"></i
          ></span>
        </div>
        <div class="row mt-3 m-0 p-0">
          <div class="d-flex justify-content-center px-3 pb-3 pt-0">
            <div>
              <div class="d-flex justify-content-center">
                <h5>
                  <b i18n>
                    @if (balanceAction === 'valid') {
                      <span>Validate</span>
                    }
                    @if (balanceAction === 'suspect') {
                      <span>Suspect</span>
                    }

                    Balance
                  </b>
                </h5>
              </div>
              <div>
                <form
                  [formGroup]="balanceActionForm"
                  (ngSubmit)="approve_suspectBalance()">
                  <div class="mt-3 pt-3 form-floating">
                    <textarea
                      name=""
                      id="reason"
                      type="text"
                      placeholder="Reason"
                      class="form-control input sm-radius field balanceActionFormSize"
                      formControlName="reason">
                    </textarea>
                    <label class="fs-5 text-dark mb-0 mt-2" for="reason" i18n
                      ><small> Reason</small> <code>*</code></label
                    >
                  </div>
                  <div class="mt-3 form-floating">
                    <input
                      type="password"
                      placeholder="Pin"
                      class="form-control input sm-radius field passwordField"
                      formControlName="password"
                      id="password" />
                    <label for="password" class="fs-5 text-dark" i18n
                      ><small> Password</small> <code>*</code></label
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <button class="btn bg-primary btnSize">
                      @if (!balanceActionDoing) {
                        <b>Confirm</b>
                      }

                      @if (balanceActionDoing) {
                        <span>
                          <i class="fa-solid fa-spin fa-circle-notch fs-4"></i>
                        </span>
                      }
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
