<div class="containter border border-1 rounded">
  <div class="bg-secondary">
    <div class="row">
      <div class="col">
        <div class="row col-md-9 d-flex align-items-center p-1">
          <div class="col">
            <span
              class="bg-white nav-link d-flex justify-content-center align-items-center rounded-circle">
              <i class="fa-solid text-success fa-plus"></i>
            </span>
          </div>
          <div class="col">
            <span class="nav-link"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
          </div>
          <div class="col">
            <span class="nav-link"
              ><i class="fa-solid fa-rotate-right"></i
            ></span>
          </div>
          <div class="col">
            <span class="nav-link"
              ><i class="fa-solid fa-chart-simple"></i
            ></span>
          </div>
          <div class="col">
            <span class="nav-link"
              ><i class="fa-solid fa-cloud-arrow-down"></i
            ></span>
          </div>
          <div class="col">
            <span class="nav-link"><i class="fa-solid fa-eye"></i></span>
          </div>
          <div class="col">|</div>
          <div class="col">
            <span class="nav-link"><i class="fa-solid fa-list-ul"></i></span>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-end ms-2 me-2">
        <div class="row">
          <div class="col">
            <span class="me-4">1-20 of 256 </span>
            <span><< < 1 > >></span>
            <span> <i class="fa-solid fa-arrow-up-wide-short ms-4"></i></span>
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <nav class="navbar navbar-expand-sm px-2">
          <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
              <span
                class="bg-white nav-link d-flex align-items-center rounded-circle">
                <i class="fa-solid text-success fa-plus"></i>
              </span>
            </li>
            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"
                ><i class="fa-solid fa-magnifying-glass"></i
              ></span>
            </li>
            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"
                ><i class="fa-solid fa-rotate-right"></i
              ></span>
            </li>
            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"
                ><i class="fa-solid fa-chart-simple"></i
              ></span>
            </li>
            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"
                ><i class="fa-solid fa-cloud-arrow-down"></i
              ></span>
            </li>
            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"><i class="fa-solid fa-eye"></i></span>
            </li>

            <li class="nav-item d-flex align-items-center">
              <span class="nav-link"><i class="fa-solid fa-list-ul"></i></span>
            </li>
          </ul>
        </nav>
      </div> -->
    </div>
  </div>
  <!-- list content-->
  <div class="list p-2">
    <div class="row g-1 p-2 d-flex align-items-center">
      <div class="col">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault" />
      </div>
      <div class="col">
        <span
          >Operator <span><i class="fa-solid fa-sort"></i></span
        ></span>
      </div>
      <div class="col">
        <span>Type </span><span><i class="fa-solid fa-sort"></i></span>
      </div>
      <div class="col">
        <span>Description </span><span><i class="fa-solid fa-sort"></i></span>
      </div>
      <div class="col">
        <span>Begin Date </span><span><i class="fa-solid fa-sort"></i></span>
      </div>
      <div class="col">
        <span>End Date </span><span><i class="fa-solid fa-sort"></i></span>
      </div>
      <div class="col">
        <span>Duree </span><span><i class="fa-solid fa-sort"></i></span>
      </div>
      <div class="col"><span>Status </span></div>
    </div>

    <!-- <div tabindex="0" role="button" class="row mt-2 border  border-1 rounded g-1 p-2 d-flex align-items-center" (mouseover)="open[index] = true" (mouseleave)="open[index] = false">
      <div class="col">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      </div>
      <div class="col text-truncate"><span>Pierre Claver ko..</span></div>
      <div class="col text-truncate"><span>Conges Maladie</span></div>
      <div class="col text-truncate"> <span>Lorem ipsum....</span></div>
      <div class="col text-truncate"><span>4/01/2024 12:00 </span></div>
      <div class="col text-truncate"><span>4/03/2024 12:00</span></div>
      <div class="col text-truncate"> 
         @if (open[index]) { <span class="showButton"><button class="bg-white border-success rounded"><i class="fa-solid fa-thumbs-up"></i> Approved</button></span>}
         @else{<span>2 days</span>}
      </div>
      <div class="col text-truncate"> 
         @if (open[index]) { <span class="showButton"><button class="bg-white border-danger rounded">Refused <i class="fa-solid rotate fa-thumbs-up"></i></button></span>}
         @else {<span class="bg-success text-dark p-1 rounded">Approved</span>}
      </div>
    </div> -->
  </div>
</div>

<!-- <div (mouseover)="open = true" (mouseleave)="open = false">
  To display button mouseover here!!!
  @if (open) {
  <button class="btn btn-primary" type="button">
    <i class="fa fa-plus">Button</i>
  </button>
}
</div> -->
