<div
  class="bg-secondary mt-4 ms-md-5 ps-xl-3 col-md-10 col-xl-9 p-3 lg-radius"
  style="line-height: 1em">
  @if (selectedsubmenu === 'pin') {
    <div class="col-6">
      <form [formGroup]="formPin">
        <!-- for big devices -->
        <div class="d-lg-block d-none">
          <span class="p-2">
            <input
              class="form-control ms-3 input sm-radius pin"
              formControlName="oldPin"
              [type]="pinType"
              placeholder="Old Pin"
              minlength="4"
              required />
          </span>
          <br />
          <div class="text-end text-dark">
            <input
              id="showPin"
              type="checkbox"
              (click)="changePinType()"
              class="me-2"
              style="width: 15px; height: 15px; border-radius: 2px" />
            <label for="showPin">Show Pin</label>
          </div>
          <span class="p-2">
            <label
              for="showPinSmall"
              class="ms-2 text-dark"
              style="opacity: 0.5">
              ( 4 characters max)</label
            >
            <input
              id="showPinSmall"
              class="form-control ms-3 input sm-radius pin"
              formControlName="newPin"
              type="{{ showPin ? 'text' : 'password' }}"
              placeholder="New Pin"
              maxlength="4"
              minlength="4"
              required />
          </span>
          <br />
          <span class="p-2">
            <input
              id="confirmNewPin"
              class="form-control ms-3 input sm-radius pin"
              formControlName="confirmNewPin"
              type="{{ showPin ? 'text' : 'password' }}"
              placeholder="Confirm New Pin"
              maxlength="4"
              minlength="4"
              required />
          </span>
          <br />
          <div class="ms-3 p-2 text-dark" style="font-weight: 400">
            <input
              id="agreementPin"
              type="checkbox"
              class="form-control-check me-2"
              formControlName="agreementPin"
              style="width: 15px; height: 15px; border-radius: 2px"
              required />
            <label for="agreementPin" i18n
              >All operations will be required to sign in with new pin</label
            >
          </div>
        </div>
        <!-- for small devices -->
        <div class="d-sm-block d-lg-none d-md-none">
          <span class="p-2">
            <input
              class="form-control ms-3 input sm-radius pin"
              formControlName="oldPin"
              [type]="pinType"
              placeholder="Old Pin"
              minlength="4"
              required />
          </span>
          <br />
          <div class="text-end text-dark" style="width: 32.5%" i18n>
            <input
              type="checkbox"
              (click)="changePinType()"
              style="width: 15px; height: 15px; border-radius: 2px" />
            <label for="ShowPin">Show Pin</label>
          </div>
          <span class="p-2">
            <label
              for="newPin"
              class="ms-2 text-dark"
              style="opacity: 0.5"
              i18n>
              ( 4 characters max)</label
            >
            <input
              class="form-control ms-3 input sm-radius pin"
              formControlName="newPin"
              type="{{ showPin ? 'text' : 'password' }}"
              placeholder="New Pin"
              maxlength="4"
              minlength="4"
              required />
          </span>
          <br />
          <span class="p-2">
            <input
              class="form-control ms-3 input sm-radius pin"
              formControlName="confirmNewPin"
              type="{{ showPin ? 'text' : 'password' }}"
              placeholder="Confirm New Pin"
              maxlength="4"
              minlength="4"
              required />
          </span>
          <br />
          <div class="ms-3 p-2 text-dark" style="font-weight: 400" i18n>
            <input
              type="checkbox"
              class="form-control-check"
              formControlName="agreementPin"
              style="width: 15px; height: 15px; border-radius: 2px"
              required />
            All operations will be required to sign in <br />
            with new pin
          </div>
        </div>
      </form>

      <br />

      <div style="display: flex; align-items: center">
        <div class="d-flex align-items-center gap-4">
          <div>
            <span
              role="button"
              class="level-2 cancelButton"
              (click)="resetPin()"
              disabled="isLoadingNewPin"
              i18n>
              Cancel
            </span>
          </div>
          <div>
            <button
              class="btn bg-primary text-all-white"
              style="width: 90px; height: 40.15px; border-radius: 7px"
              [disabled]="!formPin.valid || isLoadingNewPin"
              type="submit"
              (click)="modifyPin()"
              [tabIndex]="0">
              @if (!isLoadingNewPin) {
                <strong i18n>Save</strong>
              }
              @if (isLoadingNewPin) {
                <span>
                  <i
                    class="fa-solid fa-spin text-light fa-circle-notch fs-5"></i>
                </span>
              }
            </button>
          </div>
        </div>
        @if (!pinMatch) {
          <div class="text-danger ms-3">
            <span i18n>Pins are not match</span>
          </div>
        }
      </div>
    </div>
  }

  @if (selectedsubmenu === 'password') {
    <div class="col-6">
      <form [formGroup]="formPassword">
        <!-- for big devices -->
        <div class="d-lg-block d-none">
          <span class="p-2">
            <input
              class="form-control ms-3 input sm-radius pin"
              formControlName="oldPassword"
              [type]="passwordType"
              minlength="8"
              placeholder="Old Password"
              required />
          </span>
          <br />
          <div class="text-end text-dark" i18n>
            <input
              type="checkbox"
              (click)="changePasswordType()"
              class="form-check-input me-2 mt-0"
              style="width: 15px; height: 15px; border-radius: 2px"
              id="showPassword" />
            <label for="showPassword">Show Password</label>
          </div>
          <span class="p-2">
            <label
              for="newPassword"
              class="ms-2 text-dark"
              style="opacity: 0.5"
              i18n
              >( 8 characters minimum )</label
            ><input
              class="form-control ms-3 input sm-radius pin"
              type="{{ showPassword ? 'text' : 'password' }}"
              placeholder="New Password"
              minlength="8"
              formControlName="newPassword"
          /></span>
          <br />
          <span class="p-2"
            ><input
              class="form-control ms-3 input sm-radius pin"
              type="{{ showPassword ? 'text' : 'password' }}"
              placeholder="Confirm New Password"
              minlength="8"
              formControlName="confirmNewPassword"
          /></span>
          <br />
          <div class="ms-3 p-2 text-dark" style="font-weight: 400" i18n>
            <input
              type="checkbox"
              class="form-control-check me-2"
              formControlName="agreementPassword"
              style="width: 15px; height: 15px; border-radius: 2px" />
            All operations will be required to sign in with new pin
          </div>
        </div>
        <!-- for small devices -->
        <!-- for small devices -->
        <div class="d-sm-block d-lg-none d-md-none">
          <span class="p-2"
            ><input
              class="form-control ms-3 input sm-radius pin"
              formControlName="oldPassword"
              [type]="passwordType"
              minlength="8"
              placeholder="Old Password"
              required
          /></span>
          <br />
          <div class="text-end" style="width: 32.5%" i18n>
            <input
              type="checkbox"
              (click)="changePasswordType()"
              class="form-check-input me-2 showPassButton" />
            Show Password
          </div>
          <span class="p-2">
            <label for="newPassword" class="ms-2 text-dark" style="opacity: 0.5"
              >( 8 characters minimum )</label
            ><input
              class="form-control ms-3 input sm-radius pin"
              type="{{ showPassword ? 'text' : 'password' }}"
              placeholder="New Password"
              minlength="8"
              formControlName="newPassword"
          /></span>
          <br />
          <span class="p-2"
            ><input
              class="form-control ms-3 input sm-radius pin"
              type="{{ showPassword ? 'text' : 'password' }}"
              placeholder="Confirm New Password"
              minlength="8"
              formControlName="confirmNewPassword"
          /></span>
          <br />
          <div class="ms-3 p-2 text-dark" style="font-weight: 400" i18n>
            <input
              id="agreementPassword"
              type="checkbox"
              class="form-control-check me-2"
              formControlName="agreementPassword"
              style="width: 15px; height: 15px; border-radius: 2px" />
            <label for="agreementPassword">
              All operations will be required to sign in <br />
              with new pin</label
            >
          </div>
        </div>
      </form>

      <br />

      <div style="display: flex; align-items: center">
        <div class="d-flex align-items-center gap-4">
          <div>
            <span
              role="button"
              class="level-2 cancelButton"
              (click)="resetPin()"
              disabled="isLoadingNewPin"
              i18n>
              Cancel
            </span>
          </div>
          <div>
            <button
              class="btn bg-primary text-all-white"
              style="width: 90px; height: 40.15px; border-radius: 7px"
              [disabled]="!formPassword.valid || isLoadingNewPassword"
              (click)="modifyPassword()"
              [tabIndex]="0"
              type="submit">
              @if (!isLoadingNewPassword) {
                <strong i18n>Save</strong>
              }
              @if (isLoadingNewPassword) {
                <span>
                  <i
                    class="fa-solid fa-spin text-light fa-circle-notch fs-5"></i>
                </span>
              }
            </button>
          </div>
        </div>
        @if (!pinMatch) {
          <div class="text-danger ms-3">
            <span i18n>Pins are not match</span>
          </div>
        }
      </div>
    </div>
  }
</div>
