<div>
  <!-- loader for onlineBanking -->
  @if (
    !walletsOnlineBanking && mainConfig.activePlateform === 'onlineBanking'
  ) {
    <div
      class="text-center w-100 d-flex position-absolute justify-content-center h-100 align-items-center text-dark"
      title="Loading...">
      <span><i class="spinner-border"></i></span>
    </div>
  }

  <!-- loader for workStation -->
  @if (!walletsOnlineBanking && mainConfig.activePlateform === 'workstation') {
    <span
      class="text-center w-100 d-flex justify-content-center text-dark"
      style="margin-top: 60%"
      title="Loading...">
      <i class="spinner-border"></i>
    </span>
  }

  <!-- list for OnlineBanking -->
  @if (
    !isLoading &&
    walletsOnlineBanking &&
    mainConfig.activePlateform === 'onlineBanking'
  ) {
    <div
      class="position-relative overflow-x-hidden overflow-y-auto"
      style="min-width: 220px">
      <div
        class="row d-flex p-2 justify-content-between align-items-center"
        style="height: 35px">
        <div style="margin-right: 10px" class="col pt-1 text-dark">
          <b i18n>Wallets</b>
          @if (!isWalletDetailsShown) {
            <b
              class="ms-2 text-dark"
              role="button"
              title="refresh accounts list"
              (click)="refresh()"
              tabindex="0"
              ><i class="fa-solid fa-rotate-right"></i
            ></b>
          }
        </div>

        <div class="col-1 pt-1 me-3" role="button">
          <!--- <span title="Show balances" *ngIf="!showAmount">
                    <i class="fa-solid fa-eye text-dark"></i
                ></span>
                <span *ngIf="showAmount" title="Hide balances">
                    <i class="fa-solid fa-eye-slash text-dark"></i
                ></span>-->
        </div>
        @if (isLoneWalletSelected) {
          <div class="text-end d-lg-none d-sm-block d-md-block">
            <span
              class="fw-bold"
              role="button"
              (click)="goBack()"
              tabindex="0"
              i18n>
              <i class="fa fa-arrow-left"></i> Back to the list
            </span>
          </div>
        }
        <hr class="mt-1 ms-3 text-dark" style="width: 92%; color: #8e8b8b" />
      </div>

      <!--*Wallets loop for large screens-->
      @for (wallet of walletsOnlineBanking; track $index) {
        <div
          class="fig is-hoverable d-none d-lg-block"
          role="button"
          style="overflow: auto; border-bottom: 1px solid #ccc">
          <div
            (click)="selectWallet(wallet)"
            tabindex="0"
            routerLink="/b/banking/wallets/details/{{ wallet.id }}"
            class="mt-2 px-2"
            style="border-left: 5px solid rgb(129, 0, 25)"
            [ngClass]="{
              cliped: selectedWallet === wallet,
              'text-dark': selectedWallet !== wallet,
            }"
            routerLinkActive="cliped">
            <small
              ><b class="">{{ wallet.title }}</b></small
            ><br />

            <div class="rounded mb-2 mt-1" style="line-height: 0.8em">
              <small
                ><span class="mt-0 text-sm"
                  >{{ wallet.account.account_holder }}
                </span></small
              ><br />
              <small>
                <span class="mt-0 mb-0 text-sm">
                  {{ wallet.code }}
                </span>
              </small>
              <br />
              <small
                ><b class="text-success"
                  >{{ wallet.available_balance | number }}
                  {{ wallet.currency }}</b
                ></small
              >
            </div>
          </div>
        </div>
      }

      <!--* Wallets loop for medium and small screen-->
      @for (wallet of walletsOnlineBanking; track $index) {
        <div>
          <div
            class="fig is-hoverable d-lg-none d-sm-block d-md-block overflow-auto"
            role="button"
            *ngIf="!isLoneWalletSelected"
            style="border-bottom: 1px solid #ccc">
            <div
              (click)="selectLoneWallet(wallet)"
              tabindex="0"
              class="mt-4 px-2"
              routerLink="/b/banking/wallets/details/{{ wallet.id }}"
              style="border-left: 5px solid rgb(129, 0, 25)"
              [ngClass]="{
                cliped: selectedWallet === wallet,
                'text-dark': selectedWallet !== wallet,
              }"
              routerLinkActive="cliped">
              <small
                ><b class="">{{ wallet.title }}</b></small
              ><br />

              <div class="rounded mb-2 mt-1" style="line-height: 0.8em">
                <small
                  ><span class="mt-0 text-sm"
                    >{{ wallet.account.account_holder }}
                  </span></small
                ><br />
                <small>
                  <span class="mt-0 mb-0 text-sm">
                    {{ wallet.code }}
                  </span>
                </small>
                <br />
                <small
                  ><b class="text-success"
                    >{{ wallet.available_balance | number }}
                    {{ wallet.currency }}</b
                  ></small
                >
              </div>
            </div>
          </div>
        </div>
      }

      <!--*selected Wallet for small and medium screens-->
      <div
        *ngIf="isLoneWalletSelected"
        (click)="selectLoneWallet(wallet)"
        tabindex="0"
        class="mt-4 px-2 d-lg-none d-sm-block d-md-block cliped text-dark w-100"
        style="border-left: 5px solid rgb(129, 0, 25)">
        <small
          ><b class="">{{ selectedWallet.title }}</b></small
        ><br />

        <div class="rounded mb-2 mt-1" style="line-height: 0.8em">
          <small
            ><span class="mt-0 text-sm"
              >{{ selectedWallet.account.account_holder }}
            </span></small
          ><br />
          <small>
            <span class="mt-0 mb-0 text-sm">
              {{ selectedWallet.code }}
            </span>
          </small>
          <br />
          <small
            ><b class="text-success"
              >{{ selectedWallet.available_balance | number }}
              {{ selectedWallet.currency }}</b
            ></small
          >
        </div>
      </div>
    </div>
  }
</div>
