<div>
  <!-- loader f -->
  @if (!walletsListData && Type === 'list') {
    <span
      class="text-center w-100 d-flex position-absolute justify-content-center h-100 align-items-center text-dark"
      title="Loading...">
      <i class="spinner-border"></i>
    </span>
  }
  @if (!walletsListData && Type === 'transfer') {
    <div
      class="bg-white p-3 border border-2 mt-2 lg-radius"
      style="min-width: 300px">
      <span
        class="text-center w-100 h-100 align-items-center d-flex justify-content-center text-dark"
        title="Loading accounts...">
        <i class="spinner-border"></i>
      </span>
    </div>
  }

  <!-- list -->
  @if (walletsListData && walletsListData.length > 0) {
    <div
      class="position-relative overflow-x-hidden overflow-y-auto"
      style="min-width: 220px"
      [ngStyle]="{ height: Type !== 'transfer' ? '50vh' : '' }">
      @if (Type === 'list') {
        <hr class="my-1 ms-3" />
      }

      @if (Type === 'list' || (Type === 'transfer' && !selectedLoneWallet)) {
        <div
          [ngClass]="{
            'bg-white p-3 border  border-2 mt-2 ms-2 lg-radius overflow-y-auto':
              Type === 'transfer',
          }">
          @for (wallet of walletsListData; track $index) {
            <div
              (click)="selectLoneAccount(wallet)"
              [routerLink]="
                Type === 'list'
                  ? activePlatform === 'workstation'
                    ? '/w/workstation/b/banking/wallets/details/' + wallet.id
                    : activePlatform === 'onlineBanking'
                      ? '/b/banking/wallets/details/' + wallet.id
                      : null
                  : null
              "
              tabindex="0"
              class="d-grid ps-3 py-0 rounded b-left"
              [ngClass]="{
                account: Type === 'transfer',
                cliped: selectedLoneWallet === wallet && Type === 'list',
                'text-all-dark':
                  selectedLoneWallet === wallet &&
                  Type === 'list' &&
                  theme === 'dark',

                'text-dark':
                  selectedLoneWallet === wallet &&
                  Type === 'list' &&
                  theme === 'light',
              }"
              role="button">
              <b class="fw-bold">{{ wallet.title }}</b>
              <b class="fw-normal">{{ wallet.account.account_holder }}</b>

              <b class="fw-normal">{{ wallet.code }}</b>

              <b>
                <app-amount-visibility
                  [amount]="wallet.available_balance"
                  [currency]="wallet.currency"
                  [ngClass]="
                    'fw-normal text-success fw-bold'
                  "></app-amount-visibility>
              </b>
            </div>
            <hr class="my-1" />
          }
        </div>
      }

      @if (Type === 'transfer' && selectedLoneWallet) {
        <div class="mt-3 lg-radius border">
          <div class="p-2 lg-radius bg-white">
            <div
              class="d-flex align-items-start justify-content-between ps-2 py-0 b-left">
              <div class="d-grid ps-3 py-0">
                <b>{{ selectedLoneWallet.title }}</b>

                <b class="fw-normal">{{
                  selectedLoneWallet.account.account_holder
                }}</b>
                <b class="fw-normal">{{ selectedLoneWallet.code }}</b>

                <b>
                  <span>
                    <app-amount-visibility
                      [amount]="selectedLoneWallet.available_balance"
                      [currency]="selectedLoneWallet.currency"
                      [ngClass]="
                        'fw-normal text-success'
                      "></app-amount-visibility>
                  </span>
                </b>
              </div>

              <div>
                <span
                  role="button"
                  class="bg-danger text-white ms-5 pt-1 px-1 rounded-circle"
                  (click)="clearSelectedWallet()"
                  tabindex="0">
                  <i class="fa fa-xmark"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
  <!--*No accounts message-->
  @if (walletsListData && walletsListData.length === 0) {
    <span
      class="text-center w-100 h-100 align-items-center d-flex justify-content-center text-dark">
      <span class="text-secondary">
        <i class="fa fa-ban me-1"></i>
        <b>You don't have any wallet</b>
      </span>
    </span>
  }
</div>
