<div class="p-2 details-container">
  <div class="text-end p-2 bg-secondary">
    <span
      role="button"
      class="fw-bold text-dark shadow-lg bg-secondary ps-4 pe-3 p-2 sm-radius"
      (click)="goBack()"
      tabindex="0"
      title="Go To Credit Line List"
      i18n
      ><i class="fa-solid fa-arrow-left"></i> Back</span
    >
  </div>
  <div class="bg-white text-dark">
    @if (!creditLine) {
      <div
        class="d-flex justify-content-center align-items-center loadingBlock">
        <span class="spinner-border"> </span>
      </div>
    }
    @if (creditLine) {
      <div class="d-flex">
        <section class="w-25 shadow-sm pb-5 p-4">
          <div class="row mb-3 fs-medium">
            <div class="col">
              <b class="text-primary" i18n>Basic Client Info </b>
            </div>
            <div class="col-2 text-end">
              <span class=""
                ><i
                  class="fa-solid fa-arrow-up-right-from-square text-primary iconSize"></i
              ></span>
            </div>
          </div>
          <div class="d-flex justify-content-start mt-4">
            <div class="d-grid">
              @if (!creditLine.crel_manager_info.employee_client.picture) {
                <div class="mb-3 imgSize">
                  <img
                    src="images/userprofile.png"
                    class="lg-radius image"
                    alt="user profile" />
                </div>
              }
              @if (creditLine.crel_manager_info.employee_client.picture) {
                <div class="mb-3 imgSize">
                  <img
                    class="image imgBorder"
                    [src]="creditLine.crel_manager_info.employee_client.picture"
                    alt="user profile" />
                </div>
              }

              <div class="d-grid fs-normal">
                <b i18n class="fw-bolder text-secondary">Client Name</b>
                <b class=""> {{ creditLine.crel_manager_info.name }}</b>
                <b i18n class="fw-bolder text-secondary mt-2">Client ID</b>
                <b class="">
                  {{ creditLine.crel_manager_info.employee_client.client_code }}
                </b>
              </div>
              <div class="mt-3">
                <div>
                  <div class="d-grid mb-2">
                    <b class="text-secondary text-sm" i18n>Client email</b>
                    <b class="text-sm">
                      {{ creditLine.crel_manager_info.email }}
                    </b>
                  </div>
                  @if (
                    creditLine.crel_manager_info.employee_client.is_agent ===
                    true
                  ) {
                    <div class="mb-2">
                      <b i18n class="fs-normal fw-bolder text-secondary"
                        >Agent</b
                      >
                      <span class="ms-2"
                        ><i class="fa-solid fa-circle-xmark text-primary"></i
                      ></span>
                    </div>
                  }
                  @if (
                    creditLine.crel_manager_info.employee_client.is_merchant ===
                    true
                  ) {
                    <div>
                      <b i18n class="fs-normal fw-bolder text-secondary"
                        >Merchant</b
                      >
                      <span class="ms-2"
                        ><i class="fa-solid fa-circle-xmark text-primary"></i
                      ></span>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="w-75 p-4">
          <div class="d-flex justify-content-end fs-5">
            <span
              title="Refresh the details"
              (click)="refreshPage()"
              tabindex="0">
              <i class="fa-solid fa-arrows-rotate" type="button"> </i>
            </span>
          </div>
          <div class="d-flex justify-content-center fs-5">
            <span i18n>Credit Line Number : </span>
            <b> {{ creditLine.crel_code }}</b>
          </div>

          <div
            class="w-100 mt-4 mb-4 border lg-radius pt-3 pb-3 p-0 bg-secondary position-relative">
            <div
              class="position-absolute bg-white lg-radius shadow-sm p-1 pe-3 ps-3 titlePosition">
              <b i18n class="fs-normal fw-bold">Account info</b>
            </div>
            <div class="d-flex justify-content-center mt-3 mb-3">
              <div
                class="d-flex justify-content-center col-6 gap-4 border-end border-1 border-secondary">
                @if (!creditLine.crel_account_info.acc_picture) {
                  <div class="accountPicture">
                    <img
                      src="images/userprofile.png"
                      class="lg-radius image"
                      alt="account picture" />
                  </div>
                }
                @if (creditLine.crel_account_info.acc_picture) {
                  <div class="accountPicture">
                    <img
                      [src]="creditLine.crel_account_info.acc_picture"
                      alt="account picture"
                      class="lg-radius image" />
                  </div>
                }

                <div class="d-grid ms-4">
                  <div class="text-dark mb-3 d-grid">
                    <b i18n class="fs-normal fw-bold text-secondary mb-0"
                      >Account holder</b
                    >
                    <b>
                      {{ creditLine.crel_account_info.acc_holder }}
                    </b>
                  </div>
                  <div class="text-dark mb-3 d-grid">
                    <b i18n class="fs-normal fw-bold text-secondary mb-0"
                      >Account number</b
                    >
                    <b>
                      {{ creditLine.crel_account_info.acc_number }}
                    </b>
                  </div>
                  <div class="d-grid">
                    <b i18n class="fs-normal fw-bold text-secondary mb-0"
                      >Status</b
                    >
                    <span
                      [class]="
                        'text-' +
                        creditLine.crel_account_info.acc_status.status_css +
                        ' fa-solid fa-' +
                        creditLine.crel_account_info.acc_status.status_icon
                      ">
                    </span>
                  </div>
                </div>
              </div>
              <div class="col d-grid justify-content-center">
                <div class="mb-3 d-grid">
                  <b i18n class="fs-normal fw-bold text-secondary mb-0">
                    Account type
                  </b>
                  <b class="fw-bold text-dark">
                    {{ creditLine.crel_account_info.acc_account_type }}
                  </b>
                </div>
                <div class="mb-3 d-grid">
                  <b i18n class="fs-normal fw-bold text-secondary mb-0">
                    Created at
                  </b>
                  <b class="fw-bold text-dark">
                    {{ creditLine.created_at }}
                  </b>
                </div>
                <div class="d-grid">
                  <b i18n class="fs-normal fw-bold text-secondary mb-0">
                    Available balance
                  </b>
                  <b class="fw-bold text-dark">
                    <app-amount-visibility
                      [amount]="
                        creditLine.crel_account_info.acc_available_balance
                      "
                      [currency]="'BIF'"
                      [alwaysShowAmount]="true"></app-amount-visibility>
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <b i18n class="fs-normal fw-bold">Credit line info</b>
            <hr class="flex-shrink ms-2 lineSize" />
          </div>
          <div class="row">
            <div class="col">
              <div class="mt-3 row">
                <div i18n class="fw-bold text-secondary col-4">Amount:</div>
                <div class="fw-bold text-dark col-7">
                  <app-amount-visibility
                    [amount]="creditLine.crel_credit_limit"
                    [currency]="'BIF'"
                    [alwaysShowAmount]="true"></app-amount-visibility>
                </div>
              </div>
              <div class="mt-3 row">
                <div i18n class="fw-bold text-secondary col-4">Fees:</div>
                <div class="fw-bold text-dark col-7">
                  @if (creditLine.crel_fees > 100) {
                    <span>
                      <app-amount-visibility
                        [amount]="creditLine.crel_fees"
                        [currency]="'BIF'"
                        [alwaysShowAmount]="true"></app-amount-visibility>
                    </span>
                  }
                  @if (creditLine.crel_fees < 100) {
                    <span>{{ creditLine.crel_fees }}%</span>
                  }
                </div>
              </div>
              <div class="mt-3 row">
                <div i18n class="fw-bold text-secondary col-4">
                  Expiry date:
                </div>
                <div class="fw-bold text-dark col-7">
                  {{ creditLine.crel_expiry_date }}
                </div>
              </div>

              <div class="mt-3">
                <div class="row fw-bold fs-normal">
                  @if (creditLine.crel_authorized_by_info) {
                    <div i18n class="col-4 text-secondary">Authorized by:</div>
                    <div class="col-7">
                      {{ creditLine.crel_authorized_by_info.name || '------' }}
                    </div>
                  }
                  @if (creditLine.crel_cancelled_by_info) {
                    <div i18n class="col-4 text-secondary">Cancelled by:</div>
                    <div class="col-7">
                      {{ creditLine.crel_cancelled_by_info.name || '------' }}
                    </div>
                  }
                </div>
              </div>
              <div class="row mt-3 fw-bold fs-normal">
                <div class="col-4 text-secondary">Status</div>
                <div class="col-7">
                  <b
                    class="ps-3 pe-3 p-2 sm-radius"
                    [ngClass]="{
                      initialOrPending:
                        creditLine.crel_status.value === 'I' || 'E',
                      cancelled: creditLine.crel_status.value === 'C',
                      'text-info': creditLine.crel_status.value === 'I' || 'E',
                      'text-warning': creditLine.crel_status.value === 'C',
                    }">
                    {{ creditLine.crel_status.title }}
                  </b>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mt-3 row">
                <div i18n class="fw-bold text-secondary col-4">
                  Debitor Rate:
                </div>
                <div class="fw-bold text-dark col-7">
                  {{ creditLine.crel_debitor_rate }}%
                </div>
              </div>
              <div class="mt-3 row">
                <div i18n class="fw-bold text-secondary col-4">
                  Penalities Rate:
                </div>
                <div class="fw-bold text-dark col-7">
                  {{ creditLine.crel_penalities_rate }}%
                </div>
              </div>
              <div class="mt-3">
                <div class="row fw-bold">
                  <div i18n class="col-4 text-secondary">Created at:</div>
                  <div class="col-7">{{ creditLine.created_at | date }}</div>
                </div>
              </div>
              <div class="mt-3">
                @if (creditLine.crel_authorized_at) {
                  <div class="row fw-bold">
                    <div i18n class="col-4 text-secondary">Authorized at:</div>
                    <div class="col-7">
                      {{ creditLine.crel_authorized_at | date }}
                    </div>
                  </div>
                }
                @if (creditLine.crel_cancelled_at) {
                  <div class="row fw-bold">
                    <div i18n class="col-4 text-secondary">Cancelled at:</div>
                    <div class="col-7">
                      {{ creditLine.crel_cancelled_at | date }}
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
          @if (
            !creditLine.crel_authorized_by && !creditLine.crel_cancelled_by
          ) {
            <div class="mt-3 d-flex justify-content-center">
              <button
                i18n
                (click)="getActionSelected('authorize')"
                tabindex="0"
                class="btn me-3 bg-success">
                <b>Authorize</b>
              </button>
              <button
                i18n
                (click)="getActionSelected('cancel')"
                tabindex="0"
                class="btn me-3 bg-primary-2">
                <b>Cancel</b>
              </button>
            </div>
          }
          <div
            class="text-primary mt-4 sm-radius w-100 fw-bold d-flex justify-content-between">
            <div i18n>
              <span><i class="fa-solid fa-circle-info text-primary"></i></span>
              Last pdate {{ creditLine.updated_at | date }}
            </div>
          </div>
        </section>
      </div>
    }
  </div>
</div>
