.iconSize {
  width: 20px;
  height: 20px;
}
.imgSize {
  width: 150px;
  height: 150px;
}
.loadingBlock {
  height: 60vh;
}

.accountPicture {
  width: 125px;
  height: 125px;
}
.imgBorder {
  border-radius: 25px;
}
.lineSize {
  width: 89%;
}
.titlePosition {
  margin-left: 35px;
  top: -16px;
}

.initialOrPending {
  background: #bddaf6;
}
.cancelled {
  background: #e2ee62;
}
.profileImage {
  width: 160px;
}
