.iconSize {
  width: 20px;
  height: 20px;
}

.loadingBlock {
  height: 60vh;
}

.lineSize {
  width: 88%;
}
.titlePosition {
  margin-left: 21px;
  top: -16px;
}

.initialOrPending {
  background: #bddaf6;
}
.cancelled {
  background: #e2ee62;
}
.profileImage {
  width: 160px;
}
.iconColor {
  color: #e52828;
}
