.loadingBlock {
  height: 60vh;
}

.lineSize {
  width: 88%;
}
.titlePosition {
  margin-left: 21px;
  top: -16px;
}

.initialOrPending {
  background: #bddaf6;
}
.cancelled {
  background: #e2ee62;
}
