<div class="col-4" *ngIf="closing">
  <form [formGroup]="searchForm" (ngSubmit)="getClientInfo()">
    <!-- *ngIf="!closing" -->
    <div>
      <input
        class="form-control form-control-sm ps-5 text-dark field"
        type="text"
        style="border-radius: 15px; border: none; width: 200px"
        placeholder="{{ placeholder }}"
        formControlName="clientId" />
    </div>

    <div>
      <button
        style="bottom: 15px"
        class="text-dark btn bg-transparent position-relative translate-middle-y"
        type="submit"
        *ngIf="!dataCheck">
        <i class="fa-solid fa-search fs-7"></i>
      </button>
      <span
        style="bottom: 15px"
        *ngIf="dataCheck"
        class="btn bg-transparent position-relative text-dark translate-middle-y"
        ><i class="fas fa-spinner fa-pulse"></i
      ></span>
    </div>
  </form>
</div>
<div
  class="row"
  *ngIf="clientId && !closing"
  [ngClass]="{
    'd-flex justify-content-center': menuSelected === 'merchant_code',
  }">
  <div
    class="{{ cardBackground }} lg-radius text-dark"
    style="min-height: 320px; width: 248px">
    <span
      type="button"
      (click)="closeInformation()"
      tabindex="0"
      class="float-end mt-1 text-secondary fs-5"
      ><i class="fa-solid fa-circle-xmark"></i
    ></span>
    <div class="p-3">
      <span i18n class="d-flex justify-content-center"
        ><strong *ngIf="menuSelected !== 'merchant_code'">Client Info</strong>
        <strong *ngIf="menuSelected === 'merchant_code'"
          >Merchant Info</strong
        ></span
      >
      <div class="d-flex justify-content-center">
        <div
          *ngIf="clientId.acc_picture"
          class="lg-radius"
          style="width: 100px; height: 100px">
          <img
            [src]="clientId.acc_picture"
            *ngIf="clientId.acc_picture"
            class="img-fluid float-end image lg-radius"
            alt="clientImg" />
        </div>
        <img
          *ngIf="!clientId.acc_picture"
          src="./assets/images/userprofile.png"
          class="img-fluid float-start"
          alt="userImg"
          style="
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
          " />
      </div>
      <div class="">
        <span class="d-flex justify-content-center mt-1" style="flex-wrap: wrap"
          ><strong class="text-center">{{ clientId.acc_holder }}</strong></span
        >
        <span class="d-flex justify-content-center mt-1"
          ><strong class="text-center">{{ clientId.acc_number }}</strong></span
        >
        <span class="d-flex justify-content-center mt-1" style="flex-wrap: wrap"
          ><strong class="text-center">{{
            clientId.acc_account_type
          }}</strong></span
        >
        <span
          class="d-flex justify-content-center mt-1"
          i18n
          class="text-{{ clientId.acc_status.status_css }}"
          ><span
            ><i
              class="fa-solid fa-{{
                clientId.acc_status.status_icon
              }}"></i></span
          ><strong *ngIf="clientId.acc_status.reason !== ''" class="ms-1">
            {{ clientId.acc_status.reason }}</strong
          >
          <strong *ngIf="clientId.acc_status.reason === ''" class="ms-1">
            {{ clientId.acc_status.reason_explained }}</strong
          ></span
        >
        <span
          i18n
          *ngIf="signatureDisplay"
          (click)="showSignatures()"
          tabindex="0"
          class="text-primary d-flex justify-content-center mt-1"
          style="cursor: pointer; text-decoration: underline"
          ><strong><a>Show Signatures</a></strong></span
        >
        <span
          i18n
          (click)="hideSignatures()"
          tabindex="0"
          *ngIf="!signatureDisplay"
          class="text-primary d-flex justify-content-center mt-1"
          style="text-decoration: underline; cursor: pointer"
          ><strong>Hide Signature</strong></span
        >
      </div>
      <div class="row mt-3" *ngIf="!signatureDisplay">
        <!-- Signature picture -->
        <span *ngIf="signatureloader" class="mb-3">
          <app-skeleton
            class="sm-radius gap-3"
            height="85px"
            width="100px"></app-skeleton>
        </span>
        <span
          *ngIf="signature && signature.signature"
          class="mb-3"
          style="height: 85px">
          <img
            [src]="signature.signature"
            class="img-fluid image sm-radius"
            alt="signature1" />
        </span>
        <br *ngIf="signature && signature.signature" />
        <span
          *ngIf="signature && signature.signature2"
          class="mb-3"
          style="height: 85px">
          <img
            [src]="signature.signature2"
            class="img-fluid image sm-radius"
            alt="signature2" />
        </span>
        <span *ngIf="signatureloader" class="mb-3">
          <app-skeleton
            class="sm-radius gap-2"
            height="85px"
            width="100px"></app-skeleton>
        </span>
        <span
          *ngIf="
            (!signatureloader && !signature) ||
            (signature && !signature.signature && !signature.signature2)
          ">
          <span
            class="empty-state-icon d-flex justify-content-center"
            style="font-size: 40px">
            <i class="fa-solid fa-face-meh"></i>
          </span>
          <br />
          <b
            class="empty-state-icon text-md d-flex justify-content-center"
            i18n>
            No Signature to display
          </b>
        </span>
      </div>
    </div>
  </div>
</div>
