.loader{
    height:500px;
  }
  #test{
    position: absolute;
    margin-left: 100%;
    margin-top: -13px;
  }
  #Cancel{
    position: absolute;
    margin-left: 100%;
    margin-top:15px;
  }
  #confirm{
    position: absolute;
    margin-left: 105%;
    margin-top:15px;
  }
  .controlButton{
    width: 50px;
  }
  // .form-select{
  //   background-color: white !important;
  //   z-index:2;
  
  // }
  
    