
.cliped {
    position: relative;
   
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #e3bfc6;
    min-height: 80px;
    clip-path: polygon(95% 0, 99% 50%, 95% 100%, 0 100%, 0 0%);
}
  .account:hover{
    background-color: rgb(200, 191, 191);
      }

      .b-left{
  border-left: 7px solid rgb(129, 0, 25);
}

