.balance {
  min-height: 81px;
  border: 1px solid #c4c4c4;
}
.verify {
  height: 239px;
  border: 1px solid #c4c4c4;
}

.mainBlock {
  min-height: 65vh;
}

.treasuryBalance {
  right: 5%;
  top: 20%;
}

.balanceButton {
  width: 144px;
}

.nonBalance {
  font-size: 70px;
}

.imgSize {
  width: 40px;
  height: 40px;
}

.faRotateBy {
  --fa-rotate-angle: 45deg;
}

.btnSize {
  color: white;
  width: 144px;
}

.balanceAction {
  width: 144px;
}

.modalDialog {
  width: 608px;
  height: 434px;
}

.externalBalance {
  width: 295px;
}

.pinField {
  width: 295px;
}

.dialogModalContent {
  width: 608px;
  height: 434px;
}

.balanceActionFormSize {
  width: 295px;
  min-height: 100px;
}

.passwordField {
  width: 295px;
}
