<div class="container-fluid">
  @switch (searchType) {
    @case ('list') {
      <div class="text-center">
        <img
          src="/images/empty-state/empty-list.png"
          class=" {{ imageClass }} "
          alt="Empty List Image" />
        <p i18n class="font-montserrat fs-l-medium">
          <b class="fw-bold">The list is currently empty "{{ searchTerm }}".</b>
          Start adding items to fill it up!
        </p>
      </div>
    }
    @case ('merchant') {
      <div class="text-center">
        <img
          src="/images/empty-state/market.png"
          class=" {{ imageClass }} "
          alt="Empty Merchant Search Image" />
        <p i18n class="font-montserrat fs-l-medium">
          <b class="fw-bold"
            >Oops! We couldn't find anything for "{{ searchTerm }}".</b
          >
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('product') {
      <div class="text-center">
        <img
          src="/images/empty-state/product.png"
          class=" {{ imageClass }} "
          alt="Empty Product Search Image" />
        <p i18n class="font-montserrat fs-l-medium">
          <b class="fw-bold"
            >Oops! We couldn't find anything for "{{ searchTerm }}".</b
          >
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('other') {
      <div class="text-center">
        <img
          src="/images/empty-state/search-empty.png"
          class=" {{ imageClass }} "
          alt="Empty Global Search Image" />
        <p i18n class="font-montserrat fs-l-medium">
          <b class="fw-bold"
            >Oops! We couldn't find anything for "{{ searchTerm }}".</b
          >
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('service') {
      <div class="text-center">
        <img
          src="/images/empty-state/service-empty.png"
          class=" {{ imageClass }} "
          alt="Empty Service Search Image" />
        <p i18n class="font-montserrat fs-small">
          This service is not available yet, please try again later
          {{ searchTerm }}".
        </p>
      </div>
    }
  }
</div>
