<div>
  @switch (searchType) {
    @case ('list') {
      <div class="text-center">
        <img
          src="/images/empty-state/empty-list.png"
          class=" {{ imageClass }} object-fit-cover image"
          alt="Empty List Image" />
        <p i18n class="font-montserrat fs-l-medium {{ messageClass }}">
          <b class="fw-bold"
            >The list is currently empty
            @if (searchTerm) {
              for "{{ searchTerm }}"
            }
            .</b
          >
          <br />
          Start adding items to fill it up!
        </p>
      </div>
    }
    @case ('merchant') {
      <div class="text-center">
        <img
          src="/images/empty-state/market-empty.png"
          class=" {{ imageClass }} object-fit-cover image"
          alt="Empty Merchant Search Image" />
        <p i18n class="font-montserrat fs-l-medium {{ messageClass }}">
          <b class="fw-bold"
            >Oops! We couldn't find anything
            @if (searchTerm) {
              for "{{ searchTerm }}"
            }
            .</b
          ><br />
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('product') {
      <div class="text-center">
        <img
          src="/images/empty-state/product.png"
          class=" {{ imageClass }} object-fit-cover image"
          alt="Empty Product Search Image" />
        <p i18n class="font-montserrat fs-l-medium {{ messageClass }}">
          <b class="fw-bold"
            >Oops! We couldn't find anything
            @if (searchTerm) {
              for "{{ searchTerm }}"
            }
            .</b
          ><br />
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('other') {
      <div class="text-center">
        <img
          src="/images/empty-state/search-empty.png"
          class=" {{ imageClass }} object-fit-cover image"
          alt="Empty Global Search Image" />
        <p i18n class="font-montserrat fs-l-medium {{ messageClass }}">
          <b class="fw-bold"
            >Oops! We couldn't find anything
            @if (searchTerm) {
              for "{{ searchTerm }}"
            }
            .</b
          ><br />
          Try a different search term or browse by category.
        </p>
      </div>
    }
    @case ('service') {
      <div class="text-center">
        <img
          src="/images/empty-state/service-empty.png"
          class=" {{ imageClass }} object-fit-cover image"
          alt="Empty Service Search Image" />
        <p i18n class="font-montserrat fs-small {{ messageClass }}">
          This service is not available yet, please try again later
        </p>
      </div>
    }
  }
</div>
