<!-- recent merchant -->
<div>
  <section>
    <div class="row mt-4 pe-0 d-flex justify-content-between">
      <div class="col-sm-10 col-10">
        <p>
          <span class="text-primary" style="font-size: 10px"> </span>
          <span class="fs-5 text-dark"><b> Recent merchants</b></span>
        </p>
      </div>
      <div class="col-sm-2 col-2 p-0 pe-2 m-0 float-end">
        <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span
                class="border rounded-circle text-secondary py-1 px-2 opacity-50">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle text-dark py-1 px-2">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- when the search has no outcomings -->
    <div
      class="d-flex flex-column align-items-center mt-2"
      *ngIf="merchants && merchants.length === 0">
      <span class="empty-state-icon" style="font-size: 40px; opacity: 0.5">
        <i class="fa-solid fa-face-meh"></i>
      </span>
      <b class="empty-state-icon text-md" style="opacity: 0.5" i18n>
        No Merchant Found
      </b>
    </div>
    <div *ngIf="merchants" class="row ms-2">
      <div
        class="col-lg-2 col-md-2 col mb-2 position-relative"
        *ngFor="let merchant of first6; let i = index"
        (click)="openModal(merchant, $event)"
        tabindex="0">
        <!-- <div class="col-2 w-100">
                            <span
                                type="button"
                                (click)="makeFavoriteMerchants(merchant, $event)" tabindex="0"
                                *ngIf="
                                    merchant.is_favorite_merchant &&
                                    (favorite_merchant_making === null ||
                                        favorite_merchant_making.id !== merchant.id)
                                "
                                title="Revoke Favorite"
                                class="position-absolute favorite_fav level-3 text-primary p-2"
                            >
                                <span class="favorite_icon"
                                    ><i class="fa-solid fa-star"></i
                                ></span>
                            </span>
                            <span
                                type="button"
                                (click)="makeFavoriteMerchants(merchant, $event)" tabindex="0"
                                title="Make Favorite"
                                *ngIf="
                                    !merchant.is_favorite_merchant &&
                                    (favorite_merchant_making === null ||
                                        favorite_merchant_making.id !== merchant.id)
                                "
                                class="position-absolute favorite_fav level-3 text-primary p-2"
                            >
                                <span class="favorite_icon"
                                    ><i class="fa-regular fa-star"></i
                                ></span>
                            </span>
                            <span
                                *ngIf="
                                    favorite_merchant_making !== null &&
                                    favorite_merchant_making.id === merchant.id
                                "
                                class="position-absolute favorite_fav level-3 text-primary p-2"
                            >
                                <span class="favorite_icon"
                                    ><i class="fas fa-spinner fa-pulse"></i
                                ></span>
                            </span>
                            <app-product-merchant-card
                                [merchant]="merchant"
                                [get_merchant]="true"
                            >
                            </app-product-merchant-card>
                        </div> -->
      </div>
    </div>
    <div class="row ms-2 merchant" *ngIf="!merchants">
      <div
        class="col-lg-2 col-md-2 col-sm-4 col mb-2"
        *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
        <ngx-skeleton-loader
          [theme]="{
            'height.px': 100,
            'width.px': 100,
            'margin-bottom': 0,
          }"></ngx-skeleton-loader>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'height.px': 10,
              'width.%': 30,
            }"
            appearance="line"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'height.px': 10,
              'width.%': 50,
            }"
            appearance="line"></ngx-skeleton-loader>
        </div>
      </div>
    </div>

    <!-- <div class="row m-0 p-0"> -->
    <!-- changement of col -->
    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col order-sm-last m-0 p-0">
                        <div
                            class="m-0 mt-5 biller"
                            style="display: flex; flex-wrap: wrap"
                        >
                            <div
                                class="mt-2 mx-3"
                                *ngFor="let biller of billers"
                                [attr.click]="'openModal(biller, $event)'" tabindex="0"
                                data-bs-toggle="modal"
                                data-bs-target="#merchantModal"
                            >
                                
        
                                
                                <div
                                    class="billers d-flex align-items-center"
                                    [ngClass]="!biller.lookup_image ? 'level-2' : ''"
                                    role="button"
                                    *ngIf="!biller.lookup_image"
                                >
                                    <div>
                                        <span
                                            class="ps-2"
                                            style="position: relative; top: 7px"
                                            ><span
                                                class="text-dark"
                                                style="font-size: 50px; opacity: 0.5"
                                                *ngIf="biller && !biller.lookup_image"
                                            >
                                                <i class="fa-solid fa-shop"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <span
                                        title="{{ biller.lookup_title }}"
                                        class="p-2 text-truncate text-dark"
                                        ><b>{{ biller.lookup_title }}</b></span
                                    >
                                </div>
        
                                <div
                                    class="d-flex billers level-2 align-items-center overflow-hidden"
                                    *ngIf="biller.lookup_image"
                                    role="button"
                                >
                                    <div style="width: 60%; height: 100%">
                                        <img
                                            [src]="biller.lookup_image"
                                            class="image" alt="billerImg"
                                        />
                                    </div>
                                    <span
                                        title="{{ biller.lookup_title }}"
                                        class="p-2 text-truncate text-dark"
                                        ><b>{{ biller.lookup_title }}</b></span
                                    >
                                </div>
                            </div>
                        </div>
                        <div
                            class="row ms-2 d-flex align-items-center"
                            *ngIf="!billers"
                        >
                            <div
                                class="col-lg-5 col-md-6 col-sm-6 col mt-2 d-flex biller"
                                *ngFor="let _ of [1, 2, 3, 4]"
                            >
                                <ngx-skeleton-loader
                                    [theme]="{
                                        'height.px': 70,
                                        'width.px': 160,
                                        'margin-bottom': 0
                                    }"
                                ></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div> -->

    <!-- </div> -->
  </section>
  <div class="modal fade" id="merchantModal" data-bs-backdrop="static">
    <!-- <div
                class="modal-dialog modal-dialog-centered"
                [ngClass]="{
                    'biller-merchant-dialog': !payMerchant,
                    'simple-merchant-dialog': payMerchant
                }"
            >
                <div
                    class="modal-content"
                    *ngIf="payMerchant && payMerchant.accepts_simple_payment"
                >
                    <app-simple-merchants
                        [merchantId]="payMerchant['id']"
                    ></app-simple-merchants>
                </div>
        
                <div class="modal-content" *ngIf="categorySelected">
                    <app-billers-merchants
                        [category]="category"
                    ></app-billers-merchants>
                </div>
                <div
                    class="modal-content"
                    *ngIf="payMerchant && !payMerchant.accepts_simple_payment"
                >
                    <app-billers-merchants
                        [biller]="payMerchant"
                    ></app-billers-merchants>
                </div>
            </div> -->
  </div>
</div>

<!-- end of recent merchant -->
