<div class="rounded p-4 bg-secondary min-vh-75">
    <div class="row mb-4" >
        <div class="col-lg-12 col-md-12">
            <span
                role="button"
                class="d-flex align-items-center back-md float-end"
                
            >
                <i class="fa fa-arrow-left"></i>
                <b class="ms-1">Back</b>
            </span>
        </div>
    </div>
   <!---- <div class="row  mt-4">
        @for ( tontine of clientTontines ; track $index) {
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
            <div class="bg-light rounded p-2 d-flex is-hoverable m-auto">
               {{tontine.name}}
            </div>

        </div>}

    </div>-->
    </div>