.min-h {
  min-height: 600px;
}
.img-color{
  color: #c4c4c4
}
.border-r {
  border-left: 3px solid #4C4C4C; 
  min-height: 20px;/* Modifiez la largeur et la couleur selon vos besoins */
}
.btn-color{
  background-color: #D9D9D9;
}