@if (mainConfig) {
  <header
    style="height: 60px; z-index: 50; top: 0"
    class="w-100 d-flex justify-content-center justify-content-lg-between w-100 p-1 px-3 overflow-hidden"
    [ngClass]="{
      'bg-white': mainConfig.activePlateform === 'workstation',
      'bg-primary':
        mainConfig.activePlateform === 'newsFeed' ||
        'onlineBanking' ||
        'market',
    }">
    <!-- First section with iHela Ryanje Logo OR Organization list with Access -->
    <section class="d-none d-lg-block">
      <!-- iHela Ryanje logo for onlineBanking, market, newsFeed Plateforms & Workstation -->
      @if (mainConfig.activePlateform !== 'workstation') {
        <div
          class="bg-primary-2 border border-3 px-4 py-1 sm-radius h-100"
          style="max-width: 260px">
          <span class="ihela-ryanje-logo d-block">
            <img
              class="image sm-radius"
              src="/images/logo/ihela-ryanje.png"
              alt="iHela Ryanje Logo" />
          </span>
        </div>
      } @else {
        @if (organization) {
          <div
            class="bg-primary-2 h-100 border border-2 ps-2 py-1 sm-radius h-100 d-flex flex-row gap-0"
            style="max-width: 260px">
            <div class="h-100 d-flex align-items-center" style="max-width: 90%">
              <img
                class="img-fluid"
                [src]="organization.institution_client.picture"
                [alt]="organization.institution_client.client_full_name"
                style="min-width: 50px" />
            </div>
            <div class="d-flex flex-column h-100 justify-content-center me-2">
              <span class="text-nowrap fw-bold text-all-light">{{
                organization.institution_client.client_full_name
              }}</span>
              <span class="text-nowrap text-all-light">{{
                organization.company_type_code
              }}</span>
            </div>
          </div>
        } @else {
          <div class="col-8 h-100"></div>
        }
      }
    </section>

    <!-- Second section with Icons To switch Plateforms -->
    <section class="d-none d-lg-block py-1">
      <app-switch-plateform-icons></app-switch-plateform-icons>
    </section>

    <!-- Third section with Other icons actions -->
    <section
      class="d-flex align-items-center justify-content-around justify-content-lg-center position-relative">
      <!-- ONLY ON MOBILE : Active Aside menus -->
      @if (mainConfig.activePlateform !== 'bankingSettings' && 'workStation') {
        <span
          class="d-lg-none me-md-1"
          role="button"
          tabindex="0"
          [routerLink]="menuRouterLink"
          [ngClass]="{
            'text-all-white': mainConfig.activePlateform !== 'workstation',
            'text-dark': mainConfig.activePlateform === 'workstation',
          }">
          <i class="fs-5 fa-solid fa-bars"></i>
        </span>
      }

      <!-- show amount icon -->
      <span
        role="button"
        tabindex="0"
        (click)="toggleEyeStatus()"
        title="ctrl + shift + v to toggle Amount View"
        class="ms-4 eye-square ms-md-5 ms-lg-2 p-2 me-md-1"
        [ngClass]="{
          'text-all-white': mainConfig.activePlateform !== 'workstation',
          'text-dark': mainConfig.activePlateform === 'workstation',
        }">
        @if (amountState === true) {
          <span>
            <i class="fa-solid fa-eye-slash"></i>
          </span>
        } @else {
          <span>
            <i class="fa-solid fa-eye"></i>
          </span>
        }
      </span>

      <!-- chats icon -->
      <span
        class="ms-4 ms-md-5 ms-lg-2 p-2 me-md-1"
        role="button"
        [ngClass]="{
          'text-all-white': mainConfig.activePlateform !== 'workstation',
          'text-dark': mainConfig.activePlateform === 'workstation',
        }">
        <i class="fa-solid fa-magnifying-glass fs-6"></i>
      </span>

      <!-- notification icon -->
      <span
        class="ms-4 ms-md-5 ms-lg-2 p-2 me-2"
        role="button"
        [ngClass]="{
          'text-all-white': mainConfig.activePlateform !== 'workstation',
          'text-dark': mainConfig.activePlateform === 'workstation',
        }">
        <i class="fa-regular fa-bell fs-6"></i>
      </span>

      <!-- User info -->
      <span
        tabindex="0"
        (click)="toggleUserInfo()"
        class="ms-4 ms-md-5 ms-lg-2 me-md-1"
        [ngClass]="{
          'text-all-white': mainConfig.activePlateform !== 'workstation',
          'text-dark': mainConfig.activePlateform === 'workstation',
        }">
        <span type="button" data-bs-toggle="" aria-expanded="false">
          <!-- TOD ::  HEADER USER AVATAR IF AVAILABLE IN FUTURE  -->
          @if (userInfo) {
            <span class="text-center d-flex justify-content-center mb-1">
              <app-profile-card
                [imageUrl]="userInfo.client.picture"
                [fullName]="userInfo.client.client_full_name"
                height="25px"
                width="25px"
                classes="fs-x-small"></app-profile-card>
            </span>
          } @else {
            <span>
              <i class="fa-regular fa-circle-user fs-6"></i>
            </span>
          }
        </span>
      </span>

      <!-- platform icon -->
      <span
        tabindex="0"
        (click)="togglePlateformIconsPopup()"
        role="button"
        class="ms-4 ms-md-5 ms-lg-2 p-2 me-md-1">
        <img
          src="/icons/grid-fill.svg"
          class="mb-1 show-plateform image"
          alt="Plateforms Switch Icon"
          [ngStyle]="{
            filter:
              mainConfig.activePlateform !== 'workstation' || theme === 'dark'
                ? 'invert(100%)'
                : '',
          }"
          style="width: 20px" />
      </span>
    </section>
  </header>
}

<!-- NOTE :: PLATEFORM SWITCH ICON  -->

@if (showPlateformPopup) {
  <section class="end-0 position-absolute z-5 platform-popup">
    <div
      class="float-end plateform-card overflow-x-hidden w-auto lg-radius border border-primary-2 mt-2 bg-white plateform">
      <div class="h-100 p-3 py-4 overflow-y-auto">
        <div class="d-flex flex-column h-100">
          <div class="px-1 flex-grow-2">
            <div class="row justify-content-between align-items-center">
              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius"
                role="button"
                [ngClass]="{
                  'bg-primary-3 ': mainConfig.activePlateform === 'newsFeed',
                  'text-secondary': mainConfig.activePlateform !== 'newsFeed',
                }"
                (click)="switchPlateform('newsFeed')"
                (keyup.enter)="switchPlateform('newsFeed')"
                tabindex="0">
                <div
                  class="d-flex justify-content-center"
                  routerLink="/b/dashboard">
                  <span
                    [ngClass]="{
                      'text-primary': mainConfig.activePlateform === 'newsFeed',
                    }">
                    <i class="fs-1 fa-solid fa-house-chimney-user"></i>
                  </span>
                </div>
                <div
                  class="fs-x-small text-center text-dark mt-2"
                  [ngClass]="{
                    'text-all-dark': mainConfig.activePlateform === 'newsFeed',
                  }"
                  i18n>
                  Community
                </div>
              </div>
              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius"
                role="button"
                [ngClass]="{
                  'bg-primary-3':
                    mainConfig.activePlateform === 'onlineBanking',
                }"
                (click)="switchPlateform('onlineBanking')"
                (keyup.enter)="switchPlateform('onlineBanking')"
                tabindex="0">
                <div class="d-flex justify-content-center">
                  <div>
                    @if (mainConfig.activePlateform !== 'onlineBanking') {
                      <img
                        src="/images/ihela-black.svg"
                        width="35"
                        alt="onlineBanking" />
                    }
                    @if (mainConfig.activePlateform === 'onlineBanking') {
                      <img src="/images/ihela-b.svg" alt="onlineBanking" />
                    }
                    <!-- <img
                      
                      src="/images/ihelab.svg"
                      alt="" /> -->
                  </div>
                </div>
                <div
                  class="fs-x-small text-center mt-2"
                  [ngClass]="{
                    'text-all-dark':
                      mainConfig.activePlateform === 'onlineBanking',
                  }"
                  i18n>
                  Fin. services
                </div>
              </div>
              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius"
                role="button"
                [ngClass]="{
                  'bg-primary-3': mainConfig.activePlateform === 'marketPlace',
                  'text-secondary':
                    mainConfig.activePlateform !== 'marketPlace',
                }"
                (click)="switchPlateform('marketPlace')"
                tabindex="0">
                <div class="d-flex justify-content-center">
                  <span
                    [ngClass]="{
                      'text-primary':
                        mainConfig.activePlateform === 'marketPlace',
                    }">
                    <i class="fa-solid fa-cart-shopping fs-1 fs-1"></i>
                  </span>
                </div>

                <div
                  class="fs-x-small text-center mt-2"
                  [ngClass]="{
                    'text-all-dark':
                      mainConfig.activePlateform === 'marketPlace',
                  }"
                  i18n>
                  Market Place
                </div>
              </div>
            </div>
            <div
              class="row justify-content-between align-items-center mt-4 pt-3">
              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius"
                role="button"
                (click)="switchPlateform('workstation')"
                [ngClass]="{
                  'bg-primary-3': mainConfig.activePlateform === 'workstation',
                }"
                (keyup.enter)="switchPlateform('workstation')"
                tabindex="0">
                <div class="d-flex justify-content-center">
                  <span
                    [ngClass]="{
                      'text-primary ':
                        mainConfig.activePlateform === 'workstation',
                      'text-secondary':
                        mainConfig.activePlateform !== 'workstation',
                    }">
                    <i class="fa-solid fa-desktop fs-1"></i>
                  </span>
                </div>
                <div class="fs-x-small text-center mt-2" i18n>WorkStation</div>
              </div>

              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius"
                role="button"
                (click)="switchPlateform('onamob')"
                [ngClass]="{
                  'bg-onamob-2': mainConfig.activePlateform === 'onamob',
                }"
                (keyup.enter)="switchPlateform('onamob')"
                tabindex="0">
                <div class="d-flex justify-content-center">
                  <span
                    [ngClass]="{
                      'text-primary': mainConfig.activePlateform === 'onamob',
                      'text-secondary': mainConfig.activePlateform !== 'onamob',
                    }">
                    <i class="fa-solid fa-mobile-screen-button fs-1"></i>
                  </span>
                </div>
                <div
                  class="fs-x-small text-center mt-2"
                  [ngClass]="{
                    'text-all-dark': mainConfig.activePlateform === 'onamob',
                  }"
                  i18n>
                  MVNO
                </div>
              </div>

              <div
                class="col-4 d-flex flex-column align-items-center p-2 sm-radius">
                <div class="d-flex justify-content-center">
                  <i
                    class="fa-solid fa-square-poll-vertical fs-1 text-secondary opacity-50"></i>
                </div>
                <div i18n>Ser .Status</div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center flex-column flex-grow-1">
            <hr class="col-8 mx-auto" />
            <div class="p-2">
              <div class="text-md text-dark text-center">
                <b i18n>Download Mobiles Apps</b>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <span class="me-4"
                  ><a
                    target="_blank"
                    href="https://apps.apple.com/fr/app/ihel%C3%A1-ryanje-app/id6470385289"
                    ><img
                      src="/images/auth/app-store.png"
                      width="100"
                      alt="" /></a
                ></span>
                <span
                  ><a
                    href="https://play.google.com/store/apps/details?id=com.ubuviz.ihera_mobile"
                    ><img
                      src="/images/auth/play-store.png"
                      width="100"
                      alt="" /></a
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}

<!-- NOTE :: USER PROFILE INFO  -->
@if (showUserInfoPopup) {
  <section class="end-0 position-absolute z-5 user-info-popup">
    <div
      class="float-end plateform-card overflow-hidden w-auto border mt-2 bg-white userInfo">
      <div class="h-100 p-2 overflow-y-auto">
        <div class="d-flex flex-column h-100">
          <div class="px-1 flex-grow-2">
            <section>
              <div
                class="pb-2 d-flex justify-content-end"
                style="border-radius: 5px 5px 0px 0px">
                <span
                  (click)="toggleUserInfo()"
                  role="button"
                  class="float-end text-dark fs-4"
                  style="z-index: 50"
                  title="close"
                  tabindex="0">
                  <i class="fa fa-xmark"></i>
                </span>
              </div>
              <!--user infos-->
              <hr class="w-100 text-secondary" />
              <div
                style="transform: translateY(-60%)"
                class="d-flex align-items-end justify-content-end ms-4 mb-0">
                <div class="p-1 rounded-circle">
                  <div
                    class="d-flex align-items-end bg-white me-0 ms-0 p-2 rounded-circle border border-secondary">
                    <!--user profile picture-->
                    <div
                      class="text-center border border-secondary d-flex flex-column align-items-center justify-content-center rounded-circle profile-picture-container">
                      @if (userInfo) {
                        <span class="text-center d-flex justify-content-center">
                          <app-profile-card
                            [imageUrl]="userInfo.client.picture"
                            [fullName]="userInfo.client.client_full_name"
                            height="87px"
                            width="87px"
                            classes="fs-x-large"></app-profile-card>
                        </span>
                      }
                    </div>
                  </div>
                </div>

                <div
                  class="ms-0 d-grid w-100 mb-2"
                  style="line-height: 20px; transform: translateY(-9%)">
                  <span
                    class="ms-2 mb-2 text-dark w-100 text-sm-md text-break"
                    >{{ userInfo?.user?.username }}</span
                  >

                  <span class="ms-2 text-secondary w-100 text-break fs-x-small">
                    <span>{{ userInfo?.client?.client_email }}</span> </span
                  ><br />
                  <span class="ms-2 text-secondary fs-x-small">{{
                    userInfo?.client?.client_code
                  }}</span>
                </div>
              </div>
            </section>
            <section
              class="px-3 overflow-y-auto d-flex flex-column"
              style="margin-top: -20%">
              <section class="col">
                <div
                  class="w-100 my-3 d-flex justify-content-between align-items-center">
                  <a>
                    <div
                      role="button"
                      class="d-flex fs-medium align-items-center">
                      <i
                        class="fa-solid text-secondary fa-user-circle me-2"></i>
                      <b class="text-dark ms-1" i18n>Profile</b>
                    </div>
                  </a>
                </div>
                <div
                  class="w-100 my-3 d-flex justify-content-between align-items-center">
                  <a (click)="switchPlateform('bankingSettings')" tabindex="0">
                    <div
                      role="button"
                      class="d-flex align-items-center fs-medium">
                      <span class="me-2"
                        ><i class="fa-solid text-secondary fa-gear"></i
                      ></span>
                      <b class="text-dark ms-1" i18n>Settings</b>
                    </div>
                  </a>
                </div>
                <div
                  class="w-100 d-flex justify-content-between align-items-center mt-3">
                  <div class="d-flex align-items-center fs-medium col-9">
                    <span class="me-2"
                      ><i class="fa-solid text-secondary fa-language"></i
                    ></span>
                    <b class="text-dark" i18n>Language</b>
                  </div>
                  <select
                    class="text-all-dark form-select"
                    style="height: 34px"
                    [formControl]="selectedLanguage"
                    (click)="changeLanguage()">
                    <option value="en">En</option>
                    <option value="fr">Fr</option>
                  </select>
                </div>
                <div
                  class="w-100 d-flex my-3 justify-content-between align-items-center">
                  <div class="d-flex align-items-center fs-medium">
                    <span class="me-2">
                      @if (theme === 'light') {
                        <span class="me-2 fs-medium text-secondary"
                          ><i class="fa-regular fa-sun"></i
                        ></span>
                        <b i18n> Light Mode</b>
                      }
                      @if (theme !== 'light') {
                        <span class="me-2 pe-1 fs-medium text-secondary">
                          <i class="fa-solid fa-moon"> </i>
                        </span>
                        <b i18n> Dark mode </b>
                      }
                    </span>
                  </div>
                  <div class="me-2">
                    <app-switch-mode></app-switch-mode>
                  </div>
                </div>
                <div
                  class="w-100 my-3 d-flex justify-content-between align-items-center">
                  <a>
                    <div
                      role="button"
                      class="d-flex align-items-center fs-medium">
                      <span class="me-2"
                        ><i class="fa-solid text-secondary fa-flag"></i
                      ></span>
                      <b class="text-dark ms-1" i18n>Report a problem</b>
                    </div>
                  </a>
                </div>

                <div
                  role="button"
                  tabindex="0"
                  (click)="lockScreen()"
                  class="my-3 d-flex align-items-center fs-medium">
                  <span class="me-2 text-secondary"
                    ><i class="fa-solid fa-lock"></i
                  ></span>
                  <b class="text-dark ms-1" i18n>Lock</b>
                </div>

                <div
                  class="w-100 d-flex justify-content-between text-dark fs-medium"
                  title="Logout"
                  tabindex="0"
                  (click)="logout()"
                  role="button">
                  <span>
                    <span class="me-2">
                      <i
                        class="fa-solid text-secondary fa-right-from-bracket"></i>
                    </span>
                    <b i18n>Logout</b>
                  </span>
                </div>
              </section>
            </section>
          </div>

          <div
            class="d-flex justify-content-end text-center flex-column flex-grow-1">
            <app-footer [break]="true"></app-footer>
          </div>
        </div>
      </div>
    </div>
  </section>
}
