

.userInfo {
  margin-right: 7px;
  border-radius: 10px 0px 0px 10px;
}

.bg-onamob-2 {
  background-color: #e4c5c3 !important;
}
.eye-square{
  width: 40px;
  height: 40px;
}
@keyframes slidein {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(0%);
  }
}

.plateform-card{
  height: calc(100vh - 70px);
  animation: slidein 120ms 1 linear;

    -webkit-animation: slidein 120ms 1 linear;
  min-width: 328px;
}
.plateform{
  border-width:10px !important;;
}