.ihela-ryanje-logo {
  width: 69px;
  height: 40px;
}

.userInfo {
  margin-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

.bg-onamob-2 {
  background-color: #e4c5c3 !important;
}
.eye-square {
  width: 40px;
  height: 40px;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes anim {
  0% {
    top: 0px;
  }
  100% {
    left: -2px;
  }
}

.plateform-card {
  width: auto;
  height: calc(99vh - 70px);
  position: absolute;
  right: 2px;
  z-index: 20;
  animation: slidein 100ms 1 linear;
  overflow-x: hidden;
  -webkit-animation: slidein 100ms 1 linear;
  min-width: 328px;
}
.plateform {
  border-width: 10px !important;
  // transform: translate(30px, 0px);
}
