<div>
  @if (selectedMenu === 'detail') {
    <ng-container *ngTemplateOutlet="detail"> </ng-container>
  }

  @if (selectedMenu === 'newBranchCounter') {
    <ng-container *ngTemplateOutlet="newBranchCounter"> </ng-container>
  }
  @if (selectedMenu === 'branchCounter') {
    <ng-container *ngTemplateOutlet="branchCounter"> </ng-container>
  }
  <!--details-->

  <ng-template #detail>
    <div class="bg-secondary rounded p-2">
      <div class="d-flex align-items-center justify-content-between">
        <div class="fw-bold fs-medium">Branch detail</div>
        <div class="d-flex align-items-center gap-3">
          <div>
            <button
              class="border rounded p-1 px-2 btn"
              (click)="refresh()"
              tabindex="0"
              [disabled]="loadingData">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
          <div
            class="d-flex align-items-center gap-3 me-3 border rounded p-1 px-2"
            (click)="goBack()"
            tabindex="0"
            role="button">
            <div>
              <i class="fa fa-arrow-left"></i>
            </div>
            <div>Back</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      @if (!branchDetails) {
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 50vh">
          <span class="spinner-border"> </span>
        </div>
      }
      @if (branchDetails) {
        <div class="">
          <section class="mt-3 ms-3">
            <!--branch-->
            <div>
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-3">
                  <div class="bg-primary rounded-circle w-2 h-2 p-1"></div>
                  <div class="fw-bold fs-normal" i18n>Counter</div>
                  <div></div>
                </div>

                <div class="w-100">
                  <hr class="w-100" />
                </div>
              </div>
              <div class="mt-2">
                <div class="">
                  <div class="d-flex align-items-center gap-5 ms-5">
                    <div class="d-grid">
                      <div class="fs-normal text-dark" i18n>Name:</div>
                      <div class="fs-normal text-dark mt-2" i18n>Code:</div>
                      <div class="fs-normal text-dark mt-2" i18n>
                        Created at:
                      </div>
                      <div class="fs-normal text-dark mt-2" i18n>Location</div>
                    </div>
                    <div class="d-grid ms-3">
                      <div class="fs-normal text-dark fw-bold">
                        {{ branchDetails.name ?? '-------' }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        {{ branchDetails.formatted_code ?? '-------' }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        {{
                          branchDetails.created_at ?? '-------'
                            | date: 'dd/MM/yyyy'
                        }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        {{ branchDetails.location ?? '-------' }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--organzation-->
            <div class="mt-3">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-3">
                  <div class="bg-primary rounded-circle w-2 h-2 p-1"></div>
                  <div class="fw-bold fs-normal" i18n>Branch</div>
                </div>

                <div class="w-100">
                  <hr class="w-100" />
                </div>
              </div>
              <div class="mt-2">
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center gap-5 ms-5">
                    <div class="d-grid">
                      <div class="fs-normal text-dark" i18n>Name:</div>
                      <div class="fs-normal text-dark mt-2" i18n>Code:</div>
                      <div class="fs-normal text-dark mt-2" i18n>Type</div>
                      <div class="fs-normal text-dark mt-2" i18n>Active</div>
                    </div>
                    <div class="d-grid ms-3">
                      <div class="fs-normal text-dark fw-bold">
                        {{
                          branchDetails.organization_tenant.institution_client
                            .client_full_name ?? '-------'
                        }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        {{
                          branchDetails.organization_tenant.institution_client
                            .client_code ?? '-------'
                        }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        {{
                          branchDetails.organization_tenant.institution_client
                            .client_type.title ?? '-------'
                        }}
                      </div>
                      <div class="fs-normal text-dark fw-bold mt-2">
                        @if (
                          branchDetails.organization_tenant.institution_client
                            .is_active
                        ) {
                          <i class="fa fa-check-circle text-success"></i>
                        }
                        @if (
                          !branchDetails.organization_tenant.institution_client
                            .is_active
                        ) {
                          <i class="fa fa-check-circle text-danger"></i>
                        }
                      </div>
                    </div>
                  </div>
                  <div>
                    <img
                      src="{{
                        branchDetails.organization_tenant.institution_client
                          .picture
                      }}"
                      alt="Organization logo"
                      class="img-fluid logo-size" />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      }
    </div>
  </ng-template>
  <!--branchCounter -->
  <ng-template #branchCounter>
    <div class="bg-secondary rounded p-2 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <div class="fw-bold fs-medium">Branch counter</div>
        <div>
          <div
            class="d-flex align-items-center gap-3 me-3 border rounded p-1 px-2"
            role="button"
            (click)="goBack()"
            tabindex="0">
            <div>
              <i class="fa fa-arrow-left"></i>
            </div>
            <div>Back</div>
          </div>
        </div>
      </div>
    </div>

    <app-list
      [headers]="counterHeaders"
      [url]="branchCountersUrl"
      [addButtonLink]="{
        url: '/w/workstation/a/admin/branch/' + branchId,
        fragment: 'newBranchCounter',
      }">
    </app-list>
  </ng-template>
  <!--add-->
  <ng-template #newBranchCounter>
    <div class="bg-secondary rounded p-2 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <div class="fw-bold fs-medium">New counter</div>
        <div>
          <div
            class="d-flex align-items-center gap-3 me-3 border rounded p-1 px-2"
            role="button"
            (click)="goBack()"
            tabindex="0">
            <div>
              <i class="fa fa-arrow-left"></i>
            </div>
            <div>Back</div>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="NewcounterForm" class="mt-4">
      <div class=" ">
        <div class="mt-3 col-9">
          <div class="d-flex align-items-center justify-content-between mt-4">
            <div class="col-5">
              <div class="d-flex align-items-center gap-2">
                <div class="fs-small">Name:</div>
                <div class="form-floating col-9">
                  <input
                    type="text"
                    class="input form-control text-dark simulator-input"
                    id="name"
                    formControlName="name"
                    placeholder="name" />
                  <label for="name" class="text-dark" i18n
                    >name <code>*</code></label
                  >
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center gap-2 col-5">
              <div class="fs-small">City:</div>
              <div class="form-floating col-9">
                <input
                  type="text"
                  class="input form-control text-dark simulator-input"
                  id="city"
                  formControlName="city"
                  placeholder="city" />
                <label for="city" class="text-dark" i18n
                  >city <code>*</code></label
                >
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="d-flex align-items-center gap-2 col-5" role="button">
              <div class="fs-small">Location:</div>
              <div class="border border-primary col-5 p-2 rounded">
                <div class="d-flex gap-2">
                  <div class="fs-normal text-primary">OPen map</div>
                  <div>
                    <i class="fa-solid fa-street-view text-primary"></i>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <button
              type="submit"
              class="bg-primary btn px-4 text-light"
              (click)="addBranchCounter()"
              [disabled]="!NewcounterForm.valid"
              i18n>
              @if (!isLoading) {
                <span> Add </span>
              }
              @if (isLoading) {
                <span>
                  <i
                    class="fa-solid fa-spin fa-circle-notch fs-5 text-dark"></i>
                </span>
              }
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>
