<div class="h-100">
  <div class="rounded p-2 w-100 d-grid text-dark">
    <!-- If there is no bank selected -->

    @if (
      mainConfig &&
      mainConfig.activePlateform !== 'workstation' &&
      !selectedBank
    ) {
      <div class="expand-collapse-section">
        <div>
          <i class="fa fa-circle text-primary fs-x-small me-2"></i>
          <b i18n>Select a bank :</b>
        </div>

        <div>
          @if (clientBanks && clientBanks.length > 0) {
            <div class="p-2 row gap-2">
              @for (bank of clientBanks; track $index) {
                <div
                  (click)="selectBank(bank)"
                  tabindex="0"
                  role="button"
                  class="d-grid col-6 col-sm-4 col-md-3 justify-content-center">
                  <div class="d-flex w-100 mb-2 justify-content-center">
                    <div
                      class="d-grid justify-content-center align-items-center img-container border lg-radius">
                      <img
                        class="bank-image"
                        alt=""
                        [src]="bank?.company?.image" />
                    </div>
                  </div>

                  <div class="text-center">
                    <span>{{ bank?.company?.fullname?.toUpperCase() }}</span>
                  </div>
                </div>
              }
            </div>
          } @else {
            <div class="d-flex pt-3">
              @for (_ of [1, 2, 3]; track $index) {
                <div class="d-grid mt-1 me-5">
                  <span class="text-center">
                    <app-skeleton [height]="'60px'" [width]="'60px'">
                    </app-skeleton>
                  </span>
                  <span>
                    <app-skeleton [height]="'7px'" [width]="'100px'">
                    </app-skeleton>
                  </span>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }

    <!-- this section is showed if we have selectedBank or wallet is showed -->
    <!--Title description-->
    @if (isWalletShown) {
      <div class="d-flex align-items-center justify-content-between">
        @if (title !== '') {
          <div>
            <i class="fa fa-circle fs-x-small me-2 text-primary"></i>
            <b class="fs-medium">{{ title }}</b>
          </div>
        }
      </div>
    }

    <!-- this section is showed if we have selectedBank or wallet is showed -->
    @if (isWalletShown || selectedBank) {
      <div
        class="d-flex align-items-start"
        [ngClass]="{
          'overflow-scroll':
            mainConfig && mainConfig.activePlateform === 'workstation',
        }">
        <div
          class="d-grid mt-2"
          [ngClass]="{
            'w-100': mainConfig && mainConfig.activePlateform === 'workstation',
          }">
          @if (
            mainConfig &&
            mainConfig.activePlateform !== 'workstation' &&
            selectedBank
          ) {
            <div class="mb-3 h-50-px">
              <app-switch-bank
                (bankOptions)="getSwitchBankOptions($event)"
                [isTransfer]="true"></app-switch-bank>
            </div>
          }

          <!-- *Debit accounts type  -->
          <div
            [ngClass]="{
              ' px-2':
                mainConfig && mainConfig.activePlateform !== 'workstation',
            }"
            class="d-flex h-50-px">
            <div
              class="d-flex me-4 p-1 bg-secondary justify-content-between rounded align-items-center"
              [ngClass]="{
                'w-auto': isTermDeposit,

                'w-100':
                  mainConfig && mainConfig.activePlateform === 'workstation',
              }">
              @if (mainConfig && mainConfig.activePlateform !== 'workstation') {
                @if (isAccountShown) {
                  <div
                    role="button"
                    (click)="selectDebitAccountType('account')"
                    tabindex="0"
                    [ngClass]="{
                      'd-none': !selectedBank,
                      'bg-primary  text-all-white rounded px-1 py-2 me-1':
                        selectedDebitAccountType === 'account',
                    }"
                    class="text-center px-1 py-2 ms-1 width">
                    <b i18n>Account</b>
                  </div>
                }

                @if (isWalletShown) {
                  <div
                    role="button"
                    tabindex="0"
                    (click)="selectDebitAccountType('wallet')"
                    [ngClass]="{
                      'bg-primary text-all-white  rounded px-1 py-2 me-1':
                        selectedDebitAccountType === 'wallet',
                    }"
                    class="text-center pe-3 width">
                    <b i18n>Wallet</b>
                  </div>
                }
              }
            </div>
            <div
              (click)="toggleBalance()"
              role="button"
              tabindex="0"
              class="mb-2">
              @if (!isBalanceShown) {
                <span title="Show balance">
                  <i class="fa-solid fa-eye mt-3"></i
                ></span>
              } @else {
                <span title="Hide balance">
                  <i class="fa-solid fa-eye-slash mt-3"></i
                ></span>
              }
            </div>
          </div>

          <!-- *END OF DEBIT ACCOUNTS TYPES-->

          <!-- *Accounts list container-->
          @if (
            mainConfig &&
            mainConfig.activePlateform !== 'workstation' &&
            selectedDebitAccountType === 'account'
          ) {
            <app-accounts-list
              [Type]="'transfer'"
              [isTransferDone]="isTransactionDone"
              (accountSelected)="
                getAccountSelected($event)
              "></app-accounts-list>
          }

          <!--* ___END OF ACCOUNTS LIST CONTAINER___-->

          <!--* wallets list container-->
          @if (
            mainConfig &&
            mainConfig.activePlateform !== 'workstation' &&
            selectedDebitAccountType === 'wallet'
          ) {
            <app-wallet-list
              [Type]="'transfer'"
              [isTransferDone]="isTransactionDone"
              (walletSelected)="getAccountSelected($event)"></app-wallet-list>
          }

          <!-- *END OF SELECTED WALLET CONTAINER-->
        </div>
      </div>
    }
  </div>
</div>
