.profil {
  width: 50px;
  height: 50px;
}

.announcements {
  .announce-box {
    height: 150px;
  }
  .assurance-box .box_parent {
    filter: url('#flt_tag');
    width: 60%;
    .image1 {
      clip-path: polygon(35% 0, 100% 0, 100% 100%, 7% 100%, 3% 87%);
    }
  }
}

.text-info {
  color: hsla(43, 100%, 39%, 1) !important;
}
.text-magis {
  color: hsla(218, 54%, 20%, 1);
}

.fz-emoji {
  font-size: calc(7rem + 1.5vw) !important;
}

#postsSection {
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (max-width: 767px) {
    width: 80%;
  }
}

.btn {
  width: 150px;
}

.max-width-600 {
  max-width: 600px;
}
