<!-- mobile section -->
<section class="d-lg-none mb-5">
  <!-- plateform cards -->
  <div class="row justify-content-center mx-0" style="gap: 1rem">
    <div
      class="col-5 col-md-3 bg-secondary sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center text-dark"
      role="button"
      (click)="switchPlateform('onlineBanking', '/b/banking')"
      tabindex="0">
      <div class="icon mb-2" style="width: 45px; height: 60px">
        <img
          src="/images/ihela-b.svg"
          alt="ihela logo"
          class="img-fluid w-100" />
      </div>
      <b i18n>Manage your account</b>
    </div>
    <div
      class="col-5 col-md-3 bg-secondary sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center text-dark"
      role="button"
      (click)="switchPlateform('workstation', 'w/workstation')"
      tabindex="0">
      <div class="icon mb-2 text-magis" style="font-size: 2.5rem">
        <i class="fa-solid fa-desktop"></i>
      </div>
      <b i18n>Manage your Company</b>
    </div>
    <div
      class="col-5 col-md-3 bg-secondary sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center text-dark"
      role="button"
      (click)="switchPlateform('marketPlace', '/m/market')"
      tabindex="0">
      <div class="icon text-success mb-2" style="font-size: 2.5rem">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <b i18n>Market Place</b>
    </div>
    <div
      class="col-5 col-md-3 bg-secondary sm-radius d-flex flex-column align-items-center justify-content-center py-3 px-2 text-center text-dark"
      role="button"
      (click)="switchPlateform('newsFeed', '/n/newsfeed/chat')"
      tabindex="0">
      <div class="icon text-info mb-2" style="font-size: 2.5rem">
        <i class="fa-regular fa-comments"></i>
      </div>
      <b i18n>Chat</b>
    </div>

    <!-- for responsive design -->
    <div class="col-5 col-md-3"></div>
    <div class="col-5 col-md-3"></div>
  </div>

  <section class="mt-5">
    <div class="col-10 col-md-9 mb-3 fs-5 dark mx-auto">
      <b class="text-dark">Ours Billers</b>
    </div>

    <!-- biller skeleton loader -->
    @if (billersLoading) {
      <div class="row justify-content-center mx-0" style="gap: 1rem">
        @for (item of countProductLoader; track $index) {
          <div class="col-5 col-md-3 lg-radius">
            <app-skeleton [height]="'73px'" classes="sm-radius"></app-skeleton>
          </div>
        }
        <!-- for responsive design -->
        <div class="col-5 col-md-3"></div>
        <div class="col-5 col-md-3"></div>
      </div>
    }

    @if (!billersLoading) {
      <div class="row justify-content-center mx-0" style="gap: 1rem">
        @for (biller of billers; track $index) {
          <div
            class="col-5 col-md-3 border overflow-hidden lg-radius level-2 d-flex flex-column flex-sm-row p-2 justify-content-center align-items-center justify-content-sm-start"
            style="min-height: 73px"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#biller"
            tabindex="0"
            (click)="selectBiller(biller)">
            <div
              class="col-sm-4 d-flex align-items-center justify-content-center text-dark">
              @if (biller.lookup_image) {
                <img
                  src="{{ biller.lookup_image }}"
                  class="img-fluid w-100"
                  alt="Biller Logo"
                  style="object-fit: cover; max-height: 65px" />
              }
              @if (!biller.lookup_image) {
                <span class="fs-1">
                  <i class="fa-solid fa-shop"></i>
                </span>
              }
            </div>
            <div
              class="fw-bold d-flex align-items-center mt-1 mt-sm-0 ms-sm-2 text-center text-sm-start text-dark"
              style="font-size: 1.125rem">
              {{ biller.lookup_title }}
            </div>
          </div>
        }

        <!-- for responsive design -->
        <div class="col-5 col-md-3"></div>
        <div class="col-5 col-md-3"></div>
      </div>
    }
  </section>
</section>

<main class="d-flex me-2 mb-4" style="gap: 0 1rem">
  <!-- posts section -->
  <section
    class="mx-auto row overflow-hidden w-75 md-w-60 py-3"
    style="gap: 2rem 0">
    <div
      class="lg-radius shadow bg-white d-flex flex-column col-md-10 mx-auto max-width-600 m-0 p-0"
      style="height: max-content">
      <div class="header d-flex align-items-center mx-4 my-2">
        <div
          class="profil rounded-circle bg-primary d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-user fs-2 text-all-white"></i>
        </div>
        <div
          class="d-flex flex-column overflow-hidden gap-0 ps-2"
          style="max-height: 60px">
          <p class="m-0 p-0"><b>iHelá Ryanje</b></p>
          <p class="m-0 p-0 fs-x-small text-secondary">
            00H <b>Public </b><i class="fa-solid fa-earth-africa"></i>
          </p>
        </div>
      </div>
      <div class="overflow-hidden mx-3" appShowMore [maxLength]="200">
        <p i18n>
          Bienvenue dans l’application iHela Ryanje. Nous améliorons les
          fonctionnalités afin de vous offrir une expérience unique. Toutes les
          transactions financières se font sur la même plateforme en un temps
          record.
        </p>
        <ul>
          <li i18n>
            Les transferts d’argent vers les banques et portefeuilles mobiles
          </li>
          <li i18n>Achat d’unités</li>
          <li i18n>Paiement d’impôts et taxes de la Mairie</li>
          <li i18n>Dépôt et retrait sur les plateformes de paris en ligne</li>
          <li i18n>Consultation des soldes</li>
        </ul>
        <p i18n>
          L’application mise à jour, donne la possibilité de payer une facture
          et de donner un pourboire au caissier/serveur qui vous a bien servi.
          Cette fonctionnalité apparaît dans le formulaire de paiement marchand.
        </p>
        <p i18n>
          La connexion dans l’application est gratuite si vous possédez une
          carte Sim Onatel. Pour s’en procurer, rendez-vous dans le guichet de
          iHela le plus proche sur toute l’étendue du Burundi.
        </p>
        <p i18n>
          Trouvez toutes les informations nécessaires sur nos produits d’épargne
          et de crédit dans l’application sans vous diriger au guichet.
        </p>
        <p i18n>
          Pour des transactions rapides vers Lumicash, liez votre carte sim au
          compte courant afin de transférer de l’argent sans passer par
          l’application, en composant *163#.
        </p>
      </div>
      <div
        class="d-flex bg-white flex-column justify-content-center align-items-center p-2 mb-3 px-3 sm-radius overflow-hidden w-100">
        <img src="./images/NouvelleExperience.jpg" class="image w-100" alt="" />
      </div>
    </div>

    <!-- PUBLICATIONS -->
    <app-publications></app-publications>
  </section>

  <!-- announcements section -->
  <section class="d-none d-md-block announcements" style="width: 40%">
    <section>
      <div class="text-center mb-3">
        <span class="fw-bold text-dark" i18n>Announcement</span>
      </div>
      <div class="row mx-0" style="gap: 2rem 0">
        <div
          class="shadow mx-auto announce-box sm-radius py-1 position-relative overflow-hidden">
          <div
            class="px-2 rounded-4 overflow-hidden position-absolute z-2 overflow-hidden blury">
            <div class="position-relative h-100 d-flex">
              <div class="flex-grow-1 m-2 rounded-2 onamobColor"></div>
              <div class="d-flex flex-column gap-0">
                <span class="fw-bold fs-5 text-all-dark p-0 m-0" i18n
                  >ONAMOB / IHELA</span
                >
                <span class="fw-bold text-all-dark p-0 m-0">Partner</span>
              </div>
              <!-- <div
                class="h-100 w-100 bg-all-white position-absolute top-0 start-0"></div> -->
            </div>
          </div>
          <!-- <div
            class="h-100 w-100 bg-all-white position-absolute opacity-50 top-0 start-0 z-1"></div> -->
          <!-- Slider -->
          <div class="slider-container">
            @for (slide of slides; track $index) {
              <div
                class="slide d-inline-block h-100 w-100 position-absolute top-0 start-0"
                [ngClass]="{ active: currentIndex === $index }">
                <img [src]="slide" alt="" class="image" />
              </div>

              <div
                class="indicators position-absolute bottom-0 start-0 w-100 d-flex justify-content-center">
                @for (slide of slides; track $index) {
                  @if ($index !== currentIndex) {
                    <span
                      class="me-1"
                      role="button"
                      tabindex="0"
                      (click)="setCurrent($index)">
                      <i class="fa fs-x-small fa-circle text-secondary"></i>
                    </span>
                  }
                  @if ($index === currentIndex) {
                    <span class="me-1">
                      <img src="./images/onamob/slide-rect.svg" alt="" />
                    </span>
                  }
                }
              </div>
            }
          </div>
        </div>
        <div
          class="shadow mx-auto announce-box sm-radius bg-white d-flex assurance-box pe-0 position-relative">
          <div
            class="h-100 d-flex align-items-center flex-column justify-content-center"
            style="z-index: 3">
            <span class="fw-bold fs-5 mb-4 text-dark" i18n
              >Insure your home</span
            >
            <button
              class="btn bg-primary text-light fw-bold px-3 me-3 py-1 disabled"
              i18n>
              More
            </button>
          </div>
          <div class="box_parent position-absolute h-100 end-0">
            <div class="image1 h-100 overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG91c2UlMjBhc3N1cmFuY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                class="w-100 h-100 object-fit-cover border rounded-0 border-top-left-radius-15 border-bottom-right-radius-15"
                alt="" />
            </div>

            <svg
              class="w-0 h-0 position-absolute invisible"
              xmlns="http://www.w3.org/2000/svg">
              <defs>
                <filter id="flt_tag">
                  <feGaussianBlur
                    in="SourceGraphic"
                    stdDeviation="6"
                    result="blur" />
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="flt_tag" />
                  <feComposite
                    in="SourceGraphic"
                    in2="flt_tag"
                    operator="atop" />
                </filter>
              </defs>
            </svg>
          </div>
        </div>

        <div class="shadow d-flex mx-auto announce-box bg-white sm-radius ps-1">
          <div class="h-100 py-1" style="width: 53%">
            <img
              style="height: 100%; object-fit: cover"
              src="https://images.unsplash.com/photo-1564156280315-1d42b4651629?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmFtaWx5JTIwbXV0dWFsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
              alt=""
              class="img-fluid rounded" />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
            style="flex-grow: 1">
            <div
              class="d-flex flex-column align-items-center justify-content-center mb-4 text-dark">
              <span class="fs-5 fw-bold" i18n>Mutual</span>
              <span class="fs-5 fw-bold" i18n>Credit</span>
            </div>
            <button
              class="btn bg-primary text-light fw-bold px-4 py-1 disabled"
              i18n>
              More
            </button>
          </div>
        </div>

        <div
          class="bg-white lg-radius p-3 px-4 d-flex align-items-center justify-content-between mt-2 mb-4"
          role="button"
          (click)="switchPlateform('onlineBanking', '/b/banking/tarifs')"
          tabindex="0"
          style="box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1)">
          <b class="text-dark ms-2 fs-5" i18n>Tarifs</b>
          <span class="text-dark fs-3">
            <i class="fa-solid fa-calculator"></i>
          </span>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="mt-4 mb-3 mx-3">
        <span class="fw-bold text-dark" style="font-size: 18px" i18n
          >Top Products</span
        >
      </div>
      @if (loadingProducts) {
        <div class="cont-preloader mb-3" style="min-height: 200px">
          <div class="row" style="gap: 1.5rem 0">
            @for (item of countProductLoader; track $index) {
              <div class="col-md-6" style="height: 180px">
                <app-skeleton
                  [height]="'57%'"
                  [classes]="'rounded-2'"></app-skeleton>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'60%'"
                    [classes]="'rounded'"></app-skeleton>
                </div>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'40%'"
                    [classes]="'rounded'"></app-skeleton>
                </div>
              </div>
            }
          </div>
        </div>
      }

      @if (!loadingProducts) {
        <div class="row" style="gap: 1.5rem 0">
          @for (product of topProducts; track $index) {
            <div class="product sm-radius col-md-6" role="button">
              <app-product-card [product]="product"> </app-product-card>
            </div>
          }
        </div>
      }
    </section>
    <section class="mobile-app-download mt-4">
      <div
        class="sm-radius bg-secondary shadow px-3 py-4 col-md-11 mt-3 mx-auto w-100">
        <h5 class="text-center fw-bold text-dark">Download Mobile App</h5>
        <div class="d-flex justify-content-around align-items-center mt-4">
          <a
            class="col-5 position-relative"
            href="https://apps.apple.com/fr/app/ihel%C3%A1-ryanje-app/id6470385289"
            target="_blank">
            <img
              src="/images/auth/app-store.png"
              alt="App Store Logo"
              class="img-fluid" />
          </a>

          <a
            class="col-5 position-relative"
            href="https://play.google.com/store/apps/details?id=com.ubuviz.ihera_mobile&hl=fr&gl=US"
            target="_blank">
            <img
              src="/images/auth/play-store.png"
              alt="Play Store Logo"
              class="img-fluid" />
          </a>
        </div>
      </div>
    </section>
  </section>
</main>
