// .contour {
//   width: 270px;
//   height: 270px;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0.3;
//   filter: blur(12px);
//   z-index: 4;
// }
.show {
  z-index: 10000;
  inset: 0;
}
.fade {
  inset: 0;
  z-index: -100;
}

.splashContainer {
  height: 204px;
  width: 159px;
  //   border: 1px black solid;
  position: relative;
  //   overflow: hidden;
  animation: loopSequence 4.5s infinite;
}

.mask {
  position: absolute;
  height: 14px;
  width: 100%;
  background-color: rgba(241, 241, 241, 1);
  //   border-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 5;
  bottom: 0;
  transition: width 2s ease-in-out;
  animation: closeEllipse 0.5s ease-in-out forwards;
  animation-delay: 0.4s;
}

.whiteMask {
  position: absolute;
  bottom: -90px;
  height: 100px;
  right: -30px;
  width: 300px;
  background-color: white;
  z-index: 3;
  transition: leave 2s ease-in-out;
  animation: closeEllipse 0.5s ease-in-out forwards;
  animation-delay: 0.4s;
}

.ellipse {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28px;
  //   overflow: hidden;
  transition: width 2s ease-in-out;
  animation: closeEllipse 0.5s ease-in-out forwards;
  animation-delay: 0.4s;
}

.ellipse img {
  width: 100%;
}

.logo {
  position: absolute;
  bottom: 0;
  clip-path: inset(0 185px 0 183px);
  //   left: -80%;
  height: 118px;
  //   transform: translateX(0%);
  animation:
    bounce 1.5s ease-in-out forwards,
    slideIn 1s ease-in-out 1.5s forwards;
}

.logo img {
  height: 100%;
  width: auto;
}

@keyframes bounce {
  0% {
    // transform: translate(-50%, 80px) scale(0);
    transform: translateY(80px) scale(0);
    clip-path: inset(0 185px 0 183px);
    // clip-path: inset(0 190px 0 0);
  }
  //   5% {
  //     transform: translate(-50%, 80px) scale(1);
  //     clip-path: inset(0 185px 0 183px);
  //     // clip-path: inset(0 190px 0 0);
  //   }
  25% {
    transform: translateY(-100px) scale(1.2);
    // transform: translate(-50%, -100px) scale(1.2);
  }
  50% {
    // transform: translate(-50%, 0) scale(1);
    transform: translateY(0) scale(1);
  }
  65% {
    // transform: translate(-50%, -60px) scale(1.15);
    transform: translateY(-60px) scale(1.15);
  }
  80% {
    // transform: translate(-50%, 0) scale(1);
    transform: translateY(0) scale(1);
  }
  90% {
    // transform: translate(-50%, -30px) scale(1.1);
    transform: translateY(-30px) scale(1.1);
  }
  100% {
    // transform: translate(-50%, 0) scale(1);
    transform: translateY(0) scale(1);
    clip-path: inset(0 185px 0 183px);
    // clip-path: inset(0 190px 0 0);
  }
}

@keyframes slideIn {
  0% {
    left: -87%;
    clip-path: inset(0 185px 0 183px);
    // clip-path: inset(0 190px 0 0);
  }
  50% {
    left: -140%;
    clip-path: inset(0 185px 0 183px);
    // clip-path: inset(0 190px 0 0);
  }
  100% {
    left: -140%;
    clip-path: inset(0 0 0 183px);
  }
}

@keyframes closeEllipse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes leave {
  0% {
    right: -30px;
  }
  100% {
    right: -200px;
  }
}

@keyframes loopSequence {
  0%,
  100% {
  }
}
