@if (!operator?.organization?.is_erp) {
  <div class="w-100 h-100 overflow-y-auto bg-erp font-montserrat">
    <div class="d-flex justify-content-between align-items-center p-5 bg-white">
      <div class="d-flex flex-column" style="max-width: 512px">
        <span class="fs-xx-large fw-bold text-primary"
          >Desk, the virtual workspace</span
        >
        <span class="fs-l-medium" style="line-height: 24.38px"
          >Effortlessly manage all aspects of your business in one unified
          space.</span
        >
        <div
          class="py-2 bg-primary rounded-3 px-5 text-all-white fw-bold mt-4 clickable"
          style="width: fit-content">
          <span class="px-3">Get Started</span>
        </div>
      </div>
      <div class="py-2">
        <img src="./images/desk/illistrationit.svg" alt="" />
      </div>
    </div>

    <div class="d-flex flex-column pt-5">
      <div
        class="w-100 text-center fs-l-medium mx-auto mb-5"
        style="max-width: 1090px">
        <span
          >The Desk is your personalized workspace, designed to give you quick
          and efficient access to all the essential information you need on a
          daily basis. It brings together all the features available to you
          within our platform, including:</span
        >
      </div>

      <div class="d-flex flex-row justify-content-center mt-2">
        <div class="pe-4 py-2 border-2 border-end">
          <span class="fs-medium"> Mobile money </span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Reports</span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Loans</span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Clients</span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Logistics</span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Accounting</span>
        </div>
        <div class="px-4 py-2 border-2 border-end">
          <span class="fs-medium">Administration</span>
        </div>
        <div class="ps-4 py-2 border-2">
          <span class="fs-medium">Operations</span>
        </div>
      </div>
    </div>

    <div
      class="d-flex justify-content-between align-items-center p-5 bg-white mt-2">
      <div class="d-flex flex-column" style="max-width: 527px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-mobile-screen-button text-primary me-2"></i>
          Mobile money
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Take control of your network. Effectively manage your agents,
          merchants and product categories. Access detailed reports to optimize
          your operations.
        </span>
      </div>

      <div class="bcontain shadow-sm">
        <!-- <img src="./images/desk/merchants.svg" alt="" /> -->

        <div class="d-flex flex-row justify-content-between py-2 ps-4">
          <div class="position-relative mt-4 ms-5">
            <div
              class="circle d-flex justify-content-center align-items-center rounded-circle overflow-hidden bg-primary-3 border-white border position-absolute">
              <i class="fa-solid fa-file-invoice-dollar text-primary fa-lg"></i>
            </div>

            <div
              class="backard border border-primary bg-primary-3 py-1 fs-small ps-2 pe-3 text-all-dark">
              <div class="w-100 border-bottom border-primary pb-1">
                <span class="btitle">Merchants bills</span>
              </div>

              <p class="fs-x-small bbody pt-1">
                View and manage merchant bills
              </p>
            </div>
          </div>

          <div class="position-relative mt-4 me-4">
            <div
              class="circle d-flex justify-content-center align-items-center rounded-circle overflow-hidden bg-primary-3 border-white border position-absolute">
              <i class="fa-solid fa-cart-shopping text-primary fa-lg"></i>
            </div>

            <div
              class="backard border border-primary bg-primary-3 py-1 fs-small ps-2 pe-3 text-all-dark">
              <div class="w-100 border-bottom border-primary pb-1">
                <span class="btitle">Merchants</span>
              </div>

              <p class="fs-x-small bbody pt-1">
                Manage the profile of partner merchants
              </p>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row justify-content-between py-2 ps-4">
          <div class="position-relative mt-4 ms-5">
            <div
              class="circle d-flex justify-content-center align-items-center rounded-circle overflow-hidden bg-primary-3 border-white border position-absolute">
              <i class="fa-solid fa-list text-primary fa-lg"></i>
            </div>

            <div
              class="backard border border-primary bg-primary-3 py-1 fs-small ps-2 pe-3 text-all-dark">
              <div class="w-100 border-bottom border-primary pb-1">
                <span class="btitle text-nowrap">Merchants category</span>
              </div>

              <p class="fs-x-small bbody pt-1">
                View and configure merchant categories
              </p>
            </div>
          </div>

          <div class="position-relative mt-4 me-4">
            <div
              class="circle d-flex justify-content-center align-items-center rounded-circle overflow-hidden bg-primary-3 border-white border position-absolute">
              <i class="fa-solid fa-user-tie text-primary fa-lg"></i>
            </div>

            <div
              class="backard border border-primary bg-primary-3 py-1 fs-small ps-2 pe-3 text-all-dark">
              <div class="w-100 border-bottom border-primary pb-1">
                <span class="btitle text-nowrap">Merchants category</span>
              </div>

              <p class="fs-x-small bbody pt-1">
                View and configure merchant categories
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5">
      <div class="d-flex flex-column" style="max-width: 585px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-chart-simple text-primary me-2"></i>
          Reports
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          View a complete set of financial statements to assess the performance
          and financial condition of your business. Reports such as balance
          sheet, income statement, depreciation tables and ratio analyzes are at
          your disposal.
        </span>
      </div>

      <div>
        <img src="./images/desk/reports.svg" alt="" />
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5 bg-white">
      <div class="d-flex flex-column" style="max-width: 585px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-coins text-primary me-2"></i>
          Loans
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Monitor and control all loan-related operations. Access an overview of
          your loan portfolio and their states.
        </span>
      </div>

      <div class="d-flex flex-column">
        <div>
          <div class="lrect shadow-sm px-3 d-flex align-items-center">
            <div class="d-flex gap-3">
              <div
                class="licon bg-primary-3 d-flex align-items-center justify-content-center">
                <i
                  class="fa-solid fa-hand-holding-dollar fa-2x text-primary"></i>
              </div>

              <div class="h-100 fs-medium d-flex flex-column">
                <span class="btitle">Loans request</span>
                <span class="lbody">Manage all loan requests.</span>
              </div>
            </div>
          </div>
          <!-- <img src="./images/desk/loans1.svg" alt="" /> -->
        </div>

        <div class="my-4 ps-5">
          <div class="lrect shadow-sm px-3 d-flex align-items-center">
            <div class="d-flex gap-3">
              <div
                class="licon bg-primary-3 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-money-bill-1-wave fa-2x text-primary"></i>
              </div>

              <div class="h-100 fs-medium d-flex flex-column">
                <span class="btitle">Credit line</span>
                <span class="lbody text-nowrap"
                  >Track and manage credit lines granted.</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="ps-5 ms-5">
          <div class="lrect shadow-sm px-3 d-flex align-items-center">
            <div class="d-flex gap-3">
              <div
                class="licon bg-primary-3 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-sack-dollar fa-2x text-primary"></i>
              </div>

              <div class="h-100 fs-medium d-flex flex-column">
                <span class="btitle">Loans</span>
                <span class="lbody">Analyze your overall loan portfolio.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5">
      <div class="d-flex flex-column" style="max-width: 386px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-users text-primary me-2"></i>
          Clients
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Manage your customers, their savings products and their interactions.
        </span>
      </div>

      <div>
        <img src="./images/desk/clientsChart.svg" alt="" />
      </div>
    </div>

    <div class="d-flex flex-column align-items-center bg-white p-5">
      <span class="fs-l-medium"
        >Simplify the management of your business with the desk, go ahead and
        get started</span
      >

      <div
        class="p-2 bg-primary rounded-3 px-5 text-all-white fw-bold mt-4 clickable"
        style="width: fit-content">
        <span>Get Started</span>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5">
      <div class="d-flex flex-column" style="max-width: 490px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-truck-fast text-primary me-2"></i>
          Logistics
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          From procurement to delivery, ensure efficient management of your
          supply chain: warehousing, inventory, transport and tracking
        </span>
      </div>

      <div>
        <img src="./images/desk/logistics.svg" alt="" />
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5 bg-white">
      <div class="d-flex flex-column" style="max-width: 490px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-truck-fast text-primary me-2"></i>
          Accounting
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Simplify your accounting manageManagement: define your accounting
          plans, manage user access rights and monitor your company's activity.
        </span>
      </div>

      <div class="pe-5 me-5 d-flex flex-column gap-4">
        <!-- <img src="./images/desk/accounting.svg" alt="" /> -->

        <div>
          <div
            class="accard shadow-sm px-2 d-flex gap-2 flex-row align-items-center">
            <div class="acbar bg-primary-3"></div>

            <span class="fs-l-medium btitle">Ledger aliases</span>
          </div>
        </div>

        <div class="ms-5">
          <div
            class="accard shadow-sm px-2 d-flex gap-2 flex-row align-items-center">
            <div class="acbar bg-primary-3"></div>

            <span class="fs-l-medium btitle">Ledger</span>
          </div>
        </div>

        <div class="ms-5 ps-5">
          <div
            class="accard shadow-sm px-2 d-flex gap-2 flex-row align-items-center">
            <div class="acbar bg-primary-3"></div>

            <span class="fs-l-medium btitle">Linkable accounts</span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5">
      <div class="d-flex flex-column" style="max-width: 456px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-building-user text-primary me-2"></i>
          Administration
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Manage the departments, directions, menus, services and user access of
          your application.
        </span>
      </div>

      <div class="d-flex flex-column gap-2 pe-3">
        <!-- <img src="./images/desk/administration.svg" alt="" /> -->

        <div class="d-flex flex-row gap-4 mx-auto">
          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Directions</span>

              <span class="adnum">5</span>
            </div>
          </div>

          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Menus</span>

              <span class="adnum">10+</span>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row gap-4">
          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Services</span>

              <span class="adnum">10+</span>
            </div>
          </div>

          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Shortcuts</span>

              <span class="adnum">10+</span>
            </div>
          </div>

          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Tellers</span>

              <span class="adnum">100+</span>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row gap-4 mx-auto pe-5">
          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Operators</span>

              <span class="adnum">100+</span>
            </div>
          </div>

          <div
            class="mt-3 adcard bg-white overflow-hidden d-flex flex-row gap-3 align-items-center me-4 shadow-sm">
            <div class="adbar bg-primary-3 border-end border-primary"></div>

            <div class="d-flex flex-column">
              <span class="fs-small" style="font-weight: 500">Branches</span>

              <span class="adnum">100+</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-5 bg-white">
      <div class="d-flex flex-column" style="max-width: 377px">
        <span class="fs-xx-large fw-bold">
          <i class="fa-solid fa-gear text-primary me-2"></i>
          Operations
        </span>

        <span class="fs-l-medium mt-3" style="line-height: 24.38px">
          Accurately track all your transaction and efficiently manage your
          financial operations.
        </span>
      </div>

      <div>
        <img src="./images/desk/operations.svg" alt="" />
      </div>
    </div>
  </div>
}
