@if (!operator?.organization?.is_erp) {
  <div class="w-100 h-100">
    <div class="h-25 row d-flex flex-column justify-content-between mb-5">
      <div class="row position-relative DivImage">
        <img
          src="/images/desk/BgDesk.png"
          alt="picture"
          title="background picture"
          class="image DivImage" />
        <div class="row position-absolute">
          <div class="col-4 me-auto text-start mt-1 mt-md-3">
            <span
              class="mx-0 mx-md-4 font-montserrat fs-large text-primary fontWDesk"
              >Desk</span
            >
          </div>
          <div
            class="col-7 col-md-3 text-end text-md-center text-primary mt-1 mt-md-3">
            <div class="row d-flex flex-col mx-md-1">
              <span class="mb-0 mb-md-1 text-primary fs-5">Ihela Siege</span>
              <span class="mb-0 mb-md-1 text-secondary fs-5">Branche</span>
              <span class="text-secondary fs-5">Counter 12</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container h-25">
        <div class="container">
          <div class="row">
            <div
              class="col-9 col-md-5 d-flex align-items-center justify-content-start justify-content-md-center me-auto bg-primary p-3 rounded-1"
              role="button">
              <span class="text-light font-calibri fs-large me-2"
                >Get started</span
              >
              <i class="fa-solid fa-arrow-right fs-5 text-light"></i>
            </div>
            <div class="col-3 col-md-7 h-100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container h-100 mb-3">
      <div
        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-mobile-screen-button fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Mobile money
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-y-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-file-pen fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Report
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-hand-holding-dollar fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Loans
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-money-bill-trend-up fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Accounting
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-user-tie fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Admnistration
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-users-between-lines fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Clients
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-gear fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Operations
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="row h-100">
            <div class="col-12 col-md-11 border lg-radius HCard">
              <div
                class="w-100 w-md-75 row d-flex justify-content-center mb-3 mx-auto">
                <i
                  class="fa-solid fa-receipt fs-1 text-primary mt-1 mt-md-3 mb-2 mb-md-3 mx-auto"></i>
                <h5 class="font-l-medium text-center mb-1 mb-md-3 card-title">
                  Invoice
                </h5>
                <hr class="d-flex bg-primary w-75 my-0" />
              </div>
              <div class="row">
                <div class="col-11 mx-auto overflow-hidden p-0">
                  <p class="font-l-medium text-secondary m-0 card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin tempus magna justo. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus, consequat id turpis
                    sagittis,lacus,consequat. Nam pulvinar at tellus eu tempus.
                    Proin augue lacus,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
