<div>
  <div class="text-dark d-flex align-items-center">
    <b class="me-2 fs-4">Nyamuranzi</b>
    <b role="button">
      @if (showAmountAccount) {
        <span title="show balance">
          <i class="fa fa-eye-slash fs-6"></i>
        </span>
      } @else {
        <span title="show balance">
          <i class="fa fa-eye fs-6"></i>
        </span>
      }
    </b>
  </div>
  <div
    class="mt-2 lg-radius position-relative p-2 shadow nyamu-card nyamu-dark">
    <div class="m-2">
      <div class="d-flex align-items-start justify-content-between">
        <div class="d-grid">
          <div class="mb-5 mt-4 pb-3">
            <span class="fs-5 text-dark">
              Share the link, open accounts and earn commissions
            </span>
          </div>

          <div class="d-flex mt-2">
            <b
              class="px-2 py-1 level-2 border short rounded me-2 d-flex align-items-center justify-content-center text-dark"
              role="button">
              <i class="fa fa-share-nodes fs-5"></i>
            </b>
            <b
              class="px-1 py-1 level-2 short border rounded me-2 d-flex align-items-center justify-content-center text-dark"
              role="button">
              <i class="fa fa-user-plus fs-6"></i>
            </b>
            <b
              class="px-2 py-1 border short level-2 rounded me-2 d-flex align-items-center justify-content-center text-dark"
              role="button">
              <i class="fa fa-user-tie fs-5"></i>
            </b>
            <b
              class="px-2 py-1 level-2 short border rounded me-2 d-flex align-items-center justify-content-center text-dark"
              role="button">
              <i class="fa fa-info-circle fs-5"></i>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
