.short {
    width: 30px;
    height: 28px;
}

.invited {
    line-height: 27px;
}


.circ-badge {
    width: 42px;
    height: 42px;
}




.nyamu-card {
    background-size: cover;
    width: 365px;
    height: 210px;
}

.nyamu-light {
    background-image: url('/images/nyamuranzi.svg');
}

.nyamu-dark {
    background-image: url('/images/nyamuranzi-dark.svg');
}

.ihela-image {
    width: 70px;
    height: 35px;
}

