<div class="container sm-radius my-3 pt-4 pb-4">
  <div class="bg-white sm-radius p-4 mt-3 mb-3">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <i class="fa fa-circle fs-x-small me-2 text-primary"></i>
        <b class="fs-normal">Choose Debit Account</b>
      </div>
    </div>
    <div class="d-flex h-50-px mt-2">
      <div
        class="d-flex me-4 p-1 bg-secondary justify-content-between rounded align-items-center">
        <div
          role="button"
          (click)="selectDebitAccountType('account')"
          tabindex="0"
          [ngClass]="{
            'bg-primary text-all-white  rounded px-1 py-2 me-1':
              selectedDebitAccountType === 'account',
          }"
          class="text-center width">
          <b i18n>Account</b>
        </div>

        <div
          role="button"
          tabindex="0"
          (click)="selectDebitAccountType('wallet')"
          tabindex="0"
          [ngClass]="{
            'bg-primary text-all-white  rounded px-1 py-2 me-1':
              selectedDebitAccountType === 'wallet',
          }"
          class="text-center width">
          <b i18n>Wallet</b>
        </div>
        <div
          role="button"
          tabindex="0"
          (click)="selectDebitAccountType('merchant')"
          tabindex="0"
          [ngClass]="{
            'bg-primary text-all-white  rounded px-1 py-2 me-1':
              selectedDebitAccountType === 'merchant',
          }"
          class="text-center width">
          <b i18n>Merchant</b>
        </div>
        <div
          role="button"
          tabindex="0"
          (click)="selectDebitAccountType('agent')"
          tabindex="0"
          [ngClass]="{
            'bg-primary text-all-white  rounded px-1 py-2 me-1':
              selectedDebitAccountType === 'agent',
          }"
          class="text-center width">
          <b i18n>Agent</b>
        </div>
      </div>
    </div>
    <div class="ms-4 mt-3">
      @if (selectedDebitAccountType === 'account') {
        <div>
          <app-lookup-individual
            (individualInfo)="
              getIndividualClient($event)
            "></app-lookup-individual>
        </div>
      } @else {
        <div>
          <div class="w-25">
            @if (selectedDebitAccountType === 'wallet') {
              @if (!walletName) {
                <div class="d-flex">
                  <input
                    type="text"
                    class="lookup form-control pe-5 ps-2 level-1 lookup-transfer-input"
                    required
                    [formControl]="lookupWallet"
                    (keydown.enter)="lookupAccount()"
                    placeholder="search wallet..." />

                  <button
                    (click)="lookupAccount()"
                    tabindex="0"
                    role="button"
                    class="btn bg-none text-dark position-relative"
                    style="right: 14%">
                    @if (!walletSearching) {
                      <span>
                        <i class="fa fa-search fs-5"></i>
                      </span>
                    }
                    @if (walletSearching) {
                      <span>
                        <i
                          class="fa fs-5 fa-pulse fa-circle-notch text-dark"></i>
                      </span>
                    }
                  </button>
                </div>
              }
              @if (walletName) {
                <div>
                  <div
                    class="d-flex align-items-start justify-content-between ps-2 py-0 border-start border-4 border-primary"
                    role="button">
                    <div class="d-grid text-dark">
                      <b>{{ walletNumber }}</b>
                      <small>{{ walletName }}</small>
                    </div>

                    <div>
                      <span
                        (click)="deselectCreditAccount()"
                        tabindex="0"
                        class="bg-danger text-white ms-5 pt-1 px-1 rounded-pill">
                        <i class="fa fa-xmark"></i>
                      </span>
                    </div>
                  </div>
                </div>
              }
            } @else if (selectedDebitAccountType === 'merchant') {
              <app-lookup
                class="w-100"
                [option]="'lookup'"
                (selectedItemEvent)="getClient($event)"
                [url]="lookupDebitAccountUrl"
                lookupLabel="Merchant Account"
                label="Merchant accounts"></app-lookup>
            } @else if (selectedDebitAccountType === 'agent') {
              <app-lookup
                class="w-100"
                [option]="'lookup'"
                (selectedItemEvent)="getClient($event)"
                [url]="lookupDebitAccountUrl"
                lookupLabel="Agent account"
                label="Agent accounts"></app-lookup>
            }
          </div>
        </div>
      }

      @if (debitAccount) {
        <div class="ms-2 d-flex align-items-center mt-1">
          <i class="fa fa-play text-primary-light me-2"></i>
          <b class="text-primary-light">{{ debitAccount.lookup_title }}</b>
        </div>
      }
    </div>
  </div>
</div>
