<div class="h-100 w-100 overflow-y-auto bg-white p-4 px-5">
  <!-- loading -->

  @if (organizationDetailsLoading || loadingPermission) {
    <span
      class="w-100 h-100 d-flex justify-content-center align-items-center p-4">
      <i class="fa-solid fa-spin fa-circle-notch fs-large text-dark"></i>
    </span>
  }
  <!-- 
  @if (
    !organizationDetailsLoading && !loadingPermission && !organizationDetails
  ) {
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">
      <div class="d-flex justify-content-center gap-4 flex-column">
        <i class="fa-solid fa-triangle-exclamation empty-state fa-4x"></i>
        <span class="fs-xx-large empty-state">Something went wrong!</span>
      </div>
    </div>
  } -->

  <!-- Operator Badge -->
  @if (
    !organizationDetailsLoading && !loadingPermission && organizationDetails
  ) {
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row gap-4 p-2 px-3 mb-4">
        <div
          class="rounded-circle bg-secondary me-4 position-relative d-flex align-items-center justify-content-center">
          <app-profile-card
            width="104px"
            height="104px"
            classes="fs-xx-large"
            [fullName]="
              organizationDetails.operator.employee_client?.client_full_name
            "
            [imageUrl]="
              organizationDetails.operator.employee_client?.picture
            "></app-profile-card>
          <span
            class="text-secondary position-absolute fs-5 clickable rounded-circle bg-white bottom-0 z-10 clickable"
            style="right: -3%; height: 30px; width: 30px"
            title="Refresh"
            tabindex="0"
            (click)="refresh()">
            <i
              class="fa-solid fa-arrows-rotate text-secondary rounded-circle p-1"></i>
          </span>
        </div>
        <div class="d-flex flex-column text-dark justify-content-center gap-2">
          <b class="fs-large fw-bold">{{
            organizationDetails.operator.employee_client?.client_full_name ??
              '------'
          }}</b>
          <b>{{
            organizationDetails.operator.employee_client?.client_code ??
              '------'
          }}</b>

          <!-- TODO :: TO BE REPLACED WITH REAL DATA -->

          <!-- <div class="d-flex flex-row gap-2">
            <span class="text-secondary fw-bold">Reference person </span>
            <span class="fw-bold">Pierre claver koko Banywera </span>
          </div> -->
        </div>
      </div>
      <div>
        <span
          class="text-primary"
          role="button"
          tabindex="0"
          [routerLink]="redirectTo('operators')">
          <u i18n>Go to list</u></span
        >
      </div>
    </div>

    @if (!showDetails) {
      <ng-container>
        <ng-container *ngTemplateOutlet="info"> </ng-container>
      </ng-container>
    }

    @if (showDetails) {
      <ng-container>
        <ng-container *ngTemplateOutlet="details"> </ng-container>
      </ng-container>
    }
    <!-- Info Section -->
    <ng-template #info>
      <section class="row">
        <!-- NOTE :: DETAILS SECTION -->
        <section class="col-8 d-flex flex-column p-2">
          <div class="w-100 d-flex position-relative flex-column gap-0 mb-4">
            <div class="w-100 d-flex flex-row px-3 mb-3 align-items-center">
              <span class="me-2"
                ><i class="fa-solid fa-circle text-primary-1 fs-x-small"></i
              ></span>
              <span class="fw-bold" i18n>Details</span>
            </div>

            <div class="w-100 d-flex flex-wrap px-3 ms-3">
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Username</span>
                <span class="fw-bold">{{
                  organizationDetails.operator.username
                }}</span>
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Full name</span>
                <span class="fw-bold">{{
                  organizationDetails.operator.employee_client
                    ?.client_full_name ?? '------'
                }}</span>
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Ips Allowed</span>
                @if (
                  !organizationDetails.operator.allowed_ips ||
                  organizationDetails.operator.allowed_ips.length === 0
                ) {
                  <span class="fw-bold">---.-.-.-</span>
                }
                @if (
                  organizationDetails.operator.allowed_ips &&
                  organizationDetails.operator.allowed_ips.length > 0
                ) {
                  <span class="fw-bold">{{
                    organizationDetails.operator.allowed_ips[0]
                  }}</span>
                }
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary">Active</span>
                @if (organizationDetails.operator.is_active) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-check fa-lg text-success"></i
                  ></span>
                }
                @if (!organizationDetails.operator.is_active) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-xmark fa-lg text-danger"></i
                  ></span>
                }
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Work Phone</span>
                <span class="fw-bold">72 000 111</span>
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Email</span>
                <span class="fw-bold">{{
                  organizationDetails.operator.employee_client?.client_email
                }}</span>
              </div>
            </div>
          </div>

          <!-- Position Details -->
          <div class="w-100 d-flex position-relative flex-column gap-0">
            <div class="w-100 d-flex flex-row px-3 mb-3 align-items-center">
              <span class="me-2">
                <i class="fa-solid fa-circle text-primary-1 fs-x-small"></i>
              </span>
              <span class="fw-bold" i18n>Position Details</span>
            </div>

            <div class="w-100 d-flex flex-wrap px-3 ms-3">
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Departement</span>
                <span class="fw-bold" i18n>Administration</span>
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary" i18n>Manager</span>
                <span class="fw-bold">{{ 'info@test.com' }}</span>
              </div>
              <div class="w-50 d-flex flex-column gap-1 mb-4">
                <span class="fw-bold text-secondary">Teller</span>
                @if (organizationDetails.is_teller) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-check fa-lg text-success"></i
                  ></span>
                }
                @if (!organizationDetails.is_teller) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-xmark fa-lg text-danger"></i
                  ></span>
                }
              </div>
              <div class="w-50 d-flex flex-column gap-1">
                <span class="fw-bold text-secondary" i18n>Treasurer</span>
                @if (organizationDetails.is_treasurer) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-check fa-lg text-success"></i
                  ></span>
                }
                @if (!organizationDetails.is_treasurer) {
                  <span class="fw-bold"
                    ><i class="fa-solid fa-circle-xmark fa-lg text-danger"></i
                  ></span>
                }
              </div>
            </div>
          </div>
        </section>

        <!-- NOTE :: DOCUMENT SECTION -->
        <!-- TODO :: DOCUMENT SECTION TO REPLACE WITH REAL DATA-->

        <!-- <section class="col-4">
          <div class="d-flex flex-row gap-2 align-items-center">
            <span>
              <i class="fa-solid fa-circle text-primary-1 fs-x-small"></i>
            </span>
            <span class="fw-bold" i18n>Document</span>
          </div>

          <div class="mt-2 px-3 pt-3 pb-5 border border-secondary rounded-2">
            <div class="d-flex flex-column">
              <span class="text-secondary fs-medium" i18n>CV</span>
              <span href="#" class="fw-bold text-info clickable text-truncate"
                ><u>cv_bibyento.pdf</u
                ><i class="fa-solid fa-file-arrow-down ms-3 text-secondary"></i
              ></span>
            </div>

            <div class="d-flex flex-column mt-3">
              <span class="text-secondary fs-medium" i18n
                >Attestation de residence</span
              >
              <span href="#" class="fw-bold text-info clickable text-truncate"
                ><u>residence_bibyento.docs</u
                ><i class="fa-solid fa-file-arrow-down ms-3 text-secondary"></i
              ></span>
            </div>

            <div class="d-flex flex-column mt-3">
              <span class="text-secondary fs-medium" i18n
                >Identite complete</span
              >
              <span href="#" class="fw-bold text-info clickable text-truncate"
                ><u>Identinte_complete_bibyento.docs</u
                ><i class="fa-solid fa-file-arrow-down ms-3 text-secondary"></i
              ></span>
            </div>

            <div class="d-flex flex-column mt-3">
              <span class="text-secondary fs-medium" i18n>CNI</span>
              <span href="#" class="fw-bold text-info clickable text-truncate"
                ><u>CNI_bibyento.docs</u
                ><i class="fa-solid fa-file-arrow-down ms-3 text-secondary"></i
              ></span>
            </div>
          </div>
        </section> -->
      </section>

      <!-- TODO :: OPERATIONS SECTION TO REPLACE WITH REAL DATA-->

      <!-- <section
        class="w-100 bg-secondary rounded-2 border border-secondary mt-4"
        style="height: 250px">
        <div class="w-100 d-flex flex-row px-3 mt-2 gap-2 align-items-center">
          <span>
            <i class="fa-solid fa-circle text-primary-1 fs-x-small"></i>
          </span>
          <span class="fw-bold" i18n>Recent Operations</span>
        </div>
      </section> -->
    </ng-template>

    <ng-template #details>
      <div class="mt-5 mx-3 h-75 row">
        <div class="col-12 col-lg-11 col-xl-9 col-xxl-8">
          <div class="d-flex border-bottom">
            <div
              class="px-4 clickable"
              [ngClass]="
                selectedMenu === 'roles'
                  ? 'border-3 border-primary border-bottom'
                  : ''
              "
              (click)="selectMenu('roles')"
              tabindex="0">
              <span class="fw-bold" i18n>Role(s)</span>
            </div>

            <div
              class="px-4 clickable"
              [ngClass]="
                selectedMenu === 'menus'
                  ? 'border-3 border-primary border-bottom'
                  : ''
              "
              (click)="selectMenu('menus')"
              tabindex="0">
              <span class="fw-bold" i18n>Menu(s)</span>
            </div>

            <div
              class="px-4 clickable"
              (click)="selectMenu('counters')"
              tabindex="0"
              [ngClass]="
                selectedMenu === 'counters'
                  ? 'border-3 border-primary border-bottom'
                  : ''
              ">
              <span class="fw-bold" i18n>Counter(s)</span>
            </div>
          </div>
          <div class="pt-5 w-75 h-100 overflow-y-auto">
            <div
              class="d-flex"
              [ngClass]="{
                'justify-content-between': selectedMenu !== 'menus',
                'justify-content-end': selectedMenu === 'menus',
              }">
              @if (selectedSection === 'roles' && selectedMenu === 'roles') {
                <div
                  class="py-1 sm-radius px-3 border border-2 d-flex align-items-center border-secondary clickable"
                  (click)="selectSection('assignment')"
                  tabindex="0">
                  <span><i class="fa-solid fa-circle-plus"></i></span>
                  <span class="ms-2 fw-bold" i18n>Assign New Roles</span>
                </div>
              }

              @if (
                selectedSection === 'counters' && selectedMenu === 'counters'
              ) {
                <div
                  class="py-1 sm-radius px-3 bg-primary d-flex align-items-center border-secondary clickable"
                  tabindex="0"
                  data-bs-toggle="modal"
                  data-bs-target="#permissionModal"
                  role="button">
                  <span><i class="fa-solid fa-plus text-all-white"></i></span>
                  <span class="ms-2 fw-bold text-all-white" i18n
                    >Add Counter</span
                  >
                </div>
              }

              <div class="h-100 d-flex flex-row gap-2">
                @if (
                  (selectedMenu === 'roles' && roles) ||
                  (selectedMenu === 'menus' && allMenus) ||
                  selectedMenu === 'counters'
                ) {
                  <div
                    class="position-relative"
                    [ngClass]="{
                      'opacity-0': selectedRole && selectedMenu === 'roles',
                    }">
                    <input
                      class="form-control"
                      type="search"
                      [placeholder]="
                        selectedMenu === 'roles'
                          ? 'Search Roles'
                          : selectedMenu === 'menus'
                            ? 'Search Menus'
                            : selectedMenu === 'counters'
                              ? 'Search Counters'
                              : ''
                      "
                      [formControl]="searchInput" />
                    <div
                      class="position-absolute end-0 top-0 pe-2 fa-lg h-100 d-flex align-items-center clickable"
                      (click)="searchRolesOrMenus()"
                      tabindex="0">
                      @if (loadingAllMenus) {
                        <span>
                          <i class="fas fa-spinner fa-pulse text-secondary"></i>
                        </span>
                      }

                      @if (!loadingAllMenus) {
                        <span>
                          <i
                            class="fa-solid fa-magnifying-glass text-secondary"></i>
                        </span>
                      }
                    </div>
                  </div>
                }

                @if (
                  selectedRole &&
                  selectedSection === 'roles' &&
                  selectedMenu === 'roles'
                ) {
                  <div
                    class="d-flex align-items-center text-primary-1 px-3 py-2 rounded bg-primary-2 clickable fs-l-medium"
                    (click)="backToRoles()"
                    tabindex="0">
                    <i class="fa-solid fa-arrow-left"></i>
                  </div>
                }
              </div>
            </div>
            @if (rolesLoading && selectedSection === 'roles' && !selectedRole) {
              <div class="w-100 d-flex justify-content-center mt-3">
                <span class="my-5">
                  <i class="fa-solid fa-spin fa-circle-notch fs-l-medium"></i>
                </span>
              </div>
            }

            <!-- NOTE :: ALL ROLES -->

            @if (
              !rolesLoading &&
              !selectedRole &&
              selectedSection === 'roles' &&
              selectedMenu === 'roles'
            ) {
              <div class="my-3 pb-5 d-flex flex-column gap-3">
                @if (!roles || roles.length === 0) {
                  <div class="d-flex flex-column align-items-center mt-5">
                    <span>
                      <i
                        class="fa-solid fa-face-meh fs-xx-large empty-state"></i>
                    </span>
                    <b class="fs-4 empty-state" i18n> No Roles </b>
                  </div>
                }

                @if (roles && roles.length > 0) {
                  @for (role of roles; track $index) {
                    <div
                      class="clickable border d-flex flex-row justify-content-between w-100 p-2 rounded"
                      (click)="selectRole(role)"
                      tabindex="0">
                      <div
                        class="d-flex flex-column justify-content-between gap-2">
                        <span class="fw-bold">{{ role.role_name }}</span>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <span
                              class="fw-bold badge-design bg-secondary py-1"
                              >{{ role.role_type.title }}</span
                            >
                          </div>

                          <div class="">
                            <span class="text-primary fw-bold badge-design" i18n
                              >Teller</span
                            >
                          </div>
                        </div>

                        <div
                          class="d-flex flex-row align-items-center justify-content-between gap-2 py-1"
                          role="button"
                          tabindex="0"
                          (click)="
                            navigate(
                              $event,
                              '/w/workstation/a/admin/roles/' + role.role_id
                            )
                          ">
                          <span
                            [class]="
                              'fw-bold badge-design py-1 px-2 bg-' +
                              role.access_type.css
                            ">
                            <i
                              [class]="
                                'fa-solid text-secondary fa-' +
                                role.access_type.icon
                              "></i>

                            {{ role.access_type.title }}
                          </span>
                          <div>
                            <i
                              class="fa-solid fa-arrow-up-right-from-square text-primary fa-lg fw-bold"></i>
                          </div>
                        </div>
                      </div>

                      <div
                        class="d-flex flex-column justify-content-between position-relative">
                        <div
                          class="d-flex flex-column align-items-center gap-0">
                          <span class="fw-bold">{{
                            role.begins_at | date: 'medium'
                          }}</span>
                          <div class="">
                            <span
                              [class]="
                                'badge-design px-3 bg-' +
                                role.operator_role_state.css
                              "
                              style="max-width: fit-content"
                              >{{ role.operator_role_state.value }}</span
                            >
                          </div>
                          <span class="fw-bold">{{
                            role.ends_at | date: 'medium'
                          }}</span>
                        </div>

                        <div
                          class="align-self-end pt-2 z-2 px-2"
                          role="button"
                          tabindex="0"
                          (click)="toggleMenu($event, $index)">
                          <i class="fa-solid fa-ellipsis fa-2x"></i>
                        </div>
                        <div
                          class="position-absolute z-2 bg-white rounded shadow menu"
                          [ngClass]="activeMenu === $index ? '' : 'd-none'">
                          <div
                            class="py-2 px-3 clickable"
                            tabindex="0"
                            (click)="
                              hideActionPopup($event, 'disable');
                              selectedRoleToUpdate = role
                            ">
                            <span
                              ><small class="icon me-1"
                                ><i class="fa-regular fa-eye-slash"></i
                              ></small>
                              <small class="ms-1 fw-bold" i18n
                                >Disable</small
                              ></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                }
              </div>
            }

            <!-- NOTE :: ALL MENUS  -->

            @if (selectedSection === 'menus' && selectedMenu === 'menus') {
              <div
                class="my-3 d-flex flex-column gap-3 overflow-y-auto align-items-center w-100">
                @if (loadingAllMenus) {
                  <span class="my-5">
                    <i class="fa-solid fa-spin fa-circle-notch fs-l-medium"></i>
                  </span>
                }

                @if ((!allMenus || allMenus.length === 0) && !loadingAllMenus) {
                  <div class="d-flex flex-column align-items-center mt-5">
                    <span>
                      <i
                        class="fa-solid fa-face-meh fs-xx-large empty-state"></i>
                    </span>
                    <b class="fs-4 empty-state" i18n> No Menus </b>
                  </div>
                }

                @if (allMenus && allMenus.length > 0) {
                  @for (menu of allMenus; track $index) {
                    <div class="w-100 rounded border row p-2">
                      <div class="d-flex flex-column gap-1 col">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Name :</span
                          >
                          <span class="fw-bold fs-small">{{
                            menu.lookup_title
                          }}</span>
                        </div>
                      </div>

                      <div class="d-flex flex-column gap-1 col">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Group :</span
                          >
                          <span class="fw-bold fs-small">{{
                            menu.menu_group_info?.name
                          }}</span>
                        </div>
                      </div>

                      <div class="d-flex flex-column gap-1 col-3">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Active :</span
                          >
                          @if (menu.menu_group_info?.active) {
                            <span class="fw-bold"
                              ><i
                                class="fa-solid fa-circle-check text-success"></i
                            ></span>
                          }

                          @if (!menu.menu_group_info?.active) {
                            <span class="fw-bold"
                              ><i
                                class="fa-solid fa-circle-xmark text-danger"></i
                            ></span>
                          }
                        </div>
                      </div>
                      <div class="d-flex flex-row gap-2">
                        <span
                          class="text-secondary fw-bold fs-small text-nowrap"
                          i18n
                          >Url :</span
                        >
                        @if (menu.lookup_subtitle) {
                          <span class="fw-bold fs-small">{{
                            menu.lookup_subtitle
                          }}</span>
                        }
                      </div>
                    </div>
                  }
                }
              </div>
            }

            <!---------------------------------------------------------------------- COUNTERS --------------------------------------------------------------------------------------->

            @if (
              selectedSection === 'counters' && selectedMenu === 'counters'
            ) {
              <div
                class="my-3 d-flex flex-column gap-1 overflow-y-auto align-items-center w-100 mt-4 overflow-x-hidden">
                @if (loadingPermission) {
                  <div class="w-100 d-flex justify-content-center">
                    <i class="fa-solid fa-spin fa-circle-notch fs-5 my-5"></i>
                  </div>
                }

                @if (
                  !loadingPermission &&
                  permissionDetails &&
                  permissionDetails.permissions_counters?.length === 0
                ) {
                  <div class="d-flex flex-column align-items-center mt-5">
                    <span>
                      <i
                        class="fa-solid fa-face-meh fs-xx-large empty-state"></i>
                    </span>
                    <b class="fs-4 empty-state" i18n> No Counter </b>
                  </div>
                }

                @if (
                  !loadingPermission &&
                  permissionDetails &&
                  (permissionDetails.permissions_counters?.length ?? 0 > 0)
                ) {
                  <div class="w-100 row">
                    <div class="col-3 d-flex justify-content-center">
                      <span class="text-secondary fw-bold" i18n>Counter</span>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <span class="text-secondary fw-bold" i18n
                        >Branch Name</span
                      >
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                      <span class="text-secondary fw-bold" i18n
                        >Branch code</span
                      >
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                      <span class="text-secondary"></span>
                    </div>
                  </div>

                  <div
                    class="d-flex flex-column gap-3 w-100 align-items-center mt-2">
                    @for (
                      item of permissionDetails.permissions_counters;
                      track $index
                    ) {
                      <div
                        class="w-100 row py-3 border border-secondary rounded-2">
                        <div class="col-3 d-flex justify-content-center">
                          <span class="fw-bold">{{ item.name }}</span>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                          <span class="fw-bold">{{ item.branch.name }}</span>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                          <span class="fw-bold">-------</span>
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                          <div class="d-flex flex-row gap-2">
                            <span
                              tabindex="0"
                              (click)="
                                redirectAt(
                                  '/w/workstation/a/admin/counter/' + item.id,
                                  $event
                                )
                              "
                              class="text-primary text-center"
                              role="button"
                              title="Counter Details">
                              <i
                                class="fa-solid fa-arrow-up-right-from-square text-primary"></i>
                            </span>
                            <span
                              (click)="
                                openConfirmDialog({
                                  type: 'password',
                                  action: 'Remove Permission Password',
                                  message: 'Enter your password',
                                });
                                selectCounterOrBrancheToRemove(
                                  'counter',
                                  item.id
                                )
                              "
                              role="button"
                              tabindex="0">
                              <i class="fa-solid fa-trash-can text-primary"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                }
              </div>
            }

            <!------------------------------------------------------------------------------ASSIGN NEW ROLES  -------------------------------------------------------------------------------->

            @if (selectedSection === 'assignment' && selectedMenu === 'roles') {
              <div class="mt-4">
                <form
                  [formGroup]="newRoleForm"
                  class="w-100 mx-auto row justify-content-center align-items-center"
                  style="gap: 0.7rem 0">
                  <div class="input w-50 px-2">
                    <label
                      for="begins_at"
                      class="form-label fw-bold text-dark"
                      i18n
                      >Begins At <code>*</code></label
                    >
                    <input
                      type="datetime-local"
                      class="form-control px-1"
                      formControlName="begins_at"
                      id="begins_at" />
                  </div>
                  <div class="input w-50 px-2">
                    <label
                      for="ends_at"
                      class="form-label fw-bold text-dark"
                      i18n
                      >Ends At <code>*</code></label
                    >
                    <input
                      type="datetime-local"
                      class="form-control px-1"
                      id="ends_at"
                      formControlName="ends_at" />
                  </div>
                  <div class="mt-2 w-100">
                    <app-multi-select
                      url="/hr/access/roles/objects_autocomplete/?search="
                      [defaultDataIds]="rolesId"
                      name="Roles"
                      (selectedItemEvent)="
                        selectedItems($event)
                      "></app-multi-select>
                  </div>
                </form>
                <div class="mx-auto text-center mt-1 mb-3">
                  @if (!assignLoading) {
                    <span
                      tabindex="0"
                      role="button"
                      class="me-4 text-dark"
                      (click)="selectSection('roles')"
                      tabindex="0"
                      i18n
                      >Cancel</span
                    >
                  }
                  <button
                    (click)="assignNewRole()"
                    type="submit"
                    class="btn bg-primary text-light px-3"
                    [disabled]="
                      !newRoleForm.valid ||
                      !selectedRolesToAssign ||
                      selectedRolesToAssign.length === 0 ||
                      assignLoading
                    ">
                    @if (!assignLoading) {
                      <b i18n> Add</b>
                    }
                    @if (assignLoading) {
                      <span>
                        <i
                          class="fa-solid fa-spin fa-circle-notch fs-5 text-light px-2"></i>
                      </span>
                    }
                  </button>
                </div>
              </div>
            }

            <!------------------------------------------------------------ SELECTED ROLE & MENUS ------------------------------------------------------------------------->

            @if (
              selectedRole &&
              selectedSection === 'roles' &&
              selectedMenu === 'roles'
            ) {
              <div
                class="mt-3 border border-3 border-primary d-flex flex-row justify-content-between w-100 p-2 rounded">
                <div class="d-flex flex-column justify-content-between gap-2">
                  <span class="fw-bold">{{ selectedRole.role_name }}</span>
                  <div class="d-flex align-items-center">
                    <div class="">
                      <span class="fw-bold badge-design bg-secondary py-1">{{
                        selectedRole.role_type.title
                      }}</span>
                    </div>

                    <div class="">
                      <span class="text-primary fw-bold badge-design" i18n
                        >Teller</span
                      >
                    </div>
                  </div>

                  <div
                    class="d-flex flex-row align-items-center justify-content-between gap-2 py-1">
                    <span
                      [class]="
                        'fw-bold badge-design py-1 px-2 bg-' +
                        selectedRole.access_type.css
                      ">
                      <i
                        [class]="
                          'fa-solid text-secondary fa-' +
                          selectedRole.access_type.icon
                        "></i>

                      {{ selectedRole.access_type.title }}
                    </span>
                    <div
                      class="d-flex flex-row align-items-center justify-content-between gap-2 py-1"
                      role="button"
                      tabindex="0"
                      (click)="
                        navigate(
                          $event,
                          '/w/workstation/a/admin/roles/' + selectedRole.role_id
                        )
                      ">
                      <i
                        class="fa-solid fa-arrow-up-right-from-square text-primary fa-lg fw-bold"></i>
                    </div>
                  </div>
                </div>

                <div
                  class="d-flex flex-column justify-content-between position-relative">
                  <div class="d-flex flex-column align-items-center gap-0">
                    <span class="fw-bold">{{
                      selectedRole.begins_at | date: 'medium'
                    }}</span>
                    <div class="">
                      <span
                        [class]="
                          'badge-design px-3 bg-' +
                          selectedRole.operator_role_state.css
                        "
                        style="max-width: fit-content"
                        >{{ selectedRole.operator_role_state.value }}</span
                      >
                    </div>
                    <span class="fw-bold">{{
                      selectedRole.ends_at | date: 'medium'
                    }}</span>
                  </div>

                  <div
                    class="align-self-end pt-2 z-2 px-2"
                    role="button"
                    tabindex="0"
                    (click)="toggleSelectedMenu()">
                    <i class="fa-solid fa-ellipsis fa-2x"></i>
                  </div>
                  <div
                    class="position-absolute z-2 bg-white rounded shadow menu"
                    [ngClass]="showSelectedMenu ? '' : 'd-none'">
                    <div
                      class="py-2 px-3 clickable"
                      (click)="hideActionPopup($event, 'disable')"
                      tabindex="0">
                      <span
                        ><small class="icon me-1"
                          ><i class="fa-regular fa-eye-slash"></i
                        ></small>
                        <small class="ms-1 fw-bold" i18n>Disable</small></span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d-flex flex-column w-100 my-4 gap-3 align-items-center">
                <div class="d-flex flex-row gap-2 align-items-center w-100">
                  <i class="fa-solid fa-play text-primary fs-l-medium"></i>
                  <span class="fs-l-medium fw-bold" i18n> Menu </span>
                </div>

                @if (loadingRoleMenus) {
                  <div
                    class="w-100 d-flex align-items-center justify-content-center">
                    <i
                      class="fa-solid fa-spin fa-circle-notch fs-medium text-dark"
                      i18n></i>
                  </div>
                }

                @if (!loadingRoleMenus) {
                  @for (menu of roleMenus; track $index) {
                    <div class="w-100 rounded border row p-2">
                      <div class="d-flex flex-column gap-1 col">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Name :</span
                          >
                          <span class="fw-bold fs-small">{{
                            menu.menu.name
                          }}</span>
                        </div>
                      </div>

                      <div class="d-flex flex-column gap-1 col">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Group :</span
                          >
                          <span class="fw-bold fs-small">{{
                            menu.menu.menu_group_info?.name
                          }}</span>
                        </div>
                      </div>

                      <div class="d-flex flex-column gap-1 col">
                        <div class="d-flex flex-row gap-2">
                          <span
                            class="text-secondary fw-bold fs-small text-nowrap"
                            i18n
                            >Active :</span
                          >
                          @if (menu.menu.active) {
                            <span class="fw-bold"
                              ><i
                                class="fa-solid fa-circle-check text-success"></i
                            ></span>
                          }

                          @if (!menu.menu.active) {
                            <span class="fw-bold"
                              ><i
                                class="fa-solid fa-circle-xmark text-danger"></i
                            ></span>
                          }
                        </div>
                      </div>
                      <div class="d-flex flex-row gap-2">
                        <span
                          class="text-secondary fw-bold fs-small text-nowrap"
                          i18n
                          >Url :</span
                        >
                        @if (menu.menu.component_url) {
                          <span class="fw-bold fs-small">{{
                            menu.menu.component_url
                          }}</span>
                        }
                      </div>
                    </div>
                  }
                }
              </div>
            }
          </div>
        </div>
      </div>
    </ng-template>

    <!--------------------------------------------------------------------------- MODAL SECTION --------------------------------------------------------------------------->
    <div
      class="modal bd-example-modal-lg fade"
      id="permissionModal"
      role="dialog"
      tabindex="-1"
      aria-labelledby="permissionModalLabel"
      data-bs-backdrop="static"
      aria-hidden="true">
      @if (permissionModalSection === 'list') {
        <div class="modal-dialog modal-dialog-centered">
          <div
            class="modal-content lg-radius px-4 py-3 bg-white"
            style="min-width: 642px; max-height: 800px">
            <div class="d-flex w-100 justify-content-end">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>

            <div class="w-100 px-4">
              <div class="d-flex flex-row gap-3 mb-3">
                <span class="fs-l-medium fw-bold" i18n>Selected branches</span>
                <span
                  class="text-all-white fw-bold fs-medium rounded-circle bg-danger d-flex justify-content-center align-items-center"
                  style="height: 27px; width: 27px"
                  >{{ permissionDetails?.permissions_branches?.length }}</span
                >
              </div>

              @if (
                !loadingPermission &&
                permissionDetails &&
                permissionDetails.permissions_branches &&
                permissionDetails.permissions_branches.length > 0
              ) {
                <div class="d-flex w-100 align-items-center flex-column mb-4">
                  <div class="row w-100 mb-2">
                    <div class="col-2"></div>
                    <div class="col-4">
                      <span class="text-secondary fw-bold" i18n
                        >Branch name</span
                      >
                    </div>
                    <div class="col-4">
                      <span class="text-secondary fw-bold" i18n
                        >Branch code</span
                      >
                    </div>
                    <div class="col-2"></div>
                  </div>

                  <!------------------------------------------------- Selected Branches List -------------------------------------------------------------->
                  <div
                    class="d-flex w-100 align-items-center flex-column gap-2 overflow-y-auto"
                    style="max-height: 200px">
                    @for (
                      branch of permissionDetails.permissions_branches;
                      track $index
                    ) {
                      <div
                        class="row w-100 border border-secondary rounded-2 py-3 clickable"
                        (click)="
                          selectCounterOrBrancheToRemove('branche', branch);
                          getCountersByBranch(branch.id);
                          toggleActifSection('details')
                        "
                        tabindex="0">
                        <div class="col-2">
                          <i
                            class="fa-regular fa-square-check text-primary fw-bold fa-lg"></i>
                        </div>
                        <div class="col-4">
                          <span class="fw-bold">{{ branch.name }}</span>
                        </div>
                        <div class="col-4">
                          <span class="fw-bold">-----</span>
                        </div>
                        <div class="col-2">
                          <div
                            role="button"
                            (click)="
                              openConfirmDialog({
                                type: 'password',
                                action: 'Remove Permission Password',
                                message: 'Enter your password',
                              });
                              selectCounterOrBrancheToRemove(
                                'branche',
                                branch,
                                $event
                              )
                            "
                            title="Remove all permissions in this branches">
                            <i
                              class="fa-solid fa-xmark text-primary fw-bold fa-lg"></i>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }

              <div class="d-flex flex-row gap-3 mb-3">
                <span class="fs-l-medium fw-bold" i18n>Branches</span>
                <div
                  class="border my-auto w-100 bg-primary"
                  style="max-height: 0px"></div>
              </div>

              @if (otherBranchesLoading) {
                <div
                  class="mt-4 d-flex justify-content-center flex-column align-items-center">
                  <span>
                    <i class="fa-solid fa-spin fa-circle-notch fa-lg"></i>
                  </span>
                </div>
              }

              @if (!otherBranchesLoading && otherBranches.length === 0) {
                <div
                  class="mt-4 d-flex justify-content-center flex-column align-items-center">
                  <span class="empty-state fs-1">
                    <i class="fa-solid fa-face-meh"></i>
                  </span>
                  <span class="empty-state fs-4" i18n> No Branches </span>
                </div>
              }

              @if (branchesCount > 0 && !otherBranchesLoading) {
                <div class="d-flex w-100 align-items-center flex-column">
                  <div class="d-flex w-100 align-items-center flex-column mb-1">
                    <div class="row w-100 mb-2">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <span class="text-secondary fw-bold" i18n
                          >Branch name</span
                        >
                      </div>
                      <div class="col-4">
                        <span class="text-secondary fw-bold" i18n
                          >Branch code</span
                        >
                      </div>
                      <div class="col-2"></div>
                    </div>
                  </div>

                  <!------------------------------------------------- Branches -------------------------------------------------------------->
                  <div
                    class="d-flex w-100 align-items-center flex-column gap-2 overflow-y-auto">
                    @for (branch of otherBranches; track $index) {
                      <div
                        class="row w-100 border border-secondary rounded-2 py-3 clickable"
                        (click)="
                          selectCounterOrBrancheToRemove('branche', branch);
                          getCountersByBranch(branch.id);
                          toggleActifSection('details')
                        "
                        tabindex="0">
                        <div class="col-2">
                          <i
                            class="fa-regular fa-square text-secondary fw-bold fa-lg"></i>
                        </div>
                        <div class="col-4">
                          <span class="fw-bold">{{ branch.name }}</span>
                        </div>
                        <div class="col-4">
                          <span class="fw-bold">{{
                            branch.formatted_code
                          }}</span>
                        </div>
                        <div class="col-2">
                          <span
                            (click)="
                              selectCounterOrBrancheToRemove(
                                'branche',
                                branch,
                                $event
                              );
                              openConfirmDialog({
                                type: 'password',
                                action: 'Add Permission Password',
                                message: 'Enter your password',
                              })
                            "
                            role="button">
                            <i
                              class="fa-solid fa-plus text-success fw-bold fa-lg"></i>
                          </span>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }

              @if (branchesCount > 5) {
                <div class="mb-4">
                  <app-pagination
                    [isLoading]="otherBranchesLoading"
                    [totalData]="branchesCount"
                    [pageLimit]="otherBranchesPagination.filters.limit"
                    [limit]="false"
                    (paginationChange)="onPaginationChange($event)">
                  </app-pagination>
                </div>
              }
            </div>
          </div>
        </div>
      }

      <!------------------------------------------------------------------------- DETAILS SECTION  -------------------------------------------------------------------------->
      @if (permissionModalSection === 'details') {
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div
            class="modal-content lg-radius px-4 py-3 bg-white"
            style="min-width: 987px; min-height: 300px">
            <!-- Header section -->
            <div class="w-100 d-flex gap-3 flex-row align-items-center">
              <div class="clickable" (click)="resetModal()" tabindex="0">
                <i class="fa-solid fa-arrow-left fa-xl text-secondary"></i>
              </div>

              <div class="flex-grow-1 border-bottom py-3">
                <span class="fs-l-medium fw-bold">
                  {{ selectedBrancheToRemove?.name }}
                </span>
              </div>

              <div
                role="button"
                tabindex="0"
                (click)="resetModal()"
                data-bs-dismiss="modal"
                aria-label="Close">
                <i class="fa-solid fa-xmark fa-xl text-secondary"></i>
              </div>
            </div>

            <!-- Main section -->

            <div class="row w-100 py-3">
              <!-- Right Side -->
              <div class="col border-end ps-5">
                <form class="mb-3" [formGroup]="operatorAccessForm">
                  <span class="fs-medium fw-bold mb-3" i18n
                    >Branch permissions</span
                  >
                  <div class="py-4">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="can_see_in_branch"
                        value=""
                        id="see" />
                      <label class="form-check-label" i18n for="see">
                        Can see
                      </label>
                    </div>
                    <div class="form-check mt-2">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        formControlName="can_create_in_branch"
                        value=""
                        id="create" />
                      <label class="form-check-label" i18n for="create">
                        Can create
                      </label>
                    </div>
                    <div class="form-check mt-2">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        formControlName="can_edit_in_branch"
                        value=""
                        id="edit" />
                      <label class="form-check-label" i18n for="edit">
                        Can edit
                      </label>
                    </div>
                    <div class="form-check mt-2">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        formControlName="can_delete_in_branch"
                        value=""
                        id="delete" />
                      <label class="form-check-label" i18n for="delete">
                        Can delete
                      </label>
                    </div>
                  </div>
                  <div class="mt-3 text-center">
                    <b
                      class="me-3"
                      role="button"
                      (click)="resetModal()"
                      tabindex="0"
                      i18n
                      >Cancel</b
                    >
                    <button
                      class="btn bg-primary text-all-white px-4"
                      (click)="
                        openConfirmDialog({
                          type: 'password',
                          action: 'Add Permission Password',
                          message: 'Enter your password',
                        })
                      ">
                      @if (!addPermissionLoading) {
                        <span i18n> Save</span>
                      }

                      @if (addPermissionLoading) {
                        <span>
                          <i
                            class="fa-solid fa-spin fa-circle-notch text-dark"></i>
                        </span>
                      }
                    </button>
                  </div>
                </form>
              </div>

              <!-- Left Side -->
              <div class="col pe-5 ps-3 d-flex flex-column align-items-center">
                <div class="w-100">
                  <span class="fs-medium fw-bold" i18n>Counters</span>
                </div>

                @if (counterLoading) {
                  <div
                    class="w-100 d-flex align-items-center justify-content-center mt-2 py-4">
                    <span
                      ><i class="fa-solid fa-spin fa-circle-notch fa-lg"></i
                    ></span>
                  </div>
                }

                @if (!counterLoading && selectedCounters.length === 0) {
                  <div
                    class="w-100 d-flex align-items-center flex-column justify-content-center mt-2 py-4">
                    <span class="empty-state fs-1">
                      <i class="fa-solid fa-face-meh"></i>
                    </span>
                    <span class="empty-state fs-4" i18n> No Counters </span>
                  </div>
                }

                @if (!counterLoading && selectedCounters.length > 0) {
                  <div class="w-100 mt-3 row">
                    <div class="col-5">
                      <span class="fw-bold text-secondary">Name</span>
                    </div>
                    <div class="col-4">
                      <span class="fw-bold text-secondary">code</span>
                    </div>
                    <div class="col-3"></div>
                  </div>

                  <div
                    class="d-flex flex-column gap-2 mt-1 align-items-center w-100">
                    @for (counter of selectedCounters; track $index) {
                      <div class="w-100 row rounded-2 border py-2">
                        <div class="col-5">
                          <span class="fw-bold">{{
                            counter?.name ?? '------'
                          }}</span>
                        </div>
                        <div class="col-4">
                          <span class="fw-bold">{{
                            counter?.formatted_code ?? '------'
                          }}</span>
                        </div>
                        <div class="col-3">
                          @if (counter.has_access) {
                            <span
                              class="text-danger fw-bold clickable"
                              tabindex="0"
                              (click)="
                                openConfirmDialog({
                                  type: 'password',
                                  action: 'Remove Permission Password',
                                  message: 'Enter your password',
                                });
                                selectCounterOrBrancheToRemove(
                                  'counter',
                                  counter.id
                                )
                              "
                              i18n
                              >Remove</span
                            >
                          }

                          @if (!counter.has_access) {
                            <span
                              class="text-success fw-bold clickable"
                              tabindex="0"
                              (click)="
                                openConfirmDialog({
                                  type: 'password',
                                  action: 'Add Permission Password',
                                  message: 'Enter your password',
                                });
                                selectCounterOrBrancheToRemove(
                                  'counter',
                                  counter.id
                                )
                              "
                              i18n
                              >Add <i class="fa-solid fa-plus"></i
                            ></span>
                          }
                        </div>
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
