<!-- Header here -->
<!-- TODO : Import the header component here for auth layout -->
<!-- <app-header></app-header> -->


<div class="container mt-4">
    <div class="row d-flex align-items-center">
        <div class="col">
            <span i18n> img</span>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <span class="me-4"><select name="" id="">
                <option value="">EN</option>
                <option value="">FR</option>
            </select></span>
            <span> img </span>
            <span class="bg-primary text-white px-4 p-1 ms-4 rounded" role="button" routerLink="/login/">Sign in</span>
        </div>
        
    </div>
    <hr>
</div>

<!-- End of header -->


<router-outlet/>

<app-footer></app-footer>
