.BackIcon {
  height: 40px;
}
.ImgMdBlock {
  width: 55%;
  right: -1.7%;
  bottom: 0%;
}

.colHeight {
  height: 115px;
}
.rectangleBlockSize {
  height: 120px;
}
.iconSize {
  width: 73px;
  height: 73px;
}
.blockHeight {
  height: 100px;
}
