<div class="container-fluid h-100" *ngIf="data.length > 0">
  <div class="row" style="height: 40px">
    <div class="col h-75 d-flex justify-content-start justify-content-md-end">
      <div class="d-flex align-items-center" role="button">
        <i class="fa-solid fa-arrow-left fs-5 me-2"></i>
        <span class="fw-bold fs-5" i18n>Back</span>
      </div>
    </div>
  </div>
  <div
    class="row w-100 mx-auto position-relative border-top border-3 border-primary shadow-sm mb-3 mb-md-5"  *ngFor="let infoAgent of data">
    <img
      src="/images/products/Rectangle 1235.svg"
      class="position-absolute d-none d-md-block opacity-8"
      style="width: 55%; right: -1.7%; bottom: 0%"
      alt="Rectangle image" />
    <div class="col-12 position-relative col-md-3">
      <img
        src="/images/products/Rectangle 1235.svg"
        class="position-absolute d-block d-md-none opacity-8"
        style="height: 40%; width: 55%; right: -0.2%; bottom: 0%"
        alt="Rectangle image" />
      <div class="d-flex w-100 my-1 my-md-2">
        <div class="col-4 col-md-5">
          <div
            class="bg-secondary rounded-pill d-flex align-items-center justify-content-center"
            style="height: 70px; width: 70px">
            <img [src]="infoAgent.picture" alt="picture" title="profile picture" class="h-100 w-100 image" />
          </div>
        </div>
        <div
          class="col-7 col-md-6 d-flex flex-column text-start my-auto border-end">
          <span class="fw-semibold overflow-hidden" style="height: 20px;">{{infoAgent.agent_name}}</span>
          <span i18n>{{infoAgent.agent_type}}</span>
          <span>{{infoAgent.agent_main_account_id}}</span>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex align-items-center col-md-8 d-flex text-center">
      <div class="d-flex flex-column align-items-center me-auto w-50">
        <span i18n>Balance</span>
        <span>
          <app-amount-visibility
            [amount]="infoAgent.agent_balance"
            [currency]="'BIF'"
            [customClasses]="'fw-bolder fs-5 text-success'">
          </app-amount-visibility>
        </span>
      </div>
      <div class="d-flex flex-column align-items-center w-50">
        <span i18n>Commissions</span>
        <span>
          <app-amount-visibility
            [amount]="12.0"
            [currency]="'BIF'"
            [customClasses]="'fw-bolder fs-5 text-success'">
          </app-amount-visibility>
        </span>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-between mx-auto w-100 mb-3 mb-md-5">
    <div class="col-12 col-md-3 col-lg-2 mb-2" style="height: 80px">
      <div
        class="rounded-2 w-md-75 w-100 w-lg-100 h-100 d-flex flex-md-column flex-lg-row align-items-center shadow border rounded-2">
        <div class="col-7 d-flex flex-column text-center">
          <span i18n>Customers</span>
          <span class="fw-bold">258</span>
        </div>
        <div class="col-5 text-center">
          <i class="fa-solid fa-users fs-4 fs-lg-2"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2 mb-2" style="height: 80px">
      <div
        class="rounded-2 w-md-75 w-100 w-lg-100 h-100 d-flex flex-md-column flex-lg-row align-items-center shadow border rounded-2">
        <div class="col-7 d-flex flex-column text-center">
          <span i18n>Agents</span>
          <span class="fw-bold">258</span>
        </div>
        <div class="col-5 text-center">
          <i class="fa-solid fa-user-tie fs-4 fs-lg-2"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2 mb-2" style="height: 80px">
      <div
        class="rounded-2 w-md-75 w-100 w-lg-100 h-100 d-flex flex-md-column flex-lg-row align-items-center shadow border rounded-2">
        <div class="col-7 d-flex flex-column text-center">
          <span i18n>Merchants</span>
          <span class="fw-bold">258</span>
        </div>
        <div class="col-5 text-center">
          <i class="fa-solid fa-cart-shopping fs-4 fs-lg-2"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2" style="height: 80px">
      <div
        class="rounded-2 w-md-75 w-100 w-lg-100 h-100 d-flex flex-md-column flex-lg-row align-items-center shadow border rounded-2">
        <div class="col-7 d-flex flex-column text-center">
          <span i18n>Transactions</span>
          <span class="fw-bold">258</span>
        </div>
        <div class="col-5 text-center">
          <i class="fa-solid fa-money-bill-transfer fs-4 fs-lg-2"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mx-auto w-100">
    <div class="col-12 col-md-2 d-flex mb-3" style="height: 100px">
      <div class="col-3"></div>
      <div class="col-6 d-flex flex-column">
        <div
          class="bg-secondary d-flex align-items-center justify-content-center rounded-pill mx-auto mb-1"
          style="height: 100px; width: 73px">
          <i class="fa-solid fa-user-plus fs-2"></i>
        </div>
        <span class="mx-auto fw-semibold" i18n>Creation</span>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="col-12 col-md-2 d-flex mb-3" style="height: 100px">
      <div class="col-3"></div>
      <div class="col-6 d-flex flex-column">
        <div
          class="bg-secondary d-flex align-items-center justify-content-center rounded-pill mx-auto mb-1"
          style="height: 100px; width: 73px">
          <i class="fa-solid fa-paper-plane fs-2"></i>
        </div>
        <span class="mx-auto fw-semibold" i18n>Transfers</span>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="col-12 col-md-2 d-flex mb-3" style="height: 100px">
      <div class="col-3"></div>
      <div class="col-6 d-flex flex-column">
        <div
          class="bg-secondary d-flex align-items-center justify-content-center rounded-pill mx-auto mb-1"
          style="height: 100px; width: 73px">
          <i class="fa-solid fa-hand-holding-dollar fs-2"></i>
        </div>
        <span class="mx-auto fw-semibold" i18n>Deposit</span>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="col-12 col-md-2 d-flex mb-3" style="height: 100px">
      <div class="col-3"></div>
      <div class="col-6 d-flex flex-column">
        <div
          class="bg-secondary d-flex align-items-center justify-content-center rounded-pill mx-auto mb-1"
          style="height: 100px; width: 73px">
          <i class="fa-solid fa-store fs-2"></i>
        </div>
        <span class="mx-auto fw-semibold" i18n>Merchants</span>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="col-12 col-md-2 d-flex" style="height: 100px">
      <div class="col-3"></div>
      <div class="col-6 d-flex flex-column">
        <div
          class="bg-secondary d-flex align-items-center justify-content-center rounded-pill mx-auto mb-1"
          style="height: 100px; width: 73px">
          <i class="fa-solid fa-file-invoice-dollar fs-2"></i>
        </div>
        <span class="mx-auto fw-semibold" i18n>Statement</span>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
