<div class="w-100 ps-3 pb-3 pe-3 mb-3 vh-100 overflow-auto rounded">
  <section class="sticky-top bg-white z-2">
    <nav class="row bg-secondary my-3 pt-1 pb-1 d-flex align-items-center mt-1">
      <section class="d-flex col align-items-center gap-1">
        <!-- NOTE :: ADD BUTTON -->
        @if (addButtonLink.url) {
          <span
            tabindex="0"
            role="button"
            [ngClass]="{ 'not-clickable': isLoading }"
            [routerLink]="addButtonLink.url"
            [fragment]="addButtonLink.fragment"
            class="bg-white plus-square rounded-circle d-flex align-items-center justify-content-center"
            title="Add"
            ><i class="fa-solid fa-plus text-success fs-x-small"></i
          ></span>
        }

        <!-- NOTE :: SEARCH INPUT -->
        <div
          class="d-flex align-items-center searchForm position-relative"
          [ngClass]="{ active: isSearchInputNotEmpty() }">
          <input
            class="ps-2 search-input start-0 w-100 form-control input border-0 sm-radius ms-3 position-absolute"
            [ngClass]="{
              'd-block ': isSearchInputNotEmpty(),
              'not-clickable': isLoading,
            }"
            type="text"
            placeholder="Search ..."
            [formControl]="searchName"
            (keydown.enter)="search()" />
          <span
            class="btn search-btn"
            [ngClass]="{ 'not-clickable': isLoading }"
            role="button"
            (click)="search()"
            tabindex="0">
            @if (!isLoading) {
              <span
                ><i
                  class="fa-solid fa-search search-button position-absolute text-secondary top-0 end-0 text-align-center fs-small"></i
              ></span>
            } @else {
              <span>
                <i
                  class="fa-solid fa-spinner search-button text-secondary position-absolute top-0 end-0 text-align-center fa-pulse fs-small"></i
              ></span>
            }
          </span>
        </div>

        <!-- NOTE :: REFRESH BUTTON -->
        <!-- [appTooltip]="{ title: 'Refresh' }" -->

        <span
          tabindex="0"
          role="button"
          [ngClass]="{
            'not-clickable': isLoading,
          }"
          class="ms-3 d-flex fs-small align-items-center refresh text-secondary"
          (click)="search()"
          ><i class="fa-solid fa-rotate-right"></i
        ></span>

        <!-- NOTE :: OVERVIEW BUTTON -->
        <span
          tabindex="0"
          role="button"
          (click)="getOverviewData()"
          data-bs-toggle="modal"
          data-bs-target="#myModal"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          ><i class="fa-solid fa-chart-simple"></i
        ></span>
        <!-- [appTooltip]="{ title: 'Overview' }" -->

        <!-- NOTE :: EXPORT EXCEL BUTTON -->
        <span
          tabindex="0"
          role="button"
          title="Export Excel"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          ><i class="fa-solid fa-cloud-arrow-down"></i
        ></span>

        <!-- NOTE :: TOGGLE AMOUNT VISIBILITY -->
        <span
          class="ms-3 d-flex fs-small pt-1 align-items-center text-secondary"
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          (click)="toggleEyeStatus()">
          @if (amountState === true) {
            <span title="Hide balances" i18n>
              <i class="fa-solid fa-eye-slash"></i>
            </span>
          } @else {
            <span title="Show balances" i18n>
              <i class="fa-solid fa-eye"></i>
            </span>
          }
        </span>

        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex ps-3 border-start fs-small align-items-center text-secondary"
          ><i class="fa-solid fa-list"></i>
          <span class="mb-2"><i class="fa-solid fa-gear fs-x-small"></i></span
        ></span>
        <span
          tabindex="0"
          role="button"
          [ngClass]="{ 'not-clickable': isLoading }"
          class="ms-3 d-flex fs-small align-items-center text-secondary"
          title="Import">
          <i class="fa-solid fa-upload"></i
        ></span>
      </section>

      <section class="col text-secondary">
        @if (response_data && data_list && data_list.length > 0) {
          <div class="d-flex align-items-center">
            <!-- NOTE :: PAGINATION -->
            <div class="ms-auto d-flex align-items-center">
              <small i18n
                ><i class="text-secondary"
                  >{{ start }}-{{ end }} of {{ pages + 1 }}</i
                ></small
              >
              <span
                class="me-2 ms-3"
                role="button"
                tabindex="0"
                [ngClass]="{ 'not-clickable': isLoading }"
                (click)="doListMove('first')">
                <i i18n class="fa-solid fa-angles-left fs-small"></i>
              </span>

              <span
                class="me-2"
                role="button"
                tabindex="0"
                [ngClass]="{ 'not-clickable': currentPage === 0 || isLoading }"
                (click)="doListMove('prev')">
                <i i18n class="fa-solid fa-angle-left fs-small"></i>
              </span>
              <span
                class="me-2 fs-small d-flex align-items-center"
                contenteditable="true"
                [ngClass]="{ 'not-clickable': isLoading }"
                (keydown.enter)="doListMove('goToPage')"
                [textContent]="currentPage + 1">
                {{ currentPage + 1 }}
              </span>
              @if (clientPagination.filters.limit) {
                <span
                  class="me-2"
                  role="button"
                  tabindex="0"
                  [ngClass]="{ 'not-clickable': isLoading }"
                  (click)="doListMove('next')">
                  <i i18n class="fa-solid fa-angle-right fs-small"></i>
                </span>
              }
              <span
                class="me-2"
                role="button"
                [ngClass]="{ 'not-clickable': isLoading }"
                tabindex="0"
                (click)="doListMove('last')">
                <i i18n class="fa-solid fa-angles-right fs-small"></i>
              </span>
            </div>

            <!-- NOTE :: FILTERS -->
            <div>
              <app-filters [url]="url"></app-filters>
            </div>
          </div>
        }
      </section>
    </nav>

    <!-- NOTE :: TABLE DATA TITLES -->
    <div class="row w-100 ms-2 mb-3 mt-2">
      @if (headers && data_list && data_list.length > 0) {
        <div class="col-auto pe-0">
          <span class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              (change)="toggleAllCheckboxes($event)" />
          </span>
        </div>
      }

      @for (header of headers; track header; let i = $index) {
        @if (header.canBeDisplayed) {
          <div
            [ngClass]="[
              i === 0 ? 'd-flex align-items-center' : '',
              header.canBeDisplayed && header.size === '' ? 'col-lg' : '',

              header.canBeDisplayed && header.size !== ''
                ? 'col-lg-' + header.size
                : '',
            ]">
            @if (data_list && data_list.length > 0) {
              <span i18n class="fw-bold"> {{ header.name }}</span>
            }

            @if (i === 0) {
              <span
                class="d-grid ms-2 empty-state"
                role="button"
                tabindex="0"
                (click)="reverseList()">
                <small>
                  <i class="fa-solid fa-sort"></i>
                </small>
                <!-- <br />
                <small>
                  <i class="fa-solid fa-sort-down"></i>
                </small> -->
              </span>
            }
          </div>
        }
      }
    </div>
  </section>

  @if (!response_data || isLoading) {
    <div class="col justify-content-center">
      @for (_ of [1, 2, 3, 4, 5, 6]; track $index) {
        <div class="col mb-4">
          <app-skeleton [width]="'100%'" [height]="'50px'" classes="sm-radius">
          </app-skeleton>
        </div>
      }
    </div>
  }

  @if (response_data && data_list && data_list.length > 0 && !isLoading) {
    @for (line of data_list; track line) {
      <div
        class="row d-flex ms-1 me-1 align-items-center justify-content-center p-1 px-3 border rounded mb-2 fs-small table-item">
        <div class="col-auto p-0">
          <span class="form-check">
            <input type="checkbox" class="form-check-input" />
          </span>
        </div>

        @for (data of line; let i = $index; track $index) {
          <div
            [ngClass]="
              data.canBeDisplayed
                ? data.size !== ''
                  ? 'col-lg-' + data.size
                  : 'col-lg'
                : ''
            "
            class="align-self-center">
            @if (data.canBeDisplayed) {
              <div
                [ngClass]="data.detail !== '' ? 'p-0  clickable' : ''"
                [routerLink]="data.detail !== '' ? data.detail : []">
                @if (!data.boolean) {
                  <div
                    class="col d-flex align-items-center"
                    [ngClass]="[
                      data.class !== ''
                        ? ' d-flex justify-content-center badge-design mx-4 fs-small' +
                          data.class
                        : 'text-truncate overflow-hidden',
                    ]">
                    @if (data.icon !== '') {
                      <span>
                        <i
                          class="me-2"
                          [ngClass]="
                            data.icon !== '' ? 'fa-solid fa-' + data.icon : ''
                          "></i>
                      </span>
                    }

                    @if (!data.format || data.format === '') {
                      <span class="text-truncate d-block" i18n
                        >{{ data.value }}
                      </span>
                    }
                    @if (!data.value) {
                      <span>---</span>
                    }

                    @if (data.format === 'date') {
                      <div
                        [title]="data.value"
                        class="col text-truncate overflow-hidden">
                        <span class="text-truncate d-block" i18n>{{
                          (data.value | date: 'medium') ?? '---'
                        }}</span>
                      </div>
                    }
                    @if (data.format === 'currency') {
                      <div class="col">
                        @if (amountState) {
                          <span i18n>BIF {{ data.value }}</span>
                        }
                        @if (!amountState) {
                          <span i18n>BIF *** ***</span>
                        }
                      </div>
                    }
                  </div>
                }

                @if (
                  data.boolean &&
                  !data.option1 &&
                  !data.option2 &&
                  !data.value1 &&
                  !data.value2
                ) {
                  <div class="col ps-3 pe-3">
                    @if (data.value) {
                      <div>
                        <small
                          ><i
                            class="fa-solid fa-circle-check fs-6 text-success"></i
                        ></small>
                      </div>
                    } @else {
                      <div>
                        <small
                          ><i
                            class="fa-solid fa-circle-xmark text-danger fs-6"></i
                        ></small>
                      </div>
                    }
                  </div>
                }
                <!-- to display icon from option1 and option2 put manually -->

                @if (data.boolean && data.option1 && data.option2) {
                  <div class="col ps-3 pe-3">
                    @if (data.value) {
                      <div>
                        <small
                          ><i class="{{ data.option1 }} fs-3 text-success"></i
                        ></small>
                      </div>
                    } @else {
                      <div>
                        <small
                          ><i class="{{ data.option2 }} fs-3 text-primary"></i
                        ></small>
                      </div>
                    }
                  </div>
                }

                <!-- to display data from value1 and value2 put manually -->

                @if (data.boolean && data.value1 && data.value2) {
                  <div>
                    @if (data.value) {
                      <div>
                        <span
                          class="badge-design badge bg-success text-success">
                          {{ data.value1 }}
                        </span>
                      </div>
                    } @else {
                      <div>
                        <span class="badge-design badge bg-primary">
                          {{ data.value2 }}
                        </span>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    }
  } @else if (
    response_data && data_list && data_list.length === 0 && !isLoading
  ) {
    <div class="w-50 mx-auto">
      <app-empty-state searchType="list"></app-empty-state>
    </div>
  }
</div>

<!-- NOTE :: OVERVIEW MODAL -->
<section
  role="dialog"
  class="modal fade"
  data-mdb-backdrop="false"
  id="myModal">
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered lg-radius">
    <div class="modal-content bg-white overflow-auto overview-modal">
      <div class="d-flex justify-content-between align-items-center p-2">
        <span class="fs-large ms-4" i18n>Overview</span>
        <span
          data-bs-toggle="modal"
          class="fs-4 mt-2 me-2 clickable"
          data-bs-target="#myModal">
          <i class="fa fa-xmark"></i>
        </span>
      </div>

      <section class="d-flex justify-content-center border-top col-11 mx-auto">
        <div class="py-4">
          @if (!loadingOverview && overViewData.length > 0) {
            <div class="row mx-0">
              @for (data of overViewData.flat(); let i = $index; track $index) {
                <div
                  class="col-md-3 col-lg-6 d-flex"
                  [ngClass]="i + (1 % 2) === 0 ? 'justify-content-end' : ''">
                  <div class="mb-4 d-flex flex-column">
                    <span class="text-dark">
                      <small class="text-primary">
                        <i class="fa-solid fa-xs fa-circle"></i>
                      </small>
                      <small class="ms-2 fs-small">{{
                        data.label.toUpperCase()
                      }}</small>
                    </span>
                    <b class="text-secondary fs-medium ms-4">
                      {{ data.value_data?.currency }}
                      {{ data.value | currency: ' ' }}
                    </b>
                  </div>
                </div>
              }
            </div>
          }
          @if (loadingOverview) {
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }
          @if (!loadingOverview && overViewData.length === 0) {
            <app-empty-state searchTerm="Overview"></app-empty-state>
          }
        </div>

        <!-- @if (!overviewUrl) {
          <div class="mt-2">
            <span class="text-secondary"
              >This list doesn't have any Overview Data.</span
            >
          </div>
        } -->
      </section>
    </div>
  </div>
</section>
