input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

.billet {
  height: 23px;
  padding: 0;
  padding-left: 5px;
  padding-right: 1px;
}
