<!-- <p>all-products works!</p> -->
<div class="row mt-4 ms-4 ms-lg-0">
  <span>
    <span>
      <i class="fa-solid fa-circle text-info fs-x-small"></i>
    </span>
    <span i18n class="text-dark">
      @if (url === '') {
        <b> All products</b>
      }
      @if (url !== '') {
        <b> Products</b>
      }
    </span>
  </span>
</div>
<div>
  <!-- style="border: 0.5px solid whitesmoke; border-radius: 5px" -->
  @if (loader && product) {
    <div class="row mt-2 d-flex justify-content-between ms-4 ms-lg-0 mb-5">
      @for (item of countProductLoader; track $index) {
        <div class="col-lg-3 col-md-3 col mb-3">
          <app-skeleton
            [height]="'150px'"
            [width]="'150px'"
            classes="sm-radius"></app-skeleton>
          <div>
            <app-skeleton
              [height]="'10px'"
              [width]="'60%'"
              appearance="line"
              classes="sm-radius">
            </app-skeleton>
          </div>
          <div>
            <app-skeleton
              [height]="'10px'"
              [width]="'40%'"
              appearance="line"
              classes="sm-radius">
            </app-skeleton>
          </div>
        </div>
      }
    </div>
  }
  <!-- search bar for all products -->
  @if (!loader && searchBar) {
    <div class="mb-2 mb-md-4">
      <div class="d-flex search-container justify-content-center">
        <span
          role="button"
          class="btn bg-transparent position-relative search-btn"
          type="submit">
          <i class="fa-solid fa-search fs-7 text-secondary"></i>
        </span>
        <input
          class="form-control ps-5 search-input"
          type="text"
          [ngClass]="{
            'search-background': !isWhite,
            'level-2': isWhite,
          }"
          placeholder="Search product"
          [formControl]="searchInput"
          (input)="searchFor()" />
        <!-- <style>
          /* Règle de style pour le texte du placeholder */
          .form-control::placeholder {
            color: rgb(204, 197, 197);
          }
        </style> -->
      </div>
    </div>
  }
  @if (!loader && products) {
    <div class="d-flex flex-wrap gap-5 mt-3">
      @for (product of products; track $index) {
        <div
          class="col-auto mb-3 sm-radius"
          (click)="selectProduct(product)"
          tabindex="0">
          <!-- image -->
          <app-product-card [product]="product"> </app-product-card>
        </div>
      }
    </div>
  }
  @if (response_data > 10) {
    <div class="mb-4">
      <app-pagination
        [isLoading]="loader"
        [totalData]="response_data"
        [pageLimit]="productPagination.filters.limit"
        (paginationChange)="onPaginationChange($event)">
      </app-pagination>
    </div>
  }

  @if (!loader && response_data === 0 && url !== '') {
    <div
      i18n
      class="text-dark mt-3 d-flex justify-content-center align-items-center">
      <!-- No recent products available -->
      <app-empty-state
        [searchTerm]="searchTerm"
        searchType="product"></app-empty-state>
    </div>
  }
</div>
