<div class="border-bottom border-1 position-fixed bg-white w-100 z-3">
  <div class="container">
    <div class="row d-flex align-items-center py-2">
      <div class="col">

        <span i18n
          ><a routerLink="/" >
            <img src="/images/ihela3.png" width="100" alt="" /></a
        ></span>
        @if (!isProduction) {

          <span class="fs-6 badge text-bg-danger"><i class="fa-solid fa-exclamation-triangle"></i> Test Version : <span class="text-monospace">{{ appVersion }}</span></span>
        }
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <span class="me-5">
          <select
            class="bg-white border rounded px-2 fw-bold"
            name=""
            id="">
            <option value="">EN</option>
            <option value="">FR</option>
          </select>
        </span>
        <a tabindex="0" role="button" (click)="switchMode()">
          <img src="/images/light-active.svg" width="50" alt="" />
        </a>

        <a
          class="btn bg-primary px-4 p-1 ms-5 rounded text-white fw-bold"
          role="button"
          routerLink="/login/"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
