<!-- <p>all-products works!</p> -->
<div class="row mt-4">
  <span>
    <span style="color: #2070b8; font-size: 10px">
      <i class="fa-solid fa-circle"></i>
    </span>
    <span i18n class="text-dark">
      <b *ngIf="url === ''"> All products</b>
      <b *ngIf="url !== ''"> Recent products</b>
    </span>
  </span>
</div>
<div>
  <!-- style="border: 0.5px solid whitesmoke; border-radius: 5px" -->
  <div class="row mt-2 d-flex justify-content-between" *ngIf="!loader">
    <div
      class="col-lg-3 col-md-3 col mb-3"
      *ngFor="let item of countProductLoader">
      <app-skeleton [height]="'150px'" [width]="'150px'"></app-skeleton>
      <div>
        <app-skeleton
          [height]="'10px'"
          [width]="'60%'"
          appearance="line"></app-skeleton>
      </div>
      <div>
        <app-skeleton
          [height]="'10px'"
          [width]="'40%'"
          appearance="line"></app-skeleton>
      </div>
    </div>
  </div>
  <!-- search bar for all products -->

  <div class="mb-2 mb-md-4" *ngIf="loader && searchBar">
    <div class="d-flex search-container justify-content-center">
      <span
        role="button"
        class="btn bg-transparent position-relative search-btn"
        type="submit">
        <i
          class="fa-solid fa-search fs-7"
          style="color: rgb(167, 164, 164)"></i>
      </span>
      <input
        class="form-control ps-5 search-input"
        type="text"
        [ngClass]="{
          'search-background': !isWhite,
          'level-2': isWhite,
        }"
        placeholder="Search product"
        [formControl]="searchInput"
        (input)="searchFor()" />
      <style>
        /* Règle de style pour le texte du placeholder */
        .form-control::placeholder {
          color: rgb(204, 197, 197);
        }
      </style>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="d-flex col-lg-3 col-md-4 col mb-3 sm-radius"
      *ngFor="let product of products; let i = index"
      (click)="selectProduct(product)"
      tabindex="0">
      <!-- image -->
      <app-product-card
        [product]="product"
        [get_product]="true"></app-product-card>
    </div>
  </div>
  <div
    i18n
    class="row text-dark mt-3 d-flex justify-content-center align-items-center"
    *ngIf="productsNumber === 0">
    No recent products available
  </div>
</div>
