<div class="h-100">
  <div class="p-2 d text-dark">
    <!-- NOTE :: USER BANK LIST  -->
    @if (!selectedBank) {
      <section class="expand-collapse-section">
        <div>
          <span class="text-primary fs-x-small me-2">
            <i class="fa fa-circle"></i>
          </span>
          <b i18n>Select a bank :</b>
        </div>

        <section>
          @if (clientBanks && clientBanks.length > 0 && !loadingBanks) {
            <section class="my-3 d-flex gap-3 flex-wrap">
              @for (bank of clientBanks; track $index) {
                <div
                  (click)="selectBank(bank)"
                  tabindex="0"
                  role="button"
                  class="d-flex flex-column bank-card align-items-center border sm-radius p-2">
                  <div
                    class="bank-image flex-grow-1 d-flex justify-content-center">
                    @if (bank.company.image) {
                      <img
                        class="image"
                        alt="{{ bank.company }}"
                        [src]="bank?.company?.image" />
                    } @else {
                      <span class="fs-large">
                        <i class="fa-solid fa-building-columns"></i>
                      </span>
                    }
                  </div>

                  <span class="text-uppercase">{{
                    bank?.company?.fullname
                  }}</span>
                </div>
              }
            </section>
          }
          @if (clientBanks.length === 0 && loadingBanks) {
            <div class="my-3 d-flex gap-3">
              @for (_ of [1, 2, 3]; track $index) {
                <div class="d-flex flex-column bank-card">
                  <span>
                    <app-skeleton [height]="'70px'" width="75%"> </app-skeleton>
                  </span>
                  <span>
                    <app-skeleton [height]="'7px'" [width]="'75%'">
                    </app-skeleton>
                  </span>
                </div>
              }
            </div>
          }
          @if (!clientBanks && !loadingBanks) {
            <div class="fs-large my-4" i18n>No Banks Found</div>
          }
        </section>
      </section>
    }

    <div>
      <i class="fa fa-circle fs-x-small me-2 text-primary"></i>
      <b class="fs-medium">Debit Account</b>
    </div>

    @if (isWalletShown || selectedBank) {
      <section>
        <!-- NOTE :: MENUS AND SELECTED BANK -->
        <section class="bank-menu my-2">
          <div class="d-flex justify-content-center mb-3">
            @if (selectedBank) {
              <app-switch-bank
                (bankOptions)="getSwitchBankOptions($event)"
                [isTransfer]="true"></app-switch-bank>
            }
          </div>

          <div
            class="d-flex p-1 bg-secondary justify-content-between sm-radius flex-wrap align-items-center">
            @if (isAccountShown) {
              <div
                role="button"
                (click)="selectDebitAccountType('account')"
                tabindex="0"
                [ngClass]="{
                  'd-none': !selectedBank,
                  'bg-primary  text-all-white':
                    selectedDebitAccountType === 'account',
                }"
                class="text-center px-5 py-2 sm-radius">
                <b i18n>Account</b>
              </div>
            }

            @if (isWalletShown) {
              <div
                role="button"
                tabindex="0"
                (click)="selectDebitAccountType('wallet')"
                [ngClass]="{
                  'bg-primary text-all-white ':
                    selectedDebitAccountType === 'wallet',
                  'not-clickable':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                }"
                class="text-center px-5 py-2 sm-radius">
                @if (
                  mainConfig && mainConfig.activePlateform !== 'workstation'
                ) {
                  <b i18n>Wallet</b>
                } @else {
                  <b i18n>Petty Cash</b>
                }
              </div>
            }
          </div>
        </section>

        @if (selectedDebitAccountType === 'account') {
          <section>
            <app-accounts-list
              [Type]="'transfer'"
              [isTransferDone]="isTransactionDone"
              (accountSelected)="
                getAccountSelected($event)
              "></app-accounts-list>
          </section>
        }

        @if (selectedDebitAccountType === 'wallet') {
          <section>
            <app-wallet-list
              [Type]="'transfer'"
              [isTransferDone]="isTransactionDone"
              (walletSelected)="getAccountSelected($event)"></app-wallet-list>
          </section>
        }
      </section>
    }
  </div>
</div>
