.chosen{
    animation: transition 0.5s ease-in;
}
@keyframes transition {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }
    100% {
        opacity: 1;
        transtransform: translatey(0px);
    }
}
.profil_picture {
    height: 50px;
    width: 50px;
}
.profil_picture_url {
    height: 50px;
}