@if (selectedClient) {
  <div class="d-flex chosen">
    @if (selectedClient && !selectedClient.picture_url) {
      <div class="bg-secondary px-3 pt-2">
        <i class="fa-solid fa-user text-dark fa-2x"></i>
      </div>
    }
    @if (
      (selectedClient &&
        selectedClient.client_type === 'C' &&
        selectedClient.client_is_custom !== true) ||
      ((selectedClient.client_type === 'C' ||
        (selectedClient.client_type === 'I' &&
          selectedClient.client_is_custom === true)) &&
        selectedClient.picture_url)
    ) {
      <img
        [src]="selectedClient.picture_url"
        alt="Profile picture_url"
        class="image lg-radius mb-2 w-100 profile_picture_url" />
    }

    @if (
      selectedClient &&
      selectedClient.client_type === 'I' &&
      selectedClient.client_is_custom !== true &&
      selectedClient.picture_url
    ) {
      <img
        [src]="selectedClient.picture_url"
        alt="Profile picture"
        class="image lg-radius mb-2 profile_picture" />
    }

    <br />
    <span class="ms-2 lh-1"
      ><span class="small fw-bold text-dark text-break">{{
        selectedClient.client_full_name
      }}</span>
      <br />
      <span class="text-dark small opacity-50">{{
        selectedClient.client_code
      }}</span
      ><br />
      <span class="small fw-bold">{{ selectedClient.client_phone_number }}</span
      ><br />
    </span>
  </div>
}
