<div class="text-end">
  <span
    role="button"
    class="fw-bold text-dark"
    routerLink="/m/market/bills"
    title="Bills List"
    i18n
    ><i class="fa-solid fa-arrow-left"></i> Back</span
  >
</div>
<div *ngIf="isLoading" class="" style="width: 600px; height: 280px">
  <app-skeleton [height]="'80%'"></app-skeleton>
</div>

<section *ngIf="!isLoading && billDetails">
  <div class="shadow lg-radius level-1 col-lg-7 ms-5 ps-5 p-3">
    <div class="d-flex justify-content-between">
      <span class="d-flex text-dark" style="flex-grow: 1">
        <span style="width: 40%" class=""
          ><small style="opacity: 0.7">Merchant name</small><br />
          <b>{{ billDetails.merchant_teller.merchant.merchant_title }}</b></span
        >
        <span style="width: 52%" class=""
          ><small style="opacity: 0.7">Merchant code</small><br /><b>{{
            billDetails.merchant_teller.merchant.merchant_code
          }}</b></span
        >
      </span>
      <button class="me-4 btn active-border-none" role="button">
        <i class="fa-regular fa-file-pdf text-danger fs-4"></i>
      </button>
    </div>

    <div class="my-2">
      <span
        class="d-flex mt-1 text-dark justify-content-between active-border-none p-0">
        <span style="opacity: 0.7" class=""> Description</span
        ><button class="me-4 btn" role="button" printSectionId="bill" ngxPrint>
          <i
            class="fa-solid fa-print fs-4"
            style="color: #2070b8; opacity: 0.7"></i>
        </button>
      </span>
      @if (billDetails.description) {
        <span class="d-flex flex-column text-dark col-10">
          {{ billDetails.description }}
        </span>
      } @else {
        <span class="d-flex flex-column text-dark col-10"
          >----------------</span
        >
      }
    </div>
    <div class="d-flex text-dark">
      <span style="width: 40%" class=""
        ><small style="opacity: 0.7">Status</small><br />
        <span
          class="p-2 text-light sm-radius fw-bold process-bill"
          [ngClass]="{
            'initial-bill': billDetails.payment_status.value === 'I',
            'paid-bill': billDetails.payment_status.value === 'P',
            'process-bill': billDetails.payment_status.value === 'Q',
          }"
          >{{ billDetails.payment_status.title }}</span
        ></span
      >
      <span style="width: 52%" class="ms-2"
        ><small style="opacity: 0.7">Bill code</small><br /><b>{{
          billDetails.code
        }}</b></span
      >
    </div>
    <hr style="width: 90%" class="" />
    <span class="d-flex text-dark"
      ><span class="" style="opacity: 0.7; flex-grow: 7">Amount</span>
      <span style="flex-grow: 1" class="fw-bold fs-5">{{
        billDetails.total_amount | currency: 'BIF '
      }}</span></span
    >
  </div>
</section>

<section
  class="mt-4 col-md-7"
  *ngIf="!isLoading && billDetails.payment_status.value === 'Q'">
  <!-- <app-my-accounts
      [isGrey]="true"
      (debitOptions)="selectedDebitOption($event)"
  ></app-my-accounts> -->
  <div class="col-9 ms-4" *ngIf="selectedAccount || selectedWallet">
    <div class="form-floating mt-3 col-md-8">
      <input
        type="text"
        class="level-2 p-1 px-3 form-control input sm-radius text-dark form-control"
        id="description"
        [formControl]="description"
        placeholder="cool" />
      <label for="description" class="form-label">Description</label>
    </div>

    <div class="col-md-8 mt-3 text-center">
      <button
        class="bg-primary btn px-5 text-light sm-radius p-1"
        (click)="enterPin()"
        [disabled]="
          !description.valid ||
          (!selectedAccount && !selectedWallet) ||
          paymentLoading
        ">
        <span *ngIf="!paymentLoading"> confirm </span>
        <span class="text-light fs-5" *ngIf="paymentLoading">
          <i class="fa-solid fa-pulse fa-circle-notch"></i
        ></span>
      </button>
    </div>
  </div>
</section>

<section id="bill" class="d-none" *ngIf="!isLoading && billData">
  <app-merchant-bill [successMessage]="billData"></app-merchant-bill>
</section>
