<div
  style="max-height: 97vh; overflow-y: scroll"
  class="lg-radius p-3 ps-4 h-100">
  <section class="mx-2">
    <div class="title text-dark">
      <span class="me-2"><i class="fa fa-circle fa-xs me-2"></i></span>
      <b i18n>PHONE NUMBER</b>
    </div>

    <div class="col-md-4 ms-3">
      <div
        class="col-md-7 col-lg-8 sm-radius position-relative p-2 mt-3 text-dark bg-secondary">
        <div class="d-flex flex-column">
          <b class="text-primary">{{ userInfo.client.client_full_name }}</b>
          <b class="text-dark" style="opacity: 0.8">{{ contact }}</b>
        </div>
      </div>
    </div>
  </section>

  <!-- operetor section -->

  <!-- account section -->
</div>
