<div
  class="row d-flex justify-content-center w-100 d-md-flex justify-content-sm-start">
  @for (item of recentBillers; track $index) {
    @if (item) {
      <div
        class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-2"
        (click)="openModal(item, $event)"
        tabindex="0">
        <div class="border sm-radius">
          <div class="row">
            <div class="position-relative">
              <div class="bg-input m-1 sm-radius">
                <!-- <section
                    class="position-absolute bg-white rounded-circle border z-3 end-0 me-2 mt-2 p-1 d-flex px-2"
                    role="button"
                    tabindex="2">
                    @if (!isLoading) {
                        @if (merchant.is_favorite_merchant) {
                        <span
                            type="button"
                            (click)="makeFavoriteMerchants(merchant, $event)"
                            tabindex="0"
                            title="Revoke Favorite">
                            <span class="text-primary"><i class="fa-solid fa-star"></i></span>
                        </span>
                        } @else if (!merchant.is_favorite_merchant) {
                        <span
                            type="button"
                            (click)="makeFavoriteMerchants(merchant, $event)"
                            tabindex="0"
                            title="Make Favorite">
                            <span class="text-primary"><i class="fa-regular fa-star"></i></span>
                        </span>
                        }
                    } @else {
                        <span class="text-primary"
                        ><i class="fas fa-spinner fa-pulse"></i
                        ></span>
                    }
                </section> -->

                @if (item.lookup_image) {
                  <div class="col-12 imgHeight">
                    <img
                      src="{{ item.lookup_image }}"
                      class="z-3 w-100 h-100 object-fit-cover sm-radius position-relative"
                      alt="billerImg" />
                  </div>
                  <div class="z-2 clip-path bg-input"></div>
                } @else {
                  <span class="d-flex justify-content-center">
                    <i
                      class="fa-solid fa-box-open fa-5x mt-4 mb-3"
                      style="color: #ffffff"></i>
                  </span>
                  <div class="z-3 clip-path bg-input"></div>
                }
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h6 class="fs-x-small mt-2 ms-1">Billers</h6>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row ms-0">
            <h6 class="fs-x-small" i18n>
              {{ item.lookup_title }} ({{ item.lookup_subtitle }})
            </h6>
          </div>
        </div>
      </div>
    }
  }

  <!-- ********************************* -->
</div>
