@if (biller) {
  <div class="">
    <div class="">
      <div class="border sm-radius biller-card w-100">
        <div class=" ">
          <div class="position-relative">
            <div class="bg-input m-1 sm-radius">
              <!-- @if (!disabledFavoriteAction) {
                  <section
                    class="position-absolute bg-white rounded-circle border z-3 end-0 me-2 mt-2 p-1 d-flex px-2"
                    role="button"
                    tabindex="2">
                    @if (!isLoading) {
                      @if (merchant.is_favorite_merchant) {
                        <span
                          type="button"
                          (click)="makeFavoriteMerchants(merchant, $event)"
                          tabindex="0"
                          title="Revoke Favorite">
                          <span class="text-primary"
                            ><i class="fa-solid fa-star"></i
                          ></span>
                        </span>
                      } @else if (!merchant.is_favorite_merchant) {
                        <span
                          type="button"
                          (click)="makeFavoriteMerchants(merchant, $event)"
                          tabindex="0"
                          title="Make Favorite">
                          <span class="text-primary"
                            ><i class="fa-regular fa-star"></i
                          ></span>
                        </span>
                      }
                    } @else {
                      <span class="text-primary"
                        ><i class="fas fa-spinner fa-pulse"></i
                      ></span>
                    }
                  </section>
                } -->

              <div
                class="image-section d-flex justify-content-center align-items-center sm-radius flex-grow-1">
                @if (biller.lookup_image) {
                  <img
                    src="{{ biller.lookup_image }}"
                    class="z-3 image object-fit-cover position-relative"
                    alt="billerImg" />

                  <div class="z-2 clip-path bg-input"></div>
                } @else {
                  <span class="text-all-white">
                    <i class="fa-solid fa-mountain-sun fa-3x"></i>
                  </span>
                  <div class="z-3 clip-path bg-input"></div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h6 class="fs-x-small mt-2 ms-1">Billers</h6>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="row ms-0">
          <h6 class="fs-x-small" i18n>
            {{ biller.lookup_title }} ({{ biller.lookup_subtitle }})
          </h6>
        </div>
      </div>
    </div>

    <!-- ********************************* -->
  </div>
}
