<head>
  @if (plateform === 'workstation') {
    <link rel="icon" type="image/x-icon" href="icons/favicon/erp-fav.ico" />
    <title>MAGIS ERP</title>
  } @else {
    <link rel="icon" type="image/x-icon" href="icons/favicon/ihela-fav.ico" />
    <title>iHel&aacute; Rya&#771;nje</title>
  }
</head>
<!-- NOTE :: GLOBAL TAG FOR APP BACKGROUND -->
<span
  id="app-global-bg"
  class="position-absolute zn-1"
  [ngClass]="{
    'opacity-25': activeMode === 'light',
    'opacity-50': activeMode === 'dark',
  }"></span>

<!-- NOTE :: GLOBAL SPLASH SCREEN -->
<Section>
  <app-splash-screen></app-splash-screen>
  <app-sleep-mode></app-sleep-mode>
</Section>

<!-- TODO :: TO FIND A WAY TO REMOVE Z-INDEX ON SCREEN LOCKED :: HEADER IS VISIBLE -->
<main
  class="app-container position-relative overflow-x-hidden {{ mainBackground }}"
  [ngClass]="{
    'z-0': screenState === 'locked',
  }">
  <!-- NOTE :: GLOBAL POPUPS ON THE PROJECT -->
  <section>
    <app-confirm-dialog></app-confirm-dialog>

    <!-- NOTE :: ALL GLOBAL BILL POPUPS -->
    <app-transfer-bill></app-transfer-bill>
    <app-obr-bill></app-obr-bill>
    <app-merchant-bill></app-merchant-bill>
    <app-landscape-bill></app-landscape-bill>

    <!-- NOTE :: GLOBAL MERCHANT PAYMENT  -->
    <app-merchant-payment></app-merchant-payment>

    <!-- NOTE :: TOP LOADER -->
    <app-top-loader></app-top-loader>
  </section>

  <!-- NOTE :: OTHER COMPONENT WITH ROUTER -->
  <router-outlet />
</main>
