.bill-image {
  height: 75px;
  min-width: 75px;
  max-width: 75px;
}

.bg-blue {
  background-color: #172b4d;
}
.fs-5 {
  font-size: 1.2rem !important;
}

@media screen and (min-width: 900px) {
  .all-bill-card {
    width: 32%;
  }
}

.initial-bill {
  background: linear-gradient(
      90deg,
      rgba(4, 53, 225, 0.2) 0%,
      rgba(4, 47, 200, 0.18) 51.16%,
      rgba(187, 24, 212, 0.03) 69.19%,
      rgba(213, 21, 214, 0.01) 72.29%,
      rgba(219, 20, 214, 0) 80.81%,
      rgba(223, 20, 214, 0) 100%
    ),
    #bddaf6;
}
.paid-bill {
  background: linear-gradient(
      90deg,
      rgba(9, 225, 4, 0.2) 0%,
      rgba(8, 200, 4, 0.18) 51.16%,
      rgba(24, 212, 43, 0.03) 69.19%,
      rgba(71, 214, 21, 0.01) 72.29%,
      rgba(20, 219, 76, 0) 80.81%,
      rgba(36, 223, 20, 0) 100%
    ),
    #bef6bd;
}
.process-bill {
  background: linear-gradient(
      90deg,
      rgba(225, 71, 4, 0.2) 0%,
      rgba(200, 157, 4, 0.18) 51.16%,
      rgba(212, 193, 24, 0.03) 69.19%,
      rgba(129, 214, 21, 0.01) 72.29%,
      rgba(192, 219, 20, 0) 80.81%,
      rgba(223, 202, 20, 0) 100%
    ),
    #e2ee62;
}
.skeletonsSize {
  height: 300px;
}

.cardHeaderSize {
  min-height: 60px;
}

.pictureUrlBlock {
  width: 50px;
  height: 50px;
}
.statusBlock {
  min-height: 40px;
}
