<div>
  <form
    id="searchForm"
    class="mt-4 shadow position-relative bg-white"
    [ngClass]="{ 'active ': isSearchInputNotEmpty() || isInputFocused }">
    <input
      class="ps-4 search-input form-control position-absolute text-all-dark"
      [ngClass]="{
        'bg-in-light': theme === 'light',
        'd-block': isInputFocused,
      }"
      type="text"
      placeholder="Search merchant"
      [formControl]="searchInput"
      (input)="searchFor()"
      (focus)="isInputFocused = true"
      (blur)="isInputFocused = false" />
    <span
      role="button"
      (click)="searchFor()"
      tabindex="0"
      class="btn bg-transparent search-btn"
      type="submit">
      <span *ngIf="!isLoading"
        ><i
          class="fa-solid fa-search search-button position-absolute text-align-center fs-7 text-dark"></i
      ></span>
      <span *ngIf="isLoading">
        <i
          class="fa-solid fa-spinner search-button position-absolute text-align-center fa-pulse fs-7 text-dark"></i
      ></span>
    </span>
    <style>
      .form-control::placeholder {
        color: rgb(204, 197, 197);
      }
    </style>
  </form>

  <section *ngIf="!this.favoriteDisplay">
    <div class="row" *ngIf="!this.searchInput.value">
      <div class="col-lg-7 col-md-11 col-sm-10">
        <!-- Big image swipable -->
        <img
          src="./images/merchant/générique appli.jpg"
          class="img-fluid mb-3"
          alt="merchant"
          style="width: 700px; border-radius: 5px" />
      </div>
      <div class="col-lg-5 col-sm- col-md-">
        <!-- favorites -->
        <div class="d-flex justify-content-between">
          <h6>
            <span class="text-primary" style="font-size: 12px"
              ><i class="fa-solid fa-star"></i
            ></span>
            <span i18n class="text-dark"><strong> Favorites</strong></span>
          </h6>
          <div *ngIf="favoriteMerchants && favoriteMerchantsNumber > 4">
            <span
              type="button"
              i18n
              class="text-primary fw-bold float-end me-2"
              (click)="displayFavorites()"
              tabindex="0"
              ><u>More</u></span
            >
          </div>
        </div>
        <div
          class="row mt-2 d-flex justify-content-between"
          *ngIf="favoriteMerchantLoading">
          <div
            class="col-5 mb-5"
            style="height: 135px"
            *ngFor="let item of countProductLoader; let i = index"
            [hidden]="i >= 4">
            <app-skeleton
              height="150px"
              width="150px"
              classes="mb-0 rounded-3"></app-skeleton>
            <div>
              <app-skeleton
                height="10px"
                width="30%"
                classes="rounded-3"></app-skeleton>
            </div>
          </div>
        </div>

        <!-- not found message -->
        <div
          class="d-flex flex-column align-items-center mt-5"
          *ngIf="!favoriteMerchantLoading && favoriteMerchants.length === 0">
          <span class="empty-state-icon" style="font-size: 90px; opacity: 0.5">
            <i class="fa-solid fa-face-meh"></i>
          </span>
          <b class="empty-state-icon fs-2" style="opacity: 0.5" i18n>
            No Favorite Merchant
          </b>
        </div>

        <div
          class="row"
          *ngIf="!favoriteMerchantLoading && favoriteMerchants.length !== 0">
          <div
            class="col-5 ms-4 position-relative"
            *ngFor="let merchant of favoriteMerchants; let i = index"
            [hidden]="i >= 4">
            <!-- image -->
            <div
              class="col-5 mb-3 w-100 merchantCard"
              (click)="getMerchant(merchant, $event)"
              tabindex="0">
              <span
                type="button"
                (click)="makeFavoriteMerchants(merchant, $event)"
                tabindex="0"
                *ngIf="
                  merchant.is_favorite_merchant &&
                  (favorite_merchant_making === null ||
                    favorite_merchant_making.id !== merchant.id)
                "
                title="Revoke Favorite"
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 22%">
                <span class="favorite_icon"
                  ><i class="fa-solid fa-star"></i
                ></span>
              </span>
              <span
                type="button"
                (click)="makeFavoriteMerchants(merchant, $event)"
                title="Make Favorite"
                *ngIf="
                  !merchant.is_favorite_merchant &&
                  (favorite_merchant_making === null ||
                    favorite_merchant_making.id !== merchant.id)
                "
                tabindex="0"
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 22%">
                <span class="favorite_icon"
                  ><i class="fa-regular fa-star"></i
                ></span>
              </span>
              <span
                *ngIf="
                  favorite_merchant_making !== null &&
                  favorite_merchant_making.id === merchant.id
                "
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 22%">
                <span class="favorite_icon"
                  ><i class="fas fa-spinner fa-pulse"></i
                ></span>
              </span>
              <app-merchant-card [merchant]="merchant" [get_merchant]="true">
              </app-merchant-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Merchant Info -->
    <!-- <div class="row mt-4">
            <div class="col-lg-5 col-sm-7">
                
            </div>
            <div class="col-lg-7 col-sm-7">
                
            </div>
        </div> -->
    <div class="row mt-4" *ngIf="!this.searchInput.value">
      <div class="col-lg-5 col-sm- col-md-">
        <div class="row">
          <span>
            <span class="text-primary" style="font-size: 10px">
              <i class="fa-solid fa-circle"></i>
            </span>
            <span i18n class="text-dark">
              <b> Merchant nearby</b>
            </span>
          </span>
        </div>
        <!-- near merchant's info *ngIf="!location"-->
        <div class="d-flex flex-column align-items-center mt-5">
          <b class="empty-state-icon fs-2 text-center" i18n>
            Activate your location to see the merchants around you
          </b>
          <button
            class="btn bg-primary"
            style="color: white"
            (click)="getLocation()">
            <b i18n *ngIf="!getting">Activate</b>
            <span *ngIf="getting">
              <i class="fa-solid fa-spin fa-circle-notch fs-4"></i>
            </span>
          </button>
        </div>
        <div
          class="row mt-2 d-flex justify-content-between"
          *ngIf="!merchants && location">
          <div
            class="col-6"
            *ngFor="let item of countProductLoader; let i = index"
            [hidden]="i >= 4">
            <app-skeleton
              height="130px"
              width="130px"
              classes="mb-0 rounded-3"></app-skeleton>
            <div>
              <app-skeleton
                height="10px"
                width="25%"
                classes="rounded-3"></app-skeleton>
            </div>
          </div>
        </div>
        <div class="row mt-2" *ngIf="location">
          <div
            class="col-6 mb-3 position-relative"
            *ngFor="let merchant of merchants; let i = index"
            [hidden]="i >= 4">
            <div
              class="col-5 w-100"
              (click)="getMerchant(merchant, $event)"
              tabindex="0">
              <span
                type="button"
                tabindex="0"
                (click)="makeFavoriteMerchants(merchant, $event)"
                *ngIf="
                  merchant.is_favorite_merchant &&
                  (favorite_merchant_making === null ||
                    favorite_merchant_making.id !== merchant.id)
                "
                title="Revoke Favorite"
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 18%">
                <span class="favorite_icon"
                  ><i class="fa-solid fa-star"></i
                ></span>
              </span>
              <span
                type="button"
                (click)="makeFavoriteMerchants(merchant, $event)"
                title="Make Favorite"
                tabindex="0"
                *ngIf="
                  !merchant.is_favorite_merchant &&
                  (favorite_merchant_making === null ||
                    favorite_merchant_making.id !== merchant.id)
                "
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 18%">
                <span class="favorite_icon"
                  ><i class="fa-regular fa-star"></i
                ></span>
              </span>
              <span
                *ngIf="
                  favorite_merchant_making !== null &&
                  favorite_merchant_making.id === merchant.id
                "
                class="position-absolute favorite_fav level-3 text-primary p-2"
                style="right: 18%">
                <span class="favorite_icon"
                  ><i class="fas fa-spinner fa-pulse"></i
                ></span>
              </span>
              <app-merchant-card [merchant]="merchant" [get_merchant]="true">
              </app-merchant-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col p-0 m-0">
        <!-- Merchant Location -->
        <div class="row ms-2">
          <span i18n class="text-dark">
            <b> Merchant Location</b>
          </span>
        </div>

        <div class="map d-flex align-items-center position-relative">
          <app-global-map></app-global-map>
        </div>
      </div>
    </div>
    <!-- All -->
    <div class="row mt-4" *ngIf="!this.searchInput.value">
      <span>
        <span class="text-primary" style="font-size: 10px">
          <i class="fa-solid fa-circle"></i>
        </span>
        <span i18n class="text-dark">
          <b> All</b>
        </span>
      </span>
    </div>
    <div class="row mt-2" *ngIf="!merchants">
      <div
        class="col-lg-3 col-md-4 col-sm-2 col mb-3"
        *ngFor="let item of countProductLoader">
        <app-skeleton
          height="150px"
          width="150px"
          classes="mb-0 rounded-3"></app-skeleton>
        <div>
          <app-skeleton
            height="10px"
            width="60%"
            classes="rounded-3"></app-skeleton>
        </div>
        <div>
          <app-skeleton
            height="10px"
            width="40%"
            classes="rounded-3"></app-skeleton>
        </div>
      </div>
    </div>
    <div *ngIf="merchants && merchants.length === 0" class="text-center">
      <i class="fa-solid fa-meh text-dark opacity-50 fs-1"></i><br />
      <span class="text-l" i18n>Merchant not found</span>
    </div>
    <div class="row mx-0 mt-2">
      <div
        class="col-lg-3 col-md-4 col-sm-6 col mb-3 position-relative"
        *ngFor="let merchant of merchants; let i = index"
        [hidden]="i >= 8">
        <!-- image -->
        <div
          class="col-4 w-100"
          (click)="getMerchant(merchant, $event)"
          tabindex="0"
          role="button">
          <span
            type="button"
            (click)="makeFavoriteMerchants(merchant, $event)"
            tabindex="0"
            *ngIf="
              merchant.is_favorite_merchant &&
              (favorite_merchant_making === null ||
                favorite_merchant_making.id !== merchant.id)
            "
            title="Revoke Favorite"
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"><i class="fa-solid fa-star"></i></span>
          </span>
          <span
            type="button"
            (click)="makeFavoriteMerchants(merchant, $event)"
            tabindex="0"
            title="Make Favorite"
            *ngIf="
              !merchant.is_favorite_merchant &&
              (favorite_merchant_making === null ||
                favorite_merchant_making.id !== merchant.id)
            "
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"
              ><i class="fa-regular fa-star"></i
            ></span>
          </span>
          <span
            *ngIf="
              favorite_merchant_making !== null &&
              favorite_merchant_making.id === merchant.id
            "
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"
              ><i class="fas fa-spinner fa-pulse"></i
            ></span>
          </span>
          <app-merchant-card [merchant]="merchant" [get_merchant]="true">
          </app-merchant-card>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="this.favoriteDisplay">
    <div class="d-flex justify-content-between">
      <h6>
        <span class="text-primary" style="font-size: 12px"
          ><i class="fa-solid fa-star"></i
        ></span>
        <span i18n class="text-dark"><strong> Favorites</strong></span>
      </h6>
      <div>
        <span
          i18n
          type="button"
          (click)="displayFavorites()"
          tabindex="0"
          class="float-end text-primary fw-bold me-3"
          ><u>Close</u></span
        >
      </div>
    </div>

    <div class="row mx-0">
      <div
        class="col-lg-3 col-md-4 col-sm-6 col mb-3 position-relative"
        *ngFor="let merchant of favoriteMerchants">
        <!-- image -->
        <div
          class="col-4 w-100"
          role="button"
          (click)="getMerchant(merchant, $event)"
          tabindex="0"
          tabindex="0">
          <span
            type="button"
            (click)="makeFavoriteMerchants(merchant, $event)"
            tabindex="0"
            *ngIf="
              merchant.is_favorite_merchant &&
              (favorite_merchant_making === null ||
                favorite_merchant_making.id !== merchant.id)
            "
            title="Revoke Favorite"
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"><i class="fa-solid fa-star"></i></span>
          </span>
          <span
            type="button"
            (click)="makeFavoriteMerchants(merchant, $event)"
            tabindex="0"
            title="Make Favorite"
            *ngIf="
              !merchant.is_favorite_merchant &&
              (favorite_merchant_making === null ||
                favorite_merchant_making.id !== merchant.id)
            "
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"
              ><i class="fa-regular fa-star"></i
            ></span>
          </span>
          <span
            *ngIf="
              favorite_merchant_making !== null &&
              favorite_merchant_making.id === merchant.id
            "
            class="position-absolute favorite_fav level-3 text-primary p-2"
            style="right: 17%">
            <span class="favorite_icon"
              ><i class="fas fa-spinner fa-pulse"></i
            ></span>
          </span>
          <app-merchant-card [merchant]="merchant" [get_merchant]="true">
          </app-merchant-card>
        </div>
      </div>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="myModal"
  data-bs-backdrop="static"
  *ngIf="merchants">
  <div
    class="modal-dialog modal-dialog-centered"
    style="min-width: 52%; max-height: 40%">
    <div
      class="modal-content"
      *ngIf="payMerchant && payMerchant.accepts_simple_payment">
      <!-- <app-simple-merchants
                [merchantId]="payMerchant['id']"
            ></app-simple-merchants> -->
    </div>
    <div
      class="modal-content"
      *ngIf="payMerchant && !payMerchant.accepts_simple_payment">
      <!-- <app-billers-merchants
                [biller]="payMerchant"
            ></app-billers-merchants> -->
    </div>
  </div>
</div>
