<div class="d-flex gap-2 align-items-center">
  @if (showAmounts && amount) {
    <div class="d-flex align-items-center {{ customClasses }}">
      @if (currency) {
        {{ amount | currency: currency + ' ' }}
      }
      @if (!currency) {
        {{ amount | currency: ' ' }}
      }
    </div>
  } @else if (showAmounts && !amount) {
    <div class="d-flex gap align-items-center text-secondary">
      <div title="You do not have access to this amount">
        {{ currency }} *** ***
      </div>
    </div>
  }

  @if (!showAmounts) {
    <div class="d-flex gap align-items-center {{ customClasses }}">
      <div>{{ currency }} *** ***</div>
    </div>
  }
</div>
