<!-- <p>amount-visibility works!</p> -->

<div class="d-flex gap-2 align-items-center">
  <!-- Show amounts if showAmounts is true -->
  @if (showAmounts) {
    <div class="d-flex align-items-center {{ customClasses }}">
      @if (currency) {
        {{ amount | currency: currency + ' ' }}
      }
      @if (!currency) {
        {{ amount | currency: ' ' }}
      }
    </div>
  }

  <!-- Show placeholder if showAmounts is false -->
  @if (!showAmounts) {
    <div class="d-flex gap align-items-center {{ customClasses }}">
      <div>{{ currency ?? '' }} **********</div>
    </div>
  }
</div>
