<div
  class="d-lg-flex lg-radius p-3 bg-secondary position-relative border border-2 border-secondary height">
  <div class="">
    <div class="d-flex align-items-center justify-content-between">
      <div class="fs-medium fw-bold font-calibri">wallets</div>
      <div (click)="toggleAmountVisibility()" tabindex="0" class="me-3">
        @if (showAmounts) {
          <span class="text-dark fw-bold fs-normal font-calibri text-end" i18n>
            <i class="fa-solid fa-eye-slash"></i>
          </span>
        }
        @if (!showAmounts) {
          <span class="text-dark fw-bold fs-normal font-calibri text-end" i18n>
            <i class="fa-solid fa-eye"></i>
          </span>
        }
      </div>
    </div>
    <app-wallet-list
      Type="list"
      (walletSelected)="handleWalletSelected($event)">
    </app-wallet-list>
  </div>
  <div class="w-100">
    @if (!isWalletDetailsShown) {
      <div class="text-dark">noo selected</div>
    }

    @if (selectedWallet) {
      <div>
        <router-outlet></router-outlet>
      </div>
    }
  </div>
</div>
