<div class="container-fluid h-100">
    <div class="row mx-md-4 mb-4 mb-md-5">
        <div class="col-5 d-flex align-items-center me-auto">
            <i class="fa-solid fa-user-tie text-primary fs-4 me-2"></i>
            <span class="fw-bolder fs-5" i18n>Agents list</span>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center">
            <i class="fa-solid fa-arrow-left fs-5 me-2" role="button"></i>
            <span class="fw-bolder fs-5"  i18n>Back</span>
        </div>
    </div>
</div>
