<section class="w-100 h-100 bg-white overflow-y-auto p-3">
  <div
    class="w-100 bg-erp row mx-auto rounded-top-4 fw-bold fs-l-medium mb-2 mt-2">
    <div class="p-2 col-6 border-end text-center">
      <span>Actifs</span>
    </div>
    <div class="p-2 col-6 text-center">
      <span>Passifs</span>
    </div>
  </div>
  <div class="w-100 bg-white border row mx-auto fs-small mb-2">
    <!-- ####################### ACTIFS SECTION ####################### -->
    <div class="col-6 border-end d-flex flex-column p-0">
      <div class="d-flex flex-column gap-2 p-2 border-bottom">
        <div class="d-flex flex-row w-100 align-items-center">
          <a data-bs-toggle="collapse" href="#collapse1">
            <i class="fa-solid fa-plus"></i>
          </a>
          <div class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
            <span>2.1 Immobilisation</span>
            <span class="fw-bold">BIF 10,000,000</span>
          </div>
        </div>
        <div class="collapse" id="collapse1">
          <div class="d-flex flex-column gap-2 p-2 bg-erp">
            <div class="d-flex flex-row w-100 align-items-center">
              <a data-bs-toggle="collapse" href="#collapse12">
                <i class="fa-solid fa-plus"></i>
              </a>
              <div
                class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
                <span>2.1 Magibilisation</span>
                <span class="fw-bold">BIF 10,000,000</span>
              </div>
            </div>

            <div class="collapse" id="collapse12">
              <div
                class="d-flex flex-row w-100 align-items-center bg-white p-2">
                <i class="fa-solid fa-plus"></i>
                <div
                  class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
                  <span>2.1 Magibilisation</span>
                  <span class="fw-bold">BIF 10,000,000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-2 p-2 border-bottom">
        <div class="d-flex flex-row w-100 align-items-center">
          <a data-bs-toggle="collapse" href="#collapse2">
            <i class="fa-solid fa-plus"></i>
          </a>
          <div class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
            <span>2.1 Immobilisation</span>
            <span class="fw-bold">BIF 10,000,000</span>
          </div>
        </div>

        <div class="collapse" id="collapse2">
          2222222222222......... Some placeholder content for the collapse
          component. This panel is hidden by default but revealed when the user
          activates the relevant trigger.
        </div>
      </div>
    </div>

    <!-- ####################### PASSIFS SECTION ####################### -->

    <div class="col-6 d-flex flex-column p-0">
      <div class="d-flex flex-column gap-2 p-2 border-bottom">
        <div class="d-flex flex-row w-100 align-items-center">
          <a data-bs-toggle="collapse" href="#collapse11">
            <i class="fa-solid fa-plus"></i>
          </a>
          <div class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
            <span>2.1 Immobilisation</span>
            <span class="fw-bold">BIF 10,000,000</span>
          </div>
        </div>

        <div class="collapse" id="collapse11">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>

      <div class="d-flex flex-column gap-2 p-2 border-bottom">
        <div class="d-flex flex-row w-100 align-items-center">
          <a data-bs-toggle="collapse" href="#collapse22">
            <i class="fa-solid fa-plus"></i>
          </a>
          <div class="d-flex flex-row justify-content-between ms-2 flex-grow-1">
            <span>2.1 Immobilisation</span>
            <span class="fw-bold">BIF 10,000,000</span>
          </div>
        </div>

        <div class="collapse" id="collapse22">
          2222222222222......... Some placeholder content for the collapse
          component. This panel is hidden by default but revealed when the user
          activates the relevant trigger.
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-erp row mx-auto fs-l-medium mb-2">
    <div class="col-6 border-end p-2">
      <div class="px-4 d-flex flex-row justify-content-between fw-bold">
        <span>Total</span>
        <span>BIF 100,000,000</span>
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="px-4 d-flex flex-row justify-content-between fw-bold">
        <span>Total</span>
        <span>BIF 99,000,000</span>
      </div>
    </div>
  </div>

  <div
    class="w-100 mx-auto d-flex justify-content-center p-2 fs-l-medium fw-bold bg-erp rounded-bottom-4">
    <div class="d-flex flex-row gap-4">
      <span>Difference:</span>
      <span class="text-primary">BIF 1,000,000</span>
    </div>
  </div>
</section>
