<div>
    <!-- red card -->
    <div class="mt-5">
        <div class="bg-primary sm-radius">
            <div class="row">
                <div class="col-7 mt-5 ms-5">
                    <div class="row">
                        <div class="text-light fw-bold fs-xx-large">
                            Your online marketplace
                        </div>
                    </div>
                    <div class="row mb-5">
                        <ul>
                            <li class="list-group text-light">⦁ Sell ​​and buy your products online with ease </li>
                            <li class="list-group text-light">⦁ Find unique products from local and international sellers </li>
                            <li class="list-group text-light">⦁ Join a vibrant community of buyers and sellers</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/images/ooo.svg" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- white card with logo -->
    <div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="bg-light shadow-sm py-3 ps-3 sm-radius">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="row">
                                <h5 class="text-all-dark fw-bold">Secure payments</h5>

                            </div>
                            <div class="row">
                                <p class="text-all-dark lh-sm my-0 fs-small">
                                    We ensure 100% secure <br>payment with iHela Ryanje
                                </p>
                            </div>
                        </div>
                        <div class="col-3 ms-1">
                            <div>
                                <img src="/images/pana.png" alt="logoPhone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-light shadow-sm py-3 ps-3 sm-radius">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="row">
                                <h5 class="text-all-dark fw-bold">Home delivery</h5>

                            </div>
                            <div class="row">
                                <p class="text-all-dark lh-sm my-0 fs-small">
                                    We deliver your product <br>wherever you want
                                </p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <img src="/images/amico.png" alt="logoPhone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-light shadow-sm py-3 ps-3 sm-radius">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="row">
                                <h5 class="text-all-dark fw-bold">Easy return</h5>

                            </div>
                            <div class="row">
                                <p class="text-all-dark lh-sm my-0 fs-small">
                                    Return any defective<br>product within 15 days
                                </p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <img src="/images/rafiki.png" alt="logoPhone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- watch card -->
    <div class="mt-5">
        <div class="row mb-2">
            <h4 class="fs-medium fw-bold">Browse by category</h4>
        </div>
        <div class="row g-0">
            <div class="col-2">
                <div>
                    <div class="card bg-all-dark text-white">
                        <span><img src="/images/Rectangle.png " height="70" class="card-img object-fit-cover lg-radius opacity-75" alt="watch1"></span>
                        <div class="card-img-overlay">
                            <p class="card-text text-center fw-bold mt-2">Watch</p>
                        </div>  
                    </div>
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card bg-all-dark text-white">
                    <span><img src="/images/phone.png " height="70" class="card-img object-fit-cover lg-radius opacity-75" alt="watch1"></span>
                    <div class="card-img-overlay">
                        <p class="card-text text-center fw-bold mt-2">Watch</p>
                    </div>  
                </div>
            </div>
            <div class="col-2 ">
                <div class="card bg-all-dark text-white">
                    <span><img src="/images/lumi.png " height="70" class="card-img object-fit-cover lg-radius opacity-75" alt="watch1"></span>
                    <div class="card-img-overlay">
                        <p class="card-text text-center fw-bold mt-2">Watch</p>
                    </div>  
                </div>
            </div>
            <div class="col-2">
                <div class="card bg-all-dark text-white">
                    <span><img src="/images/phone.png " height="70" class="card-img object-fit-cover lg-radius opacity-75" alt="watch1"></span>
                    <div class="card-img-overlay">
                        <p class="card-text text-center fw-bold mt-2">Watch</p>
                    </div>  
                </div>
            </div>
            
        </div>
    </div>

    <!-- recent product -->
     <div>
        <div class="row"></div>
     </div>
     <!--  -->
</div>