<div class="mb-3">
  <!-- red card -->
  <div>
    <div class="bg-primary sm-radius">
      <div
        class="col-10 col-sm-11 col-md-10 col-lg-12 col-xl-11 col-xxl-10 mx-auto">
        <div class="row">
          <div
            class="col-12 col-sm-9 col-md-8 col-lg-9 col-xl-8 col-xxl-8 mt-5">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-12 col-xxl-12 mx-auto">
              <div class="row">
                <div
                  class="text-all-white fw-bold fs-xx-large text-center text-sm-start">
                  Your online marketplace
                </div>
              </div>
              <div class="row mb-5">
                <ul class="text-center text-sm-start">
                  <li class="list-group text-all-white">
                    ⦁ Sell and buy your products online with ease
                  </li>
                  <li class="list-group text-all-white">
                    ⦁ Find unique products from local and international sellers
                  </li>
                  <li class="list-group text-all-white">
                    ⦁ Join a vibrant community of buyers and sellers
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col col-sm-3 col-md-4 col-lg-3 col-xl-4 col-xxl-4 mt-sm-5 mt-md-0 mt-lg-5 mt-xl-2 mt-xxl-4 d-none d-sm-block">
            <div>
              <img src="/images/oooDark.png" class="w-100" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- white card with logo -->
  <div>
    <div class="row mt-4">
      <div class="col-lg-4 col-xl-4 col-xxl-4">
        <div
          class="bg-white border border-right shadow-sm py-3 ps-xxl-3 sm-radius">
          <div class="col-lg-12 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="text-right fw-bold">Secure payments</h5>
                </div>
                <div class="row">
                  <p class="text-right lh-sm my-0 fs-small">
                    We ensure 100% secure <br />payment with iHela Ryanje
                  </p>
                </div>
              </div>
              <div
                class="col-lg-3 col-xl-3 col-xxl-3 mt-lg-2 mt-xl-1 mt-xxl-0 ms-xxl-1">
                <div>
                  <img src="/images/pana.png" class="w-100" alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-xxl-4">
        <div class="bg-white border shadow-sm py-3 ps-3 sm-radius">
          <div class="col-lg-11 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="fw-bold">Home delivery</h5>
                </div>
                <div class="row">
                  <p class="lh-sm my-0 fs-small">
                    We deliver your product <br />wherever you want
                  </p>
                </div>
              </div>
              <div
                class="col-lg-3 col-xl-3 col-xxl-3 mt-xl-2 mt-xxl-0 ms-xxl-1">
                <div>
                  <img
                    src="/images/amicoDark.png"
                    class="w-100"
                    alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-xxl-4">
        <div class="bg-white border border-right shadow-sm py-3 ps-3 sm-radius">
          <div class="col-lg-11 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="fw-bold">Easy return</h5>
                </div>
                <div class="row">
                  <p class="lh-sm my-0 fs-small">
                    Return any defective<br />product within 15 days
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-xxl-3">
                <div>
                  <img
                    src="/images/rafikiDark.png"
                    class="w-100"
                    alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- best offers cards -->
  <div>
    <div class="mt-4">
      <div class="row">
        <div class="col-10">
          <h4 class="fs-medium fw-bold">Best offers</h4>
        </div>
        <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        @for (item of shoeCardInfo; track item.id) {
          <div class="col-6">
            <div class="bg-primary sm-radius">
              <div class="col-11 mx-auto">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <h4 class="fw-bold text-all-white mt-5">
                        {{ item.offerPourcent }}
                      </h4>
                    </div>
                    <div class="row">
                      <p class="fs-small text-all-white">
                        {{ item.offerInfo }}
                      </p>
                    </div>
                  </div>
                  <div class="col-6">
                    <img src="{{ item.image }}" class="mt-4" alt="shoe" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- new arrival -->
  <div>
    <div class="mt-5">
      <div class="row mb-3">
        <div class="col-10">
          <h5 class="fs-medium fw-bold">New arrivals</h5>
        </div>
        <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="bgLinear sm-radius">
            <div class="col-8 mx-auto">
              <div class="row">
                <div class="col-8 mx-auto">
                  <img
                    src="/images/samsung.png"
                    class="w-100 mt-5"
                    alt="samsung" />
                </div>
              </div>
              <div class="row">
                <div class="col-9 col-xl-10 col-xxl-9 mx-auto">
                  <h3
                    class="fw-bold text-all-white text-center mt-5 mb-4 mt-xxl-4">
                    Samsung Galaxy <br />
                    S24 Pro
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          @for (item of newArrivalInfo; track item.id) {
            <div class="bg-white sm-radius border mb-3 mb-xxl-3">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-3">
                      <img
                        src="{{ item.image }}"
                        class="border py-3 px-1 my-3"
                        alt="greenShoe" />
                    </div>
                    <div class="col-5">
                      <div class="row">
                        <h5 class="fs-medium mt-3">{{ item.name }}</h5>
                      </div>
                      <div class="row">
                        <p class="text-primary-light m-0">{{ item.storage }}</p>
                      </div>
                      <div class="row">
                        <h5 class="fw-bold mt-2">{{ item.cost }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!-- watch card -->
  <div class="mt-5">
    <div class="row mb-2">
      <div class="col-10">
        <h4 class="fs-medium fw-bold">Browse by category</h4>
      </div>
      <div class="col ms-4">
        <div class="row">
          <div class="col-3 me-4">
            <span class="border rounded-circle py-1 px-2 text-secondary">
              <i class="fa-solid fa-arrow-left fa-xs"></i>
            </span>
          </div>
          <div class="col-3">
            <span class="border rounded-circle py-1 px-2 text-secondary">
              <i class="fa-solid fa-arrow-right fa-xs"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0">
      @for (item of first4; track $index) {
        <div class="col-2 me-4" id="{{ item.id }}">
          @if (item.icon) {
            <div class="card bg-all-dark text-white">
              <img
                src="{{ item.icon }}"
                class="card-img object-fit-cover lg-radius opacity-75"
                alt="" />
              @if (item.name) {
                <div class="card-img-overlay">
                  <p class="card-text text-center fw-bold mt-2">
                    {{ item.name }}
                  </p>
                </div>
              }
            </div>
          } @else {
            <div class="card bg-secondary text-white">
              <span class="">
                <i
                  class="fa-solid fa-mountain-sun fa-2x my-3 ps-5"
                  style="color: #838383"></i>
              </span>
              @if (item.name) {
                <div class="card-img-overlay">
                  <p class="card-text text-center fw-bold mt-2">
                    {{ item.name }}
                  </p>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>

    @if (!productCategory) {
      <div class="row ms-2">
        @for (item of [1, 2]; track $index) {
          <div class="col-lg-3 col-md-2 col-sm-4 col mb-2">
            <app-skeleton height="65px" width="85%" classes="sm-radius">
            </app-skeleton>
          </div>
        }
      </div>
    }
  </div>

  <!-- recent product -->
  <div>
    <section>
      <div class="row">
        <div class="col-10">
          <h5 class="fs-medium fw-bold mt-4">Recent product</h5>
        </div>
        <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span
                class="border rounded-circle text-secondary py-1 px-2 opacity-50">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle text-dark py-1 px-2">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        @for (item of [1, 2, 3, 4]; track $index) {
          <div class="col-3">
            <app-product-card></app-product-card>
          </div>
        }
      </div>
    </section>
  </div>

  <!-- recent billers -->
  <div class="mt-5">
    <div class="row mb-3">
      <div class="col-10">
        <span class="fs-medium text-light fw-bold mb-3">Recent billers</span>
      </div>
      <div class="col ms-4">
        <div class="row">
          <div class="col-3 me-4">
            <span
              class="border rounded-circle py-1 px-2"
              [ngClass]="{
                'opacity-50 text-secondary': start === 0,
                'text-dark opacity-100': end >= 5,
              }"
              id="navigationButton"
              (click)="previousBiller()"
              tabindex="0">
              <i class="fa-solid fa-arrow-left fa-xs"></i>
            </span>
          </div>
          <div class="col-3">
            <span
              class="border rounded-circle py-1 px-2"
              [ngClass]="{
                'opacity-50 text-secondary': end === 13,
                'text-dark opacity-100': end < 13,
              }"
              id="navigationButton"
              (click)="nextBiller()"
              tabindex="0">
              <i class="fa-solid fa-arrow-right fa-xs"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- *** -->

    @if (billers) {
      <div class="row">
        @for (item of first5; track $index) {
          @if (item) {
            <div class="col-3" (click)="openModal(item, $event)" tabindex="0">
              <div class="border sm-radius">
                <div class="row">
                  <div class="position-relative">
                    <div class="bg-input m-1 sm-radius">
                      <!-- <span
                       class="favorite-star bg-all-white p-1 rounded-circle position-absolute end-0 me-4 mt-3 d-flex"
                       data-id="123">
                       <i class="fa-solid fa-star text-primary"></i>
                     </span> -->
                      @if (item.lookup_image) {
                        <div class="col-12" style="height: 178px">
                          <img
                            src="{{ item.lookup_image }}"
                            class="w-100 h-100 object-fit-cover sm-radius"
                            alt="billerImg" />
                        </div>
                      } @else {
                        <span class="d-flex justify-content-center">
                          <i
                            class="fa-solid fa-box-open fa-5x my-5"
                            style="color: #ffffff"></i>
                        </span>
                      }
                    </div>
                  </div>
                </div>
                <div class="row ms-0 mt-2">
                  <h6 class="fs-x-small">
                    {{ item.lookup_title }} ({{ item.lookup_subtitle }})
                  </h6>
                </div>

                <div class="row ms-0">
                  <div class="col-8">
                    <p class="text-secondary fs-x-small">Category</p>
                  </div>
                </div>
              </div>
            </div>
          }
        }

        <!-- ********************************* -->
      </div>
    }
    <div *ngIf="!billers">
      <div class="row ms-2">
        @for (item of [1, 2, 3, 4]; track $index) {
          <div class="col-lg-3 col-md-2 col-sm-4 col mb-2">
            <app-skeleton
              height="140px"
              width="170px"
              classes="sm-radius"></app-skeleton>
            <div>
              <app-skeleton
                height="10px"
                width="30px"
                classes="sm-radius"
                appearance="line"></app-skeleton>
            </div>
            <div>
              <app-skeleton
                height="10px"
                width="50px"
                classes="sm-radius"
                appearance="line"></app-skeleton>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <!-- recent merchant -->
  <div>
    <section>
      <div class="row mt-4 pe-0 d-flex justify-content-between">
        <div class="col-sm-10 col-10">
          <p>
            <span class="text-primary" style="font-size: 10px"> </span>
            <span class="fs-5 text-light"><b> Recent merchants</b></span>
          </p>
        </div>
        <div class="col-sm-2 col-2 p-0 pe-2 m-0 float-end">
          <div class="col ms-4">
            <!-- <div class="row">
              <div class="col-3 me-4">
                <span class="border rounded-circle py-1 px-2 opacity-50">
                  <i
                    class="fa-solid fa-arrow-left fa-xs"
                    style="color: #c9c0c0"></i>
                </span>
              </div>
              <div class="col-3">
                <span class="border rounded-circle py-1 px-2">
                  <i
                    class="fa-solid fa-arrow-right fa-xs"
                    style="color: #ffffff"></i>
                </span>
              </div>
            </div> -->
            <div class="row">
              <div class="col-3 me-4">
                <span
                  class="border rounded-circle py-1 px-2"
                  [ngClass]="{
                    'opacity-50 text-secondary': start === 0,
                    'text-dark opacity-100': end >= 5,
                  }"
                  id="navigationButtonMerchant"
                  (click)="previousMerchant()"
                  tabindex="0">
                  <i class="fa-solid fa-arrow-left fa-xs"></i>
                </span>
              </div>
              <div class="col-3">
                <span
                  class="border rounded-circle py-1 px-2"
                  [ngClass]="{
                    'opacity-50 text-secondary': end === 20,
                    'text-dark opacity-100': end < 20,
                  }"
                  id="navigationButtonMerchant"
                  (click)="nextMerchant()"
                  tabindex="0">
                  <i class="fa-solid fa-arrow-right fa-xs"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- when the search has no outcomings -->
      <div
        class="d-flex flex-column align-items-center mt-2"
        *ngIf="merchants && merchants.length === 0">
        <span class="empty-state-icon" style="font-size: 40px; opacity: 0.5">
          <i class="fa-solid fa-face-meh"></i>
        </span>
        <b class="empty-state-icon text-md" style="opacity: 0.5" i18n>
          No Merchant Found
        </b>
      </div>
      <div *ngIf="merchants" class="row">
        <div
          class="col-lg-3 col-md-2 col mb-2 position-relative"
          *ngFor="let merchant of first6; let i = index"
          (click)="openModal(merchant, $event)"
          tabindex="0">
          <div class="col-2 w-100">
            <span
              type="button"
              (click)="makeFavoriteMerchants(merchant, $event)"
              *ngIf="
                merchant.is_favorite_merchant &&
                (favorite_merchant_making === null ||
                  favorite_merchant_making.id !== merchant.id)
              "
              tabindex="0"
              title="Revoke Favorite"
              class="z-3 position-absolute bg-all-white rounded-circle end-0 me-5 mt-3 p-0 px-1 d-flex">
              <span class="text-primary"><i class="fa-solid fa-star"></i></span>
            </span>
            <span
              type="button"
              (click)="makeFavoriteMerchants(merchant, $event)"
              tabindex="0"
              title="Make Favorite"
              *ngIf="
                !merchant.is_favorite_merchant &&
                (favorite_merchant_making === null ||
                  favorite_merchant_making.id !== merchant.id)
              "
              class="z-3 position-absolute bg-all-white rounded-circle end-0 me-5 mt-3 p-0 px-1 d-flex">
              <span class="text-primary"
                ><i class="fa-regular fa-star"></i
              ></span>
            </span>
            <span
              *ngIf="
                favorite_merchant_making !== null &&
                favorite_merchant_making.id === merchant.id
              "
              class="z-3 position-absolute bg-all-white rounded-circle end-0 me-5 mt-3 p-0 px-1 d-flex">
              <span class="text-primary"
                ><i class="fas fa-spinner fa-pulse"></i
              ></span>
            </span>
            <app-merchant-card [merchant]="merchant" [get_merchant]="true">
            </app-merchant-card>
          </div>
        </div>
      </div>
      <div class="row ms-2 merchant" *ngIf="!merchants">
        <div
          class="col-lg-3 col-md-2 col-sm-4 col mb-2"
          *ngFor="let _ of [1, 2, 3, 4]">
          <app-skeleton
            height="140px"
            width="170px"
            classes="sm-radius"></app-skeleton>
          <div>
            <app-skeleton
              height="10px"
              width="30px"
              classes="sm-radius"
              appearance="line"></app-skeleton>
          </div>
          <div>
            <app-skeleton
              height="10px"
              width="50px"
              classes="sm-radius"
              appearance="line"></app-skeleton>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="modal fade" id="merchantModal" data-bs-backdrop="static">
            
        
            <div
                class="modal-dialog modal-dialog-centered"
                [ngClass]="{
                    'biller-merchant-dialog': !payMerchant,
                    'simple-merchant-dialog': payMerchant
                }"
            >
                <div
                    class="modal-content"
                    *ngIf="payMerchant && payMerchant.accepts_simple_payment"
                >
                    <app-simple-merchants
                        [merchantId]="payMerchant['id']"
                    ></app-simple-merchants>
                </div>
        
                <div class="modal-content" *ngIf="categorySelected">
                    <app-billers-merchants
                        [category]="category"
                    ></app-billers-merchants>
                </div>
                <div
                    class="modal-content"
                    *ngIf="payMerchant && !payMerchant.accepts_simple_payment"
                >
                    <app-billers-merchants
                        [biller]="payMerchant"
                    ></app-billers-merchants>
                </div>
            </div>
        </div> -->
  </div>

  <!-- end of recent merchant -->
</div>
