<main class="mb-3">
  <div>
    <div class="bg-primary sm-radius">
      <div
        class="col-10 col-sm-11 col-md-10 col-lg-12 col-xl-11 col-xxl-10 mx-auto">
        <div class="row">
          <div
            class="col-12 col-sm-9 col-md-8 col-lg-9 col-xl-8 col-xxl-8 mt-5">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-12 col-xxl-9 mx-auto">
              <div class="row">
                <div
                  class="text-all-white fw-bold fs-xx-large text-center text-sm-start"
                  i18n>
                  Your online marketplace
                </div>
              </div>
              <div class="row mb-5">
                <ul class="text-center text-sm-start">
                  <li class="list-group text-all-white" i18n>
                    ⦁ Sell and buy your products online with ease
                  </li>
                  <li class="list-group text-all-white" i18n>
                    ⦁ Find unique products from local and international sellers
                  </li>
                  <li class="list-group text-all-white" i18n>
                    ⦁ Join a vibrant community of buyers and sellers
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col col-sm-3 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mt-sm-5 mt-md-0 mt-lg-5 mt-xl-2 mt-xxl-3 mb-xxl-4 d-none d-sm-block">
            <div>
              <img
                src="images/market/Add_to_Cart.svg"
                class="w-100 sm-radius"
                alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- transparent card with logo -->
  <div>
    <div class="row mt-4">
      <div class="col-6 col-md-4 col-lg-5 col-xl-4 col-xxl-4 mb-2">
        <div class="bg-white shadow py-3 ps-xxl-3 sm-radius">
          <div class="col-10 col-lg-12 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-10 col-md-10 col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="text-right fw-bold" i18n>Secure payments</h5>
                </div>
                <div class="row">
                  <p class="text-right lh-sm my-0 fs-small" i18n>
                    We ensure 100% secure <br />payment with iHela Ryanje
                  </p>
                </div>
              </div>
              <div
                class="col-2 col-lg-3 col-xl-3 col-xxl-3 mt-lg-2 mt-xl-1 mt-xxl-0 ms-xxl-1 d-flex">
                <div class="col-11 col-xxl-10 d-flex">
                  <img
                    src="images/market/creditCard.svg"
                    class="d-flex align-self-center w-100"
                    alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-5 col-xl-4 col-xxl-4 mb-2">
        <div class="bg-white shadow py-3 ps-3 sm-radius">
          <div class="col-10 col-lg-11 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-10 col-md-10 col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="fw-bold" i18n>Home delivery</h5>
                </div>
                <div class="row">
                  <p class="lh-sm my-0 fs-small" i18n>
                    We deliver your product <br />wherever you want
                  </p>
                </div>
              </div>
              <div
                class="col-2 col-lg-3 col-xl-3 col-xxl-3 mt-xl-2 mt-xxl-0 ms-xxl-1 d-flex">
                <div>
                  <img
                    src="images/market/phone.svg"
                    class="d-flex align-self-center w-100"
                    alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-5 col-xl-4 col-xxl-4">
        <div class="bg-white shadow py-3 ps-3 sm-radius">
          <div class="col-10 col-lg-11 col-xl-11 col-xxl-12 mx-auto">
            <div class="row g-0">
              <div class="col-10 col-md-10 col-lg-9 col-xl-9 col-xxl-8">
                <div class="row">
                  <h5 class="fw-bold" i18n>Easy return</h5>
                </div>
                <div class="row">
                  <p class="lh-sm my-0 fs-small" i18n>
                    Return any defective<br />product within 15 days
                  </p>
                </div>
              </div>
              <div class="col-2 col-lg-3 col-xl-3 col-xxl-3 d-flex">
                <div class="col-11 d-flex">
                  <img
                    src="images/market/people.svg"
                    class="d-flex align-self-center w-100"
                    alt="logoPhone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NOTE :: Best offers cards -->
  <section>
    <div class="mt-4">
      <div class="row">
        <div class="col-10">
          <h4 class="fs-medium fw-bold" i18n>Best offers</h4>
        </div>
        <!-- <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        @if (!offerData || offerData.length === 0) {
          @for (i of [1, 2]; track i) {
            <div class="col-6">
              <div class="bg-primary sm-radius">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-8 col-sm-7 col-lg-7 col-xl-7">
                      <div class="row">
                        <app-skeleton
                          height="20px"
                          width="110px"
                          classes=" mt-2 mt-md-3 mt-lg-4 mt-xl-4 rounded-4"></app-skeleton>
                      </div>
                      <div class="row mb-md-3 mb-lg-1 mb-xl-3">
                        <app-skeleton
                          height="10px"
                          width="90px"
                          classes="rounded-3"></app-skeleton>
                        <app-skeleton
                          height="10px"
                          width="100px"
                          classes="rounded-3"></app-skeleton>
                      </div>
                    </div>
                    <div class="col-4 col-sm-5 col-lg-5 col-xl-5 d-flex">
                      <!-- <img
                        src="{{ item.image }}"
                        class="d-flex align-self-center object-fit-cover w-100"
                        alt="shoe" /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        }

        @if (offerData.length === 1) {
          @for (item of offerData; track item.id) {
            <div class="col-6">
              <div class="bg-primary sm-radius">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-8 col-sm-7 col-lg-7 col-xl-7">
                      <div class="row">
                        <h4
                          class="fw-bold text-all-white mt-2 mt-md-3 mt-lg-4 mt-xl-4">
                          {{ item.product.price }}
                        </h4>
                      </div>
                      <div class="row mb-md-3 mb-lg-1 mb-xl-3">
                        <p class="fs-small text-all-white" i18n>
                          {{ item.product.name }} <br />
                          {{ item.product.merchant.merchant_title }}
                          <!-- {{ item.product.merchant.merchant_title }} -->
                        </p>
                      </div>
                    </div>
                    <div class="col-4 col-sm-5 col-lg-5 col-xl-5 d-flex">
                      <!-- <img
                        src="{{ item.image }}"
                        class="d-flex align-self-center object-fit-cover w-100"
                        alt="shoe" /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }

          <div class="col-6">
            <div class="bg-primary sm-radius">
              <div class="col-11 mx-auto">
                <div class="row">
                  <div class="col-8 col-sm-7 col-lg-7 col-xl-7">
                    <div class="row">
                      <app-skeleton
                        height="10px"
                        width="100px"
                        classes=" mt-2 mt-md-3 mt-lg-4 mt-xl-4"></app-skeleton>
                    </div>
                    <div class="row mb-md-3 mb-lg-1 mb-xl-3">
                      <p class="fs-small text-all-white">
                        ------- <br />
                        -----------
                      </p>
                    </div>
                  </div>
                  <div class="col-4 col-sm-5 col-lg-5 col-xl-5 d-flex">
                    <!-- <img
                        src="{{ item.image }}"
                        class="d-flex align-self-center object-fit-cover w-100"
                        alt="shoe" /> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

        @if (offerData.length > 0 || offerData.length === 2) {
          @for (item of offerData; track item.id) {
            <div class="col-6">
              <div class="bg-primary sm-radius">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-8 col-sm-7 col-lg-7 col-xl-7">
                      <div class="row">
                        <h4
                          class="fw-bold text-all-white mt-2 mt-md-3 mt-lg-4 mt-xl-4">
                          {{ item.product.price }}
                        </h4>
                      </div>
                      <div class="row mb-md-3 mb-lg-1 mb-xl-3">
                        <p class="fs-small text-all-white" i18n>
                          {{ item.product.name }} <br />
                          {{ item.product.merchant.merchant_title }}
                          <!-- {{ item.product.merchant.merchant_title }} -->
                        </p>
                      </div>
                    </div>
                    <div class="col-4 col-sm-5 col-lg-5 col-xl-5 d-flex">
                      <!-- <img
                        src="{{ item.image }}"
                        class="d-flex align-self-center object-fit-cover w-100"
                        alt="shoe" /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </section>

  <!-- NOTE :: New arrival -->
  <section>
    <div class="mt-5">
      <div class="row mb-3">
        <div class="col-12 col-md-10">
          <h5 class="fs-medium fw-bold text-center text-md-start" i18n>
            New arrivals
          </h5>
        </div>
        <!-- <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle py-1 px-2 text-secondary">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div> -->
      </div>
      <div
        class="row d-flex justify-content-center d-md-flex justify-content-md-start">
        <div class="col-8 col-md-6 mb-3">
          <div class="bgLinear py-4 sm-radius">
            <div class="col-8 mx-auto">
              <div class="row">
                <div class="col-8 mx-auto">
                  <img
                    src="https://m.media-amazon.com/images/I/51uirrYmBxL._AC_UF1000,1000_QL80_.jpg"
                    class="w-100 lg-radius opacity-75"
                    alt="samsung" />
                </div>
              </div>
              <div class="row">
                <div class="col-9 col-xl-10 col-xxl-9 mx-auto">
                  <h3
                    class="fw-bold text-all-white text-center mt-5 mb-4 mt-xxl-4"
                    i18n>
                    Samsung Galaxy <br />
                    S24 Pro
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col-md-6">
          @for (item of newArrivalInfo; track item.id) {
            <div class="bg-white sm-radius border mb-3 py-3 mb-xxl-3">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-3 col-sm-4 col-lg-4 col-xl-3 d-flex">
                      <img
                        src="{{ item.image }}"
                        class="border d-flex align-self-center object-fit-cover w-100"
                        alt="greenShoe" />
                    </div>
                    <div class="col-5">
                      <div class="row">
                        <h5 class="fs-medium" i18n>{{ item.name }}</h5>
                      </div>
                      <div class="row">
                        <p class="text-primary-light m-0" i18n>
                          {{ item.storage }}
                        </p>
                      </div>
                      <div class="row">
                        <h5 class="fw-bold" i18n>{{ item.cost }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>

  <!-- NOTE :: browse by category card -->
  <div class="mt-5">
    <div class="row mb-2">
      <div class="col-10">
        <h4 class="fs-medium fw-bold" i18n>Browse by category</h4>
      </div>
      <!-- <div class="col ms-4">
        <div class="row">
          <div class="col-3 me-4">
            <span class="border rounded-circle py-1 px-2 text-secondary">
              <i class="fa-solid fa-arrow-left fa-xs"></i>
            </span>
          </div>
          <div class="col-3">
            <span class="border rounded-circle py-1 px-2 text-secondary">
              <i class="fa-solid fa-arrow-right fa-xs"></i>
            </span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row g-0">
      @for (item of first4; track $index) {
        <div
          class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-2 me-4 position-relative bg-dark bg-opacity-50 lg-radius"
          id="{{ item.id }}">
          @if (item.icon) {
            <div class="card bg-all-dark text-white">
              <img
                src="{{ item.icon }}"
                class="card-img object-fit-cover lg-radius opacity-75"
                alt="" />
              @if (item.name) {
                <div class="card-img-overlay">
                  <p class="card-text text-center fw-bold mt-2" i18n>
                    {{ item.name }}
                  </p>
                </div>
              }
            </div>
          } @else {
            <div class="">
              <span class="d-flex justify-content-center">
                <i class="fa-solid fa-mountain-sun fa-2x text-dark my-4"></i>
              </span>
              @if (item.name) {
                <div
                  class="position-absolute top-50 start-50 translate-middle mt-2">
                  <p class="z-3 text-center text-white fw-bold mt-2" i18n>
                    {{ item.name }}
                  </p>
                </div>
              }
            </div>
          }
          <!-- <div class="card-img-overlay bgBrowse sm-radius position-absolute top-0"></div> -->
        </div>
      }
    </div>

    @if (!productCategory) {
      <div class="row ms-2">
        @for (item of [1, 2]; track $index) {
          <div class="col-lg-3 col-md-2 col-sm-4 col mb-2">
            <app-skeleton height="65px" width="85%" classes="sm-radius">
            </app-skeleton>
          </div>
        }
      </div>
    }
  </div>

  <!-- NOTE :: recent product -->
  <section>
    <section>
      <div class="row">
        <div class="col-10">
          <h5 class="fs-medium fw-bold mt-4" i18n>Recent product</h5>
        </div>
        <!-- <div class="col ms-4">
          <div class="row">
            <div class="col-3 me-4">
              <span
                class="border rounded-circle text-secondary py-1 px-2 opacity-50">
                <i class="fa-solid fa-arrow-left fa-xs"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="border rounded-circle text-dark py-1 px-2">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </span>
            </div>
          </div>
        </div> -->
      </div>
      @if (!products) {
        <div class="row ms-2">
          @for (items of [1, 2, 3, 4]; track $index) {
            <div class="col-lg-3 col-md-2 col-sm-4 col mb-2">
              <app-skeleton
                height="140px"
                width="170px"
                classes="sm-radius"></app-skeleton>
              <div>
                <app-skeleton
                  height="10px"
                  width="30px"
                  classes="sm-radius"
                  appearance="line"></app-skeleton>
              </div>
              <div>
                <app-skeleton
                  height="10px"
                  width="50px"
                  classes="sm-radius"
                  appearance="line"></app-skeleton>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="row">
          @for (product of products; track $index) {
            <div class="col-3">
              <app-product-card [product]="product"></app-product-card>
            </div>
          }
        </div>
      }
    </section>
  </section>

  <!-- NOTE :: recent billers -->
  <section class="mt-5">
    <div class="row mb-3">
      <div class="col-9 col-lg-10 col-xl-11">
        <span class="fs-medium text-dark fw-bold mb-3" i18n
          >Recent billers</span
        >
      </div>
      <div class="z-3 col-2 col-xl-1 p-0 pe-2 m-0 float-end">
        <div class="col-12">
          <div class="row">
            <div class="col-2 me-4">
              <div
                class="border rounded-circle py-2 px-3"
                (click)="previousBiller()"
                tabindex="0">
                <span
                  class="d-flex justify-content-center"
                  [ngClass]="{
                    'opacity-50 text-secondary': start === 0,
                    'text-dark opacity-100': end >= 5,
                  }"
                  id="navigationButton">
                  <i class="fa-solid fa-arrow-left fa-xs"></i>
                </span>
              </div>
            </div>
            <div class="col-2">
              <div
                class="border rounded-circle py-2 px-3"
                (click)="nextBiller()"
                tabindex="0">
                <span
                  class="d-flex justify-content-center"
                  [ngClass]="{
                    'opacity-50 text-secondary': end === 14,
                    'text-dark opacity-100': end < 14,
                  }"
                  id="navigationButton">
                  <i class="fa-solid fa-arrow-right fa-xs"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- *** -->

    @if (billers) {
      <div
        class="row d-flex justify-content-center w-100 d-md-flex justify-content-sm-start">
        @for (item of first5; track $index) {
          @if (item) {
            <div
              class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-2"
              (click)="openModal(item, $event)"
              tabindex="0">
              <div class="border sm-radius">
                <div class="row">
                  <div class="position-relative">
                    <div class="bg-input m-1 sm-radius">
                      <!-- <span
                       class="favorite-star bg-all-white p-1 rounded-circle position-absolute end-0 me-4 mt-3 d-flex"
                       data-id="123">
                       <i class="fa-solid fa-star text-primary"></i>
                     </span> -->
                      @if (item.lookup_image) {
                        <div class="col-12" style="height: 178px">
                          <img
                            src="{{ item.lookup_image }}"
                            class="w-100 h-100 object-fit-cover sm-radius"
                            alt="billerImg" />
                        </div>
                      } @else {
                        <span class="d-flex justify-content-center">
                          <i
                            class="fa-solid fa-box-open fa-5x my-5"
                            style="color: #ffffff"></i>
                        </span>
                      }
                    </div>
                  </div>
                </div>
                <div class="row ms-0 mt-2">
                  <h6 class="fs-x-small" i18n>
                    {{ item.lookup_title }} ({{ item.lookup_subtitle }})
                  </h6>
                </div>

                <div class="row ms-0">
                  <div class="col-8">
                    <p class="text-secondary fs-x-small" i18n>Category</p>
                  </div>
                </div>
              </div>
            </div>
          }
        }

        <!-- ********************************* -->
      </div>
    }
    <div *ngIf="!billers">
      <div class="row ms-2">
        @for (item of [1, 2, 3, 4]; track $index) {
          <div class="col-lg-3 col-md-2 col-sm-4 col mb-2">
            <app-skeleton
              height="140px"
              width="170px"
              classes="sm-radius"></app-skeleton>
            <div>
              <app-skeleton
                height="10px"
                width="30px"
                classes="sm-radius"
                appearance="line"></app-skeleton>
            </div>
            <div>
              <app-skeleton
                height="10px"
                width="50px"
                classes="sm-radius"
                appearance="line"></app-skeleton>
            </div>
          </div>
        }
      </div>
    </div>
  </section>

  <!--NOTE :: Recent merchant -->
  <section class="mb-5">
    <section class="mb-5">
      <div class="row mt-4 pe-0 d-flex justify-content-between">
        <div class="col-9 col-lg-10 col-xxl-11">
          <p>
            <span class="text-primary" style="font-size: 10px"> </span>
            <span class="fs-5 text-dark" i18n><b> Recent merchants</b></span>
          </p>
        </div>
        <div class="z-3 col-2 col-xl-1 p-0 pe-2 m-0 float-end">
          <div class="col-12">
            <div class="row">
              <div class="col-3 me-4">
                <div
                  class="border rounded-circle py-2 px-3"
                  (click)="previousMerchant()"
                  tabindex="0">
                  <span
                    class="d-flex justify-content-center"
                    [ngClass]="{
                      'opacity-50 text-secondary': start === 0,
                      'text-dark opacity-100': end >= 5,
                    }"
                    id="navigationButtonMerchant">
                    <i class="fa-solid fa-arrow-left fa-xs"></i>
                  </span>
                </div>
              </div>
              <div class="col-3">
                <div
                  class="border rounded-circle py-2 px-3"
                  (click)="nextMerchant()"
                  tabindex="0">
                  <span
                    class="d-flex justify-content-center"
                    [ngClass]="{
                      'opacity-50 text-secondary': end === 20,
                      'text-dark opacity-100': end < 20,
                    }"
                    id="navigationButtonMerchant">
                    <i class="fa-solid fa-arrow-right fa-xs"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- when the search has no outcomings -->
      <div
        class="d-flex flex-column align-items-center mt-2"
        *ngIf="merchants && merchants.length === 0">
        <span class="empty-state-icon" style="font-size: 40px; opacity: 0.5">
          <i class="fa-solid fa-face-meh"></i>
        </span>
        <b class="empty-state-icon text-md" style="opacity: 0.5" i18n>
          No Merchant Found
        </b>
      </div>
      <div
        *ngIf="merchants"
        class="row d-flex justify-content-center d-md-flex justify-content-sm-start">
        <div
          class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-2 position-relative"
          *ngFor="let merchant of recentMerchant; let i = index"
          tabindex="0">
          <div class="w-100">
            <app-merchant-card [merchant]="merchant"> </app-merchant-card>
            <!-- (merchantInfoOutput)="getMakeFavoriteResponse($event)"> -->
            <!-- [favorite_merchant_making]="favorite_merchant_making" -->
          </div>
        </div>
      </div>
      <div class="row ms-2 merchant" *ngIf="!merchants">
        <div
          class="col-lg-3 col-md-2 col-sm-4 col mb-2"
          *ngFor="let _ of [1, 2, 3, 4]">
          <app-skeleton
            height="140px"
            width="170px"
            classes="sm-radius"></app-skeleton>
          <div>
            <app-skeleton
              height="10px"
              width="30px"
              classes="sm-radius"
              appearance="line"></app-skeleton>
          </div>
          <div>
            <app-skeleton
              height="10px"
              width="50px"
              classes="sm-radius"
              appearance="line"></app-skeleton>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
