main {
  min-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.less-grey {
  color: rgb(128, 126, 126);
  font-weight: 550;
}

.line-height {
  line-height: 30px;
}

.width-100px {
  width: 100px;
}
