dialog::backdrop {
  background: rgba(17, 17, 17, 0.5);
}
dialog {
  z-index: -1;
}
dialog[open] {
  animation: show 0.5s ease normal;
}

.popup-size {
  min-width: 300px;
  min-height: 200px;
}
.loader-size {
  .spinner-border {
    --bs-spinner-width: 2.5rem;
    --bs-spinner-height: 2.5rem;
    --bs-spinner-animation-speed: 0.4s;
  }
  height: 100px;
  width: 150px;
}

@keyframes show {
  from {
    scale: 1.1;
    opacity: 0.5;
    transform: translateY(-50%);
  }
  to {
    scale: 1;
    opacity: 1;
    transform: translateY(0%);
  }
}

#alert {
  transform: translateX(70%);
  opacity: 0;
  bottom: 5%;
  right: 2%;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000;
  height: 80px;
  .alert-body {
    min-width: 300px;
  }
  &.show {
    transform: translateX(0);
    opacity: 1;
  }
  &.hide {
    transform: translateX(70%);
    opacity: 0;
  }
}
