.profilePic {
  height: 114px;
  width: 114px;
  min-height: 114px;
  min-width: 114px;

  img {
    width: 100%;
    height: 100%;
  }
}

.credBadge {
  top: -17px;
}

.prof {
  right: 4px;
  top: 4px;
}

.prof1 {
  width: 118px;
  height: 118px;
  min-width: 118px;
  min-height: 118px;
}

.prof1 .title {
  background-color: rgba(0, 0, 0, 0.3);
}
