
.cliped {
    position: relative;
    width: 225px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #e3bfc6;
    min-height: 80px;
    clip-path: polygon(95% 0, 99% 50%, 95% 100%, 0 100%, 0 0%);
}
.cliped2 {
    position: relative;
    width: 205px;
    background-color: rgba(229, 242, 255, 1);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    min-height: 80px;
    clip-path: polygon(95% 0, 99% 50%, 95% 100%, 0 100%, 0 0%);
}



.selected{
background:#ffffff;
}


.borders{
    border-left: 5px solid rgb(129, 0, 25)
}
.closedAccount{
    border: 2px solid #C4C4C4
}
.blockedAccount{
    border: 2px solid #a11717 
}
.borderBottom{
    border-bottom: 1px solid #c4c4c4
}
.border-gray{
    border-left:3px solid #C4C4C4
}