.checkbox-label {
  width: 68px;
  height: 30px;

  .forSunIcon {
    transition: opacity 0s, left 0.3s;
    left: 0;
    &.active {
      left: 39px;
    }
  }
  .forMoonIcon {
    transition: opacity 0s, right 0.3s;
    right: 39px;
    &.active {
      right: 0;
    }
  }
}
