<div
  (click)="onThemeSwitchChange()"
  tabindex="0"
  class="row justify-content-between border checkbox-label bg-secondary position-relative rounded-pill"
  role="button"
  [ngClass]="{ 'bg-secondary': mode === 'dark' }">
  <div
    class="col-4 h-100 forMoonIcon bg-dark position-absolute rounded-pill"
    [ngClass]="{
      'opacity-100 active': mode === 'dark',
      'opacity-0': mode === 'light',
    }">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <i class="fa-solid fa-moon moonIcon fs-6 text-white"></i>
    </div>
  </div>
  <div
    class="col-4 h-100 forSunIcon bg-white border position-absolute rounded-pill"
    [ngClass]="{
      'opacity-0': mode === 'dark',
      'opacity-100 active': mode === 'light',
    }">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <i class="far fa-sun sunIcon fs-6 text-black"></i>
    </div>
  </div>
</div>
