<div class="d-flex h-100">
  <section class="bg-white w-aside p-2 pt-4 d-flex flex-column">
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      role="button"
      routerLink="/w/workstation/market/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="text-all-dark bg-primary-3"
      i18n>
      <small>HOME</small>
    </a>
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      routerLink="/w/workstation/market/payment-reports"
      routerLinkActive="text-all-dark bg-primary-3"
      role="button"
      i18n>
      <small>PAYMENT REPORT</small>
    </a>
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      routerLink="/w/workstation/market/transfer-reports"
      routerLinkActive="text-all-dark bg-primary-3"
      role="button"
      i18n>
      <small>TRANSFER REPORT</small>
    </a>
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      role="button"
      i18n>
      <small>SLATE</small>
    </a>
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      role="button"
      i18n>
      <small>CLIENT ORDER</small>
    </a>
    <a
      class="py-1 mb-3 text-secondary px-4 xx-lg-radius bg-hover-primary-3"
      role="button"
      i18n>
      <small>POINT OF SALE</small>
    </a>
  </section>
  <section class="d-flex flex-column flex-grow-1">
    <section class="row mx-0 bg-secondary p-4">
      <div class="col-md-6 text-end">
        <form class="d-flex align-items-center col-md-10 ms-auto">
          <input type="text" class="form-control col me-2" />
          <button type="submit" class="px-4 btn bg-primary">
            <b class="text-all-white fs-medium">Search Merchant</b>
          </button>
        </form>
      </div>
      <div class="col-5 text-end">
        <b class="text-primary fs-large">My Market</b>
      </div>
    </section>
    <main class="flex-grow-1 px-2 px-md-4 py-2 overflow-y-auto ms-1">
      <router-outlet></router-outlet>
    </main>
  </section>
</div>
