.InputSearch{
    outline: none; 
    box-shadow: none; 
    border: none
}
.HDiv{
    height: 190px;
    width: 172px;
}
.HLine{
    height: 0.1rem;
}
.padIcon{
    padding-left: 8em;
    margin-top: 2.5rem;
}
