.HDiv {
  width: 200px;
  height: 230px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.HLine {
  height: 0.1rem;
}
.padIcon {
  padding-left: 8em;
  margin-top: 2.5rem;
}

.imgSize {
  width: 69px;
  height: 37px;
}
.iconSize {
  width: 30px;
  height: 30px;
}

.borderDashed {
  border-bottom: 1px dashed #c4c4c4;
}
