<main class="p-2 h-100">
  <header
    class="d-sm-flex align-items-center justify-content-center mb-2 pb-2 border-bottom mx-0">
    <div
      class="col-sm-9 col-md-7 col-xl-5 me-auto mb-2 d-flex align-items-center">
      <form
        class="input-group"
        [ngClass]="{
          'active ': isSearchInputNotEmpty() || isInputFocused,
        }">
        <input
          type="text"
          class="form-control"
          placeholder="Search.."
          aria-label="Search.."
          aria-describedby="basic-addon2"
          [formControl]="searchInput"
          (focus)="isInputFocused = true"
          (blur)="isInputFocused = false"
          (keydown.enter)="onSearchEnter($event)" />
        <div class="input-group-append">
          <span class="input-group-text btn bg-dark" id="basic-addon2"
            ><i class="fa-solid fa-magnifying-glass fa-xl text-light"></i
          ></span>
        </div>
      </form>
      <div
        class="d-flex align-items-center bg-secondary rounded-pill py-1 px-3 ms-4">
        <span class="me-2" i18n>Filter</span>
        <span><i class="fa-solid fa-bars-staggered"></i></span>
      </div>
    </div>
    <span
      class="clickable d-flex align-items-center justify-content-end justify-content-sm-start mt-2 mt-sm-0"
      routerLink="/m/mymarket/invoice">
      <span class="fs-medium me-2">
        <i class="fa-solid fa-arrow-left"></i
      ></span>
      <b class="fs-medium" i18n>Back</b>
    </span>
  </header>

  <section class="h-100">
    @if (!singleInvoices && isLoading) {
      <div class="d-flex justify-content-center align-items-center h-50">
        <div class="spinner-border" role="status">
          <span i18n class="visually-hidden">Loading...</span>
        </div>
      </div>
    } @else if (singleInvoices && !isLoading) {
      <div class="d-flex flex-wrap gap-4">
        @for (singleInvoice of singleInvoices; track $index) {
          @if (singleInvoice && singleInvoice.provider !== null) {
            <div
              class="invoice-card sm-radius position-relative d-flex flex-column"
              role="button"
              (click)="openPopup(singleInvoice)"
              tabindex="0"
              data-bs-toggle="modal"
              data-bs-target="#invoicesModal"
              #closeModal>
              <section class="position-relative p-2 flex-grow-1">
                <section class="d-flex justify-content-between">
                  <div
                    class="rounded-circle warehouse-icon d-flex justify-content-center align-items-center p-1 bg-secondary fs-small">
                    <i class="fa-solid fa-warehouse text-secondary"></i>
                  </div>
                  @if (singleInvoice.payment_status) {
                    <span
                      class="fs-x-small fw-bold rounded-pill py-1 px-3 border border-warning text-warning d-flex justify-content-center align-items-center">
                      {{ singleInvoice.payment_status.title }}
                    </span>
                  }
                </section>

                <section class="d-flex flex-column mt-2">
                  <b class="fs-small">
                    {{ singleInvoice.merchant_teller.merchant.merchant_title }}
                  </b>
                  <span class="fs-x-small mt-1">
                    {{ singleInvoice.merchant_teller.merchant.code }}
                  </span>
                  <div class="text-primary mt-2">
                    <app-amount-visibility
                      [amount]="singleInvoice.total_amount"
                      customClasses="fs-medium fw-bold"
                      [alwaysShowAmount]="true"
                      [currency]="'BIF'"></app-amount-visibility>
                  </div>
                </section>
                <span
                  class="text-primary opacity-50 position-absolute receipt-icon fs-small">
                  <i class="fa-solid fa-receipt"></i>
                </span>
              </section>

              <section class="bg-secondary sm-radius rounded-top-0 p-2">
                <div class="d-flex flex-column">
                  @for (order of singleInvoice.orders; track $index) {
                    <div class="d-flex">
                      <span class="me-2"><i class="fa-solid fa-box"></i></span>
                      <small class="text-truncate text-secondary fw-bold">{{
                        order.product.name
                      }}</small>
                    </div>
                    <div class="text-truncate fs-small text-secondary mt-1">
                      {{ order.element_metadata.original_data.quantity }}
                      {{ order.product.measure.suffix ?? '---' }}
                    </div>
                  }
                </div>
              </section>
            </div>
          }
        }
      </div>
    }
    @if (!isLoading && singleInvoices && singleInvoices.length === 0) {
      <div class="text-center">
        <app-empty-state
          [searchTerm]="'single invoice'"
          [searchType]="'list'"></app-empty-state>
      </div>
    }

    @if (invoicesCount > 10) {
      <div class="mt-5 mb-5 pt-5 text-center">
        <app-pagination
          [isLoading]="isLoading"
          [totalData]="invoicesCount"
          [pageLimit]="pagination.filters.limit"
          (paginationChange)="onPaginationChange($event)">
        </app-pagination>
      </div>
    }
  </section>

  @if (is_teller_admin) {
    <div
      class="modal fade arounded"
      id="invoicesModal"
      data-mdb-backdrop="false">
      <div class="modal-dialog sm-radius modal-dialog-centered">
        <div class="modal-content bg-primary-3 x-lg-radius">
          <div class="modal-header p-2 bg-primary-3 border-0">
            <div class="row col-11 mx-auto p-2 text-secondary">
              <div
                class="col-2 p-0"
                role="button"
                data-bs-dismiss="modal"
                aria-label="Close">
                <i class="fa-solid fa-arrow-left fs-5 me-2" role="button"></i>
              </div>
              <div class="col-6 p-0 text-center fw-bold" i18n>
                Invoice Details
              </div>
              <div class="col-4 p-0 text-end">
                <img
                  class="ihela-logo"
                  src="/images/logo/ihela-ryanje.png"
                  alt="logo ihela" />
              </div>
            </div>
          </div>
          <div class="modal-body bg-white lg-radius p-2">
            @if (selectedInvoice !== null) {
              <div class="row col-11 mx-auto mb-3">
                <div
                  class="p-2 col-3 mb-3 mt-2 fs-normal fw-bolder xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">
                  {{ selectedInvoice.payment_status.title }}
                </div>
                <div class="col-11 mb-2 fs-medium fw-bold">
                  <b i18n>INV #{{ selectedInvoice.code }}</b>
                </div>

                <div class="p-0 h-50">
                  <div class="row mx-auto mt-2 mb-3 border sm-radius">
                    <div
                      class="warehouse-icon d-flex justify-content-center m-3 p-4 align-items-center bg-secondary rounded-circle">
                      <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 mt-3 ms-2">
                      <div class="fw-bold fs-small">
                        {{
                          selectedInvoice.merchant_teller.merchant
                            .merchant_title
                        }}
                      </div>
                      <div class="fs-small">
                        {{ selectedInvoice.merchant_teller.merchant.code }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row p-0 mx-auto sm-radius bg-secondary">
                  <div class="mb-2">
                    <span i18n class="fs-small fw-bold mt-3" i18n>Item</span>
                  </div>
                  <div class="col-11 ms-3 borderDashed mb-2"></div>
                  <div class="row mx-0 mb-2">
                    <div class="col-6">
                      @for (order of selectedInvoice.orders; track $index) {
                        @if (order.product) {
                          <span class="fw-bold">{{ order.product.name }}</span>
                          <br />
                        }
                        @if (order.element_metadata.original_data) {
                          <span class="fs-small text-secondary">
                            {{ order.element_metadata.original_data.quantity }}
                            {{ order.product.measure.suffix ?? '----' }}
                          </span>
                          <br />
                          <span class="fs-small text-secondary">
                            {{ order.product.price }}/{{
                              order.product.measure.suffix ?? ''
                            }}
                          </span>
                        }
                      }
                    </div>
                    <div class="col-5 mt-2">
                      <span class="text-primary fs-normal fw-bolder">
                        <app-amount-visibility
                          [customClasses]="'fs-normal'"
                          [amount]="selectedInvoice.total_amount"
                          [alwaysShowAmount]="true"
                          [currency]="'BIF'"></app-amount-visibility>
                      </span>
                    </div>
                  </div>
                  <div class="col-11 ms-3 borderDashed mb-2"></div>
                  <div class="d-flex flex-column">
                    <span class="fs-normal fw-bold">
                      {{
                        selectedInvoice.merchant_teller.merchant.merchant_title
                      }}
                    </span>
                    <span class="mb-4 fs-normal fw-bolder text-secondary" i18n>
                      Done by Teller NO{{ selectedInvoice.merchant_teller.id }}
                    </span>
                  </div>
                </div>
              </div>
            }
            @if (
              selectedInvoice &&
              selectedInvoice.payment_status.title === 'Initial'
            ) {
              <div class="col-11 mx-auto">
                <button
                  i18n
                  role="button"
                  class="btn bg-primary fw-bold sm-radius text-light text-center fs-medium w-100"
                  (click)="enterPin()"
                  tabindex="0">
                  Validate
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</main>
