<section class="searchMenu w-100 position-relative">
  @if (selectedItem) {
    <div
      class="d-flex border rounded p-2 w-100 d-flex justify-content-between align-items-center bg-white">
      <div style="line-height: 18px me-2">
        <div class="d-flex">
          @if (selectedItem.lookup_image && showProfile) {
            <div
              style="width: 50px; height: 50px"
              class="rounded-2 overflow-hidden d-flex align-items-center justify-content-center bg-secondary border">
              <img
                [src]="selectedItem.lookup_image"
                class="image"
                alt="profile" />
            </div>
          }

          @if (!selectedItem.lookup_image && showProfile) {
            <div
              style="width: 50px; height: 50px"
              class="rounded-2 overflow-hidden d-flex align-items-center justify-content-center bg-secondary border">
              <i class="fa-solid fa-mountain-sun fa-lg"></i>
            </div>
          }
          <div class="text-dark center ms-2 fw-bold">
            <span>{{ selectedItem.lookup_title }}</span
            ><br />
            <span class="subtitle">{{ selectedItem.lookup_subtitle }} </span>
          </div>
        </div>
      </div>
      <span class="text-danger clickable" (click)="deselect()" tabindex="0">
        <i class="fa-regular fa-circle-xmark"></i>
      </span>
    </div>
  }
  <!-- <label for="validationTooltipUsername">Username</label> -->
  @if (option === 'lookup' && !selectedItem) {
    <div>
      <input
        type="text"
        class="form-control lg-radius input text-dark global-border-input"
        id="validationTooltipUsername"
        placeholder="{{ label }}"
        aria-describedby="validationTooltipUsernamePrepend"
        [disabled]="isLoading"
        required
        [formControl]="lookup"
        (keydown.enter)="DoLookup()"
        style="background-color: transparent !important; height: 45px" />
      @if (!isLoading) {
        <button
          (click)="DoLookup()"
          class="bg-transparent position-absolute search-btn text-dark"
          id="validationTooltipUsernamePrepend"
          type="submit">
          <i class="fa-solid fa-search fs-7"></i>
        </button>
      } @else {
        <span
          class="bg-transparent position-absolute search-btn text-dark"
          id="validationTooltipUsernamePrepend">
          <i class="fa-solid fa-pulse fa-circle-notch"></i>
        </span>
      }
    </div>
  }

  @if (option === 'autocomplete') {
    <div>
      @if (!selectedItem) {
        <div class="form-floating">
          <input
            id="menu_group"
            class="input form-control autocomplete"
            placeholder="client"
            (focus)="initAutocomplete()"
            (keyup)="initAutocomplete()"
            (click)="showAutoComplete = true"
            [formControl]="search"
            (input)="DoAutocomplete()"
            autocomplete="false" />
          <label for="menu_group" class="form-label mx-3">{{ label }}</label>
        </div>
      }

      @if (showAutoComplete) {
        <div
          class="autoCompleteItems bg-white shadow rounded w-100 shadow py-2 mt-2">
          <div class="list mx-1">
            <div class="d-flex">
              <b class="text-secondary">{{ label }} List</b>
              <button
                style="right: 0 !important; position: absolute"
                class="me-2 bg-transparent border-0"
                (click)="close()">
                <span class="ms-1">
                  <i class="fa-solid fa-circle-xmark text-danger"></i>
                </span>
              </button>
            </div>

            @if (isLoading) {
              <span class="text-dark ms-5"
                ><i class="fa-solid fa-pulse fa-circle-notch"></i>
              </span>
            }

            <!-- not found message -->
            @if (!isLoading && items.length === 0) {
              <small class="py-3 text-center">
                <b class="text-secondary" i18n>Data Not Found</b>
              </small>
            }

            @if (!isLoading && items) {
              <div class="d-flex flex-column gap-1">
                @for (item of items; track item) {
                  <div
                    tabindex="0"
                    class="item py-1 px-3 bg-secondary text-dark rounded border-0 w-100"
                    (click)="selectItem(item)">
                    <div>
                      <div class="d-flex bg-secondary">
                        @if (showProfile && item.lookup_image) {
                          <div
                            style="width: 50px; height: 50px"
                            class="rounded-2 overflow-hidden d-flex align-items-center justify-content-center bg-white border">
                            <img
                              [src]="item.lookup_image"
                              class="image"
                              alt="profile" />
                          </div>
                        }

                        @if (showProfile && !item.lookup_image) {
                          <div
                            style="width: 50px; height: 50px"
                            class="rounded-2 overflow-hidden d-flex align-items-center justify-content-center bg-white border">
                            <i class="fa-solid fa-mountain-sun fa-lg"></i>
                          </div>
                        }
                        <div class="center ms-2">
                          <span>{{ item.lookup_title }}</span
                          ><br />
                          <span class="subtitle">{{
                            item.lookup_subtitle
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</section>
