input {
  height: 45px;
}

.autoCompleteItems {
  max-height: 250px;
  .list {
    gap: 0.3rem 0;
    .item {
      &:hover {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
      }
    }
  }
}

.search-btn {
  right: 10px;
  top: 25%;
  border: none;
}

.profile {
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
}
