input.autocomplete {
  height: 45px;
}

.autoCompleteItems {
  position: absolute;
  z-index: 10;
  max-height: 250px;
  overflow: auto;
  transition: 0.3s ease-in;
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    .item {
      cursor: pointer;
      &:hover {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
        transition: 0.2s ease-out;
      }
    }
  }
}

.search-input {
  height: 45px;
}
.search-btn {
  right: 10px;
  top: 25%;
  border: none;
}

.pic {
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
}
