

.number-action-container {
  .actions-popup {
      position: absolute;
      z-index: 10;
      top: -45%;
      left: 43px;
      .close-btn {
          position: absolute;
          top: -9%;
          right: -6%;
          cursor: pointer;
      }
  }
}

.is-clickable {
  cursor: pointer;
}

.profifPicture {
  width: 146px;
  height: 154px;
  margin-left: 25px;
}
.penIcon {
  width: 35px;
  height: 35px;
  border: 5px solid #058519;
  border-radius: 50%;
}
.greenColor{
  color:#058519
}
