<div
    class="bg-secondary mt-5 ms-md-5 ps-xl-3 col-md-10 col-xl-7 p-3 sm-radius "   
>

<div>
    <div class="bg-white p-3 lg-radius">
        <div class="d-flex justify-content-between">
            <span class="fw-bold text-dark text-md" i18n>Account</span
            ><br />
            <div
                class="penIcon d-flex justify-content-center align-items-center"
            >
                <i class="fa-solid fa-pen text-success text-sm"></i>
            </div>
        </div>
 
        
    </div>
</div>