<div class="container-fluid position-relative layout-height p-0">
  <!-- Top Desktop Header section -->
  <section class="sticky-top">
    <app-header></app-header>
  </section>

  <!-- OnlineBanking Main Container -->
  @if (
    plateform === 'onlineBanking' ||
    plateform === 'newsFeed' ||
    plateform === 'marketPlace' ||
    plateform === 'myMarket' ||
    plateform === 'onamob'
  ) {
    <div
      class="d-flex flex-column flex-lg-row overflow-hidden h-without-header bg-white">
      <!-- Desktop Aside Menu -->
      <aside
        class="d-none d-lg-block overflow-y-auto position-relative aside-menu z-5 h-100">
        <app-aside-menu></app-aside-menu>
      </aside>

      <!-- Main Content and Right Sidebar -->
      <section class="flex-grow-1 position-relative w-100">
        <!-- Sub-header -->
        <div class="bg-white d-lg-block d-none p-2">
          <app-sub-header></app-sub-header>
        </div>

        <!-- Content below Sub-header -->
        <div
          class="d-flex flex-column flex-lg-row flex-grow-1 overflow-y-auto h-100"
          style="max-height: calc(100vh - 100px)">
          <!-- Main Content -->
          <div class="p-1 pb-3 pt-2 flex-grow-1 position-relative">
            <router-outlet></router-outlet>
          </div>

          <!-- Right Sidebar Menu -->
          <aside
            class="ps-2 flex-shrink-0 w-25 d-none d-lg-flex flex-column sticky-top overflow-y-auto h-100 z-0">
            <div class="flex-grow-1">
              <app-aside-bar></app-aside-bar>
            </div>
          </aside>
        </div>
      </section>
    </div>
  }

  @if (plateform === 'bankingSettings') {
    <div class="d-flex overflow-y-auto bg-white h-without-header">
      <!-- Desktop settings Aside Menu -->
      <aside
        class="d-none d-lg-block overflow-y-auto position-relative aside-menu z-5">
        <app-settings-aside-menu></app-settings-aside-menu>
      </aside>

      <aside class="d-lg-none me-2">
        <app-settings-aside-menu></app-settings-aside-menu>
      </aside>

      <div class="w-100 h-without-header overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  }

  <!-- Mobile Bottom Icons -->
  <section class="d-lg-none bg-primary sticky-bottom z-5">
    <app-switch-plateform-icons></app-switch-plateform-icons>
  </section>
</div>
