.topup {
  width: 20px;
}
// .ihela-image {
//     width: 70px;
//     height: 35px;
// }
// .short {
//     width: 30px;
//     height: 28px;
// }

.wallCard {
  height: 210px;
  width: 365px;
}

.reference {
  left: -5px;
  z-index: 2;
}

.mask {
  left: -37px;
}

.secondCard {
  max-width: 285px;
}

.circ1 {
  height: 200px;
  width: 200px;
  // background: linear-gradient(
  //   159.8deg,
  //   #da002a 5.54%,
  //   rgba(27, 0, 5, 0) 78.86%
  // );
  // background: linear-gradient(to bottom, #DA002A, #1B0005);
  background: linear-gradient(159.8deg, #da002a, #1b0005);
  top: 70px;
  left: -20px;
}

.circ2 {
  height: 40px;
  width: 40px;
  background: linear-gradient(
    159.8deg,
    #da002a 5.54%,
    rgba(27, 0, 5, 0.3) 78.86%
  );
  top: 30px;
  left: 200px;
}

.card {
  height: 92.5%;
  width: 100%;
}

.button {
  width: 48px;
  height: 35px;
  background: #810019;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index: 1;
}

.circle {
  height: 20px;
  width: 20px;
}

.logo {
  right: -1px;
  top: 10.7px;
  width: 80px;
  height: 40px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(
    270.45deg,
    rgba(218, 0, 42, 0.3) 0.3%,
    rgba(255, 255, 255, 0.17) 70.72%
  );
}

.mosaic {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 45px;
}

.btnBack {
  background: rgba(255, 255, 255, 0.21);
}

.btnBack:hover {
  background: rgba(255, 255, 255, 0.35);
}

.top {
  padding-left: 13px;
}

.middle {
  padding-left: 30px;
}

.middle-2 {
  padding-left: 33px;
}

.bottom {
  padding-left: 15px;
}

.top-rectangle {
  width: 26.4px;
  height: 12px;
  opacity: 0.15;
  background: linear-gradient(
    3.83deg,
    rgba(129, 0, 25, 0.7) 2.94%,
    rgba(129, 0, 25, 0.6) 60.34%,
    rgba(129, 0, 25, 0) 101.75%
  );
}

.middle-rectangle1 {
  width: 27px;
  height: 12px;
  opacity: 0.2;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.middle-rectangle2 {
  width: 20px;
  height: 12px;
  opacity: 0.15;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.middle-rectangle3 {
  width: 26.4px;
  height: 12px;
  opacity: 0.15;
  background: linear-gradient(
    3.83deg,
    rgba(129, 0, 25, 0.7) 2.94%,
    rgba(129, 0, 25, 0.6) 60.34%,
    rgba(129, 0, 25, 0) 101.75%
  );
}

.middle-rectangle4 {
  width: 28px;
  height: 12px;
  opacity: 0.3;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.middle-rectangle5 {
  width: 18px;
  height: 12px;
  opacity: 0.15;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.middle-rectangle6 {
  width: 23.1px;
  height: 12px;
  opacity: 0.2;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.bottom-rectangle1 {
  width: 24px;
  height: 12px;
  opacity: 0.3;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}
.bottom-rectangle2 {
  width: 24px;
  height: 12px;
  opacity: 0.3;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}
.bottom-rectangle3 {
  width: 14px;
  height: 12px;
  opacity: 0.3;
  background: linear-gradient(
    92.66deg,
    #810019 1.78%,
    rgba(129, 0, 25, 0.65) 95.95%
  );
}

.cardButtons {
  bottom: 8px;
  left: 18px;
}

.overmask {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.3);
}
