<div class="sm-radius p-5 bg-secondary min-h  mt-5  " >
    <div class="row  col-11">
        <div class="col">
           <div>
              <div class="border-r px-2 border-5 ">
               <div class="fs-large fw-bold  font-calibri ">
                   Bibyento Bundi
               </div>
               <div class="fw-bold fs-medium font-calibri">
                   53 members
               </div>
              </div>
            
           </div>
   
        
           <div class="mt-4 ">
            <div>
               <div class="fw-bold fs-small font-calibri text-secondary">
                Account total balance
               </div>
               <div class="fw-bold fs-medium font-calibri">
                   1000 BIF
               </div>
            </div>
           </div>
           <div class="mt-4 ">
               <div>
                  <div class="fw-bold fs-small font-calibri text-secondary">
                   Penalties
                  </div>
                  <div class="fw-bold fs-medium font-calibri">
                      5/5/2340
                  </div>
               </div>
              </div>
              <div class="mt-4 ">
                <div>
                   <div class="fw-bold fs-small font-calibri text-secondary">
                    Credits capacity
                   </div>
                   <div class="fw-bold fs-medium font-calibri">
                    50000
                   </div>
                </div>
               </div>
          
        </div> 
        <div class="col mt">
            <div class="mt-4 ">
                <div>
                   <div class="fw-bold fs-small font-calibri text-secondary">
                    Account total balance
                   </div>
                   <div class="fw-bold fs-medium font-calibri">
                       1000 BIF
                   </div>
                </div>
               </div>
               <div class="mt-4 ">
                <div>
                   <div class="fw-bold fs-small font-calibri text-secondary">
                    Credit
                   </div>
                   <div class="fw-bold fs-medium font-calibri">
                       1000 BIF
                   </div>
                </div>
               </div>
            </div>

            <div class=" col mt d-grid ">
                
                  <div  class=" d-flex align-items-center gap-4">
                    <div class="bg-primary text-all-white rounded
                    fs-medium fw-bold p-2 d-flex align-items-center justify-content-center boutton-w ">
                    <div>
                       Contribution
                    </div>
                   </div>

                   <div class="bg-primary text-all-white rounded
                   fs-medium fw-bold p-2 d-flex align-items-center justify-content-center boutton-w ">
                   <div>
                       Pay Contribution
                   </div>
                  </div>

                  </div>
            

                  <div  class=" d-flex align-items-center gap-4">
                    <div class="bg-primary text-all-white rounded
                    fs-medium fw-bold p-2 d-flex align-items-center justify-content-center boutton-w ">
                    <div>
                       Credit
                    </div>
                   </div>

                   <div class="bg-primary text-all-white rounded
                   fs-medium fw-bold p-2 d-flex align-items-center justify-content-center boutton-w ">
                   <div>
                       Mettings
                   </div>
                  </div>

                  </div>
                 
                </div>

         
              
       </div>
       <hr class="row col-10 mt-4">
       <div class="row col-10 ">
 <div class="d-flex align-items-center justify-content-between ">
    <div class="fs-normal fw-bold  font-calibri">
        
    </div>
    <div>
        <div class="bg-primary rounded fs-medium fw-bold text-all-white px-5 p-2">
            Request
        </div>
    </div>
 </div>
       </div>
     <div class="mt-4">
        <div class="row   d-flex align-items-center  p-2">
            <div class="col-3 fs-normal fw-bold font-calibri  ms-4">
                Members
             </div>
             <div class="col-2 fs-normal fw-bold font-calibri ">
                Balance
             </div>
             <div class="col-2 fs-normal fw-bold font-calibri ">
                Capacity
             </div>
             <div class="col fs-normal fw-bold font-calibri  ">
                Parts
             </div>
             <div class="col fs-normal fw-bold font-calibri ">
                Active 
             </div>
            
             <div class="col fs-normal fw-bold font-calibri ">
                Credit
             </div>
    
             <div class="col fs-normal fw-bold font-calibri ">
                Admin
             </div>
           </div>
    
           <div  class="row  mt-3 d-flex align-items-center   p-2 bg-white rounded ">
            <div class="col-3 ">
                <div class="d-flex align-items-center gap-4">
                    <div class="text-secondary">
                        <i class="fa-solid fa-circle-user fs-2"></i>
                    </div>
                    <div class="d-grid">
                        <div class="fw-bold font-calibri fs-normal">
                            Marie Jane Irakoze 
                        </div>
                        <div class="font-calibri fs-normal text-secondary">
                            000002345
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
               <div class="fs-normal text-secondary">
                40000 BIF
               </div>
            </div>
    
            <div class="col-2">
                <div class="fs-normal text-secondary">
                 40000 BIF
                </div>
             </div>
    
            <div class="col">
                <div class="fs-normal text-secondary">
                 4
                </div>
             </div>
             <div class="col">
               
                <div class="fs-normal fw-bold text-success">
                    Active
                   </div>
             </div>
             <div class="col">
                <div class="fs-normal text-secondary">
                    2
                </div>
             </div>
             <div class="col">
                <i
                class="fa-solid fa-circle-check text-danger"
                
            ></i>
             </div>
           </div> 
     </div>
     <div class="mt-2">
        <div  class="row  mt-3 d-flex align-items-center   p-2 bg-white rounded ">
         <div class="col-3 ">
             <div class="d-flex align-items-center gap-4">
                 <div class="text-secondary">
                     <i class="fa-solid fa-circle-user fs-2"></i>
                 </div>
                 <div class="d-grid">
                     <div class="fw-bold font-calibri fs-normal">
                         Marie Jane Irakoze 
                     </div>
                     <div class="font-calibri fs-normal text-secondary">
                         000002345
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-2">
            <div class="fs-normal text-secondary">
             40000 BIF
            </div>
         </div>
 
         <div class="col-2">
             <div class="fs-normal text-secondary">
              40000 BIF
             </div>
          </div>
 
         <div class="col">
             <div class="fs-normal text-secondary">
              4
             </div>
          </div>
          <div class="col">
             <div class="fs-normal fw-bold text-success">
                 Active
                </div>
          </div>
          <div class="col">
             <div class="fs-normal fw-bold text-secondary">
              4
             </div>
          </div>
          <div class="col">
             <i
             class="fa-solid fa-circle-check text-danger"
             
         ></i>
          </div>
        </div> 
  </div>
     <div class="mt-2">
           <div  class="row  mt-3 d-flex align-items-center   p-2 bg-white rounded ">
            <div class="col-3 ">
                <div class="d-flex align-items-center gap-4">
                    <div class="text-secondary">
                        <i class="fa-solid fa-circle-user fs-2"></i>
                    </div>
                    <div class="d-grid">
                        <div class="fw-bold font-calibri fs-normal">
                            Marie Jane Irakoze 
                        </div>
                        <div class="font-calibri fs-normal text-secondary">
                            000002345
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
               <div class="fs-normal text-secondary">
                40000 BIF
               </div>
            </div>
    
            <div class="col-2">
                <div class="fs-normal text-secondary">
                 40000 BIF
                </div>
             </div>
    
            <div class="col">
                <div class="fs-normal text-secondary">
                 4
                </div>
             </div>
             <div class="col">
                <div class="fs-normal fw-bold text-success">
                    Active
                   </div>
             </div>
             <div class="col">
                <div class="fs-normal fw-bold text-secondary">
                 4
                </div>
             </div>
             <div class="col">
                <i
                class="fa-solid fa-circle-check text-danger"
                
            ></i>
             </div>
           </div> 
     </div>
</div>