<section
  class="d-lg-flex justify-content-between border lg-radius p-2 position-relative bg-white h-100 overflow-y-auto">
  <main class="ps-4">
    <div class="d-flex mt-3">
      <span>
        <span class="text-primary">
          <i class="fa-solid fa-circle fa-xs me-2"></i>
        </span>
        <span class="text-dark mb-2">
          <b i18n> Withdrawal on</b>
        </span>
      </span>
    </div>
    <div class="d-flex mb-4 mt-3" style="height: 50px">
      <div class="col-lg col-md col bg-secondary rounded">
        <div class="row text-dark">
          <div class="col-lg-6 col-md-6 col m-0 p-0 text-center">
            <span
              tabindex="0"
              style="line-height: 37px"
              class=""
              type="button"
              [ngClass]="{
                '': menuSelected !== 'agent',
                'fw-bold': menuSelected === 'agent',
              }"
              (click)="selectMenu('agent')"
              i18n>
              Agent </span
            ><br />
            @if (menuSelected === 'agent') {
              <p
                class="bg-primary ms-4 rounded p-0 m-0 pt-2 text-center"
                style="width: 73%; height: 5px"></p>
            }
          </div>
          <div class="col-lg-6 col-md-6 col m-0 p-0 text-center">
            <span
              style="line-height: 37px; opacity: 0.7"
              class=""
              [ngClass]="{
                '': menuSelected !== 'qrcode',
                'fw-bold': menuSelected === 'qrcode',
              }">
              Qr Code </span
            ><br />
            @if (menuSelected === 'qrcode') {
              <p
                class="bg-primary ms-4 pe-2 rounded p-0 m-0 pt-2"
                style="width: 73%; height: 5px"></p>
            }
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-debit-account
        title="Account to credit"
        (selectedAccount)="getAccountSelected($event)"
        (selectedWallet)="getAccountSelected($event)"
        [isTransactionDone]="transferDone">
      </app-debit-account>
    </div>

    @if (menuSelected === 'agent' && account) {
      <div class="col-lg-8 col-md-8 col mt-3 ms-3">
        <div class="ms-2 text-dark">
          <b i18n>Agent Code</b>
        </div>
        <div class="mt-2">
          <app-lookup
            option="lookup"
            url="/dbs/agents/object_lookup/?lookup_data="
            label="Search by Agent code"
            (selectedItemEvent)="getAgentCode($event)"></app-lookup>
        </div>
      </div>
    }

    <!-- </div> -->
    @if (agent || (menuSelected === 'qrcode' && account)) {
      <div class="col-lg-8 col-md-8 col mt-3">
        <form [formGroup]="withdrawForm" (ngSubmit)="enterPin()">
          <div class="ms-3">
            <div class="mb-3 sm-radius" style="width: 100%">
              <app-amount-field
                (amountEvent)="inputAmount($event)"></app-amount-field>
            </div>
            <div class="mb-3 form-floating">
              <input
                type="text"
                placeholder="Description"
                class="form-control input sm-radius field"
                style="width: 100%; height: 60px"
                formControlName="description" />
              <label class="fs-5 text-dark" for="description"
                ><small i18n> Description</small> <code>*</code></label
              >
            </div>
          </div>
          <div class="text-center ms-3">
            <button
              class="btn bg-primary text-center"
              type="submit"
              [disabled]="!withdrawForm.valid"
              style="border: none; color: white; width: 100px">
              <span i18n><strong>Confirm</strong> </span>
            </button>
          </div>
        </form>
      </div>
    }
  </main>
  <div class="d-flex">
    <span class="float-end me-2">
      <span
        class="d-flex align-items-center"
        [routerLink]="'/b/banking'"
        role="button">
        <span class="me-2"><i class="fa fa-arrow-left"></i></span>
        <b i18n> Back</b>
      </span>
    </span>
  </div>
</section>
