<br /><br /><br />
<form [formGroup]="stepResetPassword">
  <div class="container font-montserrat d-flex justify-content-center pt-5 p-5">
    <div class="row border border-1 lg-radius col-md-10">
      <!-- start step one to reset password-->

      @if (step === 1) {
        <div class="col-md-6 px-5 p-3">
          <div
            class="col d-flex justify-content-center fs-l-medium mt-5 mb-3 pt-5">
            <span class="fw-bold" i18n>Forgot your password?</span>
          </div>

          <div class="form-floating" formGroupName="clientEmail">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              placeholder="email"
              formControlName="email" />
            <label i18n for="email"
              ><i class="fa-solid fa-at text-secondary me-1"></i> Email or phone
              number</label
            >
          </div>
          <div class="col">
            <button
              i18n
              type="submit"
              class="btn mt-4 w-100 bg-primary lg-radius text-white p-3 fw-bold"
              [disabled]="
                !stepResetPassword.controls.clientEmail.valid || isLoadingOTP
              "
              id="submit"
              name="submit"
              (click)="requestOTP()">
              @if (isLoadingOTP) {
                <span
                  ><i class="fa-solid fa-pulse fa-circle-notch fs-4"></i
                ></span>
              } @else {
                Send OTP
              }
            </button>
          </div>
          <div class="col d-flex justify-content-center mt-4 mb-5 fw-bold pb-5">
            <span class="text-primary" role="button" routerLink="/login/"
              >Login</span
            >
          </div>
        </div>
      }

      <!-- end step one to reset password-->

      <!-- start step two to reset password-->
      @if (step === 2) {
        <div class="col-md-6 px-5 p-3" formGroupName="changePassword">
          <div class="d-flex justify-content-end">
            <span
              class="fs-normal"
              tabindex="0"
              role="button"
              (click)="previous()"
              ><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-2"></i>
              Back</span
            >
          </div>
          <div class="col d-flex justify-content-center fs-l-medium mt-5 mb-4">
            <span class="fw-bold" i18n>Reset your password</span>
          </div>

          <div class="form-floating">
            <input
              formControlName="otp"
              type="text"
              class="form-control"
              id="otp"
              placeholder="number" />
            <label class="fs-small" i18n for="otp"
              ><span class="d-flex align-items-center"
                ><img
                  class="me-2"
                  src="images/auth/envelope.svg"
                  width="19"
                  alt="" />
                OTP</span
              >
            </label>
          </div>
          <div class="py-4 d-flex justify-content-center">
            <span>Resend OTP code in 3:00</span>
          </div>
          <div class="form-floating mb-4">
            <app-password-field
              [labelPassword]="true"
              [required]="true"
              [Validator]="true"
              [password]="true"
              (passwordValid)="onPasswordChange($event)"></app-password-field>
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              (keyup)="checkPasswordSimilarity()"
              placeholder="confirmPassword"
              formControlName="confirmPassword" />
            <label class="fs-small" i18n for="confirmPassword"
              ><span
                ><img src="images/auth/lock.svg" width="23" alt="" /> Confirm
                new password</span
              >
            </label>
            @if (
              stepResetPassword.controls.changePassword.value.newPassword !==
                '' &&
              stepResetPassword.controls.changePassword.value
                .confirmPassword !== ''
            ) {
              <div>
                @if (!arePasswordsMatch) {
                  <small class="text-danger" i18n
                    >Passwords are not match</small
                  >
                }
              </div>
            }
          </div>
          <div class="col pb-5">
            <button
              i18n
              type="submit"
              class="btn mt-4 w-100 bg-primary lg-radius text-white p-3 fw-bold mb-5"
              [disabled]="
                !stepResetPassword.controls.changePassword.valid ||
                isLoadingVerificationOTP ||
                !arePasswordsMatch
              "
              (click)="OTPverification()">
              Reset
            </button>
          </div>
        </div>
      }
      <!-- end step two to reset password-->

      <div
        class="col-md-6 p-4 bg text-white d-flex align-items-center justify-content-center text-center">
        <div>
          <span>
            <span i18n class="fs-l-medium fw-bold text-all-white"
              >Safety is our priority</span
            >
            <br />
            <br />
            <span i18n class="fs-normal text-all-white"
              >an OTP code will be sent to you <br />
              by email or SMS.<br />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
