// .border-left-l {
//   border-left: 1px solid #414141;
//   @media screen and (max-width: 991px) {
//     border: 0;
//   }
// }

// .border-left-d {
//   border-left: 1px solid #d9d9d9;
//   @media screen and (max-width: 991px) {
//     border: 0;
//   }
// }

@media screen and (max-width: 991px) {
  .border-start {
    border: 0;
  }
}

.sec {
  min-height: 450px;
}

.w-40 {
  width: 40%;

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.w-60 {
  width: 60%;
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.fs-xxs {
  font-size: 0.5rem;
}
