.selectedTabb {
  background-color: rgb(229, 242, 255);
}
.badge {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.pageLength {
  min-height: 60vh;
}

.loaderContainer {
  height: 400px;
  width: 90%;
}
.mainContent {
  border: 0.5px solid #c4c4c4;
  width: 100%;
  min-height: 60vh;
}

.walletList {
  height: 50vh;
}
.accountsList {
  height: 80vh;
}
