@if (mainConfig && mainConfig.activePlateform !== 'workstation') {
  <div
    class="d-none d-lg-flex fs-4 justify-content-center text-primary justify-content-lg-start h-25">
    <span>
      @if (mainConfig.activePlateform !== 'onamob') {
        <img
          src="/icons/favicon/ihela-fav.ico"
          class="img-fluid clickable"
          style="height: 30px"
          alt="" />
      }
      <!-- @else {

    } -->
    </span>
    @switch (mainConfig.activePlateform) {
      @case ('newsFeed') {
        <span class="opacity-50 ms-1 p-1"
          >Good {{ dayMoment }},
          @if (clientInfo) {
            <span> {{ clientInfo.user.username }}</span>
          }
        </span>
      }
      @case ('marketPlace') {
        <span class="opacity-50 ms-1 p-1">Market Place </span>
      }
      @case ('myMarket') {
        <span class="opacity-50 ms-1 p-1">My Market </span>
      }
      @case ('onlineBanking') {
        <span class="opacity-50 ms-1 p-1">Digital Financial Services </span>
      }
    }
  </div>
}
