@if (mainConfig && mainConfig.activePlateform !== 'workstation') {
  <div
    class="d-none d-lg-flex fs-4 justify-content-center text-primary justify-content-lg-start h-25">
    <span
      [ngClass]="{
        'pt-1': mainConfig.activePlateform === 'onamob',
      }">
      @if (mainConfig.activePlateform !== 'onamob') {
        <img
          src="/icons/favicon/ihela-fav.ico"
          class="img-fluid clickable h-30"
          alt="iHela Banking Image" />
      } @else {
        <img
          src="/images/onamob-dashboard.svg"
          class="img-fluid clickable h-30"
          alt="Onamob" />
      }
    </span>
    @switch (mainConfig.activePlateform) {
      @case ('newsFeed') {
        <span class="opacity-50 ms-1 p-1" i18n
          >Good {{ dayMoment }},
          @if (clientInfo) {
            <span> {{ clientInfo.user.username }}</span>
          }
        </span>
      }
      @case ('marketPlace') {
        <span class="opacity-50 ms-1 p-1" i18n>Market Place </span>
      }
      @case ('myMarket') {
        <span class="opacity-50 ms-1 p-1" i18n>My Market </span>
      }
      @case ('onlineBanking') {
        <span class="opacity-50 ms-1 p-1" i18n
          >Digital Financial Services
        </span>
      }
      @case ('onamob') {
        <span class="opacity-50 ms-1 p-1" i18n>Onamob </span>
      }
    }
  </div>
}
