<aside
  class="w-aside bg-white py-2 px-1 overflow-y-auto d-flex flex-column align-items-center h-100 overflow-x-hidden position-relative">
  <div>
    <app-switch-mode></app-switch-mode>
  </div>
  <section class="mt-4 d-flex flex-column align-items-center flex-grow-1 w-100">
    @for (menu of typeMenus; track $index) {
      <a
        class="d-flex flex-column align-items-center mb-4 sm-radius py-2 p-1 w-100"
        (click)="setLocalSelectedMenu(menu.id)"
        [ngClass]="{
          'text-secondary': !link.isActive,
          'text-all-white': link.isActive,
        }"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="menu.url"
        #link="routerLinkActive"
        routerLinkActive="bg-primary"
        role="button">
        @if (menu.icon) {
          <span class="fs-medium">
            <i class="fa-solid fa-{{ menu.icon }}"></i>
          </span>
        } @else if (menu.image) {
          <span class="icon mb-2">
            <img
              class="image"
              [src]="link.isActive ? menu.image.active : menu.image.disabled"
              alt="{{ menu.name }} icon" />
          </span>
        }
        <b class="fs-x-small" i18n>{{ menu.name }}</b>
      </a>
    }
  </section>
  <section class="mb-3">
    <span class="p-3 bg-erp rounded-circle" role="button" tabindex="0">
      <span class="text-primary">
        <i class="fa-solid fa-door-open"></i>
      </span>
      <!-- <span
        role="button"
        tabindex="1"
        id="logout-tooltip"
        class="position-absolute p-2 sm-radius bg-white px-3">
        <b class="fs-x-small" i18n> Log out Corporate</b>
      </span> -->
    </span>
  </section>
</aside>
