<aside class="w-aside bg-white p-2 h-100">
  <span class="bg-primary lg-radius" style="height: 9px"></span>
  <section class="mt-4 d-flex flex-column align-items-center">
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="icon">
        <img class="image" src="/icons/dashboard.png" alt="" />
      </span>
      <b class="fs-x-small" i18n> Dashboard </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span>
        <i class="fa-solid fa-gauge"></i>
      </span>
      <b class="fs-x-small" i18n> Banking </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="fs-medium">
        <i class="fa-solid fa-store"></i>
      </span>
      <b class="fs-x-small" i18n> Market </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="icon">
        <img class="image" src="/icons/intranet.png" alt="" />
      </span>
      <b class="fs-x-small" i18n> Intranet </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="icon">
        <img class="image" src="/icons/desk.png" alt="" />
      </span>
      <b class="fs-x-small" i18n> Desk </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="icon">
        <img class="image" src="/icons/reporting.png" alt="" />
      </span>
      <b class="fs-x-small" i18n> Reporting </b>
    </a>
    <a class="d-flex flex-column align-items-center text-secondary mb-3">
      <span class="fs-medium">
        <i class="fa-solid fa-chalkboard-user"></i>
      </span>
      <b class="fs-x-small" i18n> Admin </b>
    </a>
  </section>
</aside>
