<form [formGroup]="metaForm" (ngSubmit)="createMetadata()">
  <div class="mt-2 row d-flex ms-4 ps-2 pe-4">
    <div class="form-floating col-lg-3">
      <input
        type="text"
        class="form-control input"
        id="field_title"
        placeholder=" "
        formControlName="field_title" />
      <label for="field_title">Title of the field</label>
    </div>
    <div class="form-floating ms-5 col-lg-3">
      <input
        type="text"
        class="form-control input"
        id="field_name"
        placeholder=" "
        formControlName="field_name" />
      <label for="field_name">Name of field</label>
    </div>
  </div>

  <div class="mt-4 ms-4 ps-2 pe-4">
    <select
      class="sm-radius border bg-white ps-3 form-select field opacity-75"
      formControlName="field_type">
      <option value="" disabled selected>Field Type</option>

      @for (meta of metaTypes; track $index) {
        <option [value]="meta.name" i18n>
          {{ meta.name }}
        </option>
      }
    </select>
  </div>
  <form [formGroup]="attributesForm">
    @if (
      (metaForm.value.field_type &&
        metaForm.value.field_type === 'CharField') ||
      metaForm.value.field_type === 'DecimalField' ||
      metaForm.value.field_type === 'ForeignKey' ||
      metaForm.value.field_type === 'ChoiceField'
    ) {
      <div
        class="bg-secondary sm-radius ms-4 w-65 mt-3 chosen"
        [ngClass]="{ 'w-75': plateform !== 'workStation' }"
        style="min-height: 230px">
        @for (row of keyValues; let i = $index; track $index) {
          <div class="pt-3 d-flex ps-2 pe-4 align-items-center">
            <div class="form-control field">
              {{ row.key }}
            </div>
            <div class="ms-5 form-control field">
              {{ row.value }}
            </div>

            <span
              class="ms-auto text-center me-5 pt-2 ps-auto pe-auto badge-design bg-danger square"
              role="button"
              tabindex="0"
              (click)="deleteFields(i)"
              ><i
                class="fa-solid fa-trash-can fs-large text-danger sm-radius"></i
            ></span>
          </div>
        }

        <div class="pt-3 d-flex ps-2 pe-4 align-items-center">
          @switch (metaForm.value.field_type) {
            @case ('CharField') {
              <select
                class="sm-radius border bg-white ps-3 form-select field opacity-75"
                formControlName="keyValue">
                <option value="" disabled selected>Make a choice</option>

                @for (char of charfield; track $index) {
                  <option [value]="char.value" i18n>
                    {{ char.name }}
                  </option>
                }
              </select>
            }

            @case ('DecimalField') {
              <select
                class="sm-radius border bg-white ps-3 form-select opacity-75 field"
                formControlName="keyValue">
                <option value="" disabled selected>Make a choice</option>
                @for (dec of decimalfield; track $index) {
                  <option [value]="dec.value" i18n>
                    {{ dec.name }}
                  </option>
                }
              </select>
            }

            @case ('ForeignKey') {
              <select
                class="sm-radius border ps-3 form-select bg-white field text-secondary"
                formControlName="keyValue">
                <option value="" disabled selected>Make a choice</option>
                @for (fk of FK; track $index) {
                  <option [value]="fk.value" i18n>
                    {{ fk.name }}
                  </option>
                }
              </select>
            }
            @case ('ChoiceField') {
              <div class="col">
                <input
                  type="text"
                  class="form-control input field"
                  placeholder="Enter a choice"
                  formControlName="keyValue" />
              </div>
            }
          }

          <div class="col pe-5">
            <input
              type="text"
              class="form-control input ms-5 field"
              placeholder="Value"
              formControlName="value" />
          </div>
          <span
            class="ms-5 me-5 ps-2 pt-1 badge-design bg-info square"
            type="button"
            tabindex="0"
            (click)="addFields()"
            [ngClass]="{
              'not-clickable': !attributesForm.valid,
            }"
            ><i class="fa-solid fa-check fs-x-large text-info sm-radius"></i
          ></span>
        </div>
      </div>
    }
  </form>
  <div class="text-center mt-4 w-65">
    <span
      type="button"
      tabindex="0"
      (click)="refreshUpdates.emit('list')"
      class="fw-bold fs-medium text-decoration-underline opacity-75 text-primary"
      i18n>
      Cancel</span
    >
    <button
      class="btn ms-3 bg-primary text-white"
      style="width: 125px"
      type="submit"
      [ngClass]="{
        'not-clickable': isLoading,
      }"
      i18n>
      @if (isLoading) {
        <span><i class="fa-solid fa-spin fa-circle-notch"></i></span>
      } @else {
        <span> Create</span>
      }
    </button>
  </div>
</form>
