<!-- * The center section that contains the icons that help us to switch platform-->
<div class="">
  <!--* The icons to display in online banking plateform-->
  <div class="d-flex justify-content-around justify-content-lg-start">
    <div class="d-flex justify-content-around justify-content-lg-start">
      @for (plateF of plateforms; track $index) {
        <span role="button" title="{{ plateF.title }}" class="px-5">
          <i
            *ngIf="plateF.icon"
            class="{{ plateF.icon }} fs-4 "
            [ngClass]="{
              'bg-light text-primary':
                plateF.plateform === plateform && plateform !== 'workStation',
                'text-white': plateF.plateform !== plateform && plateform !== 'workStation',
                'bg-primary text-light px-3 py-1 mt-1': plateF.plateform === plateform && plateform === 'workStation',
                'text-secondary mt-1': plateF.plateform !== plateform && plateform === 'workStation',
                'sm-radius mt-2 px-4 py-2': plateF.plateform === plateform,
                'mt-3': plateF.plateform !== plateform
                
              
            }"></i>
            <!-- @if(plateF.is_selected == true ) {
              <span role="button" class="" 
          
              >
                <i *ngIf="plateF.icon" class="{{ plateF.icon }} bg-light lg-radius text-danger px-4 py-2 mt-2"></i>
              </span>
            } @else {
              <div>
                <span role="button" class="" (click)="selectPlatform(plateF)">
                  <i *ngIf="plateF.icon" class="{{ plateF.icon }} text-white mt-3" ></i>
                </span>
              </div>
            } -->

          <img
            *ngIf="plateF.image && !plateF.is_selected"
            [ngClass]="{
              'selectedIcon-b':
                plateF.plateform === plateform &&
                plateform !== 'workstation' &&
                plateform !== 'onamob',
              'unselectedIcon-b':
                plateF.plateform !== plateform &&
                plateform !== 'workstation' &&
                plateform !== 'onamob',
              'selectedIcon-o':
                plateF.plateform === plateform && plateform === 'onamob',
              'unselectedIcon-o':
                plateF.plateform !== plateform && plateform === 'onamob',
              'selectedIcon-w':
                plateF.plateform === plateform && plateform === 'workStation',
              'unselectedIcon-w':
                plateF.plateform !== plateform && plateform === 'workStation',
            }"
            src="{{ plateF.image }}"
            style="width: 30px; margin-top: -15%"
            alt="" />
          <img
            *ngIf="plateF.image && plateF.is_selected"
            [ngClass]="{
              'selectedIcon-b':
                plateF.plateform === plateform &&
                plateform !== 'workstation' &&
                plateform !== 'onamob',
              'unselectedIcon-b':
                plateF.plateform !== plateform &&
                plateform !== 'workstation' &&
                plateform !== 'onamob',
              'selectedIcon-o':
                plateF.plateform === plateform && plateform === 'onamob',
              'unselectedIcon-o':
                plateF.plateform !== plateform && plateform === 'onamob',
              'selectedIcon-w':
                plateF.plateform === plateform && plateform === 'workStation',
              'unselectedIcon-w':
                plateF.plateform !== plateform && plateform === 'workStation',
            }"
            src="/assets/images/ihela-b-light.svg"
            style="width: 31px; margin-top: -19%"
            alt="" />
        </span>
      }
    </div>

    <!-- @for (papaya of plateforms; track papaya.plateform) {
        <span role="button" title="{{ papaya.title }}" class="margin-right" >
            @if(papaya.showit ) {
                <i class="{{ papaya.icon }}"></i>

            }@else{
                <img src="{{ papaya.image }}" alt="">
            }
        </span>
       } -->
    <!-- <span role="button" title="Switch On Home" class="margin-right opacity-50">
            <i class="fa-solid fa-house-chimney-user fa-xl"></i>
        </span>
        <span role="button" title="Switch On Banking" class="margin-right opacity-50">
            <img src="/assets/images/ihela-b.svg" alt="">
        </span>
        <span role="button" title="Switch On Onamob" class="margin-right opacity-50">
            <i class="fa-solid fa-mobile-screen-button fa-xl"></i>
        </span>
        <span role="button" title="Switch On My market" class="margin-right opacity-50">
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </span>
        <span role="button" title="Switch On WorkStation" class="margin-right opacity-50">
            <i class="fa-solid fa-desktop fa-xl"></i>
        </span> -->
  </div>
</div>
