#black-bar {
    height: 75px;
}

.workStation {
    margin-left: 122px;
}

.onlineBanking {
    width: 188px;
}
.border-light {
    border: 2px solid #fff;
}

@keyframes anim {
    0% {
        top: 0px;
    }
    100% {
        left: -2px;
    }
}

#close {
    transition: all 1s;
    position: relative;
    top: 0px;
    animation: anim 1s infinite;
}
#cont {
    transition: all 2s ease-in-out;
}
.white {
    color: white;
}

.dark {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    transition: all 0.3s;
    padding: 2px 0px 5px 2px;
}

.light {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.3s;
    padding: 2px 0px 5px 2px;
}

.light::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}
.dark::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0px -5px 0px 0px;
    background-color: black;
    transition: all 0.3s;
}

.checkbox:checked + .switch::after {
    left: 20px;
}
.checkbox:checked + .switch {
    background-color: transparent;
}
.checkbox {
    display: none;
}

.workstationHeaderWidth {
    width: 100vw;
}

.onlineBankingHeaderWidth {
    width: 100vw;
}
.clickable {
    cursor: pointer;
}

.padding {
    padding: 5px 0px 0px 0px;
}

.margin-top {
    margin-top: -35px;
}

.unselectedIcon-b {
    color: #fff;
}

.unselectedIcon-o {
    color: #fff;
}

.selectedIcon-b {
    margin: 0%;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom:4px;
    padding-top: 3px;
    background-color: #FFFFFF;
    width: 150%;
    color: #2070b8;
    @media screen and (max-width: 991px) {
        border: 0;
    }
}

.selectedIcon-o {
    border-bottom: 3px solid #ff9956;
    padding-bottom: 8px;
    width: 150%;
    color: #fff;
    @media screen and (max-width: 991px) {
        border: 0;
    }
}

.unselectedIcon-w {
    color: #bddaf6;
}

.selectedIcon-w {
    border: 1px solid #FFFFFF;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom:4px;
    padding-top: 3px;
    background-color: #FFFFFF;
    width: 150%;
    color: #2070b8;
    @media screen and (max-width: 991px) {
        border: 0;
    }
}

.relative {
    position: relative;
}

.margin-right {
    margin-right: 100px;
    @media screen and (max-width: 991px) {
        margin-right: 0;
    }
}

.profile-card {
    width: 297px;
    height: 349px;
    position: absolute;
    right: 50px;
    z-index: 20;
    border: 0.5px solid rgb(172, 170, 170);
    display: flex;
    flex-direction: column;
}

.profile-picture-container {
    border-radius: 50%;
    width: 87px;
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mt-6 {
    margin-top: 3.5rem;
}
