<div class="container-fluid">
  <div class="row mb-2">
    @if (!selectedProduct) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-5 me-auto mb-2">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search.."
            aria-label="Search"
            [formControl]="search"
            (keydown.enter)="searchProducts(search.value)"
            (input)="searchProducts(search.value)"
            aria-describedby="basic-addon2" />
          <div
            class="input-group-append bg-dark d-flex align-items-center"
            role="button"
            (click)="searchProducts(search.value)"
            tabindex="0">
            @if (!isLoading) {
              <span class="px-3">
                <i class="fa-solid fa-search text-light"></i>
              </span>
            } @else if (isLoading) {
              <span class="px-3">
                <i
                  class="fa-solid fa-pulse px-1 fa-circle-notch text-white"></i>
              </span>
            }
          </div>
        </div>
      </div>
    }
    <div
      class=""
      [ngClass]="{
        'col-12 col-sm-6 col-md-7 col-lg-6 col-xl-7 col-xxl-6':
          !selectedProduct,
        'col-12': selectedProduct,
      }">
      <div class="col-11 col-sm-12 mx-auto">
        <div class="row">
          <div
            class="col-3 col-md-2 col-lg-3 col-xl-2 bg-secondary xx-lg-radius p-1 d-flex justify-content-center me-auto"
            [ngClass]="{
              'd-none d-block': selectedProduct,
            }">
            <div class="d-flex justify-content-center align-items-center">
              <span class="me-2 fw-normal font-calibri fs-normal" i18n
                >Filter</span
              >
              <i class="fa-solid fa-bars-staggered fs-normal fw-bolder"></i>
            </div>
          </div>
          <div
            class="p-1 d-flex align-items-center"
            [ngClass]="{
              'col-2 col-lg-1 ms-auto': selectedProduct,
              'col-6 col-md-8 col-xl-1 justify-content-end': !selectedProduct,
            }"
            role="button"
            (click)="goBack()"
            tabindex="0">
            <i class="fa-solid fa-arrow-left fs-5 me-2" role="button"></i>
            <span class="fw-bolder fs-5" i18n>Back</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-dark row HLine" />
</div>

<div class="container-fluid">
  <!-- products -->
  @if (!selectedProduct) {
    <div
      class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-5">
      @if (isLoading && products) {
        <div>
          <div class="row">
            @for (item of [1, 2, 3]; track $index) {
              <div class="d-grid mb-3 col-auto">
                <div class="d-grid me-3">
                  <span>
                    <app-skeleton
                      height="130px"
                      width="130px"
                      classes="sm-radius"></app-skeleton>
                  </span>
                </div>
                <div class="d-grid">
                  <span class="">
                    <app-skeleton
                      height="10px"
                      width="100px"
                      classes="sm-radius"></app-skeleton>
                  </span>
                  <span class="">
                    <app-skeleton
                      height="10px"
                      width="100px"
                      classes="sm-radius"></app-skeleton>
                  </span>
                </div>
              </div>
            }
          </div>
        </div>
      } @else if (!isLoading && products && products.length > 0) {
        @for (product of products; track $index) {
          <app-product-card
            [product]="product"
            [action]="action"
            [disabledFavoriteAction]="disabledFavoriteAction"
            (selectedProductEvent)="selectProduct($event)"></app-product-card>
        }
      } @else if (products && products.length === 0) {
        <div class="row">
          <span class="col-8 mt-5">
            <app-empty-state [searchType]="searchType"></app-empty-state>
          </span>
        </div>
      }
    </div>
  }
  <!-- product detail -->
  @else if (selectedProduct) {
    <ng-container *ngTemplateOutlet="providers"></ng-container>
  }
  @if (selectedMerchant && selectedProduct) {
    <ng-container *ngTemplateOutlet="selectedProvider"></ng-container>
  }
  <ng-template #providers>
    <section class="d-grid gap-4">
      <div class="d-flex gap-3">
        <div class="bg-secondary p-4 sm-radius">
          <span>
            <i class="fa-solid fa-mountain-sun fa-lg text-secondary"></i>
          </span>
        </div>
        <div class="d-flex-flex-column">
          <b class="fs-medium">{{ product.lookup_title }}</b>
          <div class="text-secondary">Category</div>
          @if (selectedMerchant) {
            <div class="text-primary-2">
              {{ product.price ?? supplier.product.measure.price }}
            </div>
          } @else if (!selectedMerchant) {
            <span>
              <i class="fa-solid fa-spin fa-circle-notch fs-5 text-dark"></i>
            </span>
          }
        </div>
      </div>

      @if (!selectedMerchant) {
        <div class="col-9 col-sm-5 col-md-4 mb-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search.."
              aria-label="Search"
              [formControl]="search"
              (keydown.enter)="searchProducts(search.value)"
              (input)="searchProducts(search.value)"
              aria-describedby="basic-addon2" />
            <div
              class="input-group-append d-flex align-items-center"
              role="button"
              (click)="searchProducts(search.value)"
              tabindex="0">
              @if (!isLoading) {
                <span class="px-3">
                  <i class="fa-solid fa-search fa-lg text-secondary"></i>
                </span>
              } @else if (isLoading && !suppliers) {
                <span class="px-3">
                  <i
                    class="fa-solid fa-pulse px-1 fa-circle-notch text-secondary"></i>
                </span>
              }
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-wrap justify-content-center justify-content-sm-start gap-5">
          <!-- providers -->
          @if (suppliers) {
            @for (item of suppliers; track $index) {
              <div
                class="merchant-card bg-secondary position-relative d-grid gap-3 sm-radius"
                role="button"
                (click)="selectSupplier(item)"
                tabindex="0">
                <div class="row">
                  <div
                    class="col-3 border border-white border-5 bg-secondary rounded-circle position-absolute top-0 start-0 translate-middle-y ms-2">
                    <span
                      class="w-100 py-2 d-flex justify-content-center align-itmes-center">
                      <i class="fa-solid fa-warehouse fa-lg text-secondary"></i>
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-column ms-3">
                  <b>{{ item.provider.client.client_full_name }}</b>
                  <small>{{ item.provider.client.client_id }}</small>
                </div>
              </div>
            }
          } @else if (!suppliers) {
            <div
              class="d-flex flex-wrap justify-content-center justify-content-sm-start gap-4">
              @for (item of [1, 2, 3, 4]; track $index) {
                <app-skeleton
                  height="100px"
                  width="200px"
                  classes="sm-radius"></app-skeleton>
              }
            </div>
          }
        </div>
      }
      <!-- selected provider and measure of product -->
    </section>
  </ng-template>
  <ng-template #selectedProvider>
    <form action="adding an invoice" [formGroup]="invoiceForm">
      <div class="d-flex flex-column gap-5">
        <div class="d-flex flex-column gap-3">
          <b class="text-primary">Supplier Selected</b>
          <div class="d-flex flex-row gap-3">
            <div
              class="selectedMerchant-card bg-secondary sm-radius d-flex gap-4 py-2">
              <div
                class="col-2 border border-white border-5 bg-secondary rounded-circle d-flex align-items-center ms-2">
                <span class="w-100 d-flex justify-content-center">
                  <i class="fa-solid fa-warehouse text-secondary"></i>
                </span>
              </div>
              <div class="d-flex flex-column align-self-center">
                <b>{{ supplier.provider.client.client_full_name }}</b>
                <small>{{ supplier.provider.client.client_id }}</small>
              </div>
            </div>
            <div
              class="bg-primary sm-radius p-3 px-4 d-flex align-items-center"
              role="button"
              (click)="goBack()"
              tabindex="0">
              <i class="fa-solid fa-delete-left fa-lg text-white"></i>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4">
          <div class="row">
            <div class="col-9 col-sm-5 col-md-4 col-lg-5 col-xl-4">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="25.."
                  formControlName="measure_value"
                  aria-label="value"
                  aria-describedby="basic-addon2" />
                <div
                  class="input-group-append d-flex align-items-center border-start border-2"
                  role="button"
                  tabindex="0">
                  @if (measures) {
                    <select
                      class="form-select form-control"
                      formControlName="measure_type"
                      aria-label="value"
                      aria-describedby="basic-addon2">
                      @for (item of measures; track $index) {
                        @if (item.id === 4) {
                          <option
                            id="{{ item.id }}"
                            value="{{ item.id }}"
                            selected>
                            {{ item.suffix }}
                          </option>
                        } @else {
                          <option id="{{ item.id }}" value="{{ item.id }}">
                            {{ item.suffix }}
                          </option>
                        }
                      }
                    </select>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-xxl-5">
            <div class="col-9 col-sm-5 col-md-4 col-lg-5 col-xl-4">
              <input
                type="pin"
                class="form-control"
                placeholder="PIN"
                formControlName="pin" />
            </div>
          </div>
        </div>
      </div>
      <!-- buttons of adding group , new group or cancel all -->
      <div class="d-flex justify-content-center gap-4 mt-5">
        <button class="btn text-dark" (click)="cancel()">
          <b>Cancel</b>
        </button>
        <button
          class="btn bg-primary px-3 px-sm-5 text-white"
          (click)="createBill()"
          tabindex="0"
          [disabled]="!invoiceForm.valid || isLoading === true">
          @if (isLoading) {
            <span>
              <i class="fa-solid fa-spin fa-circle-notch fa-lg text-white"></i>
            </span>
          } @else if (!isLoading) {
            <b>Confirm</b>
          }
        </button>
        <button
          class="btn border-primary text-primary px-2 px-sm-4"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          [disabled]="!invoiceForm.valid || isLoading === true">
          <b>Add to group</b>
        </button>
      </div>
    </form>
  </ng-template>
</div>
<!-- Modal of new group and existant group -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-card">
      <div class="modal-body bg-white">
        <div
          class="d-flex mb-4"
          [ngClass]="{
            'col-11 mx-auto': selectedModal !== 'add-to-group',
          }">
          @if (
            selectedModal === 'select-teller' ||
            selectedModal === 'select-group'
          ) {
            <div class="d-flex justify-content-start mt-1">
              <span role="button" (click)="goBackWithModal()">
                <i class="fa-solid fa-chevron-left text-dark"></i>
              </span>
            </div>
          }
          <button
            type="button"
            class="btn-close ms-auto"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        @if (selectedModal === 'add-to-group') {
          <div class="d-flex flex-column">
            <div class="text-center text-dark">Add to Group</div>
            <div class="col-9 mt-5 mx-auto">
              <div
                class="row bg-secondary py-3 rounded-top"
                role="button"
                (click)="addToGroup('new-group')"
                tabindex="0">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-10 col-sm-11">
                      <span class="text-dark">New Group</span>
                    </div>
                    <div class="col-1">
                      <div class="d-flex justify-content-end mt-1">
                        <i class="fa-solid fa-chevron-right text-dark"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="row bg-secondary py-3 mt-1 rounded-bottom"
                role="button"
                (click)="addToGroup('existant-group')"
                tabindex="0">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <div class="col-10 col-sm-11">
                      <span class="text-dark">Existant Group</span>
                    </div>
                    <div class="col-1">
                      <div class="d-flex justify-content-end mt-1">
                        <i class="fa-solid fa-chevron-right text-dark"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        } @else if (selectedModal === 'select-teller') {
          <div class="d-flex flex-column gap-3">
            <div class="d-flex col-11 mx-auto">
              <div
                class="d-flex justify-content-start align-items-center text-dark">
                Existant Group
              </div>
              <div class="col-9 col-sm-5 col-md-6 ms-auto">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search.."
                    aria-label="Search"
                    [formControl]="search"
                    (keydown.enter)="searchProducts(search.value)"
                    (input)="searchProducts(search.value)"
                    aria-describedby="basic-addon2" />
                  <div
                    class="input-group-append d-flex align-items-center"
                    role="button"
                    tabindex="0">
                    @if (!isLoading) {
                    } @else if (isLoading) {
                      <span class="px-3">
                        <i
                          class="fa-solid fa-pulse px-1 fa-circle-notch text-secondary"></i>
                      </span>
                    }
                  </div>
                </div>
              </div>
            </div>

            <div class="col-11 d-grid gap-1 mx-auto">
              @for (
                item of tellers;
                track $index;
                let first = $first, last = $last
              ) {
                @if (first) {
                  <div
                    class="row bg-secondary py-3 rounded-top"
                    role="button"
                    (click)="addToGroup(item.lookup_title)"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">{{ item.lookup_title }}</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                } @else if (!first && !last) {
                  <div
                    class="row bg-secondary py-3"
                    role="button"
                    (click)="addToGroup(item.lookup_title)"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">{{ item.lookup_title }}</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                } @else if (last) {
                  <div
                    class="row bg-secondary py-3 mt-1 rounded-bottom"
                    role="button"
                    (click)="addToGroup(item.lookup_title)"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">{{ item.lookup_title }}</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        } @else if (selectedModal === 'select-group') {
          <div class="d-flex flex-column gap-3">
            <div class="d-flex col-11 mx-auto">
              <div
                class="d-flex justify-content-start align-items-center text-dark">
                Teller1
              </div>
              <div class="col-9 col-sm-5 col-md-6 ms-auto">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search.."
                    aria-label="Search"
                    [formControl]="search"
                    (keydown.enter)="searchProducts(search.value)"
                    (input)="searchProducts(search.value)"
                    aria-describedby="basic-addon2" />
                  <div
                    class="input-group-append d-flex align-items-center"
                    role="button"
                    tabindex="0">
                    @if (!isLoading) {
                    } @else if (isLoading) {
                      <span class="px-3">
                        <i
                          class="fa-solid fa-pulse px-1 fa-circle-notch text-secondary"></i>
                      </span>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-11 d-grid gap-1 mx-auto">
              @for (
                item of [1, 2, 3, 4];
                track $index;
                let first = $first, last = $last
              ) {
                @if (first) {
                  <div
                    class="row bg-secondary py-3 rounded-top"
                    role="button"
                    (click)="addToGroup('group')"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">New Group</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                } @else if (item !== 0 && !last) {
                  <div
                    class="row bg-secondary py-3"
                    role="button"
                    (click)="addToGroup('grp')"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">New Group</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                } @else if (last) {
                  <div
                    class="row bg-secondary py-3 mt-1 rounded-bottom"
                    role="button"
                    (click)="addToGroup('group')"
                    tabindex="0">
                    <div class="col-11 mx-auto">
                      <div class="row">
                        <div class="col-10 col-sm-11">
                          <span class="text-dark">Existant Group</span>
                        </div>
                        <div class="col-1">
                          <div class="d-flex justify-content-end mt-1">
                            <i class="fa-solid fa-chevron-right text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
