<div
  class="lg-radius shadow bg-white d-flex flex-column col-md-10 mx-auto max-width-600 m-0 p-0">
  <div class="header d-flex align-items-center mx-4 my-2">
    @if (data.publishers.length > 0) {
      <div
        class="profil position-relative rounded-circle d-flex align-items-center justify-content-center">
        <img
          [src]="data.publishers![0].picture"
          class="image rounded-circle border"
          alt="" />
        <!-- <div class="online rounded-circle position-absolute"></div> -->
        <span
          class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
          <span class="visually-hidden">Online status</span>
        </span>
      </div>
    }
    @if (data.publishers.length === 0) {
      <div
        class="profil position-relative rounded-circle bg-primary d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-user fs-2 text-all-white"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
          <span class="visually-hidden">Online status</span>
        </span>
      </div>
    }

    <div class="d-flex flex-column gap-0 ps-2">
      @if (data.publishers && data.publishers.length > 0) {
        <p class="m-0 p-0">
          <b>{{ data.publishers![0].client_full_name }}</b>
        </p>
      }
      @if (data.publishers && data.publishers.length === 0) {
        <p class="m-0 p-0">
          <b>Unknown</b>
        </p>
      }
      <p class="m-0 p-0 text-secondary fs-x-small">
        {{ data.category.created_at | date: 'medium' }} <b>Public </b
        ><i class="fa-solid fa-earth-africa"></i>
      </p>
    </div>
  </div>
  <div class="w-100 px-3 overflow-hidden">
    <p>
      {{ data.caption }}
    </p>
  </div>
  @if (data.documents.length > 0) {
    <div
      class="d-flex bg-white flex-column justify-content-center postImage align-items-center p-2 px-3 mb-2 sm-radius overflow-hidden w-100 align-items-center">
      <img [src]="data.documents![0].docfile" class="image w-100" alt="" />
    </div>
  }

  <!-- Like & Comment input field -->

  <!-- <div
    class="rounded-3 border mx-3 mb-2 px-2 py-1 d-flex flex-row overflow-hidden">
    <div class="d-flex flex-row align-items-center border-end pe-2">
      <i class="fa-solid fa-thumbs-up"></i>
      <span>33</span>
      <i class="fa-regular fa-thumbs-down ms-2"></i>
      <span>5</span>
    </div>
    <div class="d-flex flex-row align-items-center border-end px-2">
      <div class="position-relative d-flex flex-row align-items-center">
        <i class="fa-regular fa-comment"></i>
        <div
          class="rounded-circle d-flex align-items-center justify-content-center position-absolute comment-dot">
          9+
        </div>
      </div>
    </div>
    <div class="flex-grow-1 d-flex">
      <input
        type="text"
        class="border-0 mx-2 bg-transparent flex-grow-1"
        placeholder="Write your comment..." />
    </div>
    <div class="d-flex flex-row align-items-center ms-auto">
      <i class="fa-regular fa-face-smile pe-1"></i>
      <i class="fa-solid fa-camera pe-1"></i>
      <i class="fa-solid fa-share text-primary"></i>
    </div>
  </div> -->

  <!-- COMMENTS SECTION -->

  <!-- <div class="d-flex mx-3 mb-3">
    <div
      class="profilComment position-relative rounded-circle bg-primary d-flex align-items-center justify-content-center ms-1">
      <img
        src="./images/comment001.jpg"
        class="w-100 h-100 rounded-circle profilComment"
        alt="" />
      <div class="onlineComment rounded-circle position-absolute"></div>
    </div>
    <div class="p-2 ms-1 bg-secondary rounded-2 position-relative">
      <p class="m-0 p-0"><b>John Doe</b></p>
      <p class="m-0 p-0 pe-1 pb-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.🤩
      </p>
      <p class="position-absolute replies">22 replies</p>
    </div>
    <div
      class="d-flex flex-column rounded-3 ms-1 px-2 py-1 bg-secondary"
      style="height: max-content">
      <div class="border-bottom m-0 p-0">
        <i class="fa-regular fa-thumbs-up"></i>
      </div>
      <div class="border-bottom m-0 p-0">
        <i class="fa-regular fa-thumbs-down"></i>
      </div>
      <div class="m-0 p-0"><i class="fa-regular fa-comment"></i></div>
    </div>
  </div>
</div> -->
</div>
