<!-- recent product -->
<!-- <div class="col-9" *ngIf="get_product === true">
  <div class="row mb-1 ms-3">
      <div
          class="text-center d-flex align-items-center mb-0"
          title="{{ product.lookup_title }}"
          style="
              height: 100px;
              width: 100px;
              cursor: pointer;
              opacity: 0.6;
              color: white;
              background-color: grey;
              border-radius: 0.3rem;
          "
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
      >
          <span
              *ngIf="product.icon"
              class="text-center d-flex align-items-center"
              style="font-size: 60px"
          >
              <i class="fa-solid fa-{{ product.icon }}"></i>
          </span>
          <span
              *ngIf="!product.icon"
              class="text-center d-flex align-items-center"
              style="font-size: 60px"
          >
              <i class="fa-solid fa-box-open"></i>
          </span>
      </div>
      
  </div>
  <div class="text-dark row ms-1" title="{{ product.lookup_title }}">
      <span class="ms-0 text-truncate" style="font-size: 18px"
          ><b>{{ product.lookup_title }}</b></span
      ><br />
      <span class="ms-0" style="font-size: 16px">
          {{ product.lookup_subtitle }}</span
      ><br />
      
  </div>
</div> -->
@if (
  get_product === true &&
  (product.lookup_title ||
    product.lookup_icon ||
    product.lookup_image ||
    product.lookup_description ||
    product.lookup_subtitle)
) {
  <div
    class="justify-content-center position-relative bg-white lg-radius shadow overflow-hidden">
    <div style="width: 170px">
      <div class="col-12">
        <div>
          <div class="row">
            <div class="position-relative">
              @if (product.lookup_image) {
                <div>
                  <img [src]="product.lookup_title" alt="product image" />
                </div>
              } @else if (product && !product.lookup_image) {
                <div class="bg-secondary">
                  <span
                    class="favorite-star bg-all-white p-1 rounded-circle position-absolute end-0 me-4 mt-3 d-flex"
                    data-id="123">
                    <i class="fa-solid fa-star text-primary"></i>
                  </span>
                  <span class="d-flex justify-content-center">
                    <i
                      class="fa-solid fa-mountain-sun fa-3x my-5 text-secondary"></i>
                  </span>
                </div>
              }

              <!-- Price -->
              @if (product.price) {
                <span
                  class="position-absolute fs-small px-1 text-primary bottom-0 start-1"
                  [ngClass]="
                    currentMode === 'light' ? 'priceBGLight' : 'priceBGDark'
                  ">
                  {{ product.price }} BIF
                </span>
              }
            </div>
          </div>
          <div class="row ms-0">
            <div class="col-9" title="{{ product.lookup_title }}">
              <h1 class="text-secondary font-calibri fs-normal mb-1 fw-bold">
                {{ product.lookup_title }}
              </h1>
            </div>
            <div class="col-3">
              <div class="sideCircle bg-primary"></div>
            </div>
          </div>
          <!-- <div class="row col-11 ms-0" >
            <h1 class="text-secondary font-calibri fs-normal mb-1 fw-bold">{{ product.lookup_subtitle}}</h1>
          </div> -->
          <div class="row ms-0" style="height: 50px">
            <div class="col-8">
              <p class="text-secondary fs-small font-calibri">
                {{ product.lookup_subtitle }}
              </p>
            </div>
            <div class="col-2">
              <i class="fa-solid fa-cart-arrow-down fa-lg text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (get_product === true && product.merchant) {
  <div
    class="justify-content-center bg-white lg-radius shadow position-relative overflow-hidden h-100"
    style="width: 170px">
    <div>
      <div class="col-12">
        <div>
          <div class="row">
            <div class="position-relative">
              @if (product.gallery_pictures.length > 0) {
                <div>
                  <img
                    [src]="product.gallery_pictures[0]"
                    alt="product image" />
                </div>
              } @else if (
                product &&
                (product.gallery_pictures.length === 0 ||
                  !product.gallery_pictures)
              ) {
                <div class="bg-secondary overflow-hidden">
                  <span
                    class="favorite-star bg-all-white p-1 rounded-circle position-absolute end-0 me-4 mt-3 d-flex"
                    data-id="123">
                    <i class="fa-solid fa-star text-primary"></i>
                  </span>
                  <span class="d-flex justify-content-center">
                    <i
                      class="fa-solid fa-mountain-sun fa-3x my-5 text-secondary"></i>
                  </span>
                </div>
              }

              @if (product.price) {
                <span
                  class="position-absolute fs-small px-1 text-primary bottom-0 start-1"
                  [ngClass]="
                    currentMode === 'light' ? 'priceBGLight' : 'priceBGDark'
                  ">
                  {{ product.price }} BIF
                </span>
              }
            </div>
          </div>
          <div class="row ms-0">
            <div class="col-9" title="{{ product.name }}">
              <h1 class="text-secondary font-calibri fs-normal mb-1 fw-bold">
                {{ product.name }}
              </h1>
            </div>
            <div class="col-3">
              <div class="sideCircle bg-primary"></div>
            </div>
          </div>
          <div class="row ms-0">
            <div class="col-8">
              <p class="text-secondary fs-small font-calibri">
                {{ product.merchant.merchant_title }}
              </p>
            </div>
            <div class="col-2">
              <i class="fa-solid fa-cart-arrow-down fa-lg text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
