<!-- <div class="container d-flex justify-content-center footer">
  <span class="text-secondary d-flex align-items-center p-2">
    @if (showCopyRight) {
      <span>
        Copyright &copy; iHela Credit Union <br> {{ year }} &middot; Provided by
        <a class="text-secondary" target="_blank" href=" https://magis.bi/"
          >MAGIS BI</a
        >
      </span>
    }
  </span>
</div> -->

<div class="colcontainer d-flex justify-content-center footer text-center">
  <p class="text-dark" style="opacity: 0.4">
    <span
      ><a class="text-dark" href="https://about.ihela.bi ">About</a> . Privacy .
      Terms and conditions . Jobs . <br />
      <a class="text-dark" href=" http://bankingdocs.ihela.bi/">API</a> .
      <a class="text-dark" href=" https://magis.bi">MAGIS</a> . Plus</span
    >
    @if (showCopyRight) {
      <span
        >Copyright &copy; <br />
        iHela Credit Union {{ year }} . Provided by
        <a class="text-dark" href=" https://magis.bi">MAGIS</a>
      </span>
    }
  </p>
</div>
