.loaderBtn {
    position: relative;
    
  }
  .loaderBtn.isTellerLoading {
    width: 100%;
    color: transparent;
    pointer-events: none;
    opacity: 0.5;
    cursor: pointer;
    
  }
  
  .loaderBtn.isTellerLoading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-top: 2px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }