<section class="bg-erp p-2">
  <div
    class="row col-md-9 mx-auto mx-lg-start align-items-center justify-content-center justify-content-md-between justify-content-lg-auto mx-0">
    <span class="d-none d-xl-block col-lg-1 ms-lg-3"></span>
    <small class="col-6 col-sm-auto mb-2 mb-md-0 fw-bold" i18n
      >Online Banking</small
    >
    <small class="col-6 col-sm-auto mb-2 mb-md-0 fw-bold" i18n>Magis ERP</small>
    <small class="col-6 col-sm-auto mb-2 mb-md-0 fw-bold" i18n
      >Payroll and RH</small
    >
    <small class="col-6 col-sm-auto mb-2 mb-md-0 fw-bold" i18n>Utilities</small>
    <span class="d-none d-xl-block col-lg-2 mx-5"></span>
  </div>
</section>
