<div class="bg-secondary">
    <div class="container">
        <div class="row d-flex align-items-center p-2">
            <div class="col">
                <span i18n> <img src="../images/ihela3.png" width="100" alt=""></span>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <span class="me-4"><select name="" id="">
                    <option value="">EN</option>
                    <option value="">FR</option>
                </select></span>
                <span role="button"> <img src="../images/light-active.svg" width="50" alt=""> </span>
                <span class="bg-primary text-white px-4 p-1 ms-4 rounded" role="button" routerLink="/login/">Login</span>
            </div>
            
        </div>
    </div>
</div>