.ImgIcon {
    width: 80px ;
    height:  80px;
}
.InputSearch{
    outline: none; 
    box-shadow: none; 
    border: none
}
.form-select{
    outline: none; 
    box-shadow: none; 
    border: none; 
    height: 45px;
}