@if(Loading){
    <div class="container-fluid h-100">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 mx-md-2 mb-3 mb-md-4 mb-lg-5">
            @for (item of [0,1,2,3,4,5,6,7,8,9]; track $index){
            <div class="col">
              <div class="row w-100 border rounded-2">
              <div class="col-4">
                <div class="h-100 d-flex align-items-center justify-content-center">
                  <app-skeleton
                    [height]="'80px'"
                    [width]="'80px'"
                    appearance="line"
                    classes="sm-radius"
                  ></app-skeleton>
                </div>
              </div>
              <div class="col-8">
                <div class="row text-start h-100 w-auto rounded-2 d-flex flex-column justify-content-between">
                  <span class="fs-5 fw-bold overflow-hidden">
                    <app-skeleton
                      [height]="'10px'"
                      [width]="'80%'"
                      appearance="line"
                      classes="sm-radius"
                    ></app-skeleton>
                  </span>
                  <span class="fs-5">
                    <app-skeleton
                      [height]="'10px'"
                      [width]="'80%'"
                      appearance="line"
                      classes="sm-radius"
                    ></app-skeleton>
                  </span>
                  <span class="fs-5">
                    <app-skeleton
                      [height]="'10px'"
                      [width]="'80%'"
                      appearance="line"
                      classes="sm-radius"
                    ></app-skeleton>
                  </span>
                  <span class="fs-5">
                    <app-skeleton
                      [height]="'10px'"
                      [width]="'80%'"
                      appearance="line"
                      classes="sm-radius"
                    ></app-skeleton>
                  </span>
                </div>
              </div>
            </div>
            </div>
            }           
        </div>
    </div>
}
@else{
  <div class="container-fluid h-100">
      <div class="row mx-md-4 mb-4">
        <div class="col-5 d-flex align-items-center me-auto">
          <i class="fa-solid fa-user-tie text-primary fs-4 me-2"></i>
          <span class="fw-bolder fs-5" i18n>Merchants</span>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center">
          <i class="fa-solid fa-arrow-left fs-5 me-2" role="button"></i>
          <span class="fw-bolder fs-5" i18n>Back</span>
        </div>
      </div>
      <div class="row mx-md-4 mb-4">
        <div class="d-none d-md-block col-md-4 col-lg-7"></div>
        <div class="col-md-8 col-lg-5">
          <div class="row justify-content-between">
            <div class="col-7 border rounded-2">
              <div class="row">
                <div class="col-10">
                  <div class="row mx-1">
                    <input
                      type="text"
                      class="w-100 h-100 p-2"
                      placeholder="Search"
                      aria-label="search"
                      style="outline: none; box-shadow: none; border: none" />
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                  <i
                    class="fa-solid fa-magnifying-glass fs-4 text-secondary"
                    role="button"></i>
                </div>
              </div>
            </div>
            <div class="col-4 border rounded-2 dropdown">
              <div class="row h-100">
                <div
                  class="d-flex"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  role="button">
                  <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-filter text-secondary fs-4"></i>
                  </div>
                  <div
                    class="col d-flex justify-content-center align-items-center fs-4 text-secondary">
                    Filter
                  </div>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" i18n>Action</a></li>
                  <li><a class="dropdown-item" href="#" i18n>Another action</a></li>
                  <li><a class="dropdown-item" href="#" i18n>Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 mx-md-2 mb-3 mb-md-4 mb-lg-5">
        @for (infoMerchant of data; track $index){
          <div class="col">
                  <div class="row w-100 border rounded-2">
                    @if(infoMerchant.merchant_logo){
                              <div class="col-4">
                                <div class="h-100 d-flex align-items-center justify-content-center">
                                    <img
                                      [src]="infoMerchant.merchant_logo"
                                      class="image rounded"
                                      alt="img1"
                                      title="pic"
                                      style="width: 80px ;height:  80px;"
                                    />
                                </div>            
                              </div>
                        }@else {
                            <div class="col-4 bg-secondary">
                              <div class="h-100 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-image fs-xx-large text-secondary"></i>
                              </div>            
                            </div>    
                        }
                    <div class="col-8">
                      <div class="row text-start h-100 w-auto rounded-2 d-flex flex-column justify-content-between">
                        <span class="fs-5 fw-bold overflow-hidden">{{infoMerchant.merchant_title}}</span>
                        <span class="fs-5">{{ infoMerchant.client.client_code }}</span>
                        <span class="fs-5">{{infoMerchant.slug}}</span>
                        <span class="fs-5" [ngClass]="infoMerchant.is_active ? 'text-success' : 'text-danger'">
                          {{ infoMerchant.is_active ? 'active' : 'active' }}
                        </span>              
                      </div>
                    </div>
                  </div>
          </div>
        }
      </div>
      <div class="row mx-md-4 mx-auto mb-5">
        <div class="w-100 w-md-75 mx-auto">
          <div class="d-flex flex-column flex-lg-row justify-content-between">
            <div class="col-12 col-lg-4">
              <div class="row justify-content-between">
                <div
                  class="col-4 col-lg-3 d-flex align-items-center justify-content-center">
                  <span class="text-dark font-semibold" i18n>Page</span>
                </div>
                <div class="col-3 col-lg-5 border rounded-2">
                  <div class="row border border">
                    <select
                      class="form-select p-2 p-lg-3 d-flex items-center"
                      aria-label="Default select example"
                      style="outline: none; box-shadow: none; border: none; height: 45px;">
                      <option selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div
                  class="col-4 col-lg-3 d-flex align-items-center justify-content-center">
                  <span class="text-dark font-semibold" i18n>of 10</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-7">
              <div class="row justify-content-between h-75 my-2">
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <i class="fa-solid fa-angles-left text-secondary"></i>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <i class="fa-solid fa-angle-left text-secondary"></i>
                </div>
                <div
                  class="col-1 bg-primary d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <span class="text-light">1</span>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <span>2</span>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <span>3</span>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center"
                  role="button">
                  <span class="text-dark fs-4">...</span>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <span class="">10</span>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div
                  class="col-1 d-flex align-items-center justify-content-center rounded-2 border"
                  role="button">
                  <i class="fa-solid fa-angles-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
}

  
