.InputSearch {
  outline: none;
  box-shadow: none;
  border: none;
}
.form-select {
  outline: none;
  box-shadow: none;
  border: none;
  height: 45px;
}
.imgSize {
  width: 90px;
  height: 90px;
}
.statusColor {
  color: #00e04b;
}
