<!-- <p>my-market-dashboard works!</p> -->
@if (isLoadingInfo && !merchant) {
  <div
    class="w-100 h-100 d-flex row justify-content-center align-items-center text-dark">
    <span title="Loading  ..." class="fs-2 text-center">
      <i class="fa-solid fa-spin fa-circle-notch"></i>
    </span>
  </div>
}

@if (!isLoadingInfo) {
  <div
    class="text-end me-5 opacity-50 text-dark"
    role="button"
    tabindex="0"
    (click)="refresh()">
    Refresh
    <i class="fa-solid fa-arrows-rotate"></i>
  </div>
}

@if (!isLoadingInfo && !merchant) {
  <div
    class="row text-center d-inline-block mt-5 pt-5 fs-7 w-100 h-100 text-dark opacity-75">
    <i class="fa-solid fa-face-meh empty-state-icon pt-5 mt-5 fs-1"></i>
    <span class="ms-4 fw-bold opacity-50 text-md"
      >No merchant details available</span
    >
  </div>
}

@if (!isLoadingInfo && merchant) {
  <div class="overflow-hidden">
    <div
      class="d-lg-flex d-none position-relative shadow me-5 ms-3 border-top border-primary border-4 rectangleBlockSize">
      <img
        src="/images/products/Rectangle 1235.svg"
        class="mt-2 pt-4 position-absolute opacity-8 rectangleImageSize"
        alt="Rectangle image" />
      <div class="userProfileSize">
        @if (merchant && !merchant.merchant_logo) {
          <img
            src="/images/products/userprofile.png"
            class="img-fluid mt-3 ms-3 border merchantLogo"
            alt="userprofile show image" />
        }
        @if (merchant && merchant.merchant_logo) {
          <img
            [src]="merchant.merchant_logo"
            class="img-fluid image merchantLogo"
            alt="merchant logo show image" />
        }
      </div>
      <div class="d-block ms-4 pt-4">
        <span class="text-dark fw-bold text-md">{{
          merchant.merchant_title
        }}</span>
        <br />
        <span class="text-dark text-sm">{{ merchant.merchant_code }}</span>
        <br />
        <span class="text-dark text-sm">{{ merchant.merchant_location }}</span>
        <br />
      </div>
      <!-- <div style="height: 35px; width: 1px" class="ms-4 level-3 mt-5"></div> -->
      <div class="d-block col-4 ms-5 pt-4">
        <div class="row col-11 text-dark text-md">
          <div class="col pe-0 fw-bold opacity-50" i18n>
            Available balance :
          </div>
          <div class="col ps-0 fw-bold">
            <app-amount-visibility
              [amount]="merchant.available_balance"
              [currency]="merchant.balance_currency"></app-amount-visibility>
          </div>
        </div>
        <!-- <br /> -->
        <span class="text-dark text-sm opacity-50">{{
          merchant.client_category
        }}</span>
        <br />
        <span class="text-dark text-sm">{{
          merchant.merchant_main_account
        }}</span>
        <br />
      </div>
      <div class="ms-auto me-4 mt-5 pt-3 z-3">
        @if (merchantMult && merchantMult.length > 1) {
          <button
            (click)="openMerchantsPopup()"
            data-bs-toggle="modal"
            data-bs-target="#merchantsModal"
            class="btn badge-design bg-danger text-danger fw-bold switchButtonSize"
            i18n>
            Switch
          </button>
        }
      </div>
    </div>

    <section class="row d-flex mt-4 ms-5 ms-sm-0">
      <div
        class="col-lg-3 col-md-5 col-sm-6 mb-2 ms-3 me-3 dashboardBox rounded shadow level-1">
        <Span class="float-start fs-5 ms-2 mt-3 text-dark">
          <small i18n>Sales </small> <br />
          @if (stat) {
            <b>
              {{
                (stat.response_data.merchant_bills_payment_number | number) ??
                  '---'
              }}
            </b>
          }
          @if (!stat) {
            <span>
              <i class="fa-solid fa-spinner fa-pulse text-dark"></i>
            </span>
          }
        </Span>
        <span class="float-end">
          <img
            class="img-fluid me-2 mt-3 salesSize"
            src="/images/products/sales.svg"
            alt="our sales show image" />
        </span>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-6 mb-2 ms-3 me-3 dashboardBox rounded shadow level-1">
        <Span class="float-start fs-5 ms-2 text-dark mt-3"
          ><small i18n>Clients </small> <br /><b> ---</b></Span
        ><span class="float-end"
          ><img
            class="img-fluid me-2 mt-3 salesSize"
            src="/images/products/2 60.svg"
            alt="our clients show image"
        /></span>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-6 mb-2 ms-3 me-3 dashboardBox rounded shadow level-1">
        <Span class="float-start fs-5 ms-2 text-dark mt-3">
          <small i18n>Products </small> <br />
          @if (stat) {
            <b>
              {{
                (stat.response_data.merchant_products_number | number) ?? '---'
              }}</b
            >
          }
          @if (!stat) {
            <span>
              <i class="fa-solid fa-spinner fa-pulse text-dark"></i>
            </span>
          }
        </Span>
        <span class="float-end">
          <img
            class="img-fluid me-2 mt-3 deliveryBoxSize"
            src="/images/products/49364_box_crate_delivery_entrega_inventory_icon 2.svg"
            alt="our products show image" />
        </span>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-6 mb-2 ms-3 me-3 dashboardBox rounded shadow level-1">
        <Span class="float-start fs-5 mt-3 text-dark">
          <small i18n>Revenue </small> <br />
          @if (!merchantInfo) {
            <span>
              <i class="fa-solid fa-spinner fa-pulse text-dark"></i>
            </span>
          }
          @if (merchantInfo) {
            <b class="fs-normal">
              <app-amount-visibility
                [amount]="merchant.available_balance"
                [currency]="merchant.balance_currency"></app-amount-visibility>
            </b>
          }
        </Span>
        <span class="float-end">
          <img
            class="img-fluid mt-4 revenuSize"
            src="/images/products/4 9365.svg"
            alt="our income show image" />
        </span>
      </div>
    </section>

    <section class="mt-2 row justify-content-between mx-0">
      <span
        ><i class="fa-solid fa-chart-simple text-primary-light"></i
        ><b class="text-dark" i18n> Chart</b></span
      ><br />
      <div class="row justify-content-lg-center justify-content-xxl-start">
        <div class="col-md-5 mt-3 mt-md-0">
          <div class="w-100 d-flex justify-content-center text-align-center">
            <div
              class="pie-chart text-opacity-5 position-relative rounded-circle">
              <div class="pie-text text1 position-absolute fw-bold"></div>
              <div class="pie-text text2 position-absolute fw-bold"></div>
              <div class="pie-text text3 position-absolute fw-bold"></div>
            </div>
          </div>

          <div
            class="align-items-center text-center pt-5 position-relative emojiBlock">
            <span i18n class="fs-5 text-dark opacity-50"
              ><i class="fa fa-face-meh"></i> Section unavailable at this
              moment</span
            >
          </div>
        </div>
        <div
          class="col-md-7 col-lg-8 col-xxl-7 mt-3 mt-md-0 mb-5 border-start border-1 text-center">
          <div class="row mx-0 justify-content-between gap-2 gap-lg-3">
            @if (activePlatform !== 'workstation') {
              @for (menu of marketMenus; track $index) {
                @let menuId = menu.id;
                @if (menuId !== 4 && menuId !== 6) {
                  <a
                    routerLink="/m/mymarket/{{ menu.component_url }}"
                    class="d-flex border sm-radius align-items-center justify-content-center py-3 col-sm-4 col-md-5"
                    role="button">
                    <b i18n>{{ menu.name }}</b>
                    <span
                      class="ms-3 opacity-75"
                      [ngClass]="{
                        'text-success': $index == 1,
                      }">
                      <i class="fa-solid fa-{{ menu.icon }}"></i>
                    </span>
                  </a>
                } @else if (menuId === 4) {
                  <a
                    class="d-flex border sm-radius align-items-center justify-content-center py-3 col-sm-4 col-md-5"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    role="button">
                    <b i18n>{{ menu.name }}</b>
                    <span class="ms-3 opacity-75">
                      <i class="fa-solid fa-{{ menu.icon }}"></i>
                    </span>
                  </a>
                } @else if (menuId === 6) {
                  <span
                    class="d-flex border sm-radius align-items-center justify-content-center py-3 col-sm-4 col-md-5"
                    role="button"
                    (click)="openPopup()"
                    tabindex="0"
                    data-bs-toggle="modal"
                    data-bs-target="#billsModal"
                    #closeModal>
                    <b i18n>{{ menu.name }}</b>
                    <span class="ms-3 opacity-75">
                      <i class="fa-solid fa-{{ menu.icon }}"></i>
                    </span>
                  </span>
                }
              }
            } @else {
              @for (menu of corporateMarketMenus; track $index) {
                <a
                  routerLink="/w/workstation/m/market/{{ menu.component_url }}"
                  class="d-flex border sm-radius align-items-center justify-content-center py-3 col-sm-4 col-md-5"
                  role="button">
                  <b i18n>{{ menu.name }}</b>
                  <span class="ms-3 opacity-75">
                    <i class="fa-solid fa-{{ menu.icon }}"></i>
                  </span>
                </a>
              }
            }
          </div>
        </div>
      </div>
    </section>
    <section class="row justify-content-between">
      <div class="col-4 col-md-3 level-1 roundBox shadow text-center ms-auto">
        @if (stat) {
          <div class="fw-bold mt-lg-4 pt-4 text-dark">
            {{ stat.response_data.merchant_tellers_number }}
          </div>
        }
        @if (!stat) {
          <div class="fw-bold mt-lg-4 pt-4 text-dark">
            <i class="fa-solid fa-spinner fa-pulse text-dark text-xsm"></i>
          </div>
        }
        <div class="text-center elementPosition bg-primary">
          <span class="text-light fw-bold" i18n>Tellers</span>
        </div>
      </div>
      <div
        class="col-4 col-md-3 level-1 roundBox shadow text-center ms-auto me-auto">
        <div class="fw-bold mt-lg-4 text-dark pt-4">---</div>
        <div class="text-center elementPosition bg-primary">
          <span class="text-light fw-bold" i18n>Operations</span>
        </div>
      </div>
    </section>

    <section
      class="d-flex justify-content-between flex-wrap mt-2 w-100 mb-5 pb-5">
      @if (merchant) {
        <app-all-products
          class="text-dark"
          [detail]="true"
          url="/dbs/merchant-product/objects_autocomplete/?merchant={{
            merchantId
          }}">
        </app-all-products>
      }
    </section>
  </div>
}

@if (merchantAccountId && account) {
  <div
    class="modal modal-xl fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-white">
        <div class="row">
          <app-statement
            [account]="account"
            [accountId]="merchantAccountId"></app-statement>
        </div>
      </div>
    </div>
  </div>
}

<div class="modal fade" id="billsModal" data-mdb-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content bg-white">
      <div class="modal-body">
        <div class="text-end">
          <span
            role="button"
            class="text-dark"
            data-bs-dismiss="modal"
            aria-label="Close">
            <i class="fa-solid fa-xmark fs-4"></i>
          </span>
        </div>
        <div class="text-dark fw-bold fs-5 text-center p-2" i18n>
          Bill Generator
        </div>
        <div class="mt-2 pt-3">
          <div class="d-flex p-3 ms-2 sm-radius">
            <span class="text-dark pt-2" i18n>Send to :</span>
            <div class="lookup col ms-4 me-3">
              <app-lookup
                option="lookup"
                url="/clients/list/all/object_lookup/?lookup_data="
                label="Search By client ID"
                (selectedItemEvent)="selectClient($event)"></app-lookup>
            </div>
          </div>
          <form [formGroup]="billForm">
            <div class="col mt-4 ms-4 me-4 text-dark">
              <app-amount-field
                [isFormFloating]="true"
                (amountEvent)="getAmount($event)"></app-amount-field>
            </div>
            <div class="form-floating col ms-4 me-4 mt-3 text-dark">
              <input
                type="text"
                class="form-control input w-100"
                placeholder="description"
                formControlName="description" />
              <label for="description" class="form-label">Description</label>
            </div>
            <div class="text-center mt-5 mb-4">
              <button
                (click)="enterPin()"
                [disabled]="
                  !billForm.valid || isLoading || !selectedClient || !amount
                "
                class="text-all-white btn bg-primary px-4"
                i18n>
                Confirm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="merchantsModal" data-mdb-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content merchantsModal bg-white">
      <div class="modal-body mb-5">
        <div class="text-end">
          <span
            role="button"
            class="text-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
            #closeMerchantsModal>
            <i class="fa-solid fa-xmark fs-4"></i>
          </span>
        </div>

        <div class="mt-1 d-flex ms-5 me-3 mt-2">
          <span
            class="text-dark text-l p-2 text-center bg-primary sm-radius faBarsSize"
            ><i class="fa-solid fa-bars text-light fs-x-large"></i
          ></span>
          <!-- <span class="ms-auto ps-4 pe-4">
                    <input
                        type="text"
                        placeholder="Search"
                        class="form-control input not-clickable"
                    />
                </span> -->
        </div>
        @if (!merchantMult) {
          <div class="row mt-4 ps-5 ms-1">
            @for (_ of [1, 2, 3, 4]; track $index) {
              <div class="col-lg-2 col-md-2 col-sm-4 col mb-2">
                <app-skeleton
                  [height]="'100px'"
                  [width]="'100px'"
                  classes="sm-radius"></app-skeleton>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'30%'"
                    appearance="line"
                    classes="sm-radius"></app-skeleton>
                </div>
                <div>
                  <app-skeleton
                    [height]="'10px'"
                    [width]="'50%'"
                    appearance="line"
                    classes="sm-radius"></app-skeleton>
                </div>
              </div>
            }
          </div>
        }
        @if (merchantMult) {
          <div class="d-flex flex-wrap gap-5 ps-5 mx-5">
            @for (merchant of merchantMult; track $index) {
              <div
                class="col-auto"
                role="button"
                tabindex="0"
                (click)="switchMerchant(merchant.id)">
                <div>
                  <app-merchant-card
                    [merchant]="merchant"
                    [action]="'output'"
                    [disabledFavoriteAction]="true"></app-merchant-card>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
