<div>
  <header
    class="d-flex justify-content-between align-items-center px-3 border-bottom mx-3 pb-2">
    <div>
      <b class="fs-medium" i18n>My Invoice</b>
    </div>
    <span
      class="d-flex align-items-center"
      role="button"
      routerLink="/m/mymarket">
      <span><i class="fa-solid fa-arrow-left"></i></span>
      <b class="fs-l-medium ms-2" i18n>Back</b>
    </span>
  </header>

  <section class="col-9 mt-5 mx-auto">
    <div
      class="d-flex justify-content-between align-items-center bg-secondary p-4 rounded-top clickable"
      routerLink="/m/mymarket/invoices-groups">
      <span i18n>Groups</span>
      <span class="text-secondary">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>

    <div
      class="d-flex justify-content-between align-items-center bg-secondary p-4 rounded-bottom mt-1 clickable"
      routerLink="/m/mymarket/single-invoices">
      <span i18n>Single Invoices</span>
      <span class="text-secondary">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>
  </section>
</div>
