<div class="container h-100">
    <div class="row mb-2">
        <div class="col-12 col-md-4 me-auto mb-2 ">
            <div class="row">
                    <input
                    type="text"
                    class="col-10 h-100 p-2 x-sm-radius InputSearch bg-secondary"
                    placeholder="Search.."
                    aria-label="search"
                    />
                    <div class="col-2 x-sm-radius bg-dark d-flex justify-content-center align-items-center" role="button">
                        <i class="fa-solid fa-magnifying-glass text-light fs-4"></i>
                    </div>                  
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-3 col-md-2 bg-secondary xx-lg-radius p-1 d-flex justify-content-center align-items-center me-auto">
                    <span class="me-2 fw-normal font-calibri fs-normal" i18n>Filter</span>
                    <i class="fa-solid fa-bars-staggered fs-normal fw-bolder"></i>
                </div>
                <div class="col-6 col-md-8 p-1 d-flex justify-content-end align-items-center ">
                    <i class="fa-solid fa-arrow-left fs-5 me-2" role="button"></i>
                    <span class="fw-bolder fs-5" i18n >Back</span>          
                </div>
            </div>
        </div>
    </div>
        <hr class="bg-dark  row  HLine">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 d-flex justify-content-center justify-content-lg-start">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 me-4 shadow-sm sm-radius HDiv border overflow-y-hidden position-relative">
            <div class="container-fluid h-50 position-relative mt-2 mb-1">
                <div class="col h-50">
                   <div class="row h-75">
                    <div class="col-3 h-100 rounded-circle d-flex justify-content-center align-items-center me-auto bg-secondary">
                        <i class="fa-solid fa-warehouse text-secondary"></i>
                    </div>
                    <div class="col-6 h-100 xx-lg-radius border border-warning text-warning d-flex justify-content-center align-items-center">Pending</div>
                   </div>
                   <div class="col position-absolute mt-1">
                    <div class="row fw-bolder fs-l-small">
                        Maronko Supplier
                    </div>
                    <div class="row ">
                        00123
                    </div>
                </div>
                </div>
                <i class="fa-solid fa-receipt text-primary opacity-50 position-absolute padIcon"></i>
            </div>
            <div class="h-50 row bg-secondary">
                <div class="row">
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                    <div class="col">
                        <hr class="bg-primary w-100 my-0">
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-box  me-1 text-secondary"></i>
                                        <span class="text-dark">Tea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row h-100 d-flex align-items-center text-secondary justify-content-end">
                                    2 kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div">
                        <span class="text-primary fw-bolder fs-4">26 000 BIF</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







   