<div>
  <div>
    <div class="row container-fluid m-0">
      <div class="col-9 col-sm-10">
        <span class="fs-medium fw-bold">My Invoice</span>
      </div>
      <div class="col-3 col-sm-2">
        <div
          class="d-flex justify-content-center"
          role="button"
          routerLink="/m/mymarket">
          <span class="d-flex align-self-center"
            ><i class="fa-solid fa-arrow-left text-dark"></i
          ></span>
          <span class="fs-l-medium fw-bold ms-2">Back</span>
        </div>
      </div>
      <hr class="text-dark mt-2" />
    </div>
    <div class="col-9 mt-5 mx-auto">
      <div
        class="row bg-secondary py-3 rounded-top"
        role="button"
        routerLink="/m/mymarket/invoices-groups">
        <div class="col-11 mx-auto">
          <div class="row">
            <div class="col-10 col-sm-11">
              <span class="text-dark">Groups</span>
            </div>
            <div class="col-1">
              <div class="d-flex justify-content-end mt-1">
                <i class="fa-solid fa-greater-than text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row bg-secondary py-3 mt-1 rounded-bottom"
        role="button"
        routerLink="/m/mymarket/single-invoices">
        <div class="col-11 mx-auto">
          <div class="row">
            <div class="col-10 col-sm-11">
              <span class="text-dark">Single Invoices</span>
            </div>
            <div class="col-1">
              <div class="d-flex justify-content-end mt-1">
                <i class="fa-solid fa-greater-than text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
