<div>
  <div class="text-dark">
    <div class="d-flex justify-content-end mb-5">
      <div class="d-flex align-items-center">
        <div
          class="me-2"
          (click)="deselectBank()"
          title="Deselect Bank"
          tabindex="0">
          <span role="button" class="fs-2">
            <i class="fa fa-chevron-left"></i>
          </span>
        </div>
        <div>
          <app-switch-bank></app-switch-bank>
        </div>
      </div>
    </div>
    <div>
      <div class="row mt-4 justify-content-around">
        @for (bankMenu of bankMenus; track $index) {
          <a
            role="button"
            [routerLink]="
              activePlatform === 'workstation'
                ? bankMenu.link[1]
                : activePlatform === 'onlineBanking'
                  ? bankMenu.link[0]
                  : ''
            "
            class="d-grid col-auto justify-content-center">
            <div class="d-flex w-100 mb-2 justify-content-center">
              <div
                class="d-grid justify-content-center align-items-center menu-container rounded-circle bg-secondary">
                @if (bankMenu.icon) {
                  <span>
                    <i [class]="'fs-2 fa fa-' + bankMenu.icon"></i>
                  </span>
                }

                @if (bankMenu.image) {
                  @if (theme === 'light') {
                    <img [src]="'/images/' + bankMenu.image[0]" alt="" />
                  }
                  @if (theme === 'dark') {
                    <img [src]="'/images/' + bankMenu.image[1]" alt="" />
                  }
                }
              </div>
            </div>

            <div class="text-center">
              <b>{{ bankMenu.name }}</b>
            </div>
          </a>
        }
      </div>
    </div>
  </div>

  <div class="overflow-x-hidden overflow-y-hidden">
    <!-- * Recent transactions-->
    <section>
      <div class="mt-5 pt-5 text-dark w-100 d-flex justify-content-between">
        <b i18n>Recent Transactions</b>
        <span role="button" class="text-primary">View more transactions</span>
      </div>

      <app-reusable-list
        [headers]="headers"
        [url]="
          '/operations/pending/logic/?req_type=&=date_from=&=date_to=&filter_for_client=true&'
        "></app-reusable-list>
    </section>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
