// Required
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

$custom-colors-light: (
  'primary': #810019,
  'primary-2': #c98986,
  'primary-3': #e4c5c3,
  'white': #ffffff,
);

$custom-colors-dark: (
  //   'primary': #810019,
  'primary': green,
  'primary-2': #c98986,
  'primary-3': #e4c5c3,
  'white': #242526
);

$theme-colors: map-merge($theme-colors, $custom-colors-light);
// $theme-colors-dark: map-merge($theme-colors, $custom-colors-dark);

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Light mode
@each $color, $value in $custom-colors-light {
  $custom-colors-text: (
    $color: $value,
  );
  $custom-colors-bg-subtle: (
    $color: $value,
  );
  $custom-colors-border-subtle: (
    $color: $value,
  );
  $theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);
  $theme-colors-bg-subtle: map-merge(
    $theme-colors-bg-subtle,
    $custom-colors-bg-subtle
  );
  $theme-colors-border-subtle: map-merge(
    $theme-colors-border-subtle,
    $custom-colors-border-subtle
  );
}

// Dark mode
@each $color, $value in $custom-colors-dark {
  $custom-colors-text-dark: (
    $color: $value,
  );
  $custom-colors-bg-subtle-dark: (
    $color: $value,
  );
  $custom-colors-border-subtle-dark: (
    $color: $value,
  );

  $theme-colors-text-dark: map-merge(
    $theme-colors-text-dark,
    $custom-colors-text-dark
  );
  $theme-colors-bg-subtle-dark: map-merge(
    $theme-colors-bg-subtle-dark,
    $custom-colors-bg-subtle-dark
  );
  $theme-colors-border-subtle-dark: map-merge(
    $theme-colors-border-subtle-dark,
    $custom-colors-border-subtle-dark
  );
}

// Remainder of Bootstrap imports
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
