// For erp light mode
$erp-colors-light: (
  'primary': #810019,
  'primary-2': #c98986,
  'primary-3': #e4c5c3,
);

$erp-bg-light: (
  'white': #ffffff,
  'secondary': #dce2eb,
  'erp': #f6f7f9,
  'input': #f1f1f1,
  'all-white': #ffffff,
  'all-dark': #242526,
  'overlay': #11111180,
);

$erp-text-light: (
  'dark': #414141,
  'secondary': #838383,
  'primary-1': #810019,
);

// For erp dark mode
$erp-colors-dark: (
  'primary': #810019,
  'primary-2': #c98986,
  'primary-3': #e4c5c3,
);

$erp-bg-dark: (
  'white': #242526,
  'secondary': #18191a,
  'erp': #18191a,
  'input': #3a3b3c,
  'all-white': #ffffff,
  'all-dark': #242526,
  'overlay': #11111180,
);

$erp-text-dark: (
  'dark': #d9d9d9,
  'secondary': #9d9d9d,
  'primary-1': #810019,
  'primary': #ff6c6a,
);

html[data-bs-theme='erp-light'] {
  @each $color, $value in $erp-colors-light {
    @include makeAsGlobalColors($color, $value);
  }

  @each $color, $value in $erp-bg-light {
    @include generateBackgroundClass($color, $value);
  }

  @each $color, $value in $erp-text-light {
    @include generateTextClass($color, $value);
  }

  // Form inputs bootstrap
  .form-control,
  .form-select {
    @extend .bg-input;
  }

  body,
  input,
  textarea,
  select,
  a {
    // Default color;
    color: map-get($erp-text-light, 'dark');
  }
}

html[data-bs-theme='erp-dark'] {
  @each $color, $value in $erp-colors-dark {
    @include makeAsGlobalColors($color, $value);
  }

  @each $color, $value in $erp-bg-dark {
    @include generateBackgroundClass($color, $value);
  }

  @each $color, $value in $erp-text-dark {
    @include generateTextClass($color, $value);
  }

  // Default color;
  @extend .text-dark;

  // Form inputs bootstrap
  .form-control,
  .form-select {
    @extend .bg-input;
  }

  body,
  input,
  textarea,
  select,
  a {
    // Default color;
    color: map-get($erp-text-dark, 'dark');
  }

  // reset border in dark
  --bs-border-color: #474747;
}
