@import '../mixins/mixins';

// global font-sizes
$fontSizes: (
  x-large: 28px,
  large: 24px,
  l-medium: 20px,
  medium: 18px,
  normal: 16px,
  small: 14px,
  x-small: 12px,
);

@each $name, $value in $fontSizes {
  @include generateTextClass($name, $value);
}
