@import '../mixins/mixins';

// global inchanges color
$globalColors: (
  'success': #058519,
  'info': #2070b8,
  'danger': #a11717,
  'warning': #a3a300,
);

@each $color-name, $value in $globalColors {
  @include makeAsGlobalColors($color-name, $value);
};

// global font-sizes
$fontSizes: (
  'xx-large': 35px,
  'x-large': 28px,
  'large': 24px,
  'l-medium': 20px,
  'medium': 18px,
  'normal': 16px,
  'small': 14px,
  'x-small': 12px,
);
@each $name, $size in $fontSizes {
  @include generateSizeClass($name, $size);
}

// global color
$globalColors: (
  'all-white': #d9d9d9,
  'all-dark': #414141,
);
@each $name, $value in $globalColors {
  @include generateTextClass($name, $value);
}

// global border color
:root {
  --default-border-color: #c4c4c4;
}
.border {
  --bs-border-color: var(--default-border-color);
}

// reset link
a {
  text-decoration: none !important;
}

//global empty state color
.empty-state {
  color: #c4c4c4;
}
//global border radius
.lg-radius {
  border-radius: 10px;
}
.sm-radius {
  border-radius: 5px;
}

//global image class
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//global cursor class
.clickable {
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
}

.not-clickable {
  pointer-events: none;
  opacity: 0.5;
}

// font family global class
.font-calibri {
  font-family: calibri !important;
}
.font-montserrat {
  font-family: montserrat !important;
}

//global badge classes
.badge-design {
  max-width: 100px;
  min-height: 31px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  @extend .px-2;
  &.bg-success,
  &.success {
    @extend .bg-success;
    color: #058519 !important;
  }
  &.bg-info,
  &.info {
    @extend .bg-info;
    color: #235ea2 !important;
  }
  &.bg-warning,
  &.warning {
    @extend .bg-warning;
    color: #a3a300 !important;
  }
  &.bg-danger,
  &.danger {
    @extend .bg-danger;
    color: #a11717 !important;
  }
  &.bg-secondary,
  .secondary {
    @extend .bg-secondary;
    color: #ffff !important;
  }
}

// global config for bootstrap input

.form-control + label.form-label,
.form-control + label,
.form-select + label {
  @extend .form-label;
  @extend .text-dark;
  &:after {
    background-color: transparent !important;
  }
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding-bottom: 0;
}

.form-floating .form-control::placeholder {
  color: transparent !important;
}

.input-group {
  @extend .sm-radius;
  overflow: hidden;
  .form-control {
    border: 0 !important;
  }
  .input-group-text {
    border: 0 !important;
    border-radius: 0 !important;
  }
}
