@import '../mixins/mixins';

$globalInchangesColor: (
  'sucess': #058519,
  'info': #2070b8,
  'danger': #a11717,
  'warning': #a3a300,
);

// For workstation light mode
$workstation-colors-light: (
  'primary': #2070b8,
  'primary-2': #aacef5,
  'primary-3': #e5f2ff,
);

$workstation-bg-light: (
  'white': #ffffff,
  'secondary': #dce2eb,
  'workstation': #f6f7f9,
  'input': #f1f1f1,
);

// For workstation dark mode
$workstation-colors-dark: (
  'primary': #172b4d,
  'primary-2': #3e4f69,
  'primary-3': #0c1627,
  'white': #242526,
);

$workstation-bg-dark: (
  'white': #242526,
  'secondary': #0c1627,
  'workstation': #18191a,
  'input': #3a3b3c,
);

// merge global colors and current colors
$workstation-colors-light: map-merge(
  $workstation-colors-light,
  $globalInchangesColor
);
$workstation-colors-dark: map-merge(
  $workstation-colors-dark,
  $globalInchangesColor
);

html[data-bs-theme='workstation-light'] {
  // $theme-colors: map-merge($theme-colors, $workstation-colors-light);
  @each $color, $value in $workstation-colors-light {
    @include makeAsGlobalColors($color, $value);
  }

  @each $color, $value in $workstation-bg-light {
    @include generateBackgroundClass($color, $value);
  }
}

html[data-bs-theme='workstation-dark'] {
  // $theme-colors: map-merge($theme-colors, $workstation-colors-dark);
  @each $color, $value in $banking-colors-dark {
    @include makeAsGlobalColors($color, $value);
  }

  @each $color, $value in $workstation-bg-dark {
    @include generateBackgroundClass($color, $value);
  }
}
