<!--* The icons to display in online banking platform -->
@if (mainConfig) {
  <div
    class="d-flex align-items-center h-100 flex-nowrap flex-md-wrap flex-lg-nowrap justify-content-center">
    @for (plateF of plateforms; track $index) {
      <a
        [routerLink]="plateF.link"
        (click)="switchPlateform(plateF.plateform)"
        tabindex="0"
        class="d-block p-2 px-3 px-md-4 px-lg-5 sm-radius clickable mx-2 mx-md-3 mx-lg-1 mx-xl-2 mx-xxl-3 h-100"
        [ngClass]="{
          'text-all-white':
            (mainConfig.activePlateform !== 'workstation' &&
              mainConfig.activePlateform !== plateF.plateform) ||
            (mainConfig.activePlateform === plateF.plateform &&
              plateF.plateform === 'workstation'),
          'text-primary':
            mainConfig.activePlateform === plateF.plateform &&
            mainConfig.activePlateform !== 'workstation' &&
            mainConfig.activeMode === 'light',
          'text-primary-1':
            mainConfig.activePlateform === plateF.plateform &&
            mainConfig.activePlateform !== 'workstation' &&
            mainConfig.activeMode === 'dark',

          'bg-hover-primary-2': mainConfig.activePlateform !== plateF.plateform,

          'bg-all-white':
            mainConfig.activePlateform === plateF.plateform &&
            plateF.plateform !== 'workstation',
          'bg-primary':
            mainConfig.activePlateform === plateF.plateform &&
            plateF.plateform === 'workstation',
        }"
        title="{{ plateF.title }}">
        @if (plateF.icon) {
          <span>
            <i class="{{ plateF.icon }} fs-4"></i>
          </span>
        } @else if (plateF.plateform === 'onlineBanking') {
          <div style="width: 28px">
            <img
              [src]="bankingPlateformIcon"
              class="img-fluid"
              [attr.alt]="plateF.title" />
          </div>
        }
      </a>
    }
  </div>
}
