<dialog
  id="merchant-payment"
  tabindex="-1"
  class="border-0 p-0 bg-white lg-radius bg-white w-100 h-100 overflow-y-auto p-4 text-dark">
  <main>
    <!-- NOTE :: STEPPER AND BACK SECTION -->
    <section class="d-flex align-items-center justify-content-center mb-3">
      <div class="mx-auto d-flex flex-row my-1 w-content flex-grow-1">
        <div class="d-flex align-items-center col-4 mx-auto">
          <span
            class="rounded-circle d-flex align-items-center justify-content-center fs-small fw-bold stepper-item"
            [ngClass]="{
              'bg-secondary border': steps === 'second',
              'bg-primary text-all-white': steps === 'first',
            }"
            >1</span
          >
          <span class="border flex-grow-1 mx-3"></span>
          <span
            class="rounded-circle d-flex align-items-center justify-content-center fs-small fw-bold stepper-item"
            [ngClass]="{
              'bg-secondary border': steps === 'first',
              'bg-primary text-all-white': steps === 'second',
            }"
            >2</span
          >
        </div>
      </div>
      <div
        class="d-flex align-items-cneter"
        tabindex="-1"
        (click)="closeMerchantPaymentDialog()"
        role="button">
        <span class="me-1"><i class="fa fa-arrow-left"></i></span>
        <b i18n> Back</b>
      </div>
    </section>

    <!-- NOTE :: CATEGORY SECTION -->
    @if (
      (type === 'category-merchant' && category) ||
      (type === 'merchant' && merchantDetails) ||
      (type === 'product' && productDetails)
    ) {
      <section>
        <section class="d-flex align-items-center">
          <div class="d-flex align-items-center">
            <span class="text-primary fs-medium me-3">
              <i class="fa-solid fa-play"></i>
            </span>
            @if (type === 'category-merchant' && category) {
              <b class="fs-medium">{{ category.lookup_title }}</b>
            } @else if (type === 'merchant' && merchantDetails) {
              <b class="fs-medium">{{
                merchantDetails.merchant_category.merchant_activity_sector
                  ?.title ?? ''
              }}</b>
            } @else if (type === 'product' && productDetails) {
              <b class="fs-medium">{{
                productDetails.merchant.merchant_category
                  .merchant_activity_sector?.title ?? ''
              }}</b>
            }
          </div>
          <div class="ms-5 bg-secondary category-card x-sm-radius d-flex">
            <span class="text-center flex-grow-1 py-1">
              @if (type === 'category-merchant' && category) {
                <small>{{ category.lookup_subtitle }}</small>
              } @else if (type === 'merchant' && merchantDetails) {
                <small>{{ merchantDetails.merchant_category.name }}</small>
              } @else if (type === 'product' && productDetails) {
                <small>{{
                  productDetails.merchant.merchant_category.name
                }}</small>
              }
            </span>
            <small class="bg-primary text-all-white px-2 h-100 x-sm-radius">
              <i class="fa-solid fa-building-columns"></i>
            </small>
          </div>
        </section>
      </section>
    }

    <!-- NOTE :: CATEGORY MERCHANTS SECTION -->
    @if (category && !selectedMerchant) {
      <section class="mt-4">
        <div>
          <app-category-merchants
            (selectedMerchant)="getSelectedMerchant($event)"
            [categoryId]="category.id"></app-category-merchants>
        </div>
      </section>
    }

    <div class="row mx-0">
      <!-- NOTE :: FIRST SECTION  -->
      <section
        class="px-0"
        [ngClass]="{
          'col-5':
            (selectedProduct && productDetails && steps === 'first') ||
            steps === 'second',
        }">
        <!-- NOTE :: SELECTED MERCHANT SECTION -->
        @if (selectedMerchant) {
          <section class="mt-4">
            <div class="row mx-0">
              <section
                class="col-auto border position-relative lg-radius d-flex align-items-center py-2 ps-4 pe-3 position-relative">
                <!-- NOTE :: CONTAINER LOADER -->
                @if (loadingMerchantDetails) {
                  <span
                    class="position-absolute top-0 end-0 start-0 bottom-0 d-flex align-items-center justify-content-center lg-radius bg-overlay-secondary">
                    <span role="status">Loading</span>
                    <span
                      class="spinner-grow spinner-grow-sm ms-2"
                      aria-hidden="true"></span>
                    <span
                      class="spinner-grow spinner-grow-sm ms-2"
                      aria-hidden="true"></span>
                    <span
                      class="spinner-grow spinner-grow-sm ms-2"
                      aria-hidden="true"></span>
                  </span>
                }

                @if (selectedMerchant) {
                  <div
                    class="rounded-circle border merchant-profile bg-secondary d-flex align-items-center justify-content-center me-2">
                    @if (selectedMerchant.lookup_image) {
                      <img
                        src="{{ selectedMerchant.lookup_image }}"
                        alt="{{ selectedMerchant.lookup_title }} Profile"
                        class="image rounded-circle" />
                    } @else {
                      <span class="fs-large text-secondary mt-2">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </span>
                    }
                  </div>
                  <div class="d-flex flex-column ms-2">
                    <span class="fs-large fw-bold"
                      >{{ selectedMerchant.lookup_title }}
                      <span class="fs-normal"
                        >({{ selectedMerchant.lookup_subtitle }})</span
                      ></span
                    >
                    <span class="fs-normal text-secondary fw-bold">{{
                      selectedMerchant.merchant_category_name
                    }}</span>
                  </div>
                }
              </section>
            </div>

            <!-- NOTE :: PAYMENT MENUS -->
            @if (
              !selectedPaymentMenu && !loadingMerchantDetails && merchantDetails
            ) {
              @if (merchantDetails.accepts_simple_payment) {
                <section class="mt-4 col-3">
                  <div
                    role="button"
                    class="d-flex justify-content-between align-items-center border-bottom mb-3 py-2 px-2"
                    (click)="selectPaymentMenu('Direct-Payment')"
                    tabindex="0">
                    <span class="fs-medium" i18n>Direct Payment</span>
                    <span class="fs-medium">
                      <i class="fa-solid fa-chevron-right"></i>
                    </span>
                  </div>

                  <div
                    role="button"
                    class="d-flex justify-content-between align-items-center border-bottom mb-3 py-2 px-2"
                    (click)="selectPaymentMenu('Product-Payment')"
                    tabindex="0">
                    <span class="fs-medium" i18n>Product Payment</span>
                    <span class="fs-medium">
                      <i class="fa-solid fa-chevron-right"></i>
                    </span>
                  </div>
                </section>
              }
            }
          </section>
        }

        <!-- NOTE :: ON PRODUCT PAYMENT MENU -->
        @if (selectedPaymentMenu === 'Product-Payment') {
          <!-- NOTE :: SELECTED PRODUCT SECTION -->
          <section class="mt-4">
            @if (
              selectedMerchant || (type === 'product' && loadingProductDetails)
            ) {
              @if (!selectedProduct && selectedMerchant) {
                <section>
                  <app-merchant-products
                    (selectedProductEvent)="getSelectedProduct($event)"
                    [merchantId]="selectedMerchant.id"></app-merchant-products>
                </section>
              } @else if (selectedProduct) {
                <div class="px-0" style="width: max-content">
                  <div class="mb-3">
                    <b class="fs-medium" i18n>Product(s)</b>
                  </div>
                  <div class="position-relative col-auto p-0">
                    <!-- NOTE :: CONTAINER LOADER -->
                    @if (loadingProductDetails) {
                      <span
                        class="position-absolute top-0 end-0 start-0 bottom-0 d-flex align-items-center justify-content-center lg-radius bg-overlay-secondary">
                        <span role="status">Loading</span>
                        <span
                          class="spinner-grow spinner-grow-sm ms-2"
                          aria-hidden="true"></span>
                        <span
                          class="spinner-grow spinner-grow-sm ms-2"
                          aria-hidden="true"></span>
                        <span
                          class="spinner-grow spinner-grow-sm ms-2"
                          aria-hidden="true"></span>
                      </span>
                    }

                    <!-- NOTE :: SELECTED PRODUCT -->
                    <div>
                      <app-product-card
                        [product]="selectedProduct"
                        type="row"></app-product-card>
                    </div>
                  </div>
                </div>
              }
            }
          </section>

          <!-- NOTE :: LOOKUP METADATA AND METADATA CHECK -->
          <section class="px-0 mt-3">
            @if (
              productDetails &&
              !loadingProductDetails &&
              (productDetails.lookup_metadata || productDetails.metadata) &&
              steps === 'first'
            ) {
              <!-- NOTE :: LOOKUP METADATA  -->
              @if (!productLookup) {
                @if (
                  productDetails.lookup_metadata && !productDetails.lookup_first
                ) {
                  <form
                    [formGroup]="lookupMetadataForm"
                    class="py-4 col-7"
                    (ngSubmit)="doProductLookup()">
                    @if (productDetails.lookup_metadata.length === 1) {
                      <!-- NOTE :: ON ONLY ONE LOOKUP METADATA -->
                      <div>
                        <div class="form-floating position-relative">
                          <span
                            role="button"
                            tabindex="0"
                            (click)="doProductLookup()"
                            class="position-absolute fs-medium text-secondary lookup-search-button">
                            @if (!loadingLookup) {
                              <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                              </span>
                            } @else {
                              <span>
                                <i class="fas fa-spinner fa-pulse"></i>
                              </span>
                            }
                          </span>
                          <input
                            [type]="
                              productDetails.lookup_metadata[0].field_type
                            "
                            [formControlName]="
                              productDetails.lookup_metadata[0].field_name
                            "
                            [disabled]="loadingLookup"
                            class="form-control"
                            [id]="productDetails.lookup_metadata[0].field_name"
                            [placeholder]="
                              productDetails.lookup_metadata[0].field_name
                            " />
                          <label
                            [for]="productDetails.lookup_metadata[0].field_name"
                            class="text-capitalize"
                            >{{
                              productDetails.lookup_metadata[0].field_name
                            }}</label
                          >
                        </div>
                      </div>
                    } @else if (productDetails.lookup_metadata.length > 1) {
                      @for (
                        item of productDetails.lookup_metadata;
                        track $index
                      ) {
                        <div class="mb-3">
                          <div class="form-floating">
                            <input
                              [disabled]="loadingLookup"
                              [type]="item.field_type"
                              [formControlName]="item.field_name"
                              class="form-control"
                              [id]="item.field_name"
                              [placeholder]="item.field_name" />
                            <label
                              [for]="item.field_name"
                              class="text-capitalize"
                              >{{ item.field_name }}</label
                            >
                          </div>
                        </div>
                      }
                      <div class="text-center">
                        <button
                          (click)="doProductLookup()"
                          class="btn bg-primary px-5 text-all-white"
                          [disabled]="!lookupMetadataForm.valid"
                          i18n>
                          Search
                        </button>
                      </div>
                    }
                  </form>
                } @else if (productDetails.lookup_first && loadingLookup) {
                  <div class="col-7 mt-4">
                    <app-skeleton
                      classes="sm-radius"
                      height="60px"></app-skeleton>
                  </div>
                }
              } @else if (productLookup) {
                <!-- NOTE :: LOOKUP DATA BACKEND HTML -->
                <div
                  class="position-relative border bg-secondary p-2 sm-radius mt-4 col-7">
                  <div
                    [innerHTML]="productLookup.response_data?.lookup"
                    class="border-start border-5 border-primary ps-2"></div>
                  <span
                    role="button"
                    tabindex="0"
                    (click)="resetLookupData()"
                    class="position-absolute text-danger end-0 close-button">
                    <i class="fa-solid fa-circle-xmark"></i
                  ></span>
                </div>
                @if (productLookupChoices) {
                  <section class="mt-3 row mx-0">
                    <b class="text-secondary" i18n>Choose package</b>

                    <!-- NOTE :: LOOKUP CHOICES -->
                    @if (!selectedProductLookupChoice) {
                      <div
                        class="mt-3 sm-radius border bg-secondary py-2 px-3 col-5">
                        @for (choice of productLookupChoices; track $index) {
                          <div
                            role="button"
                            tabindex="0"
                            (click)="selectProductLookupChoice(choice)"
                            class="position-relative border-bottom d-flex flex-column py-2"
                            [ngClass]="{
                              'border-bottom':
                                $index < productLookupChoices.length - 1,
                            }">
                            <small
                              ><b>{{ choice.title }}</b></small
                            >
                            <small class="fs-x-small mt-1">{{
                              choice.description
                            }}</small>
                          </div>
                        }
                      </div>
                    } @else {
                      <div
                        class="mt-3 sm-radius border bg-secondary py-2 ps-3 pe-4 col-auto position-relative">
                        <span
                          role="button"
                          tabindex="0"
                          (click)="resetSelectedLookupChoice()"
                          class="position-absolute text-danger end-0 close-button">
                          <i class="fa-solid fa-circle-xmark"></i
                        ></span>
                        <div class="position-relative d-flex flex-column py-1">
                          <small
                            ><b>{{
                              selectedProductLookupChoice.title
                            }}</b></small
                          >
                          <small class="fs-x-small mt-1">{{
                            selectedProductLookupChoice.description
                          }}</small>
                        </div>
                      </div>
                    }
                  </section>
                }

                <!-- NOTE :: CASE TO SHOW ADD AND CONFIRM BUTTON ON LOOKUP_METADATA -->
                @if (
                  productDetails.metadata.length === 0 &&
                  (!productLookupChoices || selectedProductLookupChoice)
                ) {
                  <div class="mt-4">
                    @if (!productDetails.accepts_multiple_payment) {
                      <button
                        class="btn bg-primary px-5 text-all-white fw-bold fs-small"
                        (click)="addProductToWaitList('simple')"
                        i18n>
                        Confirm
                      </button>
                    } @else {
                      <button
                        class="btn bg-primary px-5 text-all-white fw-bold fs-small"
                        (click)="addProductToWaitList('multiple')"
                        i18n>
                        Add
                      </button>
                    }
                  </div>
                }
              }

              <!-- NOTE :: METADATA -->
              @if (
                productDetails.metadata.length !== 0 &&
                ((productDetails.lookup_metadata.length !== 0 &&
                  productLookup &&
                  !productDetails.lookup_first &&
                  !productLookupChoices) ||
                  (productDetails.lookup_metadata.length !== 0 &&
                    selectedProductLookupChoice &&
                    !productDetails.lookup_first) ||
                  (productDetails.lookup_metadata.length === 0 &&
                    !productDetails.lookup_first) ||
                  (productDetails.lookup_first &&
                    productLookup &&
                    !productLookupChoices) ||
                  (productDetails.lookup_first && selectedProductLookupChoice))
              ) {
                <form [formGroup]="metadataForm" class="py-4 col-7">
                  @for (item of productDetails.metadata; track $index) {
                    <div class="mb-3">
                      <div class="form-floating">
                        <input
                          [disabled]="loadingLookup"
                          [type]="item.field_type"
                          [formControlName]="item.field_name"
                          class="form-control"
                          [id]="item.field_name"
                          [placeholder]="item.field_name" />
                        <label [for]="item.field_name" class="text-capitalize"
                          >{{ item.field_name }}
                          @if (item.widget_attrs.required) {
                            <code>*</code>
                          }
                        </label>
                      </div>
                    </div>
                  }
                  <div class="text-center">
                    @if (!productDetails.accepts_multiple_payment) {
                      <button
                        class="btn bg-primary px-5 text-all-white fw-bold fs-small"
                        [disabled]="!metadataForm.valid"
                        (click)="addProductToWaitList()"
                        i18n>
                        Confirm
                      </button>
                    } @else {
                      <button
                        class="btn bg-primary px-5 text-all-white fw-bold"
                        [disabled]="!metadataForm.valid"
                        (click)="addProductToWaitList('multiple')"
                        i18n>
                        Add
                      </button>
                    }
                  </div>
                </form>
              }
            }
          </section>

          <!-- TODO :: DRY => PRODUCT WAIT LIST WHEN WE ARE ON SECOND STEP -->
          <section class="mt-4">
            @if (
              productWaitList.length !== 0 &&
              productDetails &&
              selectedProduct &&
              steps === 'second' &&
              (productDetails.lookup_metadata.length !== 0 ||
                productDetails.metadata.length !== 0)
            ) {
              <section class="col-lg-10 sm-radius border p-3">
                <small class="mb-2 d-block"><b i18n>Wait List</b></small>

                @for (item of productWaitList; track $index) {
                  <div class="px-3 py-2 sm-radius wait-list-item mb-3">
                    <b class="fs-small mb-2 d-block">{{
                      selectedProduct.lookup_title
                    }}</b>
                    <div
                      class="border-start border-primary border-5 ps-3"
                      [innerHTML]="
                        item.lookup_metata.lookup?.response_data?.lookup
                      "></div>
                  </div>
                }
              </section>
            }
          </section>
        }
      </section>

      <!-- NOTE :: SECOND SECTION -->
      <section class="col-5 px-0">
        <!-- NOTE :: PRODUCT WAIT LIST ON SECOND STEP -->
        @if (steps === 'first' && selectedPaymentMenu === 'Product-Payment') {
          @if (
            productWaitList.length !== 0 &&
            productDetails &&
            selectedProduct &&
            (productDetails.lookup_metadata.length !== 0 ||
              productDetails.metadata.length !== 0)
          ) {
            <section class="col-5 sm-radius border p-3">
              <small class="mb-2 d-block"><b i18n>Wait List</b></small>

              @for (item of productWaitList; track $index) {
                <div class="px-3 py-2 sm-radius wait-list-item mb-3">
                  <b class="fs-small mb-2 d-block">{{
                    selectedProduct.lookup_title
                  }}</b>
                  <div
                    class="border-start border-primary border-5 ps-3"
                    [innerHTML]="
                      item.lookup_metata.lookup?.response_data?.lookup
                    "></div>
                </div>
              }

              @if (steps === 'first') {
                <button
                  class="btn bg-primary px-5 fs-small text-all-white fw-bold"
                  (click)="steps = 'second'"
                  i18n>
                  Confirm
                </button>
              }
            </section>
          }
        }

        <!-- NOTE :: DEBIT ACCOUNT ON SECOND STEP -->
        <form
          class="mt-4"
          [formGroup]="simplePaymentForm"
          (submit)="openPaymentPinPopup()">
          @if (steps === 'second') {
            <div>
              <app-debit-account
                title="Account to debit"
                (selectedWallet)="getDebitAccount($event, 'wallet')"
                (selectedAccount)="
                  getDebitAccount($event, 'account')
                "></app-debit-account>
            </div>
            <section class="mt-4 col-9 ps-4 pe-3">
              @if (
                selectedPaymentMenu === 'Direct-Payment' &&
                (debitWallet || debitAccount)
              ) {
                <div class="mb-3">
                  <app-amount-field
                    (amountEvent)="getAmount($event)"></app-amount-field>
                </div>
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    id="descriptionInput"
                    placeholder="Pay A Merchant" />
                  <label for="descriptionInput"
                    >Description <code>*</code></label
                  >
                </div>
              }

              @if (debitAccount || debitWallet) {
                <div class="mt-4 text-center">
                  <button
                    [disabled]="
                      selectedPaymentMenu === 'Direct-Payment' &&
                      !simplePaymentForm.valid
                    "
                    class="btn bg-primary text-all-white fw-bold px-5 fs-small"
                    type="submit"
                    (click)="openPaymentPinPopup()"
                    i18n>
                    Confirm
                  </button>
                </div>
              }
            </section>
          }
        </form>
      </section>
    </div>

    <!-- @if (selectedProduct && !loadingProductDetails && productDetails) {
      @if (selectedPaymentMenu === 'Product-Payment') {
        @if (
          productWaitList.length !== 0 &&
          (productDetails.lookup_metadata.length !== 0 ||
            productDetails.metadata.length !== 0) &&
          ((steps === 'first' && productDetails.accepts_multiple_payment) ||
            (selectedPaymentMenu === 'Product-Payment' && steps === 'second'))
        ) {
          <section class="col-5 sm-radius border p-3">
            <small class="mb-2 d-block"><b>Wait List</b></small>

            @for (item of productWaitList; track $index) {
              <div class="px-3 py-2 sm-radius wait-list-item mb-3">
                <b class="fs-small mb-2 d-block">{{
                  selectedProduct.lookup_title
                }}</b>
                <div
                  class="border-start border-primary border-5 ps-3"
                  [innerHTML]="
                    item.lookup_metata.lookup?.response_data?.lookup
                  "></div>
              </div>
            }

            @if (steps === 'first') {
              <button
                class="btn bg-primary px-5 fs-small text-all-white fw-bold"
                (click)="steps = 'second'"
                i18n>
                Confirm
              </button>
            }
          </section>
        }
        @if (steps === 'second') {
          <section class="col-5">
            <div>
              <app-debit-account
                title="Account to debit"
                (selectedWallet)="getDebitAccount($event, 'wallet')"
                (selectedAccount)="
                  getDebitAccount($event, 'account')
                "></app-debit-account>
            </div>
            @if (debitAccount || debitWallet) {
              <div class="mt-4 text-center col-10">
                <button
                  class="btn bg-primary text-all-white fw-bold px-5 fs-small"
                  (click)="openPaymentPinPopup()"
                  i18n>
                  Confirm
                </button>
              </div>
            }
          </section>
        }
      }
    } -->

    <!-- NOTE :: ON DIRECT PAYMENT  -->
    <!-- @if (steps === 'second' && selectedPaymentMenu === 'Direct-Payment') {
      <section class="mt-4 col-10 mx-auto">
        <div>
          <app-debit-account
            title="Account to debit"
            (selectedWallet)="getDebitAccount($event, 'wallet')"
            (selectedAccount)="
              getDebitAccount($event, 'account')
            "></app-debit-account>
        </div>
        @if (debitAccount || debitWallet) {
          <div class="mt-4 text-center col-10">
            <button
              class="btn bg-primary text-all-white fw-bold px-5 fs-small"
              (click)="openPaymentPinPopup()"
              i18n>
              Confirm
            </button>
          </div>
        }
      </section>
    } -->
  </main>
</dialog>
