<dialog
  id="merchant-payment"
  tabindex="-1"
  class="border-0 p-0 bg-white lg-radius bg-white w-100 h-100 overflow-y-auto p-4 text-dark">
  <main>
    <!-- NOTE :: STEPPER AND BACK SECTION -->
    <section class="d-flex align-items-center justify-content-center">
      <!-- <div class="mx-auto d-flex flex-row my-1 w-content flex-grow-1">
        <div class="stepper-wrapper d-flex align-items-center">
          @if (selectedSection === 'second') {
            <div class="stepper-item active">
              <div class="step-counter text-all-dark border border-dark" i18n>
                1
              </div>
            </div>
            <div
              class="stepper-line"
              [ngClass]="
                theme === 'light' ? 'bg-all-dark' : 'bg-all-white'
              "></div>
          }

          @if (selectedSection === 'first') {
            <div class="stepper-item completed">
              <div
                class="step-counter border border-dark bg-primary fw-bold"
                i18n>
                1
              </div>
            </div>
            <div
              class="stepper-line"
              [ngClass]="
                theme === 'light' ? 'bg-all-dark' : 'bg-all-white'
              "></div>
            <div class="stepper-item active">
              <div class="step-counter border text-all-dark border-dark" i18n>
                2
              </div>
            </div>
          }

          @if (selectedSection === 'second') {
            <div
              class="stepper-item completed"
              *ngIf="selectedSection === 'second'">
              <div
                class="step-counter bg-primary fw-bold border border-dark"
                i18n>
                2
              </div>
            </div>
          }
        </div>
      </div> -->
      <div
        class="text-end text-dark"
        tabindex="-1"
        (click)="closeMerchantPaymentDialog()"
        role="button">
        <span class="me-2"><i class="fa fa-arrow-left"></i></span>
        <b i18n> Back</b>
      </div>
    </section>

    <!-- NOTE :: CATEGORY SECTION -->
    <section>
      <section class="d-flex align-items-center">
        <div class="d-flex align-items-center">
          <span class="text-primary fs-medium me-3">
            <i class="fa-solid fa-play"></i>
          </span>
          <b class="fs-medium">Social</b>
        </div>
        <div class="ms-5 bg-secondary category x-sm-radius d-flex">
          <span class="text-center flex-grow-1 py-1">
            <small>Tv</small>
          </span>
          <small class="bg-primary text-all-white px-2 h-100 x-sm-radius">
            <i class="fa-solid fa-building-columns"></i>
          </small>
        </div>
      </section>
    </section>

    <!-- NOTE :: MERCHANT SECTION -->
    <section class="col-sm-11 mx-auto mt-3">
      <div>
        <app-category-merchants [categoryId]="1"></app-category-merchants>
      </div>
    </section>

    <!---------------------------------------------------------- ****####  MERCHANT SECTION  ####**** ----------------------------------------------------------------->

    @if (type === 'merchant' && merchant) {
      <!---------------------------------------------------------- BACK SECTION ----------------------------------------------------------------->

      <div class="d-flex flex-column h-100">
        <!---------------------------------------------------------- END OF STEPPER SECTION ----------------------------------------------------------------->

        <div class="row flex-grow-1 g-4 overflow-hidden">
          <!---------------------------------------------------------- LEFT SECTION ----------------------------------------------------------------->

          <div class="d-flex flex-column h-100 overflow-scroll scrollBar col-8">
            <div
              class="ps-3 py-2 border position-relative rounded-3 d-flex flex-row pe-1 mb-2 w-content">
              <span
                class="position-absolute top-0 online translate-middle p-2 bg-success border border-light rounded-circle">
                <span class="visually-hidden">Online status</span>
              </span>
              <div
                class="rounded-circle border overflow-hidden profile bg-secondary d-flex align-items-center justify-content-center">
                @if (merchant.lookup_image) {
                  <img
                    src="{{ merchant.lookup_image }}"
                    alt="merchant profile"
                    class="image" />
                } @else {
                  <i
                    class="fa-solid fa-cart-shopping fs-large text-secondary"></i>
                }
              </div>
              <div class="d-flex flex-column ms-2">
                <span class="fs-large fw-bold"
                  >{{ merchant.lookup_title }}
                  <span class="fs-normal"
                    >({{ merchant.lookup_subtitle }})</span
                  ></span
                >
                <span class="fs-normal text-secondary fw-bold">{{
                  merchant.merchant_category_name
                }}</span>
              </div>
            </div>
            <div class="pt-4 mb-4">
              <app-merchant-products [merchantId]="91"></app-merchant-products>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    }
  </main>
</dialog>
