#merchant-payment {
  max-width: 1340px;
}
.category-card {
  min-width: 120px;
}
.merchant-profile {
  width: 60px;
  height: 60px;
}
.spinner-grow-sm {
  --bs-spinner-width: 0.3rem;
  --bs-spinner-height: 0.3rem;
}
.lookup-search-button {
  right: 12px;
  top: 17px;
}
.close-button {
  top: -11px;
}
.wait-list-item {
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
}
.stepper-item {
  width: 25px;
  height: 25px;
}
