<div>
    <div>
        <div>
            <form
        id="searchForm"
        class="mt-4 shadow position-relative bg-white"
        [ngClass]="{ 'active ': isSearchInputNotEmpty(),

 }"
    >
        <input
            class="ps-4 search-input position-absolute"
            [ngClass]="{
                'bg-in-light': theme === 'light-mode',
                'd-block ': isSearchInputNotEmpty()
            }"
            type="text"
            placeholder="Search merchant"
            [formControl]="searchInput"
            (input)="searchFor()"
        />
        <span
            role="button"
            (click)="searchFor()" tabindex="0"
            class="btn bg-transparent search-btn"
            type="submit"
        >
            <span *ngIf="!isLoading"
                ><i
                    class="fa-solid fa-search search-button position-absolute text-align-center fs-7 text-dark"
                ></i
            ></span>
            <span *ngIf="isLoading">
                <i
                    class="fa-solid fa-spinner search-button position-absolute text-align-center fa-pulse fs-7 text-dark"
                ></i
            ></span>
        </span>
        <style>
            .form-control::placeholder {
                color: rgb(204, 197, 197);
            }
        </style>
    </form>
        </div>
    </div>
</div>