// #black-bar {
//     height: 75px;
// }

// .workStation {
//     margin-left: 122px;
// }

// .onlineBanking {
//     width: 188px;
// }
// .border-light {
//     border: 2px solid #fff;
// }

// @keyframes anim {
//     0% {
//         top: 0px;
//     }
//     100% {
//         left: -2px;
//     }
// }

// a {
//     text-decoration: none;
// }
// #close {
//     transition: all 1s;
//     position: relative;
//     top: 0px;
//     animation: anim 1s infinite;
// }
// #cont {
//     transition: all 2s ease-in-out;
// }
// .white {
//     color: white;
//     @media screen and (max-width: 991px) {
//         color: #9d9d9d;
//         .show-plateform {
//             filter: invert(70%) !important;
//         }
//     }
// }

// .dark {
//     position: relative;
//     display: inline-block;
//     width: 40px;
//     height: 20px;
//     background-color: transparent;
//     border: 2px solid #000;
//     border-radius: 20px;
//     transition: all 0.3s;
//     padding: 2px 0px 5px 2px;
// }

// .light {
//     position: relative;
//     display: inline-block;
//     width: 40px;
//     height: 20px;
//     background-color: transparent;
//     border: 2px solid #fff;
//     border-radius: 20px;
//     transition: all 0.3s;
//     padding: 2px 0px 5px 2px;
// }

// .light::after {
//     content: '';
//     position: absolute;
//     width: 13px;
//     height: 13px;
//     border-radius: 50%;
//     background-color: #fff;
//     transition: all 0.3s;
// }
// .dark::after {
//     content: '';
//     position: absolute;
//     width: 13px;
//     height: 13px;
//     border-radius: 50%;
//     margin: 0px -5px 0px 0px;
//     background-color: black;
//     transition: all 0.3s;
// }

// .checkbox:checked + .switch::after {
//     left: 20px;
// }
// .checkbox:checked + .switch {
//     background-color: transparent;
// }
// .checkbox {
//     display: none;
// }

// .workstationHeaderWidth {
//     width: 100vw;
// }

// .onlineBankingHeaderWidth {
//     width: 100vw;
// }
// .clickable {
//     cursor: pointer;
// }

// .padding {
//     padding: 5px 0px 0px 0px;
// }

// .margin-top {
//     margin-top: -35px;
// }

// .unselectedIcon-b {
//     color: #b86b6b;
// }

// .selectedIcon-b {
//     border-bottom: 3px solid #b86b6b;
//     padding-bottom: 8px;
//     width: 150%;
//     color: #ffff;
// }

// .unselectedIcon-w {
//     color: #bddaf6;
// }

// .selectedIcon-w {
//     border-bottom: 3px solid #2070b8;
//     padding-bottom: 8px;
//     width: 150%;
//     color: #2070b8;
// }


.margin-right {
    margin-right: 100px;
}

// .profile-card {
//     min-width:300px;
//     height: calc(100% - 100px);
//     position: absolute;
//     right: 2px;
//     z-index: 20;
//     border: 0.5px solid rgb(172, 170, 170);
//     display: flex;
//     flex-direction: column;
// }
.clientProfile {
    border-radius: 50%; 
    height: 25px; 
    width: 25px
}
.profile-picture-container {
    width: 87px;
    height: 87px;
}
// @media (max-width: 991px) {
//     .profile-card {
//         height: calc(100% - 110px);
//         right: 2px;
//         z-index: 20;
//         border: 0.5px solid rgb(172, 170, 170);
//         // display: flex;
//         // flex-direction: column;
//         //transition: all 2s;
//         animation: slidein 100ms 1 linear;
//         //-webkit-animation:slidein 100ms 1 linear;
//         overflow-y: scroll;
//         overflow-x: hidden;
//         -webkit-animation: slidein 100ms 1 linear;
//         min-width: 328px;
//     }
// }
@media (min-width: 991px) {
    .profile-card {
        right: 2px;
        z-index: 20;
        position: relative;
        border: 0.5px solid rgb(172, 170, 170);
        // display: flex;
        // flex-direction: column;
        //transition: all 1s;
        overflow-y: scroll;
        overflow-x: hidden;
        animation: slidein 100ms 1 linear;
        -webkit-animation: slidein 100ms 1 linear;
        min-width: 328px;
    }
}


#right-side-menu-icons {
    @media screen and (max-width: 991px) {
        flex-grow: 1;
    }
    @media screen and (min-width: 992px) {
        flex-grow: 0;
    }
}

a {
    text-decoration: none !important;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.plateforn-card {
    width: auto;
    height: calc(100vh - 70px);
    position: absolute;
    right: 2px;
    top: 55px;
    z-index: 20;
    // border: 10px solid #C98986;
    // display: flex;
    // flex-direction: column;
    //transition: all 2s;
    animation: slidein 100ms 1 linear;
    //-webkit-animation:slidein 100ms 1 linear;
    // overflow-y: scroll;
    overflow-x: hidden;
    -webkit-animation: slidein 100ms 1 linear;
    min-width: 328px;
}
.icons-color {
    color: #d9d9d9;
}
.border-primary-onamob {
    border-color: #e4c5c3 !important;
}
.bg-onamob-2 {
    background-color: #e4c5c3 !important;
}
