body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import '../public/sass/colors/global';
@import '../public/sass/colors/banking';
@import '../public/sass/colors/workstation';

@import 'bootstrap/scss/bootstrap';
$enable-dark-mode: false;
