<form>
  <div class="container h-100">
    <div class="row flex-column flex-md-row mb-4">
      <div class="col-12 col-md-5 me-auto d-flex flex-column mb-2 mb-md-0">
        <div class="d-flex mb-3">
          <div class="col-2">
            <span>NIF:</span>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control border border-1"
              style="outline: none; box-shadow: none; border: none"
              placeholder="4007129467" />
          </div>
        </div>
        <div class="d-flex">
          <div class="col-2">
            <span>Adress:</span>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control border border-1 bg-secondary"
              style="outline: none; box-shadow: none; border: none"
              placeholder="kinindo" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-flex flex-column">
        <div class="d-flex mb-3">
          <div class="col-2">
            <span>RC:</span>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control border border-1"
              style="outline: none; box-shadow: none; border: none" />
          </div>
        </div>
        <div class="d-flex">
          <div class="col-2">
            <span>Contact:</span>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control border border-1"
              style="outline: none; box-shadow: none; border: none"
              placeholder="76 43 44 44" />
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-column flex-md-row align-items-end mb-4">
      <div class="">
        <span class="text-secondary">BUSINESS DETAILS</span>
      </div>
      <div class="col-12 col-md-6 me-auto d-flex mb-3">
        <div class="col">
          <div class="w-50 h-100 text-center bg-secondary">
            <span class="text-info opacity-25">A</span>
          </div>
        </div>
        <div class="col-11 me-auto d-flex flex-column">
          <div class="d-flex mb-3">
            <div class="col-3 me-auto">
              <span>Name:</span>
            </div>
            <div class="col-7">
              <input
                type="text"
                class="form-control border border-1"
                style="outline: none; box-shadow: none; border: none"
                placeholder="phone shop" />
            </div>
          </div>
          <div class="d-flex">
            <div class="col-4 me-auto">
              <span>Constitution Date:</span>
            </div>
            <div class="col-7">
              <input
                type="text"
                class="form-control border border-1"
                style="outline: none; box-shadow: none; border: none"
                placeholder="04.Dec.2023" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 col-md-6 d-flex flex-column">
        <div class="d-flex mb-3">
          <div class="col-5 col-md-3 me-auto text-start text-md-center">
            <span>Delivered at:</span>
          </div>
          <div class="col-7 col-md-7">
            <input
              type="text"
              class="form-control border border-1"
              style="outline: none; box-shadow: none; border: none"
              placeholder="Bujumbura" />
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="col-5 col-md-3 me-auto text-start text-md-center">
            <span>Categorie:</span>
          </div>
          <div class="col-7 col-md-7">
            <select
              class="form-select border border-1 bg-secondary"
              style="outline: none; box-shadow: none; border: none">
              <option selected>Electronics</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-column align-items-end flex-md-row mb-4">
      <div class="">
        <span class="text-secondary">ADRESS DETAILS</span>
      </div>
      <div class="col-12 col-md-6 me-auto d-flex">
        <div class="col">
          <div class="w-50 h-100 text-center bg-secondary">
            <span class="text-info opacity-25">B</span>
          </div>
        </div>
        <div class="col-11 me-auto d-flex flex-column">
          <div class="d-flex mb-3">
            <div class="col-3 me-auto">
              <span>Your Adress:</span>
            </div>
            <div class="col-7">
              <select
                class="form-select border border-1 bg-secondary"
                style="outline: none; box-shadow: none; border: none">
                <option selected>jabe</option>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <div class="col-4 me-auto">
              <span>Your Tel:</span>
            </div>
            <div class="col-7">
              <select
                class="form-select border border-1 bg-secondary"
                style="outline: none; box-shadow: none; border: none">
                <option selected>76 43 44 44</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 col-md-6 d-flex flex-column">
        <div class="d-flex mb-3 mb-md-0 mt-3 mt-md-5">
          <div class="col-lg-3 me-auto text-start text-md-center mt-1 mt-md-3">
            <span>Your Email:</span>
          </div>
          <div class="col-7 mt-0 mt-md-3">
            <select
              class="form-select border border-1 bg-secondary"
              style="outline: none; box-shadow: none; border: none">
              <option selected>ihelaryanje&#64;gmail.com</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="row">
        <span class="text-secondary">SIGNATORIES AUTHORIZED</span>
      </div>
      <div class="d-flex h-auto justify-content-between">
        <div class="col-12 col-lg-7 me-auto h-100">
          <div class="w-100 h-100 d-flex">
            <div class="col">
              <div class="w-75 h-100">
                <div class="w-100 h-100">
                  <div
                    class="w-50 h-100 d-flex flex-column justify-content-between bg-secondary">
                    <div
                      class="d-flex align-items-center justify-content-center">
                      <span class="text-info opacity-25">C</span>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center">
                      <span class="text-info fs-4">+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-11">
              <div class="row w-100 justify-content-between">
                <div class="col-12 col-md-5 rounded-2 border mb-3 mb-md-0">
                  <div
                    class="w-100 d-flex flex-md-row justify-content-between mt-2">
                    <div class="col-6 d-flex flex-column">
                      <span class="mb-3">Nom :</span>
                      <span class="mb-3">Position :</span>
                      <span>Signature :</span>
                    </div>
                    <div class="col-6 d-flex flex-column">
                      <span class="mb-3">Bibyento</span>
                      <span class="mb-3">DG</span>
                      <span>Image</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 rounded-2 border">
                  <div class="w-100 h-100 d-flex flex-md-row">
                    <div class="col-6 col-md-6 d-flex flex-column">
                      <span class="mb-3">Nom :</span>
                      <span class="mb-3">Position :</span>
                      <span>Signature :</span>
                    </div>
                    <div class="col-6 col-md-6 d-flex flex-column">
                      <div class="mt-1">
                        <input
                          type="text"
                          class="h-75 form-control border-1"
                          style="outline: none; box-shadow: none" />
                      </div>
                      <div class="">
                        <input
                          type="text"
                          class="h-75 form-control border-1"
                          style="outline: none; box-shadow: none" />
                      </div>
                      <div class="h-25 rounded-1 bg-primary mb-1">
                        <div
                          class="w-75 h-100 d-flex justify-content-between align-items-center mx-auto">
                          <i class="fa-solid fa-camera text-light"></i>
                          <span class="text-light">Browser</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 mb-5">
      <span class="text-secondary">DECLARATIONS</span>
      <div class="w-100 h-auto d-flex flex-column bg-secondary rounded-2 mt-1">
        <span class="p-2">
          we hereby declare that the information provided above is true and
          correct to the best of my/our knowledge and I/we undertake to inform
          you immediately of any changes. In the event that any of the above
          information proves to be false or misleading, I/we are aware that I/we
          may be held responsible
        </span>
        <div class="w-100 d-flex mb-2" style="height: 38px">
          <div class="col-3 col-md-8"></div>
          <div class="col-9 col-md-4 d-flex justify-content-between">
            <div class="col-5 col-md-4 me-auto me-md-0">
              <button
                type="button"
                class="w-100 h-100 bg-primary text-light rounded-2 border border-danger">
                Accept
              </button>
            </div>
            <div class="col-5 col-md-4">
              <button
                type="button"
                class="w-100 h-100 bg-secondary border text-dark rounded-2">
                Decline
              </button>
            </div>
            <div class="col-1 col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-flex" style="height: 48px">
      <div class="col-12 col-md-5 d-flex justify-content-between h-100">
        <div class="col-7">
          <button
            type="button"
            class="w-100 h-100 bg-primary text-light rounded-2 border border-danger">
            Save and Send the request
          </button>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="w-100 h-100 bg-secondary border text-dark rounded-2">
            Cancel
          </button>
        </div>
      </div>
      <div class="col-0 col-md-7 h-100"></div>
    </div>
  </div>
</form>
