<div class="container-fluid">
  <div class="border border-2 border-opacity-25">
    <div
      class="w-100 bg-secondary ps-1 pb-1 pt-1 pe-1 d-flex justify-content-end">
      <span class="border me-2 mb-1 mt-1 border-opacity-50"></span>
      <span
        role="button"
        class="pt-1 pb-1 ps-3 pe-3 border shadow-sm fs-6 rounded">
        <small><i class="fa-solid fa-arrow-left"></i></small>
        <small class="ps-1" i18n>Back</small>
      </span>
    </div>

    <!-- Last beneficiaries bloc -->
    <div class="w-100 mt-4">
      <span class="fw-bold ms-4 fs-medium" i18n>Last Beneficiaries</span>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4 mt-1 ms-3 me-5">
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Favorite beneficiaries bloc -->
    <div class="w-100 mt-4 mb-3">
      <span class="fw-bold ms-4 fs-medium" i18n>Favorite Beneficiaries</span>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4 mt-1 ms-3 me-5">
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div class="col flex-shrink-0 mt-3">
          <div class="shadow-sm border bg-white p-2 d-flex flex-column rounded">
            <div
              class="rounded-circle mt-2 row text-center ms-auto me-auto pt-auto pb-auto bg-info square">
              <span class="fw-bold m-auto">PK</span>
            </div>
            <span class="fw-bold ms-1 mt-2">Bibyento</span>
            <span class="ms-1">16-01</span>
            <span class="ms-1 d-flex align-items-center"
              ><span class="rounded w-25 bg-secondary h-15"></span
              ><small class="ms-2 opacity-75">Bank</small></span
            >
          </div>
        </div>
        <div
          class="col flex-shrink-0 mt-3 row justify-content-center align-items-center"
          role="button">
          <div
            class="shadow-sm rounded-circle square-lg border bg-info p-2 d-flex flex-column rounded">
            <span class="m-auto"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div role="button" class="btn bg-primary text-light w-100 rounded m-4 mw">
      <span class="fs-4">New Transfer</span>
      <span class="ms-2 fs-medium"
        ><i class="fa-solid fa-paper-plane"></i
      ></span>
    </div>
  </div>
</div>
