<!-- <p>bills works!</p> -->
<section class="client mt-3 ms-5">
  <div class="p-2">
    <div class="text-end me-3 mb-3">
      <span class="text-dark">
        <span class="me-2 fw-bold" i18n>Filter</span>
        <span><i class="fa-solid fa-filter"></i></span>
      </span>
    </div>

    <!-- payment Request -->
    <section class="paymentRequest">
      @if (
        paymentRequestBillsLoading ||
        (paymentRequestBills && paymentRequestBills.length !== 0)
      ) {
        <div class="title d-flex">
          <span class="fw-bold me-3 text-dark" i18n> Payment Request </span>
          <span class="border-bottom mb-2 border-2 flex-grow-1"></span>
        </div>
      }
      @if (paymentRequestBillsLoading) {
        <div class="skeletons mt-4 row me-5 me-md-0">
          <div class="all-bill-card col-11 col-sm-8 col-md-5 skeletonsSize">
            <app-skeleton [height]="'90%'" classes="lg-radius"></app-skeleton>
          </div>
        </div>
      }
      @if (paymentRequestBills && paymentRequestBills.length !== 0) {
        <div class="d-flex mt-3 flex-wrap">
          <div
            class="row mx-0 mt-4 justify-content-around col-10 flex-grow-1 gap-2 me-3 me-md-0">
            @for (bill of paymentRequestBills; track $index) {
              <div
                class="all-bill-card col-11 col-sm-8 col-md-5 shadow card p-0 level-1 bg-white"
                role="button"
                [hidden]="$index >= 3 && !seeMore"
                routerLink="/m/market/bill/{{ bill.id }}">
                <div class="card-header bg-primary px-2 py-1 cardHeaderSize">
                  <div class="d-flex ms-3 h-100 justify-content-between">
                    <div class="pictureUrlBlock">
                      @if (bill.created_by.picture_url) {
                        <img
                          src="{{ bill.created_by.picture_url }}"
                          alt="{{ bill.created_by.client_full_name }} Photo"
                          class="image rounded-circle" />
                      }
                      @if (!bill.created_by.picture_url) {
                        <span
                          class="d-flex justify-content-center align-items-center position-relative">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="78"
                            height="57"
                            viewBox="0 0 78 57"
                            fill="none">
                            <g opacity="0.5">
                              <path
                                d="M22.3651 21.1809C23.8852 20.0711 23.6046 17.9695 23.0124 16.3773C22.7772 15.7453 23.2145 15 23.8889 15H27.6549C29.5023 15 31 16.4977 31 18.3451C31 19.9813 29.8173 21.3842 28.1953 21.5983C24.6485 22.0665 20.7817 22.337 22.3651 21.1809Z"
                                fill="#D9D9D9" />
                              <path
                                d="M63.5 41C62.0787 40.1472 62.2566 38.5706 62.7776 37.3109C63.0176 36.7307 62.6278 36 62 36H57.6696C56.1952 36 55 37.1953 55 38.6697C55 40.0047 55.9858 41.1379 57.3123 41.2879C60.9147 41.6954 65.1257 41.9755 63.5 41Z"
                                fill="#D9D9D9" />
                              <rect
                                x="15"
                                width="56"
                                height="16"
                                rx="8"
                                fill="#D9D9D9" />
                              <rect
                                x="12"
                                y="41"
                                width="66"
                                height="16"
                                rx="8"
                                fill="#D9D9D9" />
                              <rect
                                y="21"
                                width="74"
                                height="16"
                                rx="8"
                                fill="#D9D9D9" />
                            </g>
                          </svg>
                          <span class="fs-4 mt-1 position-absolute">
                            <i
                              class="fa-solid fa-cart-shopping text-black opacity-50 ms-2 me-3"></i>
                          </span>
                        </span>
                      }
                    </div>
                    <div
                      class="d-flex flex-column text-light align-items-end text-end">
                      <span class="fs-5">{{
                        bill.created_by.client_full_name
                      }}</span>
                      <!-- <small>inforegideso@test.com</small> -->
                      <!-- <small>{{ bill.partner_reference }}</small> -->
                    </div>
                  </div>
                </div>
                <div class="card-body p-2">
                  <div class="fw-bold fs-4 ms-2 text-dark">
                    {{ bill.total_amount | currency: 'BIF ' }}
                  </div>
                  <div class="d-flex my-2">
                    <span class="d-flex flex-column flex-grow-2">
                      <small class="text-secondary" i18n>Merchant</small>
                      <span class="fs-5 text-dark">{{
                        bill.merchant_teller.merchant.merchant_title
                      }}</span>
                    </span>
                  </div>
                  <div class="d-flex flex-column">
                    <small class="text-secondary" i18n>Code</small>
                    <span class="fs-5 text-dark">{{ bill.code }}</span>
                  </div>
                  <div class="text-end">
                    <small class="fw-bold text-dark">{{
                      bill.created_at | date: 'medium'
                    }}</small>
                  </div>
                </div>
                <div
                  class="card-footer bg-primary text-light text-center fs-5 statusBlock"
                  [ngClass]="{
                    'initial-bill': bill.payment_status.value === 'I',
                    'paid-bill': bill.payment_status.value === 'P',
                    'process-bill': bill.payment_status.value === 'R',
                  }">
                  {{ bill.payment_status.title }}
                </div>
              </div>
            }
            <div class="all-bill-card col-11 col-sm-8 col-md-5"></div>
            <div class="all-bill-card col-11 col-sm-8 col-md-5"></div>
          </div>
          <div class="d-flex justify-content-end align-items-end mt-2 col-1">
            @if (!seeMore) {
              <span
                (click)="seeMore = true"
                role="button"
                tabindex="0"
                class="text-dark fw-bold"
                i18n
                ><u>More</u></span
              >
            } @else if (seeMore) {
              <span
                (click)="seeMore = false"
                role="button"
                tabindex="0"
                class="text-dark fw-bold"
                i18n
                ><u>Less</u></span
              >
            }
          </div>
        </div>
      }
    </section>

    <!-- all bills -->
    <section class="allBills mt-5">
      <div class="title d-flex">
        <span class="fw-bold me-3 text-dark" i18n> All Bills </span>
        <span class="border-bottom mb-2 border-2 flex-grow-1"></span>
      </div>

      <!-- not found message -->
      @if (merchantBills && merchantBills.length === 0) {
        <div class="d-flex flex-column align-items-center mt-5">
          <span class="text-secondary opacity-50 fs-xx-large">
            <i class="fa-solid fa-face-meh"></i>
          </span>
          <b class="text-secondary fs-2 opacity-50" i18n> No Bills </b>
        </div>
      }

      <!-- skeleton loader -->
      @if (isLoading && !merchantBills) {
        <div
          class="skeletons row me-5 me-md-0 mt-4 justify-content-around justify-content-md-start">
          @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
            <div
              class="all-bill-bill col-11 col-sm-8 col-md-5 col-lg-4 skeletonsSize">
              <app-skeleton [height]="'80%'" classes="lg-radius"></app-skeleton>
            </div>
          }
          <!-- <div
            class="all-bill-bill col-11 col-sm-8 col-md-5 col-lg-4"
            style="height: 300px"></div> -->
        </div>
      }
      @if (!isLoading && merchantBills) {
        <section
          class="row mx-0 mt-4 gap-2 gap-xxl-3 justify-content-around justify-content-md-start me-4 me-md-0 pe-3 pe-md-0">
          @for (bill of merchantBills; track $index) {
            <div
              class="all-bill-card border-0 shadow-sm rounded-0 rounded-bottom card p-0 level-1 col-11 col-sm-8 col-md-5 bg-white"
              routerLink="/m/market/bill/{{ bill.id }}"
              role="button"
              tabindex="0">
              <div class="card-body p-2">
                <div class="fw-bold fs-4 ms-2 text-dark">
                  {{ bill.total_amount | currency: 'BIF ' }}
                </div>
                <div class="d-flex my-2">
                  <span class="d-flex flex-column flex-grow-2">
                    <small class="text-secondary" i18n>Merchant</small>
                    <span class="fs-5 text-dark">{{
                      bill.merchant_teller.merchant.merchant_title
                    }}</span>
                  </span>
                  <span class="d-flex flex-column flex-grow-4">
                    <small class="text-secondary" i18n>ID</small>
                    <span class="fs-5 text-dark">{{
                      bill.merchant_teller.merchant.id
                    }}</span>
                  </span>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-secondary" i18n>Code</small>
                  <span class="fs-5 text-dark">{{ bill.code }}</span>
                </div>
                <div class="text-end">
                  <small class="fw-bold text-dark">{{
                    bill.created_at | date: 'mediumDate'
                  }}</small>
                </div>
              </div>
              <div
                class="card-footer border-0 text-light text-center fw-bold fs-5 text-capitalize"
                [ngClass]="{
                  'initial-bill': bill.payment_status.value === 'I',
                  'paid-bill': bill.payment_status.value === 'P',
                  'process-bill': bill.payment_status.value === 'R',
                }">
                {{ bill.payment_status.title }}
              </div>
            </div>
          }
          <div class="col-11 col-sm-8 col-md-5"></div>
        </section>
      }
      @if (!isLoading) {
        <div class="my-3 w-100">
          <app-pagination
            [isLoading]="isLoading"
            [totalData]="totalData"
            [pageLimit]="billsPagination.filters.limit"
            (paginationChange)="onPaginationChange($event)"></app-pagination>
        </div>
      }
    </section>
  </div>
</section>
<!-- 
@if (selectedMarket === 'myMarket' && isMerchant) {
  <section class="merchant">
    <div style="height: inherit; overflow-y: auto" class="p-3 rounded">
          <app-list
              url="/dbs/merchant/bills/?requested=true&report=true&"
              title="Bills"
              [headers]="billsHeaders"
          ></app-list>
      </div> 
  </section>
}
  -->
