.invoice-by-group-card {
    width: 150px;
}

.imgSize {
    width: 69px;
    height: 37px;
}
.iconSize {
    width: 30px;
    height: 30px;
}

.borderDashed {
    border-bottom: 1px dashed #C4C4C4;
}

.modal-header {
    border-bottom: none !important;
}