<div class="d-flex flex-column justify-content-center gap-5">
  <div
    class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-5">
    @if (invoices) {
      <div class="d-flex">
        <div class="col-2">
          <div class="invoice-by-group-card sm-radius shadow-sm">
            <div class="col-10 d-grid gap-2 mx-auto">
              <div class="row mt-2">
                <div class="col-3 rounded-circle bg-secondary d-flex mx-auto">
                  <span
                    class="w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-warehouse"></i>
                  </span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                  <div class="border border-warning xx-lg-radius py-1 px-2">
                    <span class="text-warning">{{
                      invoices.payment_status.title
                    }}</span>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column d-grid gap-2">
                @if (invoices.provider.client) {
                  <span class="fs-small fw-bold text-dark">{{
                    invoices.provider.client.client_full_name
                  }}</span>
                }

                <span class="fs-x-small text-secondary">{{ invoices.id }}</span>
              </div>
            </div>
            <div class="bg-secondary position-relative mt-3">
              <div class="position-absolute top-0 end-0 translate-middle">
                <span><i class="fa-solid fa-receipt text-primary-2"></i></span>
              </div>
              <div class="d-grid gap-2 d-flex flex-column">
                <div class="row d-flex align-items-start">
                  @for (_ of [1, 2, 3, 4, 5]; track $index) {
                    <div class="col">
                      <hr class="bg-primary w-100 my-0" />
                    </div>
                  }
                </div>
                <div class="col-10 mx-auto">
                  <div class="row mt-2">
                    @for (order of invoices.orders; track $index) {
                      <div class="col-6 me-auto">
                        <div class="d-flex gap-1">
                          <span><i class="fa-solid fa-box fa-sm"></i></span>
                          <span
                            class="fs-small text-truncate text-secondary fw-bold"
                            >{{ order.product.name || '---' }}</span
                          >
                        </div>
                      </div>
                      <div class="col-6 text-truncate">
                        <span class="fs-small text-secondary"
                          >{{ order.element_metadata.original_data.quantity }}
                          {{ order.product.measure.suffix || '---' }}</span
                        >
                      </div>
                    }
                  </div>
                  <div class="fs-medium fw-bold text-primary mb-2 mt-2">
                    <span>
                      <app-amount-visibility
                        [customClasses]="'fs-medium'"
                        [amount]="invoices.total_amount"
                        [currency]="'BIF'"
                        [alwaysShowAmount]="true"></app-amount-visibility>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
