<div class="container bg-white">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <i class="fa fa-circle fs-x-small me-2 text-primary"></i>
      <b>Credit Account</b>
    </div>
  </div>
  <section class="d-flex">
    <div class="p-2 rounded pe-4 w-50 h-100">
      @if (!debitAccount || !debitWallet || !isMerchantTransfer) {
        <div class="my-4 d-flex align-items-center">
          <div>
            <div
              class="d-flex p-1 justify-content-between rounded align-items-center"
              style="height: 50px"
              [ngClass]="{
                'bg-secondary': mode === 'light',
                'bg-primary-2': mode === 'dark',
                'w-100':
                  mainConfig && mainConfig.activePlateform === 'workstation',
              }">
              <div
                style="transition: all 0.2s ease-in-out"
                role="button"
                tabindex="0"
                disabled
                (click)="selectCreditAccountType('account')"
                [ngClass]="{
                  'bg-primary  text-all-white rounded px-1 py-2 me-1':
                    selectedCreditAccountType === 'account',
                }"
                class="text-center rounded px-1 py-2 ms-1 width">
                <b i18n>Account</b>
              </div>
              <div
                style="transition: all 0.2s ease-in-out"
                role="button"
                tabindex="0"
                (click)="selectCreditAccountType('wallet')"
                [ngClass]="{
                  'bg-primary  text-all-white rounded px-1 py-2 me-1':
                    selectedCreditAccountType === 'wallet',
                }"
                class="text-center rounded px-1 py-2 ms-1 width">
                <b i18n>Wallet</b>
              </div>
              <!-- <div
              style="transition: all 0.2s ease-in-out"
              role="button"
              tabindex="0"
              class="text-center not-clickable rounded px-1 py-2 ms-1 width"
              (click)="selectCreditAccountType('favorite')"
              [ngClass]="{
                'bg-primary-2 text-all-white rounded p-1':
                  selectedCreditAccountType === 'favorite',
              }">
              <b i18n>Favorite</b>
            </div> -->
            </div>
          </div>
          <div class="ms-1"></div>
        </div>
      }

      <div class="mt-2 d-flex">
        @if (
          !selectedInstitution &&
          selectedCreditAccountType &&
          selectedCreditAccountType !== 'wallet'
        ) {
          <div class="d-flex justify-content-between me-5 row">
            <div
              class="d-flex sm-radius me-2 col-auto mb-2"
              role="button"
              tabindex="0"
              (click)="selectInstitutionType('BNQ')">
              <div
                class="px-2 pt-1 d-flex justify-content-center"
                [ngClass]="{
                  ' text-all-dark': mode === 'dark',
                  'bg-primary-2':
                    selectedInstitutionType === 'BNQ' &&
                    mainConfig &&
                    mainConfig.activePlateform === 'workstation',
                  'bg-primary':
                    selectedInstitutionType === 'BNQ' &&
                    mainConfig &&
                    mainConfig.activePlateform !== 'workstation',
                }"
                style="width: 60px">
                <b
                  [ngClass]="{
                    'text-light':
                      mode === 'dark' || selectedInstitutionType === 'BNQ',
                  }"
                  i18n
                  >Banks</b
                >
              </div>
              <div
                class="px-2 pt-1 text-all-white"
                [ngClass]="{
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                }"
                style="border-radius: 0px 3px 3px 0px">
                <i class="fa fa-landmark"></i>
              </div>
            </div>
            <div
              class="d-flex me-2 sm-radius col-auto mb-2"
              role="button"
              tabindex="0"
              (click)="selectInstitutionType('MFI')">
              <div
                class="px-2 pt-1 d-flex justify-content-center"
                [ngClass]="{
                  'primary-light':
                    selectedInstitutionType === 'MFI' &&
                    mainConfig &&
                    mainConfig.activePlateform === 'workstation',
                  'bg-primary':
                    selectedInstitutionType === 'MFI' &&
                    mainConfig &&
                    mainConfig.activePlateform !== 'workstation',
                }"
                style="border-radius: 3px 0px 0px 3px; width: 60px">
                <b
                  [ngClass]="{
                    'text-light':
                      mode === 'dark' || selectedInstitutionType === 'MFI',
                  }"
                  i18n
                  >MIF</b
                >
              </div>
              <div
                class="px-2 pt-1 text-all-white"
                [ngClass]="{
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                }"
                style="border-radius: 0px 3px 3px 0px">
                <i class="fa fa-landmark"></i>
              </div>
            </div>

            <div
              class="d-flex me-2 col-auto mb-2 sm-radius"
              role="button"
              tabindex="0"
              (click)="selectInstitutionType('MOB')">
              <div
                class="px-2 pt-1 d-flex justify-content-center"
                [ngClass]="{
                  'primary-light':
                    selectedInstitutionType === 'MOB' &&
                    mainConfig &&
                    mainConfig.activePlateform === 'workstation',
                  'bg-primary':
                    selectedInstitutionType === 'MOB' &&
                    mainConfig &&
                    mainConfig.activePlateform !== 'workstation',
                }"
                style="border-radius: 3px 0px 0px 3px; width: 60px">
                <b
                  [ngClass]="{
                    'text-light':
                      mode === 'dark' || selectedInstitutionType === 'MOB',
                  }"
                  i18n
                  >Mobile</b
                >
              </div>
              <div
                class="px-2 pt-1 text-all-white"
                [ngClass]="{
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                }"
                style="border-radius: 0px 3px 3px 0px">
                <i class="fa fa-landmark"></i>
              </div>
            </div>
          </div>
        }

        <div class="ms-1"></div>
      </div>
      <hr />

      @if (selectedInstitutionType && !selectedInstitution) {
        <div>
          <div
            class="d-flex"
            [ngClass]="{
              'text-primary':
                mainConfig && mainConfig.activePlateform !== 'workstation',
            }">
            <span
              role="button"
              tabindex="0"
              style="text-decoration: underline"
              class="me-4"
              i18n
              (click)="changeInstitutionType()"
              >Change type</span
            >
          </div>
        </div>
      }

      @if (!selectedInstitutionType && selectedCreditAccountType !== 'wallet') {
        <div class="m-4 mt-5 text-secondary d-flex justify-content-center">
          <i class="h3 me-2 fa fa-magic"></i>
          <b class="h3" i18n>A bank accessible to all</b>
        </div>
      }

      @if (
        institutionsList?.length > 0 &&
        selectedInstitutionType &&
        !selectedInstitution
      ) {
        <div
          class="w-100 mt-4 mx-2 row d-flex justify-content-between align-items-start">
          @for (institution of institutionsList; track $index) {
            <div
              class="col-auto mb-3 d-grid is-hoverable"
              style="width: 150px"
              role="button"
              tabindex="0"
              (click)="selectInstitution(institution)">
              <div class="w-100 d-flex mb-1 justify-content-center">
                <img
                  [src]="institution.company.logo"
                  style="width: 100px; height: 60px"
                  [alt]="institution.company.name" />
              </div>

              <small class="text-center">{{ institution.company.name }}</small>
            </div>
          }
        </div>
      } @else if (!institutionsList && selectedInstitutionType) {
        <div class="text-center fs-l-medium">
          <span><i class="fa-solid fa-spin fa-circle-notch"></i></span>
        </div>
      }

      @if (selectedInstitutionType && selectedInstitution) {
        <div class="my-3 mt-5">
          <div class="d-flex align-items-center">
            <div class="d-flex me-2" role="button" tabindex="0">
              <div
                class="px-2 pt-1 text-light"
                [ngClass]="{
                  'level-3':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                  'level-1':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                }"
                style="border-radius: 3px 0px 0px 3px">
                <b>
                  @switch (selectedInstitutionType) {
                    @case ('BNQ') {
                      <span i18n>Banks</span>
                    }
                    @case ('MFI') {
                      <span i18n>MFI</span>
                    }
                    @case ('MOB') {
                      <span i18n>MOB</span>
                    }
                  }
                </b>
              </div>
              <div
                class="px-2 pt-1"
                [ngClass]="{
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                }"
                style="border-radius: 0px 3px 3px 0px">
                <i class="fa fa-landmark text-all-white"></i>
              </div>
            </div>
            <div class="me-3">
              <i class="fa fa-long-arrow-alt-right fs-2 text-secondary"></i>
            </div>
            <div class="d-flex align-items-start">
              <img
                [src]="selectedInstitution?.company?.logo"
                style="width: 70px; height: 35px"
                [alt]="selectedInstitution?.company?.name" />
              <span>
                <i class="fa-solid fa-circle text-success fs-x-small"></i>
              </span>
            </div>
          </div>
          <div>
            <div
              class="d-flex"
              [ngClass]="{
                'text-primary-light':
                  mainConfig && mainConfig.activePlateform === 'workstation',
                'text-primary':
                  mainConfig && mainConfig.activePlateform !== 'workstation',
              }">
              <span
                role="button"
                tabindex="0"
                style="text-decoration: underline"
                class="me-5"
                i18n
                (click)="changeInstitutionType()"
                >Change type</span
              >
              <span
                style="text-decoration: underline"
                role="button"
                tabindex="0"
                (click)="changeInstitution()"
                i18n
                >Change bank</span
              >
            </div>
          </div>
        </div>
      }

      @if (selectedCreditAccountType !== 'wallet') {
        <div class="my-3 me-5">
          <hr />
        </div>
      }

      <!--lookup input on account-->
      @if (
        !creditAccount &&
        selectedCreditAccountType !== 'wallet' &&
        selectedInstitution &&
        selectedInstitution?.api_values?.has_lookup
      ) {
        <div class="d-flex me-3 mb-2">
          <input
            type="text"
            class="lg-radius form-control pe-5 ps-2 lookup-transfer-input"
            required
            [formControl]="lookup"
            (keydown.enter)="lookupAccount()"
            placeholder="credit account number" />

          <div
            (click)="lookupAccount()"
            role="button"
            tabindex="0"
            class="bg-none align-items-center row lookup-btn lg-radius justify-content-center d-flex align-items-center"
            [ngClass]="
              mainConfig && mainConfig.activePlateform === 'workstation'
                ? 'mx-n5'
                : 'look-b'
            ">
            @if (!isLoading) {
              <span class="pt-2">
                <i class="fa fa-search fs-5"></i>
              </span>
            } @else {
              <span class="pt-2">
                <i class="fa fs-5 fa-pulse fa-circle-notch"></i>
              </span>
            }
          </div>
        </div>
      }

      <!--lookup input on wallet-->

      @if (!creditAccount && selectedCreditAccountType === 'wallet') {
        <div class="d-flex me-3 mt-3 mb-2">
          <input
            type="text"
            class="lg-radius form-control pe-5 ps-2 lookup-transfer-input"
            required
            [formControl]="lookup"
            (keydown.enter)="lookupAccount()"
            placeholder="Search wallet..." />

          <div
            (click)="lookupAccount()"
            role="button"
            tabindex="0"
            class="bg-none align-items-center row lookup-btn lg-radius justify-content-center d-flex align-items-center"
            [ngClass]="
              mainConfig && mainConfig.activePlateform === 'workstation'
                ? 'look-w'
                : 'look-b'
            ">
            @if (!isLoading) {
              <span class="pt-2">
                <i class="fa fa-search fs-5"></i>
              </span>
            } @else {
              <span class="pt-2">
                <i class="fa fs-5 fa-pulse fa-circle-notch"></i>
              </span>
            }
          </div>
        </div>
      }

      <!-- * Credit account lookup result on account-->
      @if (selectedInstitution && selectedCreditAccountType !== 'wallet') {
        <div>
          @if (
            creditAccount &&
            selectedInstitution.api_values.has_lookup &&
            selectedCreditAccountType !== 'wallet'
          ) {
            <div class="mt-3 w-100 bg-secondary sm-radius">
              <div class="p-2">
                <div
                  class="d-flex align-items-start text-all-dark justify-content-between ps-2 py-0"
                  role="button"
                  tabindex="0">
                  <div class="d-grid w-100">
                    <div class="d-flex">
                      <b class="fw-normal mt-2">{{ creditAccount.name }}</b>
                      <div class="ms-auto position-relative unselect">
                        <span
                          (click)="deselectCreditAccount()"
                          tabindex="0"
                          class="text-primary bg-white rounded-circle fs-large ms-5 pt-1 px-1">
                          <i class="fa fa-xmark fs-medium"></i>
                        </span>
                      </div>
                    </div>
                    <div class="d-flex mt-1">
                      <span class="text-secondary">{{
                        creditAccount.account_number
                      }}</span
                      ><span class="ms-auto">
                        <img
                          [src]="selectedInstitution?.company?.logo"
                          style="width: 70px; height: 35px"
                          [alt]="selectedInstitution?.company?.name"
                      /></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      }

      <!-- * Credit account lookup result on wallet-->
      @if (creditAccount && selectedCreditAccountType === 'wallet') {
        <div class="bg-secondary sm-radius mt-3 w-100 mb-2">
          <div
            class="lg-radius p-2"
            [ngClass]="{
              'level-2':
                mainConfig && mainConfig.activePlateform === 'workstation',
              'level-1':
                mainConfig &&
                mainConfig.activePlateform !== 'workstation' &&
                mode === 'light',
              'level-3':
                mainConfig &&
                mainConfig.activePlateform !== 'workstation' &&
                mode === 'dark',
            }">
            <div
              class="d-flex align-items-start justify-content-between ps-2 py-0"
              role="button"
              tabindex="0">
              <div class="d-grid w-100">
                <div class="d-flex">
                  <b class="fw-normal mt-2">{{ creditAccount.name }}</b>
                  <div class="ms-auto position-relative">
                    <span
                      (click)="deselectCreditAccount()"
                      tabindex="0"
                      class="text-primary bg-white fs-large rounded-circle ms-5 pt-1 px-1">
                      <i class="fa fa-xmark"></i>
                    </span>
                  </div>
                </div>
                <div class="d-flex mt-1">
                  <span class="text-secondary">{{
                    creditAccount.account_number
                  }}</span
                  ><span class="ms-auto">
                    <img
                      [src]="selectedInstitution?.company?.logo"
                      style="width: 70px; height: 35px"
                      [alt]="selectedInstitution?.company?.name"
                  /></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }

      <!--* transfer form on account-->
      @if (selectedInstitution && selectedCreditAccountType !== 'wallet') {
        <div>
          <form [formGroup]="transferForm" (ngSubmit)="showModal()">
            @if (!selectedInstitution.api_values.has_lookup) {
              <div class="form-group mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="accountNumber"
                    name="accountNumber"
                    formControlName="accountNumber"
                    placeholder="Account Number" />
                  <label for="accountNumber" i18n>Account Number </label>
                </div>
              </div>
              <div class="form-group mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="holderName"
                    name="holderName"
                    formControlName="accountHolder"
                    placeholder="Account Name" />
                  <label for="holderName" i18n>Holder name</label>
                </div>
              </div>
            }

            @if (!selectedInstitution.api_values.has_lookup || creditAccount) {
              <div class="form-group mb-2 mt-3">
                <div class="w-100">
                  <app-amount-field
                    (amountEvent)="getAmount($event)"
                    [isTransfer]="true"></app-amount-field>
                </div>
              </div>
              <div
                class="mb-2"
                [ngClass]="{
                  'mt-2': selectedInstitution.api_values.has_lookup,
                }">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    formControlName="debit_description"
                    placeholder="Description" />
                  <label for="description" class="form-label fs-6" i18n
                    >Description</label
                  >
                </div>
              </div>

              <div class="w-100 d-flex justify-content-center mt-3">
                <button
                  type="submit"
                  class="btn"
                  tabindex="0"
                  [ngClass]="{
                    'primary-light':
                      mainConfig &&
                      mainConfig.activePlateform === 'workstation',
                    'bg-primary':
                      mainConfig &&
                      mainConfig.activePlateform !== 'workstation',
                    'text-dark': mode === 'dark',
                    'text-white': mode === 'light',
                  }"
                  [disabled]="!transferForm.valid">
                  @if (!isLoading) {
                    <b i18n>Confirm</b>
                  } @else {
                    <span>
                      <i class="fa-solid fa-pulse fa-circle-notch"></i>
                    </span>
                  }
                </button>
              </div>
            }

            @if (
              (!selectedInstitution.api_values.has_lookup &&
                isMerchantTransfer) ||
              (creditAccount && isMerchantTransfer)
            ) {
              <div
                class="mb-2"
                [ngClass]="{
                  'mt-2': selectedInstitution.api_values.has_lookup,
                }">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="merchant_reference"
                    name="merchant_reference"
                    formControlName="merchant_reference"
                    placeholder="Merchant Reference" />
                  <label for="description" class="form-label fs-6" i18n
                    >Merchant Reference</label
                  >
                </div>
              </div>
            }
          </form>
        </div>
      }

      <!--* transfer form on wallet-->
      @if (creditAccount && selectedCreditAccountType === 'wallet') {
        <div>
          <form [formGroup]="transferForm" (ngSubmit)="showModal()">
            @if (selectedCreditAccountType !== 'wallet') {
              <div class="form-group mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="accountNumber"
                    name="accountNumber"
                    formControlName="accountNumber"
                    placeholder="Account Number" />
                  <label for="accountNumber" i18n>Account Number </label>
                </div>
              </div>
              <div class="form-group mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="holderName"
                    name="holderName"
                    formControlName="accountHolder"
                    placeholder="Account Name" />
                  <label for="holderName" i18n>Holder name</label>
                </div>
              </div>
            }
            <div class="form-group mb-2">
              <div class="w-100">
                <app-amount-field
                  (amountEvent)="getAmount($event)"
                  [isTransfer]="true"></app-amount-field>
              </div>
            </div>
            <div class="my-2">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  formControlName="debit_description"
                  placeholder="Description"
                  (input)="completeCreditInfosOnType()" />
                <label for="description" class="form-label fs-6" i18n
                  >Description</label
                >
              </div>
            </div>

            <div class="w-100 d-flex justify-content-center mt-3">
              <button
                type="submit"
                class="btn"
                tabindex="0"
                [ngClass]="{
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'text-dark': mode === 'dark',
                  'text-white': mode === 'light',
                }"
                [disabled]="!transferForm.valid">
                @if (!isLoading) {
                  <b i18n>Confirm</b>
                } @else {
                  <span>
                    <i class="fa-solid fa-pulse fa-circle-notch"></i>
                  </span>
                }
              </button>
            </div>
          </form>
        </div>
      }
    </div>

    <!-- <div class="p-2 rounded h-100 border">


    </div> -->
  </section>
</div>
