
.lookup-btn{
  height: 40px !important;
 
}

.look-b{
  margin-left: -13%;}

@media (max-width: 500px) {
  .width {
    width: 100px;
  }
}

@media (min-width:501px){
  .width{
    width: 150px;
  }
  
}

.w-60{
  width:60px
}
.unselect{
  margin-top:-5%
}

.bg-initial{
  background:#DCE2EB
}
.transition{
  transition: all 0.2s ease-in-out
}
.img-height{
  width:70px;
  height:35px
}
.w-100-px{
  width: 100px;
}
