<div class="container bg-white p-4">
  <div class="d-flex align-items-center justify-content-between">
    @if (transferStep === 'first step') {
      <div>
        <i class="fa fa-circle fs-x-small me-2 text-primary"></i>
        <b class="fs-medium">Credit Account</b>
      </div>
    } @else {
      <span class="fw-bold fs-medium">Overview</span>
    }
  </div>
  <form [formGroup]="transferForm">
    <section class="d-flex gap-3">
      @if (transferStep === 'first step') {
        <div
          class="p-2 rounded h-100"
          [ngClass]="pendingTransfers.length >= 1 ? 'w-75' : 'w-50'">
          @if (!debitAccount || !debitWallet) {
            <div class="my-4 d-flex align-items-center">
              <div>
                <div
                  class="d-flex p-1 h-50-px bg-secondary ms-2 justify-content-between rounded align-items-center"
                  [ngClass]="{
                    'w-100':
                      mainConfig &&
                      mainConfig.activePlateform === 'workstation',
                  }">
                  <div
                    role="button"
                    tabindex="0"
                    disabled
                    (click)="selectCreditAccountType('account')"
                    [ngClass]="{
                      'bg-primary  text-all-white rounded px-1 py-2 me-1':
                        selectedCreditAccountType === 'account',
                    }"
                    class="text-center rounded transition px-1 py-2 ms-1 width">
                    <b i18n>Account</b>
                  </div>
                  <div
                    role="button"
                    tabindex="0"
                    (click)="selectCreditAccountType('wallet')"
                    [ngClass]="{
                      'bg-primary  text-all-white rounded px-1 py-2 me-1':
                        selectedCreditAccountType === 'wallet',
                    }"
                    class="text-center rounded px-1 transition py-2 ms-1 width">
                    <b i18n>Wallet</b>
                  </div>
                </div>
              </div>
              <div class="ms-1"></div>
            </div>
          }

          <div class="mt-2 d-flex">
            @if (
              !selectedInstitution &&
              selectedCreditAccountType &&
              selectedCreditAccountType !== 'wallet'
            ) {
              <div class="d-flex justify-content-between me-5 row">
                <div
                  class="d-flex sm-radius me-2 col-auto mb-2"
                  role="button"
                  tabindex="0"
                  (click)="selectInstitutionType('BNQ')">
                  <div
                    class="px-2 pt-1 d-flex w-60 justify-content-center"
                    [ngClass]="{
                      ' text-all-dark': mode === 'dark',
                      'bg-primary': selectedInstitutionType === 'BNQ',
                    }">
                    <b
                      [ngClass]="{
                        'text-light':
                          mode === 'dark' || selectedInstitutionType === 'BNQ',
                      }"
                      i18n
                      >Banks</b
                    >
                  </div>
                  <div
                    class="px-2 pt-1 bg-primary rad-icon rad-icon text-all-white">
                    <i class="fa fa-landmark"></i>
                  </div>
                </div>
                <div
                  class="d-flex me-2 sm-radius col-auto mb-2"
                  role="button"
                  tabindex="0"
                  (click)="selectInstitutionType('MFI')">
                  <div
                    class="px-2 pt-1 rad-bank d-flex w-60 justify-content-center"
                    [ngClass]="{
                      'bg-primary': selectedInstitutionType === 'MFI',
                    }">
                    <b
                      [ngClass]="{
                        'text-light':
                          mode === 'dark' || selectedInstitutionType === 'MFI',
                      }"
                      i18n
                      >MIF</b
                    >
                  </div>
                  <div class="px-2 pt-1 bg-primary text-all-white rad-icon">
                    <i class="fa fa-landmark"></i>
                  </div>
                </div>

                <div
                  class="d-flex me-2 col-auto mb-2 sm-radius"
                  role="button"
                  tabindex="0"
                  (click)="selectInstitutionType('MOB')">
                  <div
                    class="px-2 pt-1 rad-bank d-flex w-60 justify-content-center"
                    [ngClass]="{
                      'bg-primary': selectedInstitutionType === 'MOB',
                    }">
                    <b
                      [ngClass]="{
                        'text-light':
                          mode === 'dark' || selectedInstitutionType === 'MOB',
                      }"
                      i18n
                      >Mobile</b
                    >
                  </div>
                  <div class="px-2 pt-1 text-all-white bg-primary rad-icon">
                    <i class="fa fa-landmark"></i>
                  </div>
                </div>
              </div>
            }

            <div class="ms-1"></div>
          </div>
          <hr />

          @if (selectedInstitutionType && !selectedInstitution) {
            <div>
              <div
                class="d-flex"
                [ngClass]="{
                  'text-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                }">
                <span
                  role="button"
                  tabindex="0"
                  class="text-decoration-underline me-4"
                  i18n
                  (click)="changeInstitutionType()"
                  >Change type</span
                >
              </div>
            </div>
          }

          @if (
            !selectedInstitutionType && selectedCreditAccountType !== 'wallet'
          ) {
            <div class="m-4 mt-5 text-secondary d-flex justify-content-center">
              <i class="h3 me-2 fa fa-magic"></i>
              <b class="h3" i18n>A bank accessible to all</b>
            </div>
          }

          @if (
            institutionsList &&
            institutionsListCount > 0 &&
            selectedInstitutionType &&
            !selectedInstitution
          ) {
            <div class="w-100 mt-4 mx-2 row d-flex gap-2 align-items-start">
              @for (institution of institutionsList; track $index) {
                <div
                  class="col-auto h-150-px mb-3 d-grid is-hoverable"
                  role="button"
                  tabindex="0"
                  (click)="selectInstitution(institution)">
                  <div class="w-100 d-flex mb-1 justify-content-center">
                    <img
                      [src]="institution.company.logo"
                      class="h-60 w-100-px"
                      [alt]="institution.company.name" />
                  </div>

                  <small class="text-center">{{
                    institution.company.name
                  }}</small>
                </div>
              }
            </div>
          } @else if (!institutionsList && selectedInstitutionType) {
            <div class="text-center fs-l-medium">
              <span><i class="fa-solid fa-spin fa-circle-notch"></i></span>
            </div>
          }

          @if (selectedInstitutionType && selectedInstitution) {
            <div class="my-3 mt-5">
              <div class="d-flex align-items-center">
                <div class="d-flex me-2" role="button" tabindex="0">
                  <div class="px-2 pt-1 text-light rad-bank">
                    <b>
                      @switch (selectedInstitutionType) {
                        @case ('BNQ') {
                          <span i18n>Banks</span>
                        }
                        @case ('MFI') {
                          <span i18n>MFI</span>
                        }
                        @case ('MOB') {
                          <span i18n>MOB</span>
                        }
                      }
                    </b>
                  </div>
                  <div
                    class="px-2 pt-1 rad-icon"
                    [ngClass]="{
                      'bg-primary':
                        mainConfig &&
                        mainConfig.activePlateform !== 'workstation',
                      'primary-light':
                        mainConfig &&
                        mainConfig.activePlateform === 'workstation',
                    }">
                    <i class="fa fa-landmark text-all-white"></i>
                  </div>
                </div>
                <div class="me-3">
                  <i class="fa fa-long-arrow-alt-right fs-2 text-secondary"></i>
                </div>
                <div class="d-flex align-items-start">
                  <img
                    [src]="selectedInstitution.company.logo"
                    class="img-height"
                    [alt]="selectedInstitution.company.name" />
                  <span>
                    <i class="fa-solid fa-circle text-success fs-x-small"></i>
                  </span>
                </div>
              </div>
              <div>
                <div
                  class="d-flex"
                  [ngClass]="{
                    'text-primary-light':
                      mainConfig &&
                      mainConfig.activePlateform === 'workstation',
                    'text-primary':
                      mainConfig &&
                      mainConfig.activePlateform !== 'workstation',
                  }">
                  <span
                    role="button"
                    tabindex="0"
                    class="text-decoration-underline me-5"
                    i18n
                    (click)="changeInstitutionType()"
                    >Change type</span
                  >
                  <span
                    class="text-decoration-underline"
                    role="button"
                    tabindex="0"
                    (click)="changeInstitution()"
                    i18n
                    >Change bank</span
                  >
                </div>
              </div>
            </div>
          }

          @if (selectedCreditAccountType !== 'wallet') {
            <div class="my-3 me-5">
              <hr />
            </div>
          }

          <!--lookup input on account-->
          @if (
            !creditAccount &&
            ((selectedCreditAccountType === 'account' &&
              selectedInstitution &&
              selectedInstitution.api_values.has_lookup) ||
              selectedCreditAccountType === 'wallet')
          ) {
            <div
              class="d-flex me-3 mb-2"
              [ngClass]="{
                'w-50':
                  mainConfig && mainConfig.activePlateform === 'workstation',
              }">
              <input
                type="text"
                class="lg-radius form-control pe-5 ps-2 lookup-transfer-input"
                required
                [formControl]="lookup"
                (keydown.enter)="lookupAccount()"
                [placeholder]="
                  selectedCreditAccountType === 'account'
                    ? 'Credit account number'
                    : 'Search wallet ...'
                " />

              <div
                (click)="lookupAccount()"
                role="button"
                tabindex="0"
                class="bg-none align-items-center row lookup-btn lg-radius justify-content-center d-flex align-items-center">
                @if (!isLoading) {
                  <span class="pt-2">
                    <i class="fa fa-search fs-5"></i>
                  </span>
                } @else {
                  <span class="pt-2">
                    <i class="fa fs-5 fa-pulse fa-circle-notch"></i>
                  </span>
                }
              </div>
            </div>
          }

          <!-- * Credit account lookup result -->
          @if (selectedInstitution) {
            <div>
              @if (creditAccount) {
                <div class="mt-3 w-100 bg-secondary sm-radius mb-4">
                  <div class="p-2">
                    <div
                      class="d-flex align-items-start text-all-dark justify-content-between ps-2 py-0"
                      role="button"
                      tabindex="0">
                      <div class="d-grid w-100">
                        <div class="d-flex">
                          <b
                            class="fw-normal mt-2"
                            [ngClass]="{
                              'text-light': mode === 'dark',
                            }"
                            >{{ creditAccount.name }}</b
                          >
                          <div class="ms-auto position-relative unselect">
                            <span
                              (click)="deselectCreditAccount()"
                              tabindex="0"
                              class="text-primary bg-white rounded-circle fs-large ms-5 pt-1 px-1">
                              <i class="fa fa-xmark fs-medium"></i>
                            </span>
                          </div>
                        </div>
                        <div class="d-flex mt-1">
                          <span class="text-secondary">{{
                            creditAccount.account_number
                          }}</span
                          ><span class="ms-auto">
                            <img
                              [src]="selectedInstitution.company.logo"
                              class="img-height"
                              [alt]="selectedInstitution.company.name"
                          /></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          <!--* transfer form -->
          @if (selectedInstitution || selectedCreditAccountType === 'wallet') {
            <div tabindex="0" (keydown.enter)="addCreditAccount()">
              @if (
                !selectedInstitution?.api_values?.has_lookup &&
                selectedCreditAccountType !== 'wallet'
              ) {
                <div class="form-group mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="accountNumber"
                      name="accountNumber"
                      formControlName="accountNumber"
                      placeholder="Account Number" />
                    <label for="accountNumber" i18n
                      >Account Number<i class="text-danger">*</i>
                    </label>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="holderName"
                      name="holderName"
                      formControlName="accountHolder"
                      placeholder="Account Name" />
                    <label for="holderName" i18n
                      >Holder name<i class="text-danger">*</i></label
                    >
                  </div>
                </div>
              }

              @if (
                (selectedInstitution?.api_values?.has_lookup ||
                  !selectedInstitution?.api_values?.has_lookup) &&
                creditAccount
              ) {
                <div class="form-group mb-2 mt-3">
                  <div class="w-100">
                    <app-amount-field
                      (amountEvent)="getAmount($event)"
                      [isTransfer]="true"></app-amount-field>
                  </div>
                </div>
                @if (transferType === 'merchantTransfer') {
                  <div
                    class="mb-2 mt-2"
                    [ngClass]="{
                      'mt-2': selectedInstitution?.api_values?.has_lookup,
                    }">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="merchant_reference"
                        name="merchant_reference"
                        formControlName="merchant_reference"
                        placeholder="Merchant Reference" />
                      <label
                        for="merchant_reference"
                        class="form-label fs-6"
                        i18n
                        >Merchant Reference</label
                      >
                    </div>
                  </div>
                }

                <div
                  class="mb-2"
                  [ngClass]="{
                    'mt-2': selectedInstitution?.api_values?.has_lookup,
                  }">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      formControlName="debit_description"
                      placeholder="Description" />
                    <label for="description" class="form-label fs-6" i18n
                      >Description<i class="text-danger">*</i></label
                    >
                  </div>
                </div>

                <div class="w-100 d-flex justify-content-center mt-4">
                  <button
                    class="btn px-5 border-primary bg-white"
                    tabindex="0"
                    [ngClass]="{
                      'text-light': mode === 'dark',
                    }"
                    [disabled]="!transferForm.valid || creditAccountAdded"
                    (click)="addCreditAccount()">
                    <b i18n>Add</b>
                  </button>
                </div>
              }
            </div>
          }
        </div>
      }
      @if (
        (selectedInstitutionType && selectedInstitution) ||
        selectedCreditAccountType === 'wallet'
      ) {
        <div
          class="p-2"
          [ngClass]="{
            'w-50': pendingTransfers.length === 0,
            'w-75':
              pendingTransfers.length >= 1 && transferStep === 'first step',
            'w-100':
              pendingTransfers.length >= 1 && transferStep === 'second step',

            'ms-5': transferStep === 'first step',
          }">
          <div
            class="w-100 border rounded"
            [ngStyle]="{ height: pendingTransfers.length === 0 ? '300px' : '' }"
            [ngClass]="{
              'row align-items-center w-50': pendingTransfers.length === 0,
              'w-75': pendingTransfers.length >= 1,
            }">
            <div
              [ngClass]="{
                'd-none': pendingTransfers.length === 0,
              }"
              class="text-end me-3 fw-bold mt-2">
              {{ pendingTransfers.length }}
            </div>

            @if (
              pendingTransfers.length === 0 && transferStep === 'first step'
            ) {
              <div class="text-center">
                <i class="fa-solid fa-meh fs-4 opacity-50"></i> <br />
                <span>No credit account added yet</span>
              </div>
            } @else if (pendingTransfers.length >= 1) {
              @for (account of pendingTransfers; track $index) {
                <div
                  class="ms-4 me-4 mb-4 h-375"
                  [ngClass]="{
                    'w-50': transferType === 'merchantTransfer',
                  }">
                  <div (mouseenter)="hover = true" (mouseleave)="hover = false">
                    <span>{{ account.account_holder }} </span> <br />
                    <span class="text-secondary">{{
                      account.account_number
                    }}</span>
                    <br />
                    <span class="text-secondary">{{
                      transferForm.value.debit_description
                    }}</span
                    ><br />
                    <div class="d-flex">
                      <span class="text-secondary"
                        >{{ transferForm.value.amount }} BIF</span
                      >
                      <span class="ms-auto position-relative img-height">
                        <!-- Bank Logo -->
                        @if (selectedInstitution) {
                          <img
                            [src]="selectedInstitution.company.logo"
                            class="position-absolute top-0 start-0 w-100 h-100"
                            [alt]="selectedInstitution.company.name"
                            [style.opacity]="hover ? 0 : 1" />
                        }

                        <!-- Trash Icon -->
                        <span
                          role="button"
                          tabindex="0"
                          class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
                          [style.opacity]="hover ? 1 : 0"
                          (click)="removeCreditAccount(account.account_number)">
                          <i
                            class="fa-solid fa-trash-can border-primary border text-primary p-2 fs-l-medium rounded"></i>
                        </span>
                      </span>
                    </div>
                  </div>

                  <hr />
                </div>

                <div class="sm-radius bg-secondary m-4">
                  <div
                    class="text-end me-3 fs-medium pt-2"
                    [ngClass]="{
                      'text-light': mode === 'dark',
                    }">
                    Total Amount
                  </div>
                  <div class="text-end me-3 fs-x-large text-primary">
                    {{ transferForm.value.amount | currency: 'BIF ' }}
                  </div>
                </div>
              }
            }
          </div>
          @if (pendingTransfers.length >= 1 && transferStep === 'first step') {
            <div
              tabindex="0"
              (keydown.enter)="toggleTransferStep('second step')"
              class="mt-4 text-center">
              <button
                type="button"
                class="btn px-5"
                (click)="toggleTransferStep('second step')"
                tabindex="0"
                [ngClass]="{
                  'primary-light':
                    mainConfig && mainConfig.activePlateform === 'workstation',
                  'bg-primary':
                    mainConfig && mainConfig.activePlateform !== 'workstation',
                  'text-dark': mode === 'dark',
                  'text-white': mode === 'light',
                }"
                [disabled]="
                  pendingTransfers.length === 0 || !creditAccountAdded
                ">
                @if (!isLoading) {
                  <b i18n>Done</b>
                } @else {
                  <span>
                    <i class="fa-solid fa-pulse fa-circle-notch"></i>
                  </span>
                }
              </button>
            </div>
          }
        </div>
      }
    </section>
  </form>
</div>
