<div class="bg-white">
  @if (!creditsLine) {
    <div
      class="text-center w-100 d-flex row justify-content-center align-items-center text-dark fs-4 list">
      <span><i class="fa-solid fa-spin fa-circle-notch text-dark"></i></span>
    </div>
  }
  @if (creditsLine) {
    <div class="row g-0 p-2 mx-1">
      <div class="col-lg-3 bg-white text-dark ps-2">
        <div>
          <app-selected-client-small-overview
            [selectedClient]="
              this.selectedClient
            "></app-selected-client-small-overview>
        </div>

        <div class="p-0 text-dark list bg-secondary">
          <div>
            <div>
              <div
                class="row d-flex justify-content-between align-items-center">
                <div
                  role="button"
                  title="Add an account"
                  class="col-5 ms-2 pt-1 not-clickable"
                  [ngClass]="{
                    ' text-white': theme === 'dark',
                    ' text-primary': theme === 'light',
                  }">
                  <i
                    class="fa-solid fa-plus sm-radius p-1 fs-6 mt-2 bg-primary-2"></i>
                </div>
                <div
                  [ngClass]="{
                    'not-clickable': !creditsLine,
                  }"
                  role="button"
                  class="col-2 mt-1 mb-2 me-2"
                  (click)="toggleAmountVisibility()"
                  tabindex="0">
                  <span title="Hide balances">
                    @if (showAmounts) {
                      <span title="Hide balances">
                        <i class="fa-solid fa-eye-slash mt-3"></i
                      ></span>
                    }
                    @if (!showAmounts) {
                      <span title="Show balances">
                        <i class="fa-solid fa-eye mt-3"></i
                      ></span>
                    }
                  </span>
                </div>
              </div>

              @for (line of creditsLine; track $index) {
                <div class="p-2" role="button">
                  <div
                    (click)="selectCreditLine(line)"
                    tabindex="0"
                    class="p-2 ms-1 is-hoverable w-100"
                    [ngClass]="{
                      'bg-white rounded': selectedCreditLine === line,
                    }"
                    routerLink="/w/workstation/d/desk/client/detail/{{
                      clientId
                    }}/creditLine/{{ line.id }}/"
                    routerLinkActive="selected">
                    <div class="rounded" style="line-height: 1em">
                      <small class="d-flex"
                        ><b
                          class="mb-2"
                          [ngClass]="{
                            'text-dark': selectedCreditLine === line,
                          }"
                          >{{ line.crel_account_info.acc_account_type }}</b
                        >
                        @if (line.crel_paid === true) {
                          <span
                            class="p-1 text-center ms-auto labelCard text-success bg-success"
                            >P</span
                          >
                        }

                        @if (line.crel_paid === false) {
                          <span
                            class="p-1 text-center ms-auto labelCard bg-primary-2"
                            [ngClass]="{
                              ' text-white': theme === 'dark',
                              ' text-primary': theme === 'light',
                            }"
                            >U</span
                          >
                        }</small
                      ><br />
                      <small
                        ><b class="mt-0 text-sm">{{ line.crel_code }}</b></small
                      ><br />
                      <small
                        ><b class="mt-0 text-primary-light text-sm">{{
                          line.crel_account_info.acc_short_number
                        }}</b></small
                      ><br />

                      <small
                        ><b>
                          <app-amount-visibility
                            [amount]="line.crel_credit_limit"
                            [currency]="balance_currency"
                            [customClasses]="
                              customClasses[0]
                            "></app-amount-visibility> </b
                      ></small>
                    </div>
                  </div>
                  <hr class="my-0 rounded ms-2" />
                </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="details bg-secondary h-100 p-2 rounded-top text-dark">
          @if (creditsLine && creditsLine.length > 0 && !selectedCreditLine) {
            <div
              class="text-dark fw-bold h-100 w-100 fs-4 justify-content-center row align-items-center opacity-50"
              i18n>
              Nothing is selected yet, please select one...
            </div>
          }

          @if (creditsLine && creditsLine.length === 0) {
            <div
              class="text-dark text-center h-100 row align-items-center fw-bold fs-4 textOpacity ms-4"
              i18n>
              No loans line available
            </div>
          }
          @if (selectedCreditLine && creditsLine) {
            @if (!creditLine && isLoading) {
              <div
                class="text-center w-100 h-100 d-flex row justify-content-center align-items-center text-dark">
                <i class="fa-solid fa-spin fa-circle-notch fs-4 text-dark"></i>
              </div>
            }

            @if (creditLine && !isLoading) {
              <div class="p-3 bg-white m-auto">
                <div class="d-flex">
                  <span class="fw-bold text-dark ms-4 fs-medium opacity-50" i18n
                    >Credit line details</span
                  >
                  <span
                    role="button"
                    class="ms-auto fs-4 text-dark"
                    title="refresh"
                    (click)="refresh()"
                    tabindex="0"
                    ><i class="fa-solid fa-arrows-rotate opacity-50"></i
                  ></span>
                </div>
                <br />
                <div class="row justify-content-center">
                  <div class="row ms-3 overflow-y-auto">
                    <div class="col-auto">
                      <div>
                        <img
                          [src]="organization?.institution_client?.picture"
                          class="img-fluid image"
                          alt=""
                          style="width: 15%" />
                        <br />
                        <div class="d-flex">
                          <div class="fw-bold text-dark">
                            {{ creditLine.crel_branch_info.name }}
                          </div>
                          <div class="ms-3 fw-bold text-dark">
                            {{ creditLine.crel_account_info.acc_account_type }}
                          </div>
                        </div>
                      </div>
                      <hr class="mt-4" style="width: 85%" />

                      <div>
                        <span class="text-dark opacity-75" i18n>Amount</span>
                        <br />
                        <app-amount-visibility
                          [amount]="creditLine.crel_credit_limit"
                          [currency]="balance_currency"
                          [customClasses]="
                            customClasses[1]
                          "></app-amount-visibility>
                      </div>
                      <br />

                      <div>
                        <span class="text-dark opacity-75" i18n
                          >Debitor rate</span
                        >
                        <br />
                        <span class="fw-bold text-dark"
                          >{{
                            (creditLine.crel_debitor_rate | number) ?? '---'
                          }}
                          %</span
                        >
                      </div>
                      <br />

                      <div>
                        <span class="text-dark opacity-75" i18n
                          >Penalities rate</span
                        >
                        <br />
                        <span class="fw-bold text-dark"
                          >{{
                            (creditLine.crel_penalities_rate | number) ?? '---'
                          }}
                          %</span
                        >
                      </div>
                      <br />
                      <div>
                        <span class="text-dark opacity-75" i18n>Fees</span>
                        <br />
                        <app-amount-visibility
                          [amount]="(creditLine.crel_fees | number) ?? '---'"
                          [currency]="balance_currency"
                          [customClasses]="
                            customClasses[1]
                          "></app-amount-visibility>
                      </div>
                      <br />
                      <div>
                        <span class="text-dark opacity-75" i18n
                          >Created by</span
                        >
                        <br />
                        <span class="fw-bold text-dark">{{
                          creditLine.obj_created_by
                        }}</span>
                      </div>
                      <br />
                      <div>
                        <span class="text-dark opacity-75" i18n
                          >Expiry date</span
                        >
                        <br />
                        <span class="fw-bold text-dark">{{
                          (creditLine.crel_expiry_date
                            | date: 'MMM d, y, h:mm:ss') ?? '---'
                        }}</span>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</div>
