<div
  class="lg-radius p-5 bg-secondary"
  style="min-height: 65vh; border: 2px solid #dad8d8">
  <section>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-dark text-md fw-bold">Nyamuranzi</div>

      <div class="bg-white rounded d-flex row w-25 px-2">
        <div class="d-grid border-righ col">
          <div class="d-flex align-items-center">
            <div class="text-success fw-bold text-md">99</div>
            <div>
              <i class="fa-solid fa-plus text-success"></i>
            </div>
          </div>
          <div class="text-secondary text-sm">invited</div>
        </div>
        <div class="d-grid col">
          <div class="text-secondary text-sm">Total earnings</div>
          <div class="text-dark text-md-sm fw-bold">BIF 4700000</div>
        </div>
      </div>
      <div
        class="d-flex align-items-center gap-2"
        role="button"
        routerLink="/b">
        <div>
          <i class="fa-solid fa-arrow-left text-secondary"></i>
        </div>
        <div
          class="text-l-md text-dark fw-bold text-secondary"
          routerLink="/b/banking/">
          Back
        </div>
      </div>
    </div>
    <hr />
    <div class="mt-4">
      <div class="d-flex gap-4">
        <div class="img-size"></div>
        <div class="row w-100 p-2">
          <div
            class="col fw-bold text-dark text-xsm d-flex justify-content-center">
            Name
          </div>
          <div
            class="col fw-bold text-dark text-xsm d-flex justify-content-center">
            Referred on
          </div>
          <div
            class="col fw-bold text-dark text-xsm d-flex justify-content-center">
            Commission
          </div>
          <div
            class="col fw-bold text-dark text-xsm d-flex justify-content-center">
            Status
          </div>
        </div>
      </div>
      <div class="d-flex gap-4 align-items-center">
        <div>
          <div>
            <span>
              <img
                class="img-fluid rounded-circle img-size"
                src="../../../../../../ng-magis-erp/public/images/userprofile.png"
                alt="userprofile" />
            </span>
          </div>
        </div>
        <div class="row bg-white w-100 rounded p-2">
          <div class="col d-grid justify-content-center align-items-center">
            <div class="fw-bold text-sm text-dark">Bibentyo Bundi</div>
            <div class="text-dark text-xsm">12121</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div class="text-dark text-sm">Dec 1, 2022</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div class="fw-bold text-md-sm text-dark">BIF 10.000</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div
              class="fw-bold text-md-sm text-dark bg-s text-success fw-bold px-3 rounded">
              Active
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gap-4 align-items-center mt-4">
        <div>
          <div>
            <span>
              <img
                class="img-fluid rounded-circle img-size"
                src="../../../assets/images/userprofile.png"
                alt="userprofile" />
            </span>
          </div>
        </div>
        <div class="row bg-white w-100 rounded p-2">
          <div class="col d-grid justify-content-center align-items-center">
            <div class="fw-bold text-sm text-dark">Bibentyo Bundi</div>
            <div class="text-dark text-xsm">12121</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div class="text-dark text-sm">Dec 1, 2022</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div class="fw-bold text-md-sm text-dark">BIF 10.000</div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <div
              class="fw-bold text-md-sm text-dark bg-d text-danger fw-bold px-3 rounded">
              Active
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="mt-4 ">
<div  class="text-end">
  <select name="annee" id="annee" class="bg-white rounded p-1 border-0">
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
 
  </select>
</div>
  
    <div class="row d-flex  gap-2">
      <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
      <div class="d-grid">
        <div class="text-secondery text-md-sm">
          January
        </div>
        <div class="fw-bold text-md text-dark mt-2">
          BIF 1000000
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center align-items-center bg-success rounded-circle circle text-success">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
      </div>
    
      </div>
         
      <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
        <div class="d-grid">
          <div class="text-secondery text-md-sm">
            January
          </div>
          <div class="fw-bold text-md text-dark mt-2">
            BIF 1000000
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-center align-items-center bg-danger rounded-circle circle text-danger">
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      
        </div>

        <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
          <div class="d-grid">
            <div class="text-secondery text-md-sm">
              January
            </div>
            <div class="fw-bold text-md text-dark mt-2">
              BIF 1000000
            </div>
          </div>
          <div>
            <div class="d-flex justify-content-center align-items-center bg-success rounded-circle circle text-success">
              <i class="fa-solid fa-arrow-up"></i>
            </div>
          </div>
        
          </div>

          <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
            <div class="d-grid">
              <div class="text-secondery text-md-sm">
                January
              </div>
              <div class="fw-bold text-md text-dark mt-2">
                BIF 1000000
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-center align-items-center bg-danger rounded-circle circle text-danger">
                <i class="fa-solid fa-arrow-down"></i>
              </div>
            </div>
          
            </div>

            <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
              <div class="d-grid">
                <div class="text-secondery text-md-sm">
                  January
                </div>
                <div class="fw-bold text-md text-dark mt-2">
                  BIF 1000000
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-center align-items-center bg-success rounded-circle circle text-success">
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
              </div>
            
              </div>

              <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
                <div class="d-grid">
                  <div class="text-secondery text-md-sm">
                    January
                  </div>
                  <div class="fw-bold text-md text-dark mt-2">
                    BIF 1000000
                  </div>
                </div>
                <div>
                  <div class="d-flex justify-content-center align-items-center bg-danger rounded-circle circle text-danger">
                    <i class="fa-solid fa-arrow-down"></i>
                  </div>
                </div>
              
                </div>

                <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
                  <div class="d-grid">
                    <div class="text-secondery text-md-sm">
                      January
                    </div>
                    <div class="fw-bold text-md text-dark mt-2">
                      BIF 1000000
                    </div>
                  </div>
                  <div>
                    <div class="d-flex justify-content-center align-items-center bg-success rounded-circle circle text-success">
                      <i class="fa-solid fa-arrow-up"></i>
                    </div>
                  </div>
                
                  </div>
                  <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
                    <div class="d-grid">
                      <div class="text-secondery text-md-sm">
                        January
                      </div>
                      <div class="fw-bold text-md text-dark mt-2">
                        BIF 1000000
                      </div>
                    </div>
                    <div>
                      <div class="d-flex justify-content-center align-items-center bg-danger rounded-circle circle text-danger">
                        <i class="fa-solid fa-arrow-down"></i>
                      </div>
                    </div>
                  
                    </div>
                    <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
                      <div class="d-grid">
                        <div class="text-secondery text-md-sm">
                          January
                        </div>
                        <div class="fw-bold text-md text-dark mt-2">
                          BIF 1000000
                        </div>
                      </div>
                      <div>
                        <div class="d-flex justify-content-center align-items-center bg-success rounded-circle circle text-success">
                          <i class="fa-solid fa-arrow-up"></i>
                        </div>
                      </div>
                    
                      </div>
                      <div class=" col-2 bg-white rounded p-2 d-flex justify-content-between">
     
                        <div class="d-grid">
                          <div class="text-secondery text-md-sm">
                            January
                          </div>
                          <div class="fw-bold text-md text-dark mt-2">
                            BIF 1000000
                          </div>
                        </div>
                        <div>
                          <div class="d-flex justify-content-center align-items-center bg-danger rounded-circle circle text-danger">
                            <i class="fa-solid fa-arrow-down"></i>
                          </div>
                        </div>
                      
                        </div>
           
    </div>
</section>-->
</div>
