<div class="w-100 h-100">
  @if (isLoading) {
    <div class="d-flex gap-4 w-100 flex-wrap pb-2">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
        <div class="d-flex flex-column">
          <app-skeleton
            height="150px"
            width="150px"
            classes="rounded-4"></app-skeleton>
          <app-skeleton
            height="10px"
            width="100px"
            classes="rounded-3"></app-skeleton>
          <app-skeleton
            height="10px"
            width="80px"
            classes="rounded-3"></app-skeleton>
        </div>
      }
    </div>
  }

  @if (!isLoading && products.length === 0) {
    <div class="w-100 pt-5 mt-2 d-flex justify-content-center">
      <div class="text-secondary">
        <i class="fa fa-ban fs-4 me-2"></i>
        <span class="fs-2" i18n>No product found</span>
      </div>
    </div>
  }

  @if (!isLoading && products.length > 0) {
    <div class="d-flex gap-4 w-100 flex-wrap pb-2">
      @for (product of products; track $index) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  }
</div>
