<!--* The icons to display in online banking plateform-->
@if (mainConfig) {
  <div
    class="d-flex justify-content-around justify-content-lg-start align-items-center h-100">
    @for (plateF of plateforms; track $index) {
      <a
        (click)="switchPlateform(plateF.plateform)"
        tabindex="0"
        class="d-block p-2 px-5 sm-radius clickable mx-4 h-100"
        [ngClass]="{
          'bg-hover-primary-2': mainConfig.activePlateform !== plateF.plateform,
          'text-primary-1':
            mainConfig.activePlateform === 'newsFeed' ||
            'onlineBanking' ||
            ('market' && mainConfig.activePlateform !== plateF.plateform),
          'text-dark': mainConfig.activePlateform === 'workstation',
          'text-primary-1 bg-all-white':
            mainConfig.activePlateform === plateF.plateform,
        }"
        title="{{ plateF.title }}">
        @if (plateF.icon) {
          <span>
            <i class="{{ plateF.icon }} fs-4 "></i>
          </span>
        } @else if (plateF.plateform === 'onlineBanking') {
          <div style="width: 28px">
            <img
              [src]="bankingPlateformIcon"
              class="img-fluid"
              [attr.alt]="plateF.title" />
          </div>
        }
      </a>
    }
  </div>
}
